@media only screen and (min-width: 400px) {
	#viewer{
		width: 340px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 480px) {
	#viewer{
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 600px) {
	#viewer{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 750px) {
	#viewer{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 950px) {
	#viewer{
		width: 767px;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (min-width: 1300px) {
	#viewer{
		width: 1100px;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (min-width: 1500px) {
	#viewer{
		width: 1300px;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1700px) {
	#viewer{
		width: 1500px;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (min-width: 1900px) {
	#viewer{
		width: 1700px;
		height: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1900px) and (min-height: 1000px){
	#viewer{
		width: 1700px;
		height: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1900px) and (min-height: 1150px) {
	#viewer{
		width: 1700px;
		height: 950px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 2560px) {
	#viewer{
		width: 2300px;
		height: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (min-width: 300px) and (max-width: 479px) {
	#viewer{
		font-size: 14px
		width: 260px;
		margin-left: auto;
		margin-right: auto;
	}
	#prev {
	left: 0;
	}

	#next {
	right: 0;
	}

	.arrow {
	height: 100%;
	top: 45px;
	width: 10%;
	text-indent: -10000px;
	}

	#main {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	-ms-transition: -moz-transform .3s;
	}

	#main.closed {
	-webkit-transform: translate(260px, 0);
	-moz-transform: translate(260px, 0);
	-ms-transform: translate(260px, 0);
	}

	#titlebar {
	/* font-size: 16px; 
	/* margin: 0 50px 0 50px; */
	}

	#metainfo {
	font-size: 10px;
	}

	#tocView {
	width: 260px;
	}

	#tocView li {
	font-size: 12px;
	}

}