.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;

  &._active {
    display: block;
  }
}

a, div, span {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

a {
  text-decoration: none;
}

.fa {
    color:white;
    font-size: 1.8rem;
    &._small{
      font-size: 1.5rem;
    }
}

.modal-inner {
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: auto;
  max-height: 90%;
  max-width: 22.5rem;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;

  &.__addquote-modal {
    max-width: 22.5rem;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}

.addquote{
  padding-top:2.5rem;
  padding-left:2.5rem;
  padding-right:2.5rem;
}

.addquote-textarea{
  margin-bottom: 1.3rem;
  padding:1rem 1.3rem;
  width: 100%;
  height: 12.5rem;
  background: #ecf0f1;
  color:black;
  font-size:0.8rem;
  border-radius: 5px;
  border:none;
  resize: none;
  overflow:hidden;
  &:focus{
    outline:none;
  }
}

.addquote-social{
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}


.addquote-social__item{
  margin-right: 1.8rem;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  background: #426cc5;
  max-width: 4.8rem;
}
.__gp{
  background: #f8695c;
}
.__vk{
  background: #5181b8;
  margin-right: 0;
}

.addquote-close{
  top:1rem;
  right: 1rem;
  position: absolute;
  color:#bdc3c7;
  font-size:1.1rem;
  cursor: pointer;
  &:hover{
    color:darken(#bdc3c7, 3);
  }
}

.addquote-btn{
  margin-bottom: 1.2rem;
  padding: 1rem 0;
  background: #17b2bf;
  color:white;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-size: 1rem;
}

.addquote-desc{
  margin-bottom: 1.5rem;
  display: block;
  font-size:0.8rem;
  color:#7f8c8d;
  text-align: center;
}
