@font-face {
		font-family: "ArialRegular";
		src: url("../font/ArialRegular.eot");
		src: url("../font/ArialRegular.eot?#iefix")format("embedded-opentype"),
		url("../font/ArialRegular.woff") format("woff"),
		url("../font/ArialRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "TimesNewRomanRegular";
		src: url("../font/TimesNewRomanRegular.eot");
		src: url("../font/TimesNewRomanRegular.eot?#iefix")format("embedded-opentype"),
		url("../font/TimesNewRomanRegular.woff") format("woff"),
		url("../font/TimesNewRomanRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
		font-family: "HelveticaRegular";
		src: url("../font/HelveticaRegular.eot");
		src: url("../font/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
		url("../font/HelveticaRegular.woff") format("woff"),
		url("../font/HelveticaRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),  
  url('../font/HelveticaNeue/HelveticaNeue.woff') format('woff'),
  url('../font/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'), 
  url('../font/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'HelveticaNeue', sans-serif;
	font-weight: 200;
	color: black;
	font-size: 20px;
	/*line-height: 1.2em;*/
}
.calibre7{
	background: transparent;
	font-size: 20px;
	border: 0;
}
ul{
	list-style: none;
	padding-left: 0;
}
hr.calibre3{
	display: none;
}
h3.calibre2{
	margin-top: 0;
	border: 0;
	background: inherit;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #b98f8f;
}
.calibre5 > a{
	
}
a:hover{
	color: #888;
}
@media only screen and (max-width: 479px){
	*{
		font-size: 16px;
	}
}

@media only screen and (max-device-width: 479px) and (orientation: portrait) {
	*{
		font-size: 16px;
	}
}