<section class="about">
  <div class="container about-container">
    <div class="about-item">
      <div class="about-item__top">
        <span class="about-item__img"><img src="images/abook.png" alt="" class="about-item__img-item"></span>
      </div>
      <p class="about-item__text">«Қазақстанның ашық кітапханасы» - ұлттық әдебиетіміз мен отандық ғылымның, өнеріміз бен сан-саладағы шығармашылық өкілдеріміздің жәдігерлерін заңды негізде бір жерге жинақтап, насихаттауды мақсат ететін онлайн жоба</p>
    </div>
    <div class="about-item">
      <div class="about-item__top">
        <span class="about-item__img"><img src="images/atarget.png" alt="" class="about-item__img-item"></span>
      </div>
      <h3 class="about-title">Мақсатымыз</h3>
      <p class="about-item__text">Халқымыздың асыл қазынасы саналған рухани мұрамызды, көненің көзіндей болған өнер жауһарларын көпшілікке таныту, келешек ұрпаққа жеткізіп, бойына дарыту. Жас ұрпақтың қазақ әлемімен етене жақындасуына дәнекер болу.  Қазақ ақын-жазушыларын оқуға құмартқан кез келген адамды кез келген жерде қажетті ақпаратпен қамтамасыз етіп, көпшіліктің сұранысын өз дәрежесінде қанағаттандыру.</p>
    </div>
    <div class="about-item">
      <div class="about-item__top">
        <span class="about-item__img"><img src="images/aopenbook.png" alt="" class="about-item__img-item"></span>
      </div>
      <p class="about-item__text">Бүгінгі күні «Қазақстанның ашық кітапханасы» қорында түрлі бағыттағы 500-ден аса автордың 4000-ға жуық кітабы жинақталған. Кітапханамызға елімізге, қала берді әлемге танымал өмірден өткен тұлғаларымыздың қоғамдық игілік санатына енген шығармаларымен қатар, қазіргі ақын-жазушыларымыздың да мұралары Creative Commons еркін лицензиялары негізінде авторлық құқықтары сақталып жариялануда. Қазақ тілі мен мәдениетінің дамуына серпін берер жобаға ықылас танытып, шығармаларын енгізуге алғашқы болып рұқсат берген Ілияс Жансүгіров, Сәкен Сейфуллин, Мұхтар Әуезов, Ғабиден Мұстафин, Қасым Аманжолов, Бауыржан Момышұлы, Зейін Шашкин, Жұбан Молдағалиев, Қалижан Бекхожин, Сағи Жиенбаев, Ғафу Қайырбеков, Мұқағали Мақатаев, Фариза Оңғарсынова,Әбіш Кекілбаев, Зейнолла Қабдолов, Сафуан Шаймерденов, Қалтай Мұхамеджанов, Мұхтар Шаханов, Сәкен Жүнісов, Софы Сматаев, Қабдеш Жұмаділов, Сәуірбек Бақбергенов сынды ақын-жазушылар мен олардың ұрпақтарына үлкен алғысымызды білдіреміз.
      </p>
    </div>
    <div class="about-item">
      <div class="about-item__top">
        <span class="about-item__img"><img src="images/amonument.png" alt="" class="about-item__img-item"></span>
      </div>
      <p class="about-item__text">Сондай-ақ, «Қазақстанның ашық кітапханасының» қоры мектеп бағдарламасындағы «Қазақ әдебиеті» пәнінде оқытылатын 130 автордың 1500-ден аса шығармасын қамтыған аудиохрестоматиямен толықты. Бұл арқылы оқырман тұтас бір әдеби әлеммен табысып, туындылардың аудионұсқасын тыңдауға мүмкіндік алды.<br><br>

      «Қазақстанның ашық кітапханасы» тек қазақ әдебиеті шығармаларымен ғана шектелмек емес, осы кезеңге дейін қазақ тіліне аударылған шетел әдебиетінің де көрнекті туындылары оқырман назарына ұсынылуда.<br><br>

      Жобаның арқалаған жүгі салмақты: жаһандану дәуірінде ұлттың құндылықтарын сақтауға ұмтылу, сондай-ақ, интернет желісінде қазақтілді мазмұнды арттырып, тіліміздің қолданыс аясын кеңейтуге күш салу.</p>
    </div>
  </div>
</section>
