<section class="actual">
  <div class="container">
    <h3 class="actual-title">
      <span class="actual-title__ico fa fa-bookmark"></span>Актуальные материалы
    </h3>
    <div class="actual-row">
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
      <div class="actual-item">
        <span class="actual-item__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
        (Естелік жазбалар)</span>
        <div class="actual-item__info">
          <a href="#" class="actual-info__btn">Толығырақ</a>
          <span class="actual-info__text">
            МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
            (Естелік жазбалар)
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
