<form class="personal">
	<div class="personal-row">
		<label class="personal-label" for="bookname">Кітаптың аты</label>
		<input class="personal-input" id="bookname" placeholder="Бақыт жолында"></input>
	</div>
	<div class="personal-row">
		<label class="personal-label" for="bookname">Категория</label>
    <div class="personal-select">
      <select class="selectpicker setting-select-item" multiple title="Категорияны таңдаңыз" data-width="100%">
        <option data-content="Роман">Роман</option>
        <option data-content="Повесть">Повесть</option>
        <option data-content="Әңгіме">Әңгіме</option>
        <option data-content="Очерг">Очерг</option>
      </select>
    </div>
	</div>	
	<div class="personal-row">
		<label class="personal-label" for="bookname">Автор</label>
    <div class="personal-select">
      <select class="selectpicker setting-select-item" multiple title="Авторды таңдаңыз" data-width="100%">
        <option data-content="Роман">Роман</option>
        <option data-content="Повесть">Повесть</option>
        <option data-content="Әңгіме">Әңгіме</option>
        <option data-content="Очерг">Очерг</option>
      </select>
    </div>
	</div>	
	<div class="personal-row">
		<label class="personal-label" for="bookname">Жанрды таңдаңыз</label>
    <div class="personal-select">
      <select class="selectpicker setting-select-item" multiple title="Жанрды іздеу" data-width="100%">
        <option data-content="Роман">Роман</option>
        <option data-content="Повесть">Повесть</option>
        <option data-content="Әңгіме">Әңгіме</option>
        <option data-content="Очерг">Очерг</option>
      </select>
    </div>
	</div>	
	<div class="personal-row">
		<label class="personal-label" for="bookname">Кітап туралы</label>
    <textarea id="userMessage" name="name" class="personal-textarea"></textarea>
	</div>
	<div class="personal-row __border">
		<label class="personal-label" for="bookname">Кітапты жүктеу</label>
		<div class="personal-file">
			<div class="personal-file__col __info">
				<img class="personal-file__img" src="images/epub.png">
				<div class="personal-file__info">
					<span class="persolal-file__label">EPUB</span>
					<span class="persolal-file__text">Бір жүктегенде 
5 файлдан аспау керек</span>
				</div>
			</div>
			<div class="personal-file__col">
				<input type="file" name="loadbook" id="loadbook" class="inputfile personal-file__load" data-multiple-caption="{count} files selected" multiple />
				<label for="loadbook" class="personal-file__label"><span>Файлды таңдау</span></label>	
			</div>
		</div>
	</div>
	<div class="personal-row __border">
		<label class="personal-label" for="bookname">Суретті жүктеу</label>
		<div class="personal-file">
			<div class="personal-file__col __info">
				<img class="personal-file__img" src="images/pic.png">
				<div class="personal-file__info-format">
					<span class="persolal-file__label">JPEG</span>
					<span class="persolal-file__label">PNG</span>
				</div>
			</div>
			<div class="personal-file__col">
				<input type="file" name="loadimg" id="loadimg" class="inputfile personal-file__load" data-multiple-caption="{count} files selected" multiple />
				<label for="loadimg" class="personal-file__label"><span>Файлды таңдау</span></label>	
			</div>
		</div>
	</div>
	<div class="personat-control">
		<button class="personat-control__btn">Сақтау</button>
	</div>	
</form>