<div class="modal js-modal-container js-addquote">
  <div class="modal-inner __addquote-modal js-addquote-inner">
    <form action="" class="addquote">
      <textarea name="" id="" class="addquote-textarea" maxlength="50">
        «В это утро я слишком запоздала, — рассказывала мне на днях одна дама, — и вышла из дому почти уже в полдень, а у меня, как нарочно, скопилось много дела. Как раз в Николаевской улице надо было, зайти в два места, одно от другого недалеко. Во-первых, в контору, и у самых ворот
      </textarea>
      <button class="addquote-btn">Цитатаны сақтау</button>
      <span class="addquote-desc">Соц желілері арқылы бөлісу</span>
      <div class="addquote-social">
        <a href="#" class="addquote-social__item">
          <span class="fa fa-facebook"></span>
        </a>
        <a href="#" class="addquote-social__item __gp">
          <span class="fa fa-google-plus _small">
        </a>
        <a href="#" class="addquote-social__item __vk">
          <span class="fa fa-vk _small"></span>
        </a>
      </div>
    </form>
    <span class="fa fa-times addquote-close js-addquote-close"></span>
  </div>
</div>
