<section class="allarticles">
  <div class="container">
    <div class="allarticles-row">
      <a href="article.html" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art1.jpg);">
            <div class="allarticles-img__text">
              <span class="allarticles-img__text-btn">Өту
            </span>
            </div>
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-text">Сәуле Жанпейісова, дәстүрлі әнші, Қазақстанның еңбек сіңірген қайраткері: </span>
              <span class="allarticles-title">ДӘСТҮРЛІ ӨНЕРДІ ДӘРІПТЕЙТІН ЕРЕКШЕ КОНКУРС-ФЕСТИВАЛЬ ӨТКІЗБЕКПІН</span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art2.jpg);">
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-title">Қазақ тілінің әліпбиін латын графикасына көшіру туралы қаулы қабылданды</span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art3.jpg);">
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-title">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ (Естелік жазбалар)</span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art1.jpg);">
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-text">Анар Фазылжанова, А.Байтұрсынов атындағы Тіл білімі институты директорының орынбасары: </span>
              <span class="allarticles-title">ҮШТІЛДІЛІК ҰЛТТЫҚ МҮДДЕГЕ ҚЫЗМЕТ ЕТУІ ТИІС: </span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art2.jpg);">
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-title">Қазақ тілінің әліпбиін латын графикасына көшіру туралы қаулы қабылданды </span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="allarticles-item">
        <div class="allarticles-item__inner">
          <div class="allarticles-img" style="background-image: url(/images/art3.jpg);">
          </div>
          <div class="allarticles-info">
            <div class="allarticles-info__top">
              <span class="allarticles-title">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ (Естелік жазбалар)</span>
            </div>
            <div class="allarticles-info__bottom">
              <span class="allarticles-info__date">
                <span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017
              </span>
              <div class="allarticles-info__action">
                <span class="allarticles-info__action-item"><span class="fa fa-eye"></span> 20 қаралым</span>
                <span class="allarticles-info__action-item"><span class="fa fa-commenting"></span> 20 пікір</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
