<section class="allbooks">
  <div class="allbooks-top">
    <h3 class="allbooks-title">
      <span class="allbooks-title__ico fa fa-check"></span>Оқылымды кітаптар
    </h3>
    <select name="allbooks" id="allbooks" class="allbooks-select show-menu-arrow"><option value="По популярности">По популярности</option><option value="По новизне">По новизне</option></select>
  </div>
  <div class="allbooks-row">
    <a href="bookitem.html" class="allbooks-item __hover-item">
      <div class="allbooks-item__img __relative">
        <div class="hover-img__text">
          <span class="hover-img__text-btn">Өту
          </span>
        </div>         
      </div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="allbooks-item">
      <div class="allbooks-item__img"></div>
      <span class="allbooks-item__title">Биография</span>
      <span class="allbooks-item__text">Кайрат Исмаилов</span>
    </a>
  </div>
</section>
