<section class="article">
  <div class="article-container">
    <a href="#" class="article-logo">
      <img src="images/ted.png" alt="" class="article-logo__img">
    </a>
    <h3 class="article-title">ted@NYC: article’s talent search heads to Manhattan</h3>
    <div class="article-slider">
      <div class="slider article-slider-top">
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
        <div class="article-slider__item">
          <img src="images/sl1.jpg" alt="" class="article-slider__img">
        </div>
      </div>
      <div class="slider article-slider-nav">
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
        <div class="article-slider-nav__item">
          <img src="images/article.png" alt="" class="article-slider-nav__item-img">
        </div>
      </div>
      <div class="article-slider-controls"></div>
    </div>
    <div class="article-slider__info">
      <div class="article-slider__info-col">
        <span class="article-slider-date"><span class="fa fa-calendar"></span>Бейсенбі, 12 Қазан 2017 </span>
        <span class="article-slider-actions">
          <span class="article-slider-actions__item"><span class="fa fa-eye"></span> 20</span>
          <span class="article-slider-actions__item"><span class="fa fa-commenting"></span> 20</span>
          <a href="#" class="article-slider-actions__link">пікір</a>
        </span>
      </div>
      <div class="article-slider__info-col">
        <div class="article-slider-social">
          <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-vk"></span></a>
          <a href="#" class="article-slider-social__ico tooltip"><span class="article-slider-social__ico__img fa fa-facebook" title="Tweeter арқылы бөлісу"></span></a>
          <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-google-plus _small"></span></a>
          <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-twitter"></span></a>
        </div>
      </div>
    </div>
    <div class="article-slider-social __mobile">
      <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-vk"></span></a>
      <a href="#" class="article-slider-social__ico tooltip"><span class="article-slider-social__ico__img fa fa-facebook" title="Tweeter арқылы бөлісу"></span></a>
      <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-google-plus _small"></span></a>
      <a href="#" class="article-slider-social__ico tooltip" title="Tweeter арқылы бөлісу"><span class="article-slider-social__ico__img fa fa-twitter"></span></a>
    </div>
    <div class="article-desc">
      <p class="article-desc__item">Мемлекет басшысы Нұрсұлтан Назарбаев қазақ тілі әліпбиін кириллицадан латын графикасына көшіру туралы жарлыққа қол қойды.</p>

      <p class="article-desc__item">Н.Ә. Назарбаев:</p>

      <p class="article-desc__item">"Қазақ тілі әліпбиінің кириллицадан латын графикасына көшірілуін қамтамасыз ету мақсатында қаулы етемін:</p>

      <p class="article-desc__item">1. Қоса беріліп отырған латын графикасына негізделген қазақ тілі әліпбиі бекітілсін.</p>

      <p class="article-desc__item">2. Қазақстан Республикасының Үкіметі:</p>

      <p class="article-desc__item">- Қазақ тілі әліпбиін латын графикасына көшіру жөніндегі ұлттық комиссия құрсын;<br>
    - қазақ тілі әліпбиінің 2025 жылға дейін латын графикасына кезең-кезеңімен көшуін   қамтамасыз етсін;<br>
    - осы Жарлықты іске асыру жөнінде өзге де, соның ішінде ұйымдастырушылық және  заңнамалық сипаттағы, шаралар қабылдасын.</p>

      <p class="article-desc__item">3. Осы Жарлықтың орындалуын бақылау Қазақстан Республикасы Президентінің Әкімшілігіне жүктелсін.</p>

      <p class="article-desc__item">4. Осы Жарлық қол қойылған күнінен бастап қолданысқа енгізіледі."</p>
    </div>
    <div class="article-image">
      <img src="images/art1.png" alt="" class="article-image__item">
      <span class="article-image__desc">Каза́хский язы́к (қазақ тілі, қазақша; qazaq tili, qazaqs'a; قازاق ٴتىلى، قازاقشا, [qɑzɑq tɘlɘ], [qɑzɑqʃɑ]) — язык казахов, один из тюркских языков. Наиболее близок ногайскому, каракалпакскому и карагашскому языкам, вместе с которыми образует кыпчакско-ногайскую подгруппу в рамках кыпчакской языковой группы[2].</span>
    </div>
    <div class="article-video">
      <h3 class="article-video__title">Казахский алфавит</h3>
      <figure id="videoContainer" class="ted-video__inner">
         <video id="video" controls preload="metadata" poster="images/video3.png" class="ted-video__item">
            <source src="video/video.mp4" type="video/mp4">
            <source src="video/video.webm" type="video/webm">
            <source src="video/video.ogg" type="video/ogg">
         </video>
         <ul id="video-controls" class="controls video-controls">
           <li><button id="video-playpause" type="button" class="video-play"></button></li>
           <li><button id="video-stop" type="button" class="video-stop"></button></li>
           <li><span class="video-duration" id="video-duration">00:00</span></li>
           <li class="progress">
             <progress id="progress-video" value="0" min="0" class="progress-video">
               <span id="progress-video-bar" class="progress-video-bar"></span>
             </progress>
           </li>
           <li><span class="video-playtime" id="video-playtime">00:00</span></li>
           <li><button id="video-mute" type="button" class="video-mute"></button></li>
           <li><input id="video-volume" type="range" min="0" max="10" value="4" class="video-volume"></li>
           <li><button id="fs" type="button" class="video-fs"></button></li>
         </ul>
         <div class="video-play-ico__block" id="video-play-ico">
           <span class="video-play-ico">
             <span class="fa fa-play"></span>
           </span>
           <div class="play-pulse"></div>
         </div>
      </figure>
    </div>
    <div class="article-audio">
      <h3 class="article-audio__title">Аудио <span class="article-audio__title-number">2</span></h3>
      <div class="audio">
        <audio id="Player"></audio>
        <div class="Player audio-player" data-player-name="Test">
          <div class="player-block">
        		<div class="player-block__control-wrapper">
        			<div class="player__buttons-panel">
        				<div class="player-block__prev" data-player-control="prev"></div>
        				<div class="player-block__play" data-player-control="play"></div>
        				<div class="player-block__next" data-player-control="next"></div>
        			</div>
        		</div>
        		<div class="player-block__time-wrapper">
        			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
        	    <div class="player-block__tracker" data-player-scale="scale-time">
        	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
        	      <div class="time-scale__progress" data-player-scale="progress"></div>
        	    </div>
        			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
        		</div>
            <div class="player__volume-panel">
              <div class="player__volume" data-player-control="volume"></div>
              <div class="player__volume-scale-wrapper">
                <div class="player__volume-scale" data-player-scale="scale-volume">
                  <div class="volume-scale__progress" data-player-scale="volume"></div>
                </div>
              </div>
            </div>
          </div>
        	<ul class="player-block__playlist" data-player-playlist="Test">
        		<li data-player-src="/music/up.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/master_of_the_wind.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/make_it_wit_chu.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/ooh_ahh.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        	</ul>
        </div>
      </div>
    </div>
  </div>
</section>
