<section class="bookitem">
  <div class="audioitem-top">
    <!-- <div class="bookitem-social">
      <a href="#" class="bookitem-social__ico">
        <span class="bookitem-ico__img fa fa-vk"></span>
      </a>
      <a href="#" class="bookitem-social__ico">
        <span class="bookitem-ico__img fa fa-facebook"></span>
      </a>
      <a href="#" class="bookitem-social__ico">
        <span class="bookitem-ico__img fa fa-google-plus _small">
      </a>
      <a href="#" class="bookitem-social__ico">
        <span class="bookitem-ico__img fa fa-twitter"></span>
      </a>
    </div> -->
    <div class="bookitem-boook">
      <div class="bookitem-title-mobile">
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-pencil"></span> Автор</span>
          <a href="#" class="bookitem-info__author">Kathian BrandsKathian BrandsKathian BrandsKathian Brands</a>
        </div>
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-microphone"></span>Диктор</span>
          <a href="#" class="bookitem-info__author">Kathian Brands</a>
        </div>
        <h3 class="bookitem-info__name">Dutch</h3>
      </div>
      <img src="images/bookitem.png" alt="" class="bookitem-book__img">
      <span class="booitem-book__rating-text">Рейтинг 4.2/10</span>
      <div class="bookitem-book__rating">
        <span class="bookitem-book__rating-ico fa fa-star _active"></span>
        <span class="bookitem-book__rating-ico fa fa-star _active"></span>
        <span class="bookitem-book__rating-ico fa fa-star _active"></span>
        <span class="bookitem-book__rating-ico fa fa-star _active"></span>
        <span class="bookitem-book__rating-ico fa fa-star"></span>
      </div>
    </div>
    <div class="bookitem-info">
      <div class="bookitem-item__inner">
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-pencil"></span> Автор</span>
          <a href="#" class="bookitem-info__author">Kathian Brands</a>
        </div>
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-microphone"></span>Диктор</span>
          <a href="#" class="bookitem-info__author">Kathian Brands</a>
        </div>
        <h3 class="bookitem-info__name">Dutch</h3>
        <div class="bookitem-info__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
      </div>
      <div class="socila-info __mobile">
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-heart"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-plus-square"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-commenting"></span>
          <span class="social-info__item-text">20</span>
        </div>
      </div>
      <div class="bookitem-item__inner">
        <div class="bookitem-item__options">
          <button class="bookitem-options__btn __audio-small">
            <span class="bookitem-options__btn-text">
              Қосу
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-plus"></span>
            </span>
          </button>
        </div>
        <div class="bookitem-item__options">
          <button class="bookitem-options__btn __audio-small">
            <span class="bookitem-options__btn-text">
              Оқу
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-book"></span>
            </span>
          </button>
          <button class="bookitem-options__btn __audio-big">
            <span class="bookitem-options__btn-text">
              Аудио тыңдау
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-headphones"></span>
            </span>
          </button>
        </div>
        <div class="socila-info">
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-heart"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-plus-square"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-commenting"></span>
            <span class="social-info__item-text">20</span>
          </div>
        </div>
      </div>
      <div class="bookitem-social __mobile">
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-vk"></span>
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-facebook"></span>
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-google-plus _small">
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-twitter"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="bookitem-tags">
    <div class="bookitem-tags-container">
      <a  href="#" class="bookitem-tags__item">
        проза
      </a>
      <a  href="#" class="bookitem-tags__item">
        әлеуметтік саяси
      </a>
      <a  href="#" class="bookitem-tags__item">
        проза
      </a>
      <a  href="#" class="bookitem-tags__item">
        ғұмырнамалық
      </a>
    </div>
  </div>
  <div class="audio">
    <audio id="Player"></audio>
    <div class="Player audio-player" data-player-name="Test">
      <div class="player-block">
    		<div class="player-block__control-wrapper">
    			<div class="player__buttons-panel">
    				<div class="player-block__prev" data-player-control="prev"></div>
    				<div class="player-block__play" data-player-control="play"></div>
    				<div class="player-block__next" data-player-control="next"></div>
    			</div>
    		</div>
    		<div class="player-block__time-wrapper">
    			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
    	    <div class="player-block__tracker" data-player-scale="scale-time">
    	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
    	      <div class="time-scale__progress" data-player-scale="progress"></div>
    	    </div>
    			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
    		</div>
        <div class="player__volume-panel">
          <div class="player__volume" data-player-control="volume"></div>
          <div class="player__volume-scale-wrapper">
            <div class="player__volume-scale" data-player-scale="scale-volume">
              <div class="volume-scale__progress" data-player-scale="volume"></div>
            </div>
          </div>
        </div>
      </div>
    	<ul class="player-block__playlist" data-player-playlist="Test">
    		<li data-player-src="/music/up.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/master_of_the_wind.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/make_it_wit_chu.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/ooh_ahh.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    	</ul>
    </div>
  </div>
</section>
