<section class="audioinner">
  <div class="audioinner-top">
    <div class="audioinner-boook">
      <img src="images/artist.png" alt="" class="audioinner-book__img">
      <div class="audio-albom__item __audio-mobile">
        <img src="images/artist.png" alt="" class="audioinner-book__img">
        <div class="audio-albom-play player-block__albom" data-player-control="play-albom">
          <span class="audio-albom-play-btn">
            <span class="audio-albom-play__ico"></span>
          </span>
          <div class="play-pulse"></div>
        </div>
      </div>
    </div>
    <div class="audioinner-info">
      <div class="audioinner-info__top">
        <h1 class="audioinner-info__author">Мадина Садуакасова</h1>
        <h3 class="audioinner-info__name">Ана</h3>
      </div>
      <div class="audioinner-item__options">
        <button class="audioinner-options__btn __blue">
          <span class="audioinner-options__btn-text">
            Қосу
          </span>
          <span class="audioinner-options__btn-ico">
            <span class="audioinner-options-ico__img fa fa-plus"></span>
          </span>
        </button>
        <div class="socila-info">
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-heart"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-plus-square"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-commenting"></span>
            <span class="social-info__item-text">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="audioinner-book__text">
    Рейтинг 4.2/10
  </span>
  <div class="audioinner-book__rating">
    <span class="audioinner-book__rating-ico fa fa-star _active"></span>
    <span class="audioinner-book__rating-ico fa fa-star _active"></span>
    <span class="audioinner-book__rating-ico fa fa-star _active"></span>
    <span class="audioinner-book__rating-ico fa fa-star _active"></span>
    <span class="audioinner-book__rating-ico fa fa-star"></span>
  </div>
  <div class="audiobook _inner">
    <div class="audio">
      <audio id="Player"></audio>
      <div class="Player audio-player" data-player-name="Test">
        <div class="player-block">
      		<div class="player-block__control-wrapper">
      			<div class="player__buttons-panel">
      				<div class="player-block__prev" data-player-control="prev"></div>
      				<div class="player-block__play" data-player-control="play"></div>
      				<div class="player-block__next" data-player-control="next"></div>
      			</div>
      		</div>
      		<div class="player-block__time-wrapper">
      			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
      	    <div class="player-block__tracker" data-player-scale="scale-time">
      	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
      	      <div class="time-scale__progress" data-player-scale="progress"></div>
      	    </div>
      			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
      		</div>
          <div class="player__volume-panel">
            <div class="player__volume" data-player-control="volume"></div>
            <div class="player__volume-scale-wrapper">
              <div class="player__volume-scale" data-player-scale="scale-volume">
                <div class="volume-scale__progress" data-player-scale="volume"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="audiobook _inner">
      <ul class="player-block__playlist" data-player-playlist="Test">
        <li data-player-src="/music/up.mp3">
          <div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
          </div>
          <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        </li>
        <li data-player-src="/music/master_of_the_wind.mp3">
          <div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
          </div>
          <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        </li>
        <li data-player-src="/music/make_it_wit_chu.mp3">
          <div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
          </div>
          <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        </li>
        <li data-player-src="/music/ooh_ahh.mp3">
          <div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
          </div>
          <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        </li>
        <li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
          <div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
          </div>
          <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        </li>
      </ul>
    </div>
    <div class="audioinner-item__options __mobile">
      <div class="socila-info">
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-heart"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-plus-square"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-commenting"></span>
          <span class="social-info__item-text">20</span>
        </div>
      </div>
      <button class="audioinner-options__btn __blue">
        <span class="audioinner-options__btn-text">
          Қосу
        </span>
        <span class="audioinner-options__btn-ico">
          <span class="audioinner-options-ico__img fa fa-plus"></span>
        </span>
      </button>
      <div class="audioinner-social-mobile">
        <a href="#" class="audioinner-ico"><span class="audioinner-ico__img fa fa-vk"></span></a>
        <a href="#" class="audioinner-ico"><span class="audioinner-ico__img fa fa-facebook"></span></a>
        <a href="#" class="audioinner-ico"><span class="audioinner-ico__img fa fa-google-plus _small"></span></a>
        <a href="#" class="audioinner-ico"><span class="audioinner-ico__img fa fa-twitter"></span></a>
      </div>
    </div>
  </div>
  <div class="audioinner-text">
    <p class="audioinner-text__item">
      What is Lorem Ipsum?<br>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p class="audioinner-text__item">
      Why do we use it?<br>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
  </div>
</section>
