<section class="author">
  <div class="author-top">
    <div class="author-img">
      <img src="images/authorsingle.png" alt="" class="author-img__item">
    </div>
    <div class="autor-info">
      <h1 class="autor-info__title">
        Әбдіжәмил Нұрпейісов
      </h1>
      <span class="author-info__subtitle">ӘДЕБИЕТІМІЗДІҢ ӘЛМЕНДІ ИЫҒЫ – ӘБДІЖӘМИЛ</span>
      <p class="autor-info-item">
        Ұлы Мұхтар Әуезов «алдыңғы аға буын жазушылармен қатар соларға ілесе жедел келе жатқан тағы бір талантты жазушылардың» арасынан Әбдіжәмил Нұрпейісов есімін зор қадір тұтатын. Одан бері қырық жылдың жүзі өтіпті. Сол уақыт ішінде «Қан мен тер» трилогиясы, «Соңғы парыз» дилогиясы дүниеге келді. Әбдіжәмил кітаптары дүниенің төрт бұрышына тарады. Бұрынғы Кеңес Одағы халықтарының (орыс, украин, белорусь, өзбек, түрікмен, молдаван, латыш, литва, эстон, тәжік, якут, т.б.) және шетелдердің (француз, испан, қытай, араб, эфиоп, неміс, австрия, бельгия, чех, румын, түрік, т.б.) тіліне аударылып, күллі әлемге танылды.
      </p>
      <p class="autor-info-item">
        Әбдіжәмил өзінің қаламдас достарының портретін жасаған бір эссесінде былайша толғанады: «Әр ұрпақтың өз қабілетіне қарай көтеретін жүгі бар. Кешегі ұлы ұрпақ көтерген ұлттық өнеріміздің қасиетті қара шаңырағын сонан әрі қарай дамытып, тағы бір биікке асқақтатып әкету кейінгі ұрпаққа мүмкін болмаса да, сол бір ел көзі үйреніп, ел көңілі марқайған мақтаныш биігімізден күлдіреуіші сынған үйдей құлдыратып төмен түсіріп алмау бүгінгі ұрпақтың, мына сіздермен біздердің, белді-белді деген талантты ұл-қыздарының бәріне сын, бәріне бірдей міндет, борыш. Бәріне бірдей абыройлы сын еді. Кәне, сол сыннан қалай өттік? Сол абыройлы істі ілгері апаратын біздің арамыздан да әлменді иық табылды ма? »
      </p>
      <p class="autor-info-item">
        Бұл сауалға жауап, Құдайға шүкір, дайын. Маған салса, былай дер едім. Бүгінгі таңдағы әдебиетіміздің әлменді иығы, сөз жоқ, Әбдіжәмил Нұрпейісов.
      </p>
      <p class="autor-info-item">
        Арал теңізінің сарыны, дала, замана сарыны боп естілетін Нұрпейісов прозасы – қазақ әдебиетін өркендетуге, халқымыздың рухани қазынасын байытуға қосылған бағасыз мұра.
      </p>
      <span class="talents-desc__btn js-author-desc__btn">
        <span class="fa fa-angle-double-down"></span>
      </span>
    </div>
  </div>
  <div class="author-bottom">
    <div class="author-tab__top">
      <ul class="tabs author-top__list">
        <li class="tab-link author-top__item current" data-tab="author-1">
          <span class="fa fa-book author-top__item-ico"></span>  Кітап  <span class="author-top__item-count">3</span>
        </li>
        <li class="tab-link author-top__item" data-tab="author-2">
          <span class="fa fa-microphone author-top__item-ico"></span>  Аудиокітап <span class="author-top__item-count">3</span>
        </li>
        <li class="tab-link author-top__item" data-tab="author-3">
          <span class="fa fa-music author-top__item-ico"></span> Музыка <span class="author-top__item-count">3</span>
        </li>
      </ul>
    </div>
    <div id="author-1" class="tab-content author-content current">
      <div class="author-row">
        <div class="author-book">
          <a href="#" class="author-book__item">
            <img src="images/s1.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
          <a href="#" class="author-book__item">
            <img src="images/s3.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
          <a href="#" class="author-book__item">
            <img src="images/s4.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
        </div>
      </div>
    </div>
    <div id="author-2" class="tab-content author-content">
      <div class="author-row">
        <div class="author-book">
          <a href="#" class="author-book__item">
            <img src="images/s1.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
          <a href="#" class="author-book__item">
            <img src="images/s3.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
          <a href="#" class="author-book__item">
            <img src="images/s4.png" alt="" class="author-book__item-img">
            <span class="author-book__name">Биография</span>
          </a>
        </div>
      </div>
    </div>
    <div id="author-3" class="tab-content author-content">
      <div class="author-row">
        <div class="author-music">
          <a href="#" class="author-music__item">
            <div class="author-music__img">
              <img src="images/search1.png" alt="" class="author-music__img-item">
              <span class="author-music__img-ico"></span>
            </div>
            <span class="author-music__name">Dutch</span>
          </a>
          <a href="#" class="author-music__item">
            <div class="author-music__img">
              <img src="images/search1.png" alt="" class="author-music__img-item">
              <span class="author-music__img-ico"></span>
            </div>
            <span class="author-music__name">Dutch</span>
          </a>
          <a href="#" class="author-music__item">
            <div class="author-music__img">
              <img src="images/search1.png" alt="" class="author-music__img-item">
              <span class="author-music__img-ico"></span>
            </div>
            <span class="author-music__name">Dutch</span>
          </a>
          <a href="#" class="author-music__item">
            <div class="author-music__img">
              <img src="images/search1.png" alt="" class="author-music__img-item">
              <span class="author-music__img-ico"></span>
            </div>
            <span class="author-music__name">Dutch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
