<section class="authorspeech">
  <div class="authorspeech-top">
    <div class="authorspeech-image">
      <img src="images/sa1.jpg" alt="" class="authorspeech-image__item">
    </div>
    <div class="authorspeech-info">
      <h3 class="authorspeech-info__title">Мұстафа Шоқай</h3>
      <p class="authorspeech-info__text">
        "Мұстафа Шоқайұлының өз заманында Түркістанда орналған кеңестік биліктің отаршыл сипатын қатесіз тани білген және онымен ымырасыз күреске ғұмырын арнаған, сондай-ақ бұл күреске бұрын Түркістан халықтары тарихында болмаған жаңа мазмұн беріп, оның өзінің қажырлы еңбегімен жаңа интеллектуалдық көкжиекке көтерген ұлы қайраткер екендігін көрсетсе керек. Оның өмір жолы Ұлы Отаны – Түркістан үшін от кешкен Ұлы Азаматтың жолы болатын ".<br><br>
        Мұстафа Шоқай
      </p>
    </div>
  </div>
  <div class="authorspeech-bottom">
    <div class="audio">
      <audio id="Player"></audio>
      <div class="Player audio-player" data-player-name="Test">
        <div class="player-block">
      		<div class="player-block__control-wrapper">
      			<div class="player__buttons-panel">
      				<div class="player-block__prev" data-player-control="prev"></div>
      				<div class="player-block__play" data-player-control="play"></div>
      				<div class="player-block__next" data-player-control="next"></div>
      			</div>
      		</div>
      		<div class="player-block__time-wrapper">
      			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
      	    <div class="player-block__tracker" data-player-scale="scale-time">
      	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
      	      <div class="time-scale__progress" data-player-scale="progress"></div>
      	    </div>
      			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
      		</div>
          <div class="player__volume-panel">
            <div class="player__volume" data-player-control="volume"></div>
            <div class="player__volume-scale-wrapper">
              <div class="player__volume-scale" data-player-scale="scale-volume">
                <div class="volume-scale__progress" data-player-scale="volume"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
    	<ul class="player-block__playlist" data-player-playlist="Test">
    		<li data-player-src="/music/up.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/master_of_the_wind.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/make_it_wit_chu.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/ooh_ahh.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    	</ul>
    </div>
  </div>
</section>
