<section class="bookitem">
  <div class="bookitem-top">
    <div class="bookitem-boook">
      <div class="bookitem-title-mobile">
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-pencil"></span> Автор</span>
          <a href="#" class="bookitem-info__author">Kathian Brands</a>
        </div>
        <h3 class="bookitem-info__name">Серік Сағынтай. Көктемнің
мөп-мөлдір тамшысы</h3>
      </div>
      <img src="images/bookitem.png" alt="" class="bookitem-book__img">
      <span class="booitem-book__rating-text">Рейтинг 4.2/10</span>
      <div class="bookitem-book__rating">
        <span class="bookitem-book__rating-ico fa fa-star"></span>
        <span class="bookitem-book__rating-ico fa fa-star"></span>
        <span class="bookitem-book__rating-ico fa fa-star"></span>
        <span class="bookitem-book__rating-ico fa fa-star"></span>
        <span class="bookitem-book__rating-ico fa fa-star"></span>
      </div>
    </div>
    <div class="bookitem-info">
      <div class="bookitem-item__inner">
        <div class="bookitem-social">
          <a href="#" class="bookitem-social__ico">
            <span class="bookitem-ico__img fa fa-vk"></span>
          </a>
          <a href="#" class="bookitem-social__ico">
            <span class="bookitem-ico__img fa fa-facebook"></span>
          </a>
          <a href="#" class="bookitem-social__ico">
            <span class="bookitem-ico__img fa fa-google-plus"></span>
          </a>
          <a href="#" class="bookitem-social__ico">
            <span class="bookitem-ico__img fa fa-twitter"></span>
          </a>
        </div>
        <div class="bookitem-info-header">
          <span class="bookitem-info-header__desc"><span class="fa fa-pencil"></span> Автор</span>
          <a href="#" class="bookitem-info__author">Kathian Brands</a>
        </div>
        <h3 class="bookitem-info__name">Серік Сағынтай. Көктемнің
  мөп-мөлдір тамшысы</h3>
        <div class="bookitem-info__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
      </div>
      <div class="socila-info __mobile">
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-heart"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-plus-square"></span>
          <span class="social-info__item-text">20</span>
        </div>
        <div class="social-info__item">
          <span class="social-info__item-ico fa fa-commenting"></span>
          <span class="social-info__item-text">20</span>
        </div>
      </div>
      <div class="bookitem-item__inner">
        <div class="bookitem-item__options">
          <button class="bookitem-options__btn">
            <span class="bookitem-options__btn-text">
              Аудио тыңдау
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-headphones"></span>
            </span>
          </button>
        </div>
        <div class="bookitem-item__options">
          <button class="bookitem-options__btn __blue">
            <span class="bookitem-options__btn-text">
              Қосу
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-plus"></span>
            </span>
          </button>
          <button class="bookitem-options__btn __blue">
            <span class="bookitem-options__btn-text">
              Оқу
            </span>
            <span class="bookitem-options__btn-ico">
              <span class="bookitem-options-ico__img fa fa-book"></span>
            </span>
          </button>
        </div>
        <div class="socila-info">
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-heart"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-plus-square"></span>
            <span class="social-info__item-text">20</span>
          </div>
          <div class="social-info__item">
            <span class="social-info__item-ico fa fa-commenting"></span>
            <span class="social-info__item-text">20</span>
          </div>
        </div>
      </div>
      <div class="bookitem-social __mobile">
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-vk"></span>
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-facebook"></span>
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-google-plus"></span>
        </a>
        <a href="#" class="bookitem-social__ico">
          <span class="bookitem-ico__img fa fa-twitter"></span>
        </a>
      </div>
    </div>
  </div>
</section>
