<div class="catalogmobile">
  <div class="catalogmobile-top">
    <span class="catalogmobile-top__btn" data-submenu-open="mobile-genres">Жанрлар</span>
    <span class="catalogmobile-top__btn" data-submenu-open="mobile-catalog">Категориялар</span>
  </div>
  <div class="catalogmobile-genres" data-submenu="mobile-genres">
    <div class="catalogmobile-genres__inner">
      <a href="#" class="catalogmobile-genres-item">проза</a>
      <a href="#" class="catalogmobile-genres-item">әлеуметтік-cаяси</a>
      <a href="#" class="catalogmobile-genres-item">проза</a>
      <a href="#" class="catalogmobile-genres-item">тарихи</a>
      <a href="#" class="catalogmobile-genres-item">психологиялық</a>
      <a href="#" class="catalogmobile-genres-item">проза</a>
      <a href="#" class="catalogmobile-genres-item">ғұмырнамалық</a>
      <a href="#" class="catalogmobile-genres-item">проза</a>
      <a href="#" class="catalogmobile-genres-item">проза</a>
    </div>
  </div>
  <div class="catalogmobile-categories" data-submenu="mobile-catalog">
    <ul class="catalogmobile-wrapper">
        <li class="catalogmobile__dropmenu">
            <a href="#?1">Хронология бойынша таңдау<span></span></a>
            <ul class="catalogmobile__submenu">
                <li class="catalogmobile__dropmenu">
                    <a href="#">Халық ауыз әдебиеті<span></span></a>
                    <ul class="catalogmobile__submenu">
                        <li class="catalogmobile__dropmenu">
                            <a href="#">Ертегі<span></span></a>
                            <ul class="catalogmobile__submenu">
                                <li><a href="#" class="is-active">Батырлар жыры</a></li>
                                <li><a href="#">Лиро-эпостық жырлар</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Ежелгі дәуір әдебиеті</a></li>
            </ul>
        </li>
        <li><a href="#?2">Бабалар сөзі</a></li>
        <li><a href="#?3">100 kitap</a></li>
    </ul>
  </div>
</div>
