<h3 class="catalog-title">
  <span class="catalog-title__ico fa fa-align-left"></span>Категориялар
</h3>
<ul class="catalog-menu-wrapper">
    <li class="catalog-menu__dropmenu">
        <a href="#?1">Хронология бойынша таңдау<span></span></a>
        <ul class="catalog-menu__submenu">
            <li class="catalog-menu__dropmenu">
                <a href="#">Халық ауыз әдебиеті<span></span></a>
                <ul class="catalog-menu__submenu">
                    <li class="catalog-menu__dropmenu">
                        <a href="#">Ертегі<span></span></a>
                        <ul class="catalog-menu__submenu">
                            <li><a href="#" class="is-active">Батырлар жыры</a></li>
                            <li><a href="#">Лиро-эпостық жырлар</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Ежелгі дәуір әдебиеті</a></li>
        </ul>
    </li>
    <li><a href="#?2">Бабалар сөзі</a></li>
    <li><a href="#?3">100 kitap</a></li>
</ul>
