<section class="categories">
  <div class="container">
    <h3 class="categories-title"><span class="categories-title__ico fa fa-th-large"></span>Категориялар</h3>
    <div class="categories-row">
      <a href="#" class="categories-item">
        <div class="categories-item__img">
          <span class="categories-item__img-ico ico icons-video"></span>
        </div>
        <span class="categories-item__title">Видео/TED</span>
        <span class="categories-item__text">
          Бұл жерде тacеатр сахнасының видеосы мен TED көріністерін тамашалай аласыздар
        </span>
      </a>
      <a href="#" class="categories-item">
        <div class="categories-item__img">
          <span class="categories-item__img-ico ico icons-music"></span>
        </div>
        <span class="categories-item__title">Музыка</span>
        <span class="categories-item__text">
          Жанға жайлы музыка, оригиналды түпнұсқада тыңдауға ұсынылады
        </span>
      </a>
      <a href="#" class="categories-item">
        <div class="categories-item__img">
          <span class="categories-item__img-ico ico icons-kitap"></span>
        </div>
        <span class="categories-item__title">Кітап</span>
        <span class="categories-item__text">
          500 000-нан астам кітап әрдайым Сіздің жаныңызда
          онлайн немесе офлайн
        </span>
      </a>
      <a href="#" class="categories-item">
        <div class="categories-item__img">
          <span class="categories-item__img-ico ico icons-audiobook"></span>
        </div>
        <span class="categories-item__title">Аудиокітап</span>
        <span class="categories-item__text">
          5500 000-нан астам аудиокітап әрдайым Сіздің жаныңызда
  онлайн немесе офлайн
        </span>
      </a>
      <a href="#" class="categories-item">
        <div class="categories-item__img">
          <span class="categories-item__img-ico ico icons-community"></span>
        </div>
        <span class="categories-item__title">Қауымдастық</span>
        <span class="categories-item__text">
          Қызықты қауымдастық әр адамның ой-пікірі мен жекпе-жегімен бөліседі
  Қызықтан құр қалмаңыз!
        </span>
      </a>
    </div>
    <div class="categories-slider">
      <div class="categories-slider-inner js-categories-slider owl-carousel owl-theme">
        <div class="item">
          <a href="#" class="categories-item">
            <div class="categories-item__img">
              <span class="categories-item__img-ico ico icons-video"></span>
            </div>
            <span class="categories-item__title">Видео/TED</span>
            <span class="categories-item__text">
              Бұл жерде тacеатр сахнасының видеосы мен TED көріністерін тамашалай аласыздар
            </span>
          </a>
        </div>
        <div class="item">
          <a href="#" class="categories-item">
            <div class="categories-item__img">
              <span class="categories-item__img-ico ico icons-music"></span>
            </div>
            <span class="categories-item__title">Музыка</span>
            <span class="categories-item__text">
              Жанға жайлы музыка, оригиналды түпнұсқада тыңдауға ұсынылады
            </span>
          </a>
        </div>
        <div class="item">
          <a href="#" class="categories-item">
            <div class="categories-item__img">
              <span class="categories-item__img-ico ico icons-kitap"></span>
            </div>
            <span class="categories-item__title">Кітап</span>
            <span class="categories-item__text">
              500 000-нан астам кітап әрдайым Сіздің жаныңызда
              онлайн немесе офлайн
            </span>
          </a>
        </div>
        <div class="item">
          <a href="#" class="categories-item">
            <div class="categories-item__img">
              <span class="categories-item__img-ico ico icons-audiobook"></span>
            </div>
            <span class="categories-item__title">Аудиокітап</span>
            <span class="categories-item__text">
              5500 000-нан астам аудиокітап әрдайым Сіздің жаныңызда
      онлайн немесе офлайн
            </span>
          </a>
        </div>
        <div class="item">
          <a href="#" class="categories-item">
            <div class="categories-item__img">
              <span class="categories-item__img-ico ico icons-community"></span>
            </div>
            <span class="categories-item__title">Қауымдастық</span>
            <span class="categories-item__text">
              Қызықты қауымдастық әр адамның ой-пікірі мен жекпе-жегімен бөліседі
      Қызықтан құр қалмаңыз!
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
