<aside class="choice">
  <h3 class="choice-title">
    <span class="choice-title__ico fa fa-fa"></span>Оқырман таңдауы
  </h3>
  <div class="choice-img">
    <div class="choice-img__title"><span class="choice-img__title-ico fa fa-book"></span>
      <span class="choice-img__title-text"><span class="_bold">1000 рет</span> оқылды</span>
    </div>
  </div>
  <div class="choice-item">
    <div class="choice-book">
      <img src="images/b3.png" alt="" class="choice-book__img">
      <div class="choice-book__rating">
        <span class="choice-book__rating-ico fa fa-star _active"></span>
        <span class="choice-book__rating-ico fa fa-star _active"></span>
        <span class="choice-book__rating-ico fa fa-star _active"></span>
        <span class="choice-book__rating-ico fa fa-star _active"></span>
        <span class="choice-book__rating-ico fa fa-star"></span>
      </div>
    </div>
    <div class="choice-desc">
      <h4 class="choice-desc__title">Lorem Ipsum</h4>
      <p class="choice-desc__text">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
    <div class="choice-item__options">
      <button class="choice-options__btn">
        <span class="choice-options__btn-text">
          Аудио тыңдау
        </span>
        <span class="choice-options__btn-ico">
          <span class="choice-options-ico__img fa fa-headphones"></span>
        </span>
      </button>
      <button class="choice-options__btn __blue">
        <span class="choice-options__btn-text">
          Оқу
        </span>
        <span class="choice-options__btn-ico">
          <span class="choice-options-ico__img fa fa-plus"></span>
        </span>
      </button>
    </div>
  </div>
</aside>
