<div class="comments">
  <div class="comment-title">
    <span class="comment-title__text">
      Пікірлер
      <span class="comment-title-count">23</span>
    </span>
  </div>
  <div class="comment-add">
    <div class="comment-add__avatar">
      <div class="comment-add__avatar-img  __no-avatar"></div>
      <span class="comment-add__avatar-name">Alieva Alia</span>
    </div>
    <div class="comment-add__field">
      <textarea name="" id="" class="comment-add__field-textarea" placeholder="Добавьте комментарий..."></textarea>
      <div class="comment-add__btn">
          <button class="comment-btn__send __single">Отправить</button>
      </div>
    </div>
  </div>
   <div class="comment-item">
     <div class="coment-avatar">
       <div class="coment-avatar__img"></div>
     </div>
     <div class="comment-field">
       <div class="comment-top">
         <span class="coment-name">Алиев Али</span>
         <span class="comment-date">
           Сегодня 12:00
         </span>
       </div>
       <div class="comment-text">
         Man, I love this website. Solid work top to bottom here. It’s not often you see something so well put together that isn’t the actual agency’s site itself. Spend some time here folks, pick it apart to learn.
       </div>
       <div class="comment-options">
         <div class="comment-options__actions">
             <div class="comment-actions__item">
               <span class="comment-actions__item-ico fa fa-thumbs-up"></span>
               <span class="comment-actions__item-text">Нравится</span>
             </div>
             <div class="comment-actions__item">
               <span class="comment-actions__item-ico fa fa-mail-reply-all"></span>
               <span class="comment-actions__item-text">Ответить</span>
             </div>
         </div>
       </div>
             <div class="comment-inner">
               <div class="comment-add __inner">
                 <div class="comment-add__avatar">
                   <div class="comment-add__avatar-img"></div>
                   <span class="comment-add__avatar-name">Alieva Alia</span>
                 </div>
                 <div class="comment-add__field">
                   <textarea name="" id="" class="comment-add__field-textarea" placeholder="Добавьте комментарий..."></textarea>
                   <div class="comment-add__btn">
                       <button class="comment-btn__send">Отправить</button>
                       <button class="comment-btn__send __cancel">Отмена</button>
                   </div>
                 </div>
               </div>
             </div><!-- inner -->              
       <div class="comment-inner">
         <div class="comment-item">
           <div class="coment-avatar">
             <div class="coment-avatar__img"></div>
           </div>
           <div class="comment-field">
             <div class="comment-top">
               <span class="coment-name">Алиев Али</span>
               <span class="comment-date">
                 Сегодня 12:00
               </span>
             </div>
             <div class="comment-text">
               Man, I love this website. Solid work top to bottom here. It’s not often you see something so well put together that isn’t the actual agency’s site itself. Spend some time here folks, pick it apart to learn.
             </div>
             <div class="comment-options">
               <div class="comment-options__actions">
                   <div class="comment-actions__item">
                     <span class="comment-actions__item-ico fa fa-thumbs-up"></span>
                     <span class="comment-actions__item-text">Нравится</span>
                   </div>
                   <div class="comment-actions__item">
                     <span class="comment-actions__item-ico fa fa-mail-reply-all"></span>
                     <span class="comment-actions__item-text">Ответить</span>
                   </div>
               </div>
             </div>
             <div class="comment-inner">
               <div class="comment-add __inner">
                 <div class="comment-add__avatar">
                   <div class="comment-add__avatar-img"></div>
                   <span class="comment-add__avatar-name">Alieva Alia</span>
                 </div>
                 <div class="comment-add__field">
                   <textarea name="" id="" class="comment-add__field-textarea" placeholder="Добавьте комментарий..."></textarea>
                   <div class="comment-add__btn">
                       <button class="comment-btn__send">Отправить</button>
                       <button class="comment-btn__send __cancel">Отмена</button>
                   </div>
                 </div>
               </div>
             </div><!-- inner -->             
           </div>
         </div>
       </div><!-- inner -->
     </div>
   </div>
   <!-- comment -->
   <div class="comment-item">
     <div class="coment-avatar">
       <div class="coment-avatar__img"></div>
     </div>
     <div class="comment-field">
       <div class="comment-top">
         <span class="coment-name">Алиев Али</span>
         <span class="comment-date">
           Сегодня 12:00
         </span>
       </div>
       <div class="comment-text">
         Man, I love this website. Solid work top to bottom here. It’s not often you see something so well put together that isn’t the actual agency’s site itself. Spend some time here folks, pick it apart to learn.
       </div>
       <div class="comment-options">
         <div class="comment-options__actions">
             <div class="comment-actions__item">
               <span class="comment-actions__item-ico fa fa-thumbs-up"></span>
               <span class="comment-actions__item-text">Нравится</span>
             </div>
             <div class="comment-actions__item">
               <span class="comment-actions__item-ico fa fa-mail-reply-all"></span>
               <span class="comment-actions__item-text">Ответить</span>
             </div>
         </div>
       </div>
       <div class="comment-inner">
         <div class="comment-add __inner">
           <div class="comment-add__avatar">
             <div class="comment-add__avatar-img"></div>
             <span class="comment-add__avatar-name">Alieva Alia</span>
           </div>
           <div class="comment-add__field">
             <textarea name="" id="" class="comment-add__field-textarea" placeholder="Добавьте комментарий..."></textarea>
             <div class="comment-add__btn">
                 <button class="comment-btn__send">Отправить</button>
                 <button class="comment-btn__send __cancel">Отмена</button>
             </div>
           </div>
         </div>
       </div><!-- inner -->
     </div>
   </div>
    <!-- comment -->
    <div class="comment-item">
      <div class="coment-avatar">
        <div class="coment-avatar__img"></div>
      </div>
      <div class="comment-field">
        <div class="comment-top">
          <span class="coment-name">Алиев Али</span>
          <span class="comment-date">
            Сегодня 12:00
          </span>
        </div>
        <div class="comment-text">
          Man, I love this website. Solid work top to bottom here. It’s not often you see something so well put together that isn’t the actual agency’s site itself. Spend some time here folks, pick it apart to learn.
        </div>
        <div class="comment-options">
          <div class="comment-options__actions">
              <div class="comment-actions__item">
                <span class="comment-actions__item-ico fa fa-thumbs-up"></span>
                <span class="comment-actions__item-text">Нравится</span>
              </div>
              <div class="comment-actions__item">
                <span class="comment-actions__item-ico fa fa-mail-reply-all"></span>
                <span class="comment-actions__item-text">Ответить</span>
              </div>
          </div>
        </div>
      </div>
    </div>
     <!-- comment -->
    <span class="comment-more">Загрузить еще</span>
</div>
