<section class="contacts">
  <div class="container contacts-container">
    <div class="contacts-row">
      <div class="contacts-col">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <span class="fa fa-flag contacts-list__item-ico"></span>"WikiBilim" қоғамдық қоры
Қазақстанның ашық кітапханасы
          </li>
          <li class="contacts-list__item">
            <span class="fa fa-road contacts-list__item-ico"></span>Қазақстан Республикасы,
              Алматы қаласы<br>
              Бұхар жырау, 33. «Жеңіс»<br>
              бизнес орталығы,<br>
              8-қабат
          </li>
          <li class="contacts-list__item">
            <span class="fa fa-phone contacts-list__item-ico"></span>"WikiBilim" қоғамдық қоры
Қазақстанның ашық кітапханасы
          </li>
          <li class="contacts-list__item">
            <span class="fa fa-keyboard-o contacts-list__item-ico"></span>
            E-mail:<a href="mailto:info@kitap.kz" class="contacts-list__item-link">info@kitap.kz</a>
          </li>
        </ul>
      </div>
      <div class="contacts-col">
        <form action="" class="contacts-form">
          <input type="text" class="contacts-input" placeholder="Email">
          <textarea name="" id="" cols="30" rows="10" class="contacts-textarea" placeholder="Ваше письмо"></textarea>
          <button type="submit" name="button"  class="contacts-btn">Отправить</button>
        </form>
      </div>
    </div>
    <img src="images/phone.png" alt="" class="contacts-img">
  </div>
</section>
