<section class="dictionary">
  <div class="container">
    <div class="dictionaty-text">
      <p>
        Қоғаммен бірге дамып отыратын, ұлтты танытатын, ұлт тұтастығын білдіретін тірекбелгі ұлт тілі болса, сол тілдің ұлылығын танытатын асыл қазына – сөздік қор екендігі аян. Осы баға жетпес мұра сол тілді тұтынушы халық тарапынан қолдау, қорғау көрген кезде ғана дамиды.
      </p>
      <p>
        Ана тіліндегі мазмұнды жаңаша насихаттау мақсатында жасалған «Қазақстанның ашық кітапханасы» мен кітапхананың құрамдас бөлігіне айналған «Қазақ тілінің әмбебап сөздігінің» басты мақсаты – әлемге танымал онлайн сөздіктермен иық тірестіріп тұрар, қазақ тілінің бар сөздік қорын бойына жинақтаған әмбебап сөздік жасау болатын.
      </p>
      <p>
        Қазақ тілінің сөздік қорын қамтыған алғашқы толық нұсқадағы түсіндірме сөздік 1974-1986 жылдар аралығында 10 томдық іргелі еңбек ретінде жарық көрген. Онда 66 994 атау сөз бен 24 508 тіркес, барлығы 91 502 лексикалық бірлік қамтылып, олардың 103 мыңнан астам мағыналық сипаттамасы берілген.
      </p>
      <p>
        2002-2011 жылдар аралығында «Қазақстан Республикасында тілдерді дамыту мен қолданудың мемлекеттік бағдарламасы» аясында жарық көрген 15 томдық «Қазақ әдеби тілінің сөздігінде» 92 300 сөз бен 57 856 сөз тіркесі – барлығы 150 156 лексикалық бірлік қамтылған. Сөздікте 166 612 сөздің мағынасы ашып көрсетілген.
      </p>

      <p>
        «Қазақ тілінің әмбебап сөздігі» аясында аталған еңбектерде қамтылған сөздік қоры тұтас қамтылмақ. 15 томдық «Қазақ әдеби тілінің сөздігіне» негізінен әдеби тілдің аясындағы сөздердің енгізілгенін ескерер болсақ, «Қазақ тілінің әмбебап сөздігі», мұнымен ғана шектелмей, түрлі тақырыптағы және сан-алуан саладағы сөздіктердің қорын бір жерге жинақтауға тырысатын сөздіктер “агрегаторы” болмақ. Яғни осы уақытқа дейін басылып шыққан және қазақ тіліне қатысы бар саяси-экономикалық, мәдени, ғылыми-техникалық және басқа да салалық сөздіктерде берілген сөз бірліктері жинақталып, жүйеленбек.
      </p>

      <p>
        Рухани азығын алдымен ана тілінен іздейтін, тегінен ажырамауды қалайтын көпшіліктің «Қазақ тілінің әмбебап сөздігінен» ұлттың төл сөздері жайлы мәлімет алып қоймай, сөздік құрамның негізін құрайтын кірме сөздердің мағынасы жайлы ақпарат алу мүмкіндігі артады. Ал сөздің грамматикалық, лексикалық белгісі қоса беріліп, сөз мәнін айқындау үшін баспа бетінде жарық көрген материалдардан мысалдар келтірілуі сөздік құнын арттырмаса, кемітпек емес.
      </p>

      <p>
        Бұл онлайн үлгідегі сөздік болғандықтан, мұнда қолданушылармен кері байланыс орнатылып, талап пен тілектер ескерілетін, пікір алмасу, сұрақтар мен ұсыныстарға жауап беру мүмкіндігі бар. Сондықтан бұл сөздікті техникалық жағынан жетілдіріп, мазмұнын байытуға қалың көпшілік те атсалыса алады.
      </p>

      <p>
        Сондай-ақ, сөздікті дамыта түсу үшін сөздердің орысша және ағылшынша аудармаларын қосып, сөздің этимологиясы және жергілікті тілдік қолданыс үлгілерін енгізу де күн тәртібінде тұр.
      </p>

      <p>
        Жобаның ғылыми негізін қамтамасыз ету үшін А.Байтұрсынұлы атындағы Тіл білімі институтының мамандары арасынан жасақталған ғылыми сараптама тобы құрылды.
      </p>

      <p>Топ мүшелері:</p>

      <p>
        1. А.Байтұрсынұлы атындағы Тіл білімі институтының бас ғылыми қызметкері, филология ғылымдарының докторы Н.Уәлиұлы (топ жетекшісі)
      </p>

      <p>
        2. А.Байтұрсынұлы атындағы Тіл білімі институтының бас ғылыми қызметкері, филология ғылымдарының докторы Р.Шойбеков
      </p>

      <p>
        3. А.Байтұрсынұлы атындағы Тіл білімі институтының бас ғылыми қызметкері, филология ғылымдарының кандидаты А.Фазылжанова
      </p>

      <p>
        4. А.Байтұрсынұлы атындағы Тіл білімі институтының бас ғылыми қызметкері, филология ғылымдарының кандидаты Ж.Исаева
      </p>

      <p>
        Назарларыңызға ұсынылып отырған “Қазақ тілінің әмбебап сөздігі” “WikiBilim” қоғамдақ қоры іске асырып жатқан көптеген жобалардың бірі. Қордың мақсаты – интернеттегі қазақ тілді мазмұнды дамыту.
      </p>

      <p>
        Ақпараттық алыс-берістің интернет секілді қуатты құралын ана тіліміздің игілігі үшін тиімді пайдалану үшін, ең әуелі осы уақытқа дейін қордаланған қазақы мазмұн мен сөзді заманға сай үлгіде онлайнға алып келу шарт. Ол жұмыс онлайн кітапханалар, энциклопедиялар мен анықтамалықтар және сөздіктер дайындаудан басталады.
      </p>
      <p>
        “Қазақ тілінің әмбебап сөздігі” қазақ тілін қазіргі технологиялармен ұштастырып, онлайн (интернет) арқылы тілдің офлайндағы (интернеттен тыс) өміршеңдігін де бекіте түсуге үлес қосады деп сенеміз.
      </p>
    </div>
  </div>
</section>
