<section class="dabout">
  <div class="container dabout-container">
    <div class="dabout-col">
      <h3 class="dabout-text">«Қазақстанның ашық кітапханасы» жобасы бір топ еріктілердің күшімен құрылған қоғамдық жоба</h3>
    </div>
    <div class="dabout-col">
      <a href="index.html" class="dabout-link">
        <img src="images/logobig.png" alt="" class="dabout-link__img">
      </a>
    </div>
  </div>
</section>
