<section class="dfree">
  <div class="container dfree-container">
    <div class="dfree-col">
      <img src="images/dship.png" alt="" class="dfree-img">
    </div>
    <div class="dfree-col">
      <p class="dfree-text">Біздің ұжым қазақ тілінде және Қазақстанға қатысты жарық көрген барлық шығармалардың электронды нұсқаларын жасап, оларды тегін түрде онлайн таратуды көздейді</p>
    </div>
  </div>
</section>
