<section class="dinfo">
  <div class="container">
    <h3 class="dinfo-title">Қолдау көрсетудің үш жолы бар:</h3>
    <div class="dinfo-row">
      <div class="dinfo-col">
        <img src="images/dcode.png" alt="" class="dinfo-img">
        <span class="dinfo-text">Кітапты сканерден өткізу және түзету (корректорлық) жұмыстарын жүргізу</span>
      </div>
      <div class="dinfo-col">
        <img src="images/dbook.png" alt="" class="dinfo-img">
        <span class="dinfo-text">Авторлармен немесе автор мұрагерлерімен авторлық <a href="http://dev.kitap.kz/toauthor" class="dinfo-text__link">келісімшарт</a> жасауға көмектесу</span>
      </div>
      <div class="dinfo-col">
        <img src="images/dcard.png" alt="" class="dinfo-img">
        <span class="dinfo-text">Қаржылық көмек көрсету. Сіздің берген қаражатыңыз ұжымның жалақысына, хостингке, авторлық құқықты сатып алуға және жаңа жобаларды жүзеге асыруға жұмсалады</span>
      </div>
    </div>
  </div>
</section>
