<section class="donate">
  <form action="" class="donate-form">
    <h3 class="donate-form__title">Егер Сізге жоба ұнайтын болса,<br>
онда біздің ұжымға қолдау көрсетуіңізді сұраймыз</h3>
    <div class="donate-container">
      <select name="" id="" class="donate-select selectpicker">
        <option value="500" data-icon="ico-tenge">500</option>
        <option value="1000" data-icon="ico-tenge">1000</option>
        <option value="1500" data-icon="ico-tenge">1500</option>
      </select>
      <button class="donate-help">
        <span class="donate-help__text">Жобаны қолдау</span>
        <span class="donate-help__ico">
          <span class="donate-help__ico-img fa fa-skyatlas"></span>
        </span>
      </button>
    </div>
  </form>
</section>
