<section class="donateerror">
  <div class="container donateerror-inner">
    <h1 class="donateerror-title">Төлем сәтті өтті</h1>
    <div class="donateerror-img">
      <img src="images/donateerror.png" alt="" class="donateerror-img__item">
    </div>
    <a href="#" class="donateerror-link">Артқа қайту</a>
  </div>
</section>
