<section class="error">
	<img class="error-person" src="images/human404.png">
  <div class="error-info">
    <span class="error-info__title">Ештеңе табылмады</span>
    <a href="index.html" class="error-info__link">Артқа қайту</a>
  </div>
  <div class="error-bg">
  	<div class="error-bg__wave"></div>
  	<div class="error-bg__wave"></div>
  </div>
</section>
