<section class="faq">
  <h1 class="faq-title">
    <!-- <img src="images/faq.png" alt="" class="faq-title__img"> -->
    <span class="fa fa-quora faq-title__ico"></span>
  </h1>
  <div class="faq-block">
    <div class="faq-item">
      <div class="faq-item__title">Онлайн кітапхана деген не? Қоғам оны қалай қабылдауы тиіс? <span class="faq-item__title-ico"></span></div>
      <p class="faq-item__text">Онлайн кітапхана, электронды кітапхана десе, сенімсіздікпен қарайтындар баршылық. Бірақ, қазіргі ақпараттық технологиялар заманының талаптары күн санап өзгеріп келеді. Оның игілігін көруге баршамыз хақылымыз. Классикалық үлгідегі кітаптар ешқашан өмірімізден алшақтамасы анық. Онлайн кітапханаға жүгіну – уақытты тиімді әрі үнемді пайдалану қажеттілігінен туындап отыр.  Электронды кітапханаға кез келген уақытта, кез келген жерде кіріп, қажет кітабыңызды тауып оқи аласыз. Бұл – онлайн кітапхананың бір ғана артықшылығы. Қалаған кітабыңыздың аудионұсқасын тыңдай аласыз. Тіпті, тұтас бір кітапхананы кішкентай ғана телефон құрылғыға көшіріп алуға мүмкіндік бар.</p>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">Авторлардың құқығы интернет желісінде қаншалықты қорғалған?<span class="faq-item__title-ico"></span></div>
      <p class="faq-item__text">Онлайн кітапхана, электронды кітапхана десе, сенімсіздікпен қарайтындар баршылық. Бірақ, қазіргі ақпараттық технологиялар заманының талаптары күн санап өзгеріп келеді. Оның игілігін көруге баршамыз хақылымыз. Классикалық үлгідегі кітаптар ешқашан өмірімізден алшақтамасы анық. Онлайн кітапханаға жүгіну – уақытты тиімді әрі үнемді пайдалану қажеттілігінен туындап отыр.  Электронды кітапханаға кез келген уақытта, кез келген жерде кіріп, қажет кітабыңызды тауып оқи аласыз. Бұл – онлайн кітапхананың бір ғана артықшылығы. Қалаған кітабыңыздың аудионұсқасын тыңдай аласыз. Тіпті, тұтас бір кітапхананы кішкентай ғана телефон құрылғыға көшіріп алуға мүмкіндік бар.</p>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">Шығармаларды онлайн кітапханаға орналастыру үшін қандай талап қойылады?<span class="faq-item__title-ico"></span></div>
      <p class="faq-item__text">Онлайн кітапхана, электронды кітапхана десе, сенімсіздікпен қарайтындар баршылық. Бірақ, қазіргі ақпараттық технологиялар заманының талаптары күн санап өзгеріп келеді. Оның игілігін көруге баршамыз хақылымыз. Классикалық үлгідегі кітаптар ешқашан өмірімізден алшақтамасы анық. Онлайн кітапханаға жүгіну – уақытты тиімді әрі үнемді пайдалану қажеттілігінен туындап отыр.  Электронды кітапханаға кез келген уақытта, кез келген жерде кіріп, қажет кітабыңызды тауып оқи аласыз. Бұл – онлайн кітапхананың бір ғана артықшылығы. Қалаған кітабыңыздың аудионұсқасын тыңдай аласыз. Тіпті, тұтас бір кітапхананы кішкентай ғана телефон құрылғыға көшіріп алуға мүмкіндік бар.</p>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">Қазақ тілінің әмбебап сөздігі кітапхананың қай бөлігінде орналасқан?<span class="faq-item__title-ico"></span></div>
      <p class="faq-item__text">Онлайн кітапхана, электронды кітапхана десе, сенімсіздікпен қарайтындар баршылық. Бірақ, қазіргі ақпараттық технологиялар заманының талаптары күн санап өзгеріп келеді. Оның игілігін көруге баршамыз хақылымыз. Классикалық үлгідегі кітаптар ешқашан өмірімізден алшақтамасы анық. Онлайн кітапханаға жүгіну – уақытты тиімді әрі үнемді пайдалану қажеттілігінен туындап отыр.  Электронды кітапханаға кез келген уақытта, кез келген жерде кіріп, қажет кітабыңызды тауып оқи аласыз. Бұл – онлайн кітапхананың бір ғана артықшылығы. Қалаған кітабыңыздың аудионұсқасын тыңдай аласыз. Тіпті, тұтас бір кітапхананы кішкентай ғана телефон құрылғыға көшіріп алуға мүмкіндік бар.</p>
    </div>
    <div class="faq-item">
      <div class="faq-item__title">Онлайн сөздікті  қалай пайдаланады?<span class="faq-item__title-ico"></span></div>
      <p class="faq-item__text">Онлайн кітапхана, электронды кітапхана десе, сенімсіздікпен қарайтындар баршылық. Бірақ, қазіргі ақпараттық технологиялар заманының талаптары күн санап өзгеріп келеді. Оның игілігін көруге баршамыз хақылымыз. Классикалық үлгідегі кітаптар ешқашан өмірімізден алшақтамасы анық. Онлайн кітапханаға жүгіну – уақытты тиімді әрі үнемді пайдалану қажеттілігінен туындап отыр.  Электронды кітапханаға кез келген уақытта, кез келген жерде кіріп, қажет кітабыңызды тауып оқи аласыз. Бұл – онлайн кітапхананың бір ғана артықшылығы. Қалаған кітабыңыздың аудионұсқасын тыңдай аласыз. Тіпті, тұтас бір кітапхананы кішкентай ғана телефон құрылғыға көшіріп алуға мүмкіндік бар.</p>
    </div>
  </div>
</section>
