<section class="filter">
  <div class="filter-block js-filter-block">
    <div class="container">
      <a href="#" class="filter-link fa fa-chevron-left"></a>
      <div class="filter-block__container">
        <a  href="#" class="filter-item">
          проза
        </a>
        <a  href="#" class="filter-item __active">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          проза
        </a>
        <a  href="#" class="filter-item">
          ғұмырнамалық
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          проза
        </a>
        <a  href="#" class="filter-item">
          сатира
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          проза
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          әлеуметтік саяси
        </a>
        <a  href="#" class="filter-item">
          проза
        </a>
      </div>
      <span class="filter-control js-filter">
        <span class="filter-control__ico"></span>
      </span>
    </div>
  </div>
  <div class="filter-bg">
    <div class="container filter-container">
      <a href="#" class="filter-link fa fa-chevron-left"></a>
      <h1 class="filter-title">Әдеби кітаптар</h1>
    </div>
  </div>
</section>
