<footer>
  <div class="container footer-container">
    <div class="footer-top">
      <div class="footer-links">
        <div class="footer-links__col">
          <h3 class="footer-links-title">Ақпарат</h3>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Жоба туралы</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Авторларға ақпарат</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Қазақ тілінің әмбебап сөздігі</a></span>
        </div>
        <div class="footer-links__col">
          <h3 class="footer-links-title">FAQ</h3>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Серіктестер</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Сұрақ-жауап</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Байланыс</a></span>
        </div>
        <div class="footer-links__col __mobile">
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Жоба туралы</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Авторларға ақпарат</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Қазақ тілінің әмбебап сөздігі</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Серіктестер</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Сұрақ-жауап</a></span>
          <span class="footer-links-item"><a href="#" class="footer-links-item__inner">Байланыс</a></span>
          <span class="footer-links-item">
            <span class="footer-app-item__text">Kitap қосымшасын
            жүктеу</span>
            <a href="#" class="footer-app-item__link footer-app-apple"></a>
            <a href="#" class="footer-app-item__link footer-app-google"></a></span>
            <span class="footer-links-item">
              <span class="footer-app-item__text">Audiokitap қосымшасын
    жүктеу</span>
              <a href="#" class="footer-app-item__link footer-app-apple"></a>
              <a href="#" class="footer-app-item__link footer-app-google"></a></span>
        </div>
        <div class="footer-app">
          <div class="footer-app-item">
            <span class="footer-app-item__text">Kitap қосымшасын
  жүктеу</span>
            <a href="https://itunes.apple.com/kz/app/audiokitap/id1051643562?mt=8" class="footer-app-item__link footer-app-apple"></a>
            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.kitapkcell" class="footer-app-item__link footer-app-google"></a>
          </div>
          <div class="footer-app-item">
            <span class="footer-app-item__text">Audiokitap қосымшасын
  жүктеу</span>
            <a href="https://itunes.apple.com/kz/app/kitap/id1046439139?mt=8" class="footer-app-item__link footer-app-apple"></a>
            <a href="https://play.google.com/store/apps/details?id=com.bmg.audiokitap" class="footer-app-item__link footer-app-google"></a>
          </div>
        </div>
      </div>
      <div class="footer-subscribe">
        <div class="footer-email">
          <input type="email" class="footer-email__input" placeholder="Email">
          <button class="footer-email__btn">Енгізу</button>
        </div>
        <span class="footer-subscribe-text">Следите за обновлениями, обновлениями<br>
          и предложениями от kitap.kz</span>
      </div>
    </div>
    <div class="footer-bottom">
      <span class="footer-copy">© WikiBilim” қоғамдық қоры 2017</span>
      <div class="footer-social">
        <a href="#" class="footer-ico"><span class="footer-ico__img fa fa-vk"></span></a>
        <a href="#" class="footer-ico"><span class="footer-ico__img fa fa-facebook"></span></a>
        <a href="#" class="footer-ico"><span class="footer-ico__img fa fa-google-plus _small"></span></a>
        <a href="#" class="footer-ico"><span class="footer-ico__img fa fa-twitter"></span></a>
      </div>
    </div>
  </div>
</footer>
