<header id="top">
  <div class="header-top">
    <a href="index.html" class="header-logo">
      <img src="../images/logo.png" alt="" class="header-logo__img">
    </a>
    <div class="header-top__col">
      <form class="header-search __desktop">
        <input type="text" name="" value="" class="header-search__input" placeholder="Авторды немесе кітап атауын енгізіңіз">
        <button type="submit" class="header-search__ico fa fa-search"></button>
      </form>
      <a href="donate.html" class="header-help">
        <span class="header-help__text">Жобаны қолдау</span>
        <span class="header-help__ico">
          <span class="header-help__ico-img fa fa-skyatlas"></span>
        </span>
      </a>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container header-bottom__container">
      <a href="index.html" class="header-logo-mobile">
        <img src="images/logosmall.png" alt="" class="header-logo-mobile__img">
      </a>
      <nav class="header-nav" data-submenu="js-nav">
        <div class="header-nav__item __hidden">
          <form class="header-search">
            <input type="text" name="" value="" class="header-search__input" placeholder="Іздеу">
            <button type="submit" class="header-search__ico">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </div>
        <div class="header-nav__item __dropdown">
          <span  class="header-nav__item-link">
            <a  href="section.html" class="header-nav__item-text">Кітап</a>
            <span class="header-nav__item-ico">
              <span class="fa fa-book"></span>
            </span>
          </span>
          <div class="header-nav__dropdown">
            <a href="section.html" class="header-nav__dropdown-item">Научная литература</a>
            <a href="section2.html" class="header-nav__dropdown-item">Художественная литература</a>
          </div>
        </div>
        <a href="section2.html" class="header-nav__item">
          <span class="header-nav__item-text">Аудиокітап</span><span class="header-nav__item-ico">
            <span class="fa fa-headphones"></span>
          </span>
        </a>
        <a href="special.html" class="header-nav__item">
          <span class="header-nav__item-text">Арнайы жобалар</span><span class="header-nav__item-ico">
            <span class="fa fa-th-large"></span>
          </span>
        </a>
        <a href="allarticles.html" class="header-nav__item">
          <span class="header-nav__item-text">Мақалалар</span><span class="header-nav__item-ico">
            <span class="fa fa-image"></span>
          </span>
        </a>
        <a href="video.html" class="header-nav__item">
          <span class="header-nav__item-text">Видео</span><span class="header-nav__item-ico">
            <span class="fa fa-youtube-play"></span>
          </span>
        </a>
        <a href="audiolib.html" class="header-nav__item __active">
          <span class="header-nav__item-text">Музыка</span><span class="header-nav__item-ico">
            <span class="fa fa-music"></span>
          </span>
        </a>
        <a href="https://100kitap.kz/kz" class="header-nav__item">
          <span class="header-nav__item-text">100 кітап</span><span class="header-nav__item-ico">
            <span class="fa fa-book"></span>
          </span>
        </a>
        <a href="audiolib.html" class="header-nav__item __donate">
          <span class="header-nav__item-text">Жобаны қолдау</span><span class="header-nav__item-ico">
            <span class="fa fa-skyatlas"></span>
          </span>
        </a>
      </nav>
      <div class="header-loggedin">
        <div class="header-loggedin-top">
          <div class="header-loggedin-top__ico"><span class="fa fa-user"></span></div>
          <span class="header-loggedin-top__name">Anarahamza</span>
          <span class="fa fa-caret-down"></span>
        </div>
        <div class="header-loggedin__dropdown">
          <a href="profile.html" class="header-loggedin__item">
            <span class="header-loggedin__item-ico fa fa-street-view"></span>
            Жеке бет
          </a>
          <a href="mylibrary.html" class="header-loggedin__item">
            <span class="header-loggedin__item-ico fa fa-leanpub"></span>
            Менің кітапханам
          </a>
          <a href="myquote.html" class="header-loggedin__item">
            <span class="header-loggedin__item-ico fa fa-quote-right"></span>
            Цитаталарым
          </a>
          <a href="settinginner.html" class="header-loggedin__item">
            <span class="header-loggedin__item-ico fa fa-cog"></span>
            Настройки
          </a>
          <span class="header-loggedin__item">
            <span class="header-loggedin__item-ico fa fa-share-square-o"></span>
            Шығу
          </span>
        </div>
      </div>
      <div class="header-loggedin-mobile">
        <div class="header-loggedin-mobile-top" data-submenu-open="js-loged-nav">
          <span class="fa fa-user header-loggedin-mobile-top__ico"></span>
        </div>
        <div class="header-loggedin-mobile__dropdown" data-submenu="js-loged-nav">
          <div class="header-loggedin-mobile__item __header-loggedin-mobile-info">
            <div class="header-loggedin-mobile-info__ico"><span class="fa fa-user-o"></span></div>
            <div class="header-loggedin-mobile-info__desc">
              <span class="header-loggedin-mobile-info__name">Anarahamza</span>
              <a href="#" class="header-loggedin-mobile-info__link">anarahamza@gmail.com</a>
            </div>
          </div>
          <a href="profile.html" class="header-loggedin-mobile__item">
            <span class="header-loggedin-mobile__item-text">
              Жеке бет
            </span>
            <span class="header-loggedin-mobile__item-ico">
              <span class="fa fa-street-view"></span>
            </span>
          </a>
          <a href="mylibrary.html" class="header-loggedin-mobile__item __active">
            <span class="header-loggedin-mobile__item-text">
              Менің кітапханам
            </span>
            <span class="header-loggedin-mobile__item-ico">
              <span class="fa fa-leanpub"></span>
            </span>
          </a>
          <a href="myquote.html" class="header-loggedin-mobile__item">
            <span class="header-loggedin-mobile__item-text">
              Цитаталарым
            </span>
            <span class="header-loggedin-mobile__item-ico">
              <span class="fa fa-quote-right"></span>
            </span>
          </a>
          <a href="settinginner.html" class="header-loggedin-mobile__item">
            <span class="header-loggedin-mobile__item-text">
              Настройки
            </span>
            <span class="header-loggedin-mobile__item-ico">
              <span class="fa fa-cog"></span>
            </span>
          </a>
          <span class="header-loggedin-mobile__item">
            <span class="header-loggedin-mobile__item-text">
              Шығу
            </span>
            <span class="header-loggedin-mobile__item-ico">
              <span class="fa fa-share-square-o"></span>
            </span>
          </span>
        </div>
      </div>
      <span class="fa fa-bars header-burger" data-submenu-open="js-nav"></span>
      <!-- <button class="header-enter js-enter"><span class="header-enter__ico fa fa-user"></span>Кіру</button> -->
    </div>
  </div>
</header>
