<head>
  <meta charset="UTF-8">
  <title>Кітап</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta property="og:image" content="" />
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:type" content="article">
  <meta property="twitter:image:src" content="images/social-share.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <script src="https://use.fontawesome.com/388ada2422.js"></script> -->
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/modal.css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/manifest.json">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>
