<div class="modal js-modal-container js-imgmodal">
  <div class="modal-inner js-imgmodal-inner">
    <div class="modal-img">
        <img src="images/article.png" alt="">
    </div>
    <span class="fa fa-times imgmodal-close js-imgmodal-close"></span>
  </div>
</div>
