<section class="library">
  <h3 class="library-title">
    <span class="library-title__ico fa fa-user"></span>Менің кітапханам
  </h3>
  <div class="library-block">
    <div class="library-top">
      <div class="library-user">
        <img src="../images/user.png" alt="" class="library-user__img">
        <div class="library-user__text">
          <span class="library-user__text-name">Дима Грего</span>
          <span class="library-user__text-email">dimagrego@gmail.com</span>
        </div>
      </div>
      <a href="" class="library-top__btn">
        <span class="library-top__btn-text">Жеке бет</span>
        <span class="library-top__btn-ico">
          <span class="library-top__ico-img fa fa-user"></span>
        </span>
      </a>
    </div>
    <div class="library-slider">
      <div class="library-carousel owl-carousel owl-theme">
        <div class="item">
            <div class="library-item">
              <div class="library-book">
                <img src="../images/b1.png" alt="" class="library-book__img">
                <div class="library-book__text">
                  <a href="#" class="library-book__text-btn">Тыңдау</a>
                </div>
              </div>
              <div class="library-info">
                <span class="library-info__author">Кайрат Исмаилов</span>
                <span class="library-info__name">Кайрат Исмаилов</span>
                <div class="library-info__rating">
                  <span class="library-ingo__rating-text">Қанша оқылды?</span>
                  <div class="library-rating">
                    <span class="library-rating__text">67%</span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="item">
          <div class="library-item">
            <div class="library-book">
              <img src="../images/b2.png" alt="" class="library-book__img">
              <div class="library-book__text">
                <a href="#" class="library-book__text-btn">Тыңдау</a>
              </div>
            </div>
            <div class="library-info">
              <span class="library-info__author">Кайрат Исмаилов</span>
              <span class="library-info__name">Кайрат Исмаилов</span>
              <div class="library-info__rating">
                <span class="library-ingo__rating-text">Қанша оқылды?</span>
                <div class="library-rating _empty">
                  <span class="library-rating__text">0%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="library-shelf__item item">
          <div class="library-item">
            <div class="library-book">
              <img src="../images/b2.png" alt="" class="library-book__img">
              <div class="library-book__text">
                <a href="#" class="library-book__text-btn">Тыңдау</a>
              </div>
            </div>
            <div class="library-info">
              <span class="library-info__author">Кайрат Исмаилов</span>
              <span class="library-info__name">Кайрат Исмаилов</span>
              <div class="library-info__rating">
                <span class="library-ingo__rating-text">Қанша оқылды?</span>
                <div class="library-rating _empty">
                  <span class="library-rating__text">0%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="library-shelf__item item">
          <div class="library-item">
            <div class="library-book">
              <img src="../images/b2.png" alt="" class="library-book__img">
              <div class="library-book__text">
                <a href="#" class="library-book__text-btn">Тыңдау</a>
              </div>
            </div>
            <div class="library-info">
              <span class="library-info__author">Кайрат Исмаилов</span>
              <span class="library-info__name">Кайрат Исмаилов</span>
              <div class="library-info__rating">
                <span class="library-ingo__rating-text">Қанша оқылды?</span>
                <div class="library-rating _empty">
                  <span class="library-rating__text">0%</span>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
