<div class="location" id="link-5">
  <div class="location-info">
    <div class="location-info-top">
      <h3 class="location-info-title">Главное отличие нашего пива от другого (если ты еще не заметил) - это честность</h3>
      <span class="location-info-text">Пиво НОЛЬ ПЯТЬ не просит тебя открывать новые миры или идти взрывать танцпол. Ведь после трудного рабочего дня хочется просто посидеть с бутылочкой холодного пива и отдохнуть в тишине своего дома. Пиво НОЛЬ ПЯТЬ даже специально разливается в прозрачные бутылки, чтобы не мешать тебе смотреть телевизор, например.
  </span>
    </div>
    <span class="location-info-slider">
      <span class="location-info-slider__text">А если ты увидишь в магазинах вот такие ультра-модные синие аксессуары - смело требуй у продавца пиво НОЛЬ ПЯТЬ. Мы это сделали специально, чтобы облегчить твой выбор.</span>
    <img src="../images/arrowslider.png" alt="" class="location-info-slider__img wow bounceInDown">
    </span>
  </div>
  <div class="location-map">
    <span class="location-map-text">Пиво НОЛЬ ПЯТЬ уже в магазинах<br> Павлодара, Астаны и Алматы.</span>
  </div>
  <span class="location-info-slider _mobile">
    <span class="location-info-slider__text">А если ты увидишь в магазинах вот такие ультра-модные синие аксессуары - смело требуй у продавца пиво НОЛЬ ПЯТЬ. Мы это сделали специально, чтобы облегчить твой выбор.</span>
  </span>
</div>
<div class="аccessories owl-carousel owl-theme" id="link-6">
  <div class="item">
    <img src="../images/img1.png" alt="" class="аccessories-item">
  </div>
  <div class="item"><img src="../images/img2.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img3.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img4.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img5.png" alt="" class="аccessories-item"></div>
  <div class="item">
    <img src="../images/img1.png" alt="" class="аccessories-item">
  </div>
  <div class="item"><img src="../images/img2.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img3.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img4.png" alt="" class="аccessories-item"></div>
  <div class="item"><img src="../images/img5.png" alt="" class="аccessories-item"></div>
</div>
