<div class="modal js-modal-container js-reg">
  <div class="modal-inner js-reg-inner">
    <div class="reg">
      <div class="reg-inner">
        <div class="reg-top">
          <ul class="tabs reg-top__tabs">
            <li class="tab-link current reg-top__tabs-item" data-tab="tab-1">Кіру</li>
            <li class="tab-link reg-top__tabs-item" data-tab="tab-2">Тіркелу</li>
          </ul>
        </div>
        <div id="tab-1" class="tab-content reg-content current">
          <form action="" class="modal-form login js-reg-form">
            <div class="modal-row __error" title="Поле 'E-mail адрес' обязательно для заполнения.">
              <input type="email" class="modal-input" placeholder="Электронды пошта адресі">
              <span class="fa fa-user modal-ico"></span>
            </div>
            <div class="modal-row">
              <input type="password" class="modal-input" placeholder="Құпиясөз">
              <span class="fa fa-lock modal-ico"></span>
            </div>
            <div class="modal-info">
              <div class="modal-agree">
                <input type="checkbox" value="Есте сақтау" id="remember" class="modal-agree__input">
                <label for="remember" class="modal-agree__label">Есте сақтау</label>
              </div>
              <a href="#" class="modal-info__text">Құпия сөзді ұмыттым</a>
            </div>
            <button class="moda-btn __blue">Кіру</button>
            <button class="moda-btn __pink">Вход с телефона</button>
            <span class="modal-text">Соц желілері арқылы кіру</span>
            <div class="modal-social">
              <a href="" class="modal-social__item ico icons-modal-fb"><span class="typcn typcn-social-facebook"></span></a>
              <a href="" class="modal-social__item ico icons-modal-gplus"><span class="fa fa-google-plus"></span></a>
              <a href="" class="modal-social__item ico icons-modal-vk"><span class="fa fa-vk"></span></a>
            </div>
          </form>
          <form action="" class="modal-form login __hidden js-pass">
            <h3 class="modal-title">Кіру</h3>
            <div class="modal-row">
              <input type="email" class="modal-input" placeholder="Электронды пошта адресі">
              <span class="fa fa-user modal-ico"></span>
            </div>
            <button class="moda-btn __green">Құпиясөзді қалпына келтіру</button>
            <button class="moda-btn __pink js-back">Артқа</button>
            <span class="modal-text __left-text">Аккаунтыңызда көрсетілген электронды пошта адресін енгізіңіз. Осы поштаға арнайы тексеру коды жіберіледі. Сол кодты алғаннан кейін сіз жаңа құпиясөз көрсете аласыз.</span>
          </form>
        </div>
        <div id="tab-2" class="tab-content reg-content">
          <form action="" class="modal-form login">
            <!--<h3 class="modal-title">Тіркелу</h3>-->
            <div class="modal-row">
              <input type="email" class="modal-input" placeholder="Электронды пошта адресі">
              <span class="fa fa-user modal-ico"></span>
            </div>
            <div class="modal-row">
              <input type="password" class="modal-input" placeholder="Құпиясөз">
              <span class="fa fa-lock modal-ico"></span>
            </div>
            <div class="modal-row">
              <input type="password" class="modal-input" placeholder="Құпиясөзді растау">
              <span class="fa fa-lock modal-ico"></span>
            </div>
            <button class="moda-btn __green">Тіркелу</button>
            <!--<button class="moda-btn __pink __single">Вход с телефона</button>-->
            <button class="moda-btn __pink">Вход с телефона</button>
            <span class="modal-text">Соц желілері арқылы кіру</span>
            <div class="modal-social">
              <a href="" class="modal-social__item ico icons-modal-fb"><span class="typcn typcn-social-facebook"></span></a>
              <a href="" class="modal-social__item ico icons-modal-gplus"><span class="fa fa-google-plus"></span></a>
              <a href="" class="modal-social__item ico icons-modal-vk"><span class="fa fa-vk"></span></a>
            </div>
          </form>
        </div>
        <!-- container -->
      </div>
    </div>
  </div>
</div>
