<section class="mylibrary">
  <h3 class="mylibrary-title">Менің кітапханам</h3>
  <div class="mylibrary-top">
    <ul class="tabs mylibrary-top__list">
      <li class="tab-link mylibrary-top__item current" data-tab="lib-1">
        <span class="mylibrary-top__item-info"><span class="fa fa-headphones mylibrary-top__info-ico" aria-hidden="true"></span>200</span>
        <span class="mylibrary-top__item-desc">Аудиокітап</span>
      </li>
      <li class="tab-link mylibrary-top__item" data-tab="lib-2">
        <span class="mylibrary-top__item-info"><span class="fa fa-book mylibrary-top__info-ico" aria-hidden="true"></span>390</span>
        <span class="mylibrary-top__item-desc">Kітап</span>
      </li>
      <li class="tab-link mylibrary-top__item" data-tab="lib-3">
        <span class="mylibrary-top__item-info"><span class="fa fa-music mylibrary-top__info-ico" aria-hidden="true"></span>30</span>
        <span class="mylibrary-top__item-desc">Музыка</span>
      </li>
      <li class="tab-link mylibrary-top__item" data-tab="lib-4">
        <span class="mylibrary-top__item-info"><span class="fa fa-youtube-play mylibrary-top__info-ico" aria-hidden="true"></span>30</span>
        <span class="mylibrary-top__item-desc">Видео</span>
      </li>
    </ul>
  </div>
  <div id="lib-1" class="tab-content mylibrary-content current">
    <div class="mylibrary-row __audiobook">
      <div class="mylibrary-item__close">
        <span class="fa fa-times js-mylibrary-close"></span>
        <div class="mylibrary-alert js-mylibrary-alert">
          <span class="mylibrary-alert-text">
            Вы уверены что хотите удалить эту запись?
          </span>
          <div class="mylibrary-alert-options">
            <button type="button" name="button" class="mylibrary-alert-options__btn __active">Да</button>
            <button type="button" name="button" class="mylibrary-alert-options__btn js-mylibrary-alert-close">Отмена</button>
          </div>
        </div>
      </div>
      <div class="mybook">
        <div class="mybook-col__left">
          <div class="mybook-item">
            <img src="../images/b1.png" alt="" class="mybook-item__img">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Кайрат Исмаилов</span>
              <span class="mybook-info__name">Кайрат Исмаилов</span>
            </div>
            <!-- <div class="mybook-info__rating">
              <span class="mybook-info__rating-text">Қанша оқылды?</span>
              <div class="mybook-rating">
                <span class="mybook-rating__text">67%</span>
              </div>
            </div> -->
          </div>
        </div>
        <div class="mybook-col__right">
          <div class="mybook-actions">
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
          </div>
          <!-- <span class="mybook-warning">
            До окончания срока чтения осталось:<span class="mybook-warning__date">100 дней</span>
          </span> -->
        </div>
      </div>
      <div class="mybook-records">
        <audio id="Player"></audio>
        <div class="Player audio-player" data-player-name="Test">
          <div class="player-block">
        		<div class="player-block__control-wrapper">
        			<div class="player__buttons-panel">
        				<div class="player-block__prev" data-player-control="prev"></div>
        				<div class="player-block__play" data-player-control="play"></div>
        				<div class="player-block__next" data-player-control="next"></div>
        			</div>
        		</div>
        		<div class="player-block__time-wrapper">
        			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
        	    <div class="player-block__tracker" data-player-scale="scale-time">
        	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
        	      <div class="time-scale__progress" data-player-scale="progress"></div>
        	    </div>
        			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
        		</div>
            <div class="player__volume-panel">
              <div class="player__volume" data-player-control="volume"></div>
              <div class="player__volume-scale-wrapper">
                <div class="player__volume-scale" data-player-scale="scale-volume">
                  <div class="volume-scale__progress" data-player-scale="volume"></div>
                </div>
              </div>
            </div>
          </div>
        	<ul class="player-block__playlist" data-player-playlist="Test">
        		<li data-player-src="/music/up.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/master_of_the_wind.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        	</ul>
        </div>
      </div>
    </div>
    <div class="mylibrary-row __no-item __active">
      <img src="images/box.png" class="mylibrary-no-item__img">
      <span class="mylibrary-no-item__text">Кітапханаңыз бос</span>
      <a href="#" class="mylibraty-no-tem__link">Кітапхан каталогы</a>
    </div>
    <!-- audiobook1 -->
     <div class="mylibrary-row __audiobook">
      <div class="mybook">
        <div class="mybook-col__left">
          <div class="mybook-item">
            <img src="../images/b1.png" alt="" class="mybook-item__img">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Кайрат Исмаилов</span>
              <span class="mybook-info__name">Кайрат Исмаилов</span>
            </div>
            <!-- <div class="mybook-info__rating">
              <span class="mybook-info__rating-text">Қанша оқылды?</span>
              <div class="mybook-rating">
                <span class="mybook-rating__text">67%</span>
              </div>
            </div> -->
          </div>
        </div>
        <div class="mybook-col__right">
          <div class="mybook-actions">
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
          </div>
          <!-- <span class="mybook-warning">
            До окончания срока чтения осталось:<span class="mybook-warning__date">100 дней</span>
          </span> -->
        </div>
      </div>
      <div class="mybook-records">
        <audio id="Player"></audio>
        <div class="Player audio-player" data-player-name="Test">
          <div class="player-block">
        		<div class="player-block__control-wrapper">
        			<div class="player__buttons-panel">
        				<div class="player-block__prev" data-player-control="prev"></div>
        				<div class="player-block__play" data-player-control="play"></div>
        				<div class="player-block__next" data-player-control="next"></div>
        			</div>
        		</div>
        		<div class="player-block__time-wrapper">
        			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
        	    <div class="player-block__tracker" data-player-scale="scale-time">
        	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
        	      <div class="time-scale__progress" data-player-scale="progress"></div>
        	    </div>
        			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
        		</div>
            <div class="player__volume-panel">
              <div class="player__volume" data-player-control="volume"></div>
              <div class="player__volume-scale-wrapper">
                <div class="player__volume-scale" data-player-scale="scale-volume">
                  <div class="volume-scale__progress" data-player-scale="volume"></div>
                </div>
              </div>
            </div>
          </div>
        	<ul class="player-block__playlist" data-player-playlist="Test">
        		<li data-player-src="/music/up.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/master_of_the_wind.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        	</ul>
        </div>
      </div>
    </div>
    <!-- audiobook2    -->
  </div>
  <div id="lib-2" class="tab-content mylibrary-content">
    <div class="mylibrary-row __book">
      <div class="mybook">
        <div class="mybook-col__left">
          <div class="mybook-item">
            <img src="../images/b1.png" alt="" class="mybook-item__img">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Кайрат Исмаилов</span>
              <span class="mybook-info__name">Кайрат Исмаилов</span>
            </div>
            <div class="mybook-info__bottom">
              <!-- <div class="mybook-info__rating __book">
                <span class="mybook-info__rating-text">Қанша оқылды?</span>
                <div class="mybook-rating">
                  <span class="mybook-rating__text">67%</span>
                </div>
              </div> -->
              <div class="mybook-actions __book">
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mybook-col__right __tags">
          <!-- <div class="mybook-tags">
            <span class="mybook-tags__item">сатира</span>
            <span class="mybook-tags__item">ғұмырнамалық</span>
            <span class="mybook-tags__item">әлеуметтік саяси</span>
          </div>
          <span class="mybook-warning">
            До окончания срока чтения осталось:<span class="mybook-warning__date">100 дней</span>
          </span> -->
        </div>
      </div>
    </div>
    <!-- book1 -->
    <div class="mylibrary-row __book">
      <div class="mybook">
        <div class="mybook-col__left">
          <div class="mybook-item">
            <img src="../images/b1.png" alt="" class="mybook-item__img">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Кайрат Исмаилов</span>
              <span class="mybook-info__name">Кайрат Исмаилов</span>
            </div>
            <div class="mybook-info__bottom">
              <!-- <div class="mybook-info__rating __book">
                <span class="mybook-info__rating-text">Қанша оқылды?</span>
                <div class="mybook-rating">
                  <span class="mybook-rating__text">67%</span>
                </div>
              </div> -->
              <div class="mybook-actions __book">
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
                <div class="mybook-actions__item">
                  <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="mybook-actions__item-text">20</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mybook-col__right __tags">
          <!-- <div class="mybook-tags">
            <span class="mybook-tags__item">сатира</span>
            <span class="mybook-tags__item">ғұмырнамалық</span>
            <span class="mybook-tags__item">әлеуметтік саяси</span>
          </div> -->
          <!-- <span class="mybook-warning">
            До окончания срока чтения осталось:<span class="mybook-warning__date">100 дней</span>
          </span> -->
        </div>
      </div>
    </div>
    <!-- book2 -->
  </div>
  <div id="lib-3" class="tab-content mylibrary-content">
    <div class="mylibrary-row __audiobook">
      <div class="mybook __music">
        <div class="mybook-col">
          <div class="mybook-item">
            <img src="../images/m1.png" alt="" class="mybook-item__img __music">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Kathian Brands</span>
              <span class="mybook-info__name">Dutch</span>
            </div>
          </div>
        </div>
        <div class="mybook-col">
          <div class="mybook-actions __book">
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mybook-records">
        <audio id="Player"></audio>
        <div class="Player audio-player" data-player-name="Test">
          <div class="player-block">
        		<div class="player-block__control-wrapper">
        			<div class="player__buttons-panel">
        				<div class="player-block__prev" data-player-control="prev"></div>
        				<div class="player-block__play" data-player-control="play"></div>
        				<div class="player-block__next" data-player-control="next"></div>
        			</div>
        		</div>
        		<div class="player-block__time-wrapper">
        			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
        	    <div class="player-block__tracker" data-player-scale="scale-time">
        	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
        	      <div class="time-scale__progress" data-player-scale="progress"></div>
        	    </div>
        			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
        		</div>
            <div class="player__volume-panel">
              <div class="player__volume" data-player-control="volume"></div>
              <div class="player__volume-scale-wrapper">
                <div class="player__volume-scale" data-player-scale="scale-volume">
                  <div class="volume-scale__progress" data-player-scale="volume"></div>
                </div>
              </div>
            </div>
          </div>
        	<ul class="player-block__playlist" data-player-playlist="Test">
        		<li data-player-src="/music/up.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/master_of_the_wind.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        	</ul>
        </div>
      </div>
    </div>
    <!-- music1 -->
    <div class="mylibrary-row __audiobook">
      <div class="mybook __music">
        <div class="mybook-col">
          <div class="mybook-item">
            <img src="../images/m1.png" alt="" class="mybook-item__img __music">
          </div>
          <div class="mybook-info">
            <div class="mybook-info__top">
              <span class="mybook-info__author">Kathian Brands</span>
              <span class="mybook-info__name">Dutch</span>
            </div>
          </div>
        </div>
        <div class="mybook-col">
          <div class="mybook-actions __book">
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-heart" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-plus-square" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
            <div class="mybook-actions__item">
              <span class="mybook-actions__item-ico fa fa-commenting" aria-hidden="true"></span>
              <span class="mybook-actions__item-text">20</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mybook-records">
        <audio id="Player"></audio>
        <div class="Player audio-player" data-player-name="Test">
          <div class="player-block">
        		<div class="player-block__control-wrapper">
        			<div class="player__buttons-panel">
        				<div class="player-block__prev" data-player-control="prev"></div>
        				<div class="player-block__play" data-player-control="play"></div>
        				<div class="player-block__next" data-player-control="next"></div>
        			</div>
        		</div>
        		<div class="player-block__time-wrapper">
        			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
        	    <div class="player-block__tracker" data-player-scale="scale-time">
        	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
        	      <div class="time-scale__progress" data-player-scale="progress"></div>
        	    </div>
        			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
        		</div>
            <div class="player__volume-panel">
              <div class="player__volume" data-player-control="volume"></div>
              <div class="player__volume-scale-wrapper">
                <div class="player__volume-scale" data-player-scale="scale-volume">
                  <div class="volume-scale__progress" data-player-scale="volume"></div>
                </div>
              </div>
            </div>
          </div>
        	<ul class="player-block__playlist" data-player-playlist="Test">
        		<li data-player-src="/music/up.mp3">
        			<div class="player-block__playlist__text">
                <span class="player-block__playlist__number">1.</span>
                <span class="player-block__playlist__author">Б. Соқпақбаев</span>
                <span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        		<li data-player-src="/music/master_of_the_wind.mp3">
        			<div class="player-block__playlist__text">
        				<span class="player-block__playlist__number">1.</span>
        				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
        				<span class="player-block__playlist__name">Менің атым қожа</span>
        			</div>
        			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
        		</li>
        	</ul>
      </div>
    </div>
    <!-- music2 -->
  </div>
</div>
  <div id="lib-4" class="tab-content mylibrary-content">
    <div class="mylibrary-video">
      <div class="mylibrary-row __margin">
        <div class="mylibrary-col">
          <div class="mylibrary-item">
            <div style="background-image:url('images/v1.png');" class="mylibrary-item__img">
              <div class="mylibrary-item__action">
                <span class="mylibrary-item__action-ico"></span>
                <div class="mylibrary-item__options">
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-heart" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-plus-square" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-comment" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                </div>
              </div>
            </div>
            <span class="mylibrary-item-info">
              "МОДЕРНИЗАЦИЯ 3.0: РУХАНИ ЖАҢҒЫРУ" ХАЛЫҚАРАЛЫҚ ҒЫЛЫМИ-ПРАКТИКАЛЫҚ КОНФЕРЕНЦИЯСЫ. Пленарлық сессия
            </span>
              <div class="mylibrary-item__close __video">
                <span class="fa fa-times js-mylibrary-close"></span>
                <div class="mylibrary-alert js-mylibrary-alert">
                  <span class="mylibrary-alert-text">
                    Вы уверены что хотите удалить эту запись?
                  </span>
                  <div class="mylibrary-alert-options">
                    <button type="button" name="button" class="mylibrary-alert-options__btn __active">Да</button>
                    <button type="button" name="button" class="mylibrary-alert-options__btn js-mylibrary-alert-close">Отмена</button>
                  </div>
                </div>
              </div>
          </div>
          <!-- item 2 -->
        </div>
        <div class="mylibrary-col">
          <div class="mylibrary-item">
            <div style="background-image:url('images/video2.png');" class="mylibrary-item__img">
              <div class="mylibrary-item__action">
                <span class="mylibrary-item__action-ico"></span>
                <div class="mylibrary-item__options">
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-heart" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-plus-square" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-comment" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                </div>
              </div>
            </div>
            <span class="mylibrary-item-info">
              "МОДЕРНИЗАЦИЯ 3.0: РУХАНИ ЖАҢҒЫРУ"
            </span>
          </div>
          <!-- item 2 -->
        </div>
        <div class="mylibrary-col">
          <div class="mylibrary-item">
            <div style="background-image:url('images/v1.png');" class="mylibrary-item__img">
              <div class="mylibrary-item__action">
                <span class="mylibrary-item__action-ico"></span>
                <div class="mylibrary-item__options">
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-heart" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-plus-square" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                  <div class="mylibrary__options-item">
                    <span class="mylibrary__options-item__ico fa fa-comment" aria-hidden="true"></span>
                    <span class="mylibrary__options-item__text">20</span>
                  </div>
                </div>
              </div>
            </div>
            <span class="mylibrary-item-info">
              "МОДЕРНИЗАЦИЯ 3.0: РУХАНИ ЖАҢҒЫРУ" Пленарлық сессия
            </span>
          </div>
          <!-- item 2 -->
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
</section>
