<section class="myquote">
  <h3 class="myquote-title">Цитата</h3>
  <div class="myquote-row">
    <div class="myquote-item">
      <div class="myquote-item__top">
          <img src="images/b2.png" alt="" class="myquote-item__img">
          <div class="myquote-info">
            <div class="myquote-info-top">
              <span class="myquote-info__author">Наталия Борисова Осьминина</span>
              <span class="myquote-info__name">
                Воскресение лица, или Обыкновенное чудо. Теория и практика восстановления молодости
              </span>
            </div>
            <div class="myquote-share">
              <span class="myquote-share__item"><span class="fa fa-thumbs-up myquote-share__item-ico"></span>2  Нравится</span>
              <span class="myquote-share__item"><span class="fa fa-retweet myquote-share__item-ico"></span>Бөлісу</span>
            </div>
          </div>
      </div>
      <div class="myquote-item__text">
        <span class="fa fa-quote-left myquote-item__img-ico"></span>
          В это утро я слишком запоздала, — рассказывала мне на днях одна дама, — и вышла из дому почти уже в полдень, а у меня, как нарочно, скопилось много дела. Как раз в Николаевской улице надо было, зайти в два места, одно от другого недалеко. Во-первых, в контору, и у самых ворот дома встречаю эту самую старушку, и такая она мне показалась старенькая, согнутая, с палочкой, только все же я не угадала ее лет; дошла она до ворот и тут в уголку у ворот присела на дворницкую скамеечку отдохнуть. Впрочем, я прошла мимо, а она мне только так мелькнула.
      </div>
      <div class="myquote-item__close">
        <span class="fa fa-times js-myquote-close"></span>
        <div class="myquote-alert js-myquote-alert">
          <span class="myquote-alert-text">
            Вы уверены что хотите удалить эту запись?
          </span>
          <div class="myquote-alert-options">
            <button type="button" name="button" class="myquote-alert-options__btn __active">Да</button>
            <button type="button" name="button" class="myquote-alert-options__btn js-myquote-alert-close">Отмена</button>
          </div>
        </div>
      </div>
    </div>
    <!-- quote -->
    <div class="myquote-item">
      <div class="myquote-item__top">
          <img src="images/b2.png" alt="" class="myquote-item__img">
          <div class="myquote-info">
            <div class="myquote-info-top">
              <span class="myquote-info__author">Наталия Борисова Осьминина</span>
              <span class="myquote-info__name">
                Воскресение лица, или Обыкновенное чудо. Теория и практика восстановления молодости
              </span>
            </div>
            <div class="myquote-share">
              <span class="myquote-share__item"><span class="fa fa-thumbs-up myquote-share__item-ico"></span>2  Нравится</span>
              <span class="myquote-share__item"><span class="fa fa-retweet myquote-share__item-ico"></span>Бөлісу</span>
            </div>
          </div>
      </div>
      <div class="myquote-item__text">
        <span class="fa fa-quote-left myquote-item__img-ico"></span>
          В это утро я слишком запоздала, — рассказывала мне на днях одна дама, — и вышла из дому почти уже в полдень, а у меня, как нарочно, скопилось много дела. Как раз в Николаевской улице надо было, зайти в два места, одно от другого недалеко. Во-первых, в контору, и у самых ворот дома встречаю эту самую старушку, и такая она мне показалась старенькая, согнутая, с палочкой, только все же я не угадала ее лет; дошла она до ворот и тут в уголку у ворот присела на дворницкую скамеечку отдохнуть. Впрочем, я прошла мимо, а она мне только так мелькнула.
      </div>
      <div class="myquote-item__close">
        <span class="fa fa-times js-myquote-close"></span>
        <div class="myquote-alert js-myquote-alert">
          <span class="myquote-alert-text">
            Вы уверены что хотите удалить эту запись?
          </span>
          <div class="myquote-alert-options">
            <button type="button" name="button" class="myquote-alert-options__btn __active">Да</button>
            <button type="button" name="button" class="myquote-alert-options__btn js-myquote-alert-close">Отмена</button>
          </div>
        </div>
      </div>
    </div>
    <!-- quote -->
  </div>
</section>
