<section class="new">
  <h3 class="new-title">
    <span class="new-title__ico fa fa-thumb-tack"></span>Жаңа кітаптар
  </h3>
  <div class="new-row">
    <a href="#" class="new-item __hover-item">
      <div class="new-item__img __relative" style="background-image:url('images/s1.png')">
        <div class="hover-img__text">
          <span class="hover-img__text-btn">Өту
          </span>
        </div>
      </div>
      <span class="new-item__title">Биография</span>
      <span class="new-item__text">Кайрат Исмаилов</span>
    </a>
    <div class="new-item">
      <div class="new-item__img" style="background-image:url('images/s2.jpg')"></div>
      <span class="new-item__title">Биография</span>
      <span class="new-item__text">Кайрат Исмаилов</span>
    </div>
    <div class="new-item">
      <div class="new-item__img" style="background-image:url('images/s3.png')"></div>
      <span class="new-item__title">Биография</span>
      <span class="new-item__text">Кайрат Исмаилов</span>
    </div>
    <div class="new-item">
      <div class="new-item__img" style="background-image:url('images/s4.png')"></div>
      <span class="new-item__title">Биография</span>
      <span class="new-item__text">Кайрат Исмаилов</span>
    </div>
  </div>
  <div class="new-row __mobile js-new-slider owl-carousel owl-theme">
    <div class="item">
      <div class="new-item">
        <div class="new-item__img" style="background-image:url('images/s1.png')"></div>
        <span class="new-item__title">Биография</span>
        <span class="new-item__text">Кайрат Исмаилов</span>
      </div>
    </div>
    <div class="item">
      <div class="new-item">
        <div class="new-item__img" style="background-image:url('images/s1.png')"></div>
        <span class="new-item__title">Биография</span>
        <span class="new-item__text">Кайрат Исмаилов</span>
      </div>
    </div>
    <div class="item">
      <div class="new-item">
        <div class="new-item__img" style="background-image:url('images/s3.png')"></div>
        <span class="new-item__title">Биография</span>
        <span class="new-item__text">Кайрат Исмаилов</span>
      </div>
    </div>
    <div class="item">
      <div class="new-item">
        <div class="new-item__img" style="background-image:url('images/s4.png')"></div>
        <span class="new-item__title">Биография</span>
        <span class="new-item__text">Кайрат Исмаилов</span>
      </div>
    </div>
  </div>
</section>
