<section class="offers">
  <h3 class="offers-title">
    <span class="offers-title__ico fa fa-thumbs-o-up"></span>Біздің ұсыныстар
  </h3>
  <div class="offers-block">
    <div class="offers-slider">
      <div class="offers-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="offers-item">
            <div class="offers-social">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
            <div class="offers-item-top">
              <div class="offers-book">
                <span class="offers-info__author __mobile">Kathian Brands</span>
                <span class="offers-info__name __mobile">Dutch</span>
                <img src="../images/b3.png" alt="" class="offers-book__img">
                <span class="offers-book__text">Рейтинг 4.2/10</span>
                <div class="offers-book__rating">
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star"></span>
                </div>
              </div>
              <div class="offers-info">
                <span class="offers-info__author">Kathian Brands</span>
                <span class="offers-info__name">Dutch</span>
                <div class="offers-info__desc">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></div>
              </div>
            </div>
            <div class="offers-item__options">
              <button class="offers-options__btn">
                <span class="offers-options__btn-text">
                  Аудио тыңдау
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-headphones"></span>
                </span>
              </button>
              <button class="offers-options__btn __blue">
                <span class="offers-options__btn-text">
                  Оқу
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-plus"></span>
                </span>
              </button>
            </div>
            <div class="offers-social __mobile">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="offers-item">
            <div class="offers-social">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
            <div class="offers-item-top">
              <div class="offers-book">
                <span class="offers-info__author __mobile">Kathian Brands</span>
                <span class="offers-info__name __mobile">Dutch</span>
                <img src="../images/b1.png" alt="" class="offers-book__img">
                <span class="offers-book__text">Рейтинг 4.2/10</span>
                <div class="offers-book__rating">
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star"></span>
                </div>
              </div>
              <div class="offers-info">
                <span class="offers-info__author">Kathian Brands</span>
                <span class="offers-info__name">Dutch</span>
                <div class="offers-info__desc">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  </p></div>
              </div>
            </div>
            <div class="offers-item__options">
              <button class="offers-options__btn">
                <span class="offers-options__btn-text">
                  Аудио тыңдау
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-headphones"></span>
                </span>
              </button>
              <button class="offers-options__btn __blue">
                <span class="offers-options__btn-text">
                  Оқу
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-plus"></span>
                </span>
              </button>
            </div>
            <div class="offers-social __mobile">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="offers-item">
            <div class="offers-social">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
            <div class="offers-item-top">
              <div class="offers-book">
                <span class="offers-info__author __mobile">Kathian Brands</span>
                <span class="offers-info__name __mobile">Dutch</span>
                <img src="../images/b2.png" alt="" class="offers-book__img">
                <div class="offers-book__rating">
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star _active"></span>
                  <span class="offers-book__rating-ico fa fa-star"></span>
                </div>
              </div>
              <div class="offers-info">
                <span class="offers-info__author">Kathian Brands</span>
                <span class="offers-info__name">Dutch</span>
                <div class="offers-info__desc">
                  <p>Данная книга является итогом многолетней научно-исследовательской и практической деятельности автора в теоретическом и методологическом обосновании развития кооперации сельскохозяйственного производства в условиях складывающихся рыночных отношений и формирования многоукладной экономики Казахстана.
                  Данная книга является итогом многолетней научно-исследовательской и практической деятельности автора в теоретическом и методологическом обосновании развития кооперации сельскохозяйственного производства в условиях складывающихся рыночных отношений и формирования многоукладной экономики Казахстана.</p>
                <p>Данная книга является итогом многолетней научно-исследовательской и практической деятельности автора в теоретическом и методологическом обосновании развития кооперации сельскохозяйственного производства в условиях складывающихся рыночных отношений и формирования многоукладной экономики Казахстана.</p></div>
              </div>
            </div>
            <div class="offers-item__options">
              <button class="offers-options__btn">
                <span class="offers-options__btn-text">
                  Аудио тыңдау
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-headphones"></span>
                </span>
              </button>
              <button class="offers-options__btn __blue">
                <span class="offers-options__btn-text">
                  Оқу
                </span>
                <span class="offers-options__btn-ico">
                  <span class="offers-options-ico__img fa fa-plus"></span>
                </span>
              </button>
            </div>
            <div class="offers-social __mobile">
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-vk"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-facebook"></span>
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-google-plus _small">
              </a>
              <a href="#" class="offers-social__ico">
                <span class="offers-social-ico__img fa fa-twitter"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
