<div class="pagination">
  <a href="#" class="pagination-item">1</a>
  <a href="#" class="pagination-item __active">2</a>
  <a href="#" class="pagination-item">...</a>
  <a href="#" class="pagination-item">4</a>
  <a href="#" class="pagination-item">5</a>
</div>
