<section class="partnersinner">
  <div class="partnersinner-row">
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
    <a href="bookitem.html" class="partnersinner-item">
      <div class="partnersinner-item__img"></div>
      <span class="partnersinner-item__title">Биография</span>
      <span class="partnersinner-item__text">Кайрат Исмаилов</span>
    </a>
  </div>
</section>
