<section class="partners">
  <div class="container">
    <div class="partners-row">
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p1.jpg" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">М. Әуезов атындағы<br>Әдебиет және Өнер<br>институты</span>
          <a href="#" class="partners-info__link">Ұсынған кітаптар</a>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p2.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">"Kcell"<br>компаниясы</span>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p3.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">"Шеврон" <br>компаниясы</span>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p4.jpg" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">М.Әуезов қоры</span>
          <a href="#" class="partners-info__link">Ұсынған кітаптар</a>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p5.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">А.Байтұрсынұлы<br>атындағы Тіл білімі<br>институты</span>
          <a href="#" class="partners-info__link">Ұсынған кітаптар</a>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p6.jpg" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">Қазақстан<br>Республикасының<br>Ұлттық Мемлекеттік<br>кітап палатасы</span>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p9.jpg" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">Қазақстан Республикасы<br>Мәдениет және спорт<br>министрлігінің Тілдерді<br>дамыту және қоғамдық-саяси<br>жұмыс комитеті</span>
          <a href="#" class="partners-info__link">Ұсынған кітаптар</a>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p11.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">Қазақстанның<br>Интернет<br>Ассоциациясы</span>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p10.jpg" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">Алматы қаласы<br>тілдерді дамыту және<br>мұрағат ісі<br> жөніндегі басқарма</span>
          <a href="#" class="partners-info__link">Ұсынған кітаптар</a>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p8.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">"Алтын Қыран"<br>халықаралық<br>қайырымдылық қоры</span>
        </div>
      </div>
      <div class="partners-item">
        <div class="partners-item__top">
          <img src="images/p12.png" alt="" class="partners-item__img">
        </div>
        <div class="partners-item__info">
          <span class="partners-info__title">Otuken.kz қазақ мифологиясы,<br>дәстүрлі мәдениеті және музыкасы<br>туралы Таласбек Әсемқұлов,<br> Серікбол Қондыбай және<br>Зира Наурзбаеваның жеке сайты</span>
        </div>
      </div>
    </div>
  </div>
</section>
