<div class="partner-sidebar">
  <div class="partner-sidebar__logo">
    <img src="images/p1.jpg" alt="" class="partner-sidebar__logo-img">
  </div>
  <span class="partner-sidebar__text">
    М. Әуезов атындағы<br>
   Әдебиет және Өнер институты
  </span>
</div>
