<section class="poet">
  <div class="poet-info">
    <div class="poet-info__img">
      <img src="images/poet1.png" alt="" class="poet-info__img-item">
    </div>
    <div class="poet-info__text">
      <span class="poet-info__text-name">Жүрсін Ерман</span>
      <p>Жүрсін ақынның «Арайлы күн, армы­сың», «Ұлытауға бардың ба?», «Сізге арна­дым», «Құдіретке жүгіну», «Құстың көлең­кесі» атты шығармалары сөз қадірін білетін, сөз патшасының тамырына дейін талдап, жүрегін баураған жолдардың астын сызатын қызыл қарындаш іздейтін, соңында сол шумақтарды дәл бір өзі жазғандай рахат сезімге оранатын оқырмандары, құдайға шүкір бар, шын мәніндегі жыр-толғам­дар.</p>
      <span class="poet-info__text-author">Фариза Онгарсынова</span>
    </div>
  </div>
  <div class="poet-audio">
    <audio id="Poet"></audio>
    <div class="Player audio-player" data-player-name="Poet">
      <div class="player-block">
    		<div class="player-block__control-wrapper">
    			<div class="player__buttons-panel player__buttons-control-panel">
    				<div class="player-block__prev" data-player-button="prev"></div>
    				<div class="player-block__play" data-player-button="play"></div>
    				<div class="player-block__next" data-player-button="next"></div>
    			</div>
    		</div>
    		<div class="player-block__time-wrapper">
    			<div class="player-block__time-current" data-player-time="current">00:00</div>
    	    <div class="player-block__tracker" data-player-scale="time">
    	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
    	      <div class="time-scale__progress" data-player-scale="progress"></div>
    	    </div>
    			<div class="player-block__time-duration" data-player-time="duration">00:00</div>
    		</div>
        <div class="player__volume-panel">
          <div class="player__volume" data-player-button="volume"></div>
          <div class="player__volume-scale-wrapper">
            <div class="player__volume-scale" data-player-scale="volume">
              <div class="volume-scale__progress" data-player-scale="volume-progress"></div>
            </div>
          </div>
        </div>
      </div>
    	<ul class="player-block__playlist" data-player-playlist="Poet">
    		<li data-player-src="/music/up.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/master_of_the_wind.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/make_it_wit_chu.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/ooh_ahh.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    	</ul>
    </div>
  </div>
</section>
