<section class="popaudio">
  <div class="container">
    <h3 class="popaudio-title"><span class="popaudio-title__ico fa fa-headphones"></span>Көп тыңдалған кітаптар</h3>
    <div class="popaudio-row">
      <a href="#" class="popaudio-item __hover-item">
        <div class="__relative">
          <img src="../images/book.png" alt="" class="popaudio-item__img">
          <div class="hover-img__text">
            <span class="hover-img__text-btn">Өту
            </span>
          </div>           
        </div>
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
      <a href="#" class="popaudio-item">
        <img src="../images/book.png" alt="" class="popaudio-item__img">
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
      <a href="#" class="popaudio-item">
        <img src="../images/book.png" alt="" class="popaudio-item__img">
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
      <a href="#" class="popaudio-item">
        <img src="../images/book.png" alt="" class="popaudio-item__img">
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
      <a href="#" class="popaudio-item">
        <img src="../images/book.png" alt="" class="popaudio-item__img">
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
      <a href="#" class="popaudio-item">
        <img src="../images/book.png" alt="" class="popaudio-item__img">
        <span class="popaudio-item__title">Биография</span>
        <span class="popaudio-item__text">Кайрат Исмаилов</span>
      </a>
    </div>
    <div class="popaudio-row __mobile js-popaudio-slider owl-carousel owl-theme">
      <div class="item">
        <a href="#" class="popaudio-item">
          <img src="../images/book.png" alt="" class="popaudio-item__img">
          <span class="popaudio-item__title">Биография</span>
          <span class="popaudio-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="item">
        <a href="#" class="popaudio-item">
          <img src="../images/book.png" alt="" class="popaudio-item__img">
          <span class="popaudio-item__title">Биография</span>
          <span class="popaudio-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="item">
        <a href="#" class="popaudio-item">
          <img src="../images/book.png" alt="" class="popaudio-item__img">
          <span class="popaudio-item__title">Биография</span>
          <span class="popaudio-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="item">
        <a href="#" class="popaudio-item">
          <img src="../images/book.png" alt="" class="popaudio-item__img">
          <span class="popaudio-item__title">Биография</span>
          <span class="popaudio-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
    </div>
  </div>
</section>
