<section class="popular">
  <div class="container">
    <h3 class="popular-title"><span class="popular-title__ico typcn typcn-book"></span>Ең көп оқылған кітаптар</h3>
    <div class="popular-row">
      <div class="popular-item __hover-item">
        <a href="#">
          <div class="__relative">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <div class="hover-img__text">
              <span class="hover-img__text-btn">Өту
              </span>
            </div>  
          </div>
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="popular-item __hover-item">
        <a href="#">
          <div class="__relative">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <div class="hover-img__text">
              <span class="hover-img__text-btn">Өту
              </span>
            </div>  
          </div>
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="popular-item">
        <a href="#">
          <img src="../images/book.png" alt="" class="popular-item__img">
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="popular-item">
        <a href="#">
          <img src="../images/book.png" alt="" class="popular-item__img">
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="popular-item">
        <a href="#">
          <img src="../images/book.png" alt="" class="popular-item__img">
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
      <div class="popular-item">
        <a href="#">
          <img src="../images/book.png" alt="" class="popular-item__img">
          <span class="popular-item__title">Биография</span>
          <span class="popular-item__text">Кайрат Исмаилов</span>
        </a>
      </div>
    </div>
    <div class="popular-row __mobile js-popular-slider owl-carousel owl-theme">
      <div class="item">
        <div class="popular-item">
          <a href="#">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <span class="popular-item__title">Биография</span>
            <span class="popular-item__text">Кайрат Исмаилов</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="popular-item">
          <a href="#">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <span class="popular-item__title">Звёздные Войны. По Дэмерон №1</span>
            <span class="popular-item__text">Чарльз Соул</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="popular-item">
          <a href="#">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <span class="popular-item__title">Биография</span>
            <span class="popular-item__text">Кайрат Исмаилов</span>
          </a>
        </div>
      </div>
      <div class="item">
        <div class="popular-item">
          <a href="#">
            <img src="../images/book.png" alt="" class="popular-item__img">
            <span class="popular-item__title">Биография</span>
            <span class="popular-item__text">Кайрат Исмаилов</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
