<aside class="profilenav">
  <a href="profile.html" class="profilenav-link _active">
    <span class="profilenav-link__ico fa fa-street-view"></span>Жеке бет
  </a>
  <a href="mylibrary.html" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-leanpub"></span>Менің кітапханам
  </a>
  <a href="myquote.html" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-quote-right"></span>Цитаталарым
  </a>
  <!-- <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-certificate"></span>Шараларым
  </a>
  <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-sitemap"></span>Менің топтарым
  </a>
  <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-puzzle-piece"></span>Жекпе-жек<span class="profilenav-link__message">12</span>
  </a>
  <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-users"></span>Достарым
  </a>
  <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-comments"></span>Рецензиялар
  </a>
  <a href="#" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-bar-chart"></span>Статистика
  </a> -->
  <a href="settinginner.html" class="profilenav-link">
    <span class="profilenav-link__ico fa fa-cog"></span>Настройки
  </a>
  <a href="#" class="profilenav-link _green">
    <span class="profilenav-link__ico fa fa-share-square-o"></span>Шығу
  </a>
</aside>
