<div class="push">
  <div class="push-item _active">
    <span class="push-img"></span>
    <span class="push-text">
      Поздравляем!<br>
      Вы успешно зарегистрировались!
    </span>
  </div>
  <div class="push-item _active _error">
    <span class="push-ico fa fa-exclamation-circle"></span>
    <span class="push-text">
      Поздравляем!<br>
      Вы успешно зарегистрировались!
    </span>
  </div>
  <div class="push-item">
    <span class="push-img"></span>
    <span class="push-text">
      Поздравляем!<br>
      Вы успешно зарегистрировались!
    </span>
  </div>
</div>
