<section class="quote">
  <div class="container quote-container">
    <h3 class="quote-title"><span class="fa fa-quote-left quote-title__ico"></span>Цитата</h3>
    <div class="quote-block">
      <div class="quote-slider">
        <div class="quote-item">
          <div class="quote-item-inner">
            <div class="quote-avatar">
              <img src="../images/quoteimg.png" alt="" class="quote-avatar__img">
              <a href="#" class="quote-avatar__link">
                <span class="quote-avatar__btn-text">
                  Оқу
                </span>
                <span class="quote-avatar__btn-ico">
                  <span class="quote-avatar__btn-ico__img fa fa-plus"></span>
                </span>
              </a>
            </div>
            <div class="quote-item-info">
              <span class="fa fa-quote-left quote-avatar__ico"></span>
              <h3 class="quote-item__name">Бовари ханым</h3>
              <span class="quote-item__author">Гюстав Флобер</span>
              <p class="quote-item__text">Пешінен ұдайы түтін шығатын, есігі сықырлауық, қабырғалары суланып, едені дымқылданып тұратын төмендегі шағын асхана оның әбден шыдамын тауысты. Эммаға сол сәт табақшаға өмірдің бар қайғы-мұңын салып бергендей көрінетін. Піскен сиыр етінен бу көтерілгенде оның ішінен де жек көрудің сазы сыртқа шығуға ұмтылғандай сезінетін. Шарль тамағын асықпай ішетін. Эмма болса жаңғақ жейтін немесе қолдарын үстелге тіреп қойып, зеріккендіктен пышақпен дастарқанды тырналайтын </p>
            </div>
          </div>
        </div>
        <div class="quote-item">
          <div class="quote-item-inner">
            <div class="quote-avatar">
              <img src="../images/quoteimg.png" alt="" class="quote-avatar__img">
              <a href="#" class="quote-avatar__link">
                <span class="quote-avatar__btn-text">
                  Оқу
                </span>
                <span class="quote-avatar__btn-ico">
                  <span class="quote-avatar__btn-ico__img fa fa-plus"></span>
                </span>
              </a>
            </div>
            <div class="quote-item-info">
              <span class="fa fa-quote-left quote-avatar__ico"></span>
              <h3 class="quote-item__name">Бовари ханым</h3>
              <span class="quote-item__author">Гюстав Флобер</span>
              <p class="quote-item__text">Пешінен ұдайы түтін шығатын, есігі сықырлауық, қабырғалары суланып, едені дымқылданып тұратын төмендегі шағын асхана оның әбден шыдамын тауысты. Эммаға сол сәт табақшаға өмірдің бар қайғы-мұңын салып бергендей көрінетін. Піскен сиыр етінен бу көтерілгенде оның ішінен де жек көрудің сазы сыртқа шығуға ұмтылғандай сезінетін. Шарль тамағын асықпай ішетін. Эмма болса жаңғақ жейтін немесе қолдарын үстелге тіреп қойып, зеріккендіктен пышақпен дастарқанды тырналайтын </p>
            </div>
          </div>
        </div>
      </div>
      <span class="ico icons-quote__left"></span>
      <span class="ico icons-quote__right"></span>
    </div>
  </div>
</section>
