<h3 class="review-title __mobile">
  <span class="fa fa-star review-title__ico"></span>Рецензия
</h3>
<aside class="review">
    <h3 class="review-title">
      <span class="fa fa-star review-title__ico"></span>Рецензия
    </h3>
    <div class="review-row">
      <div class="review-top">
      <div class="review-user">
        <img src="../images/user.png" alt="" class="review-user__img">
        <div class="review-user__text">
          <span class="review-user__text-name">Дима Грего</span>
          <span class="review-user__text-email">dimagrego@gmail.com</span>
        </div>
      </div>
      <div class="review-item">
        <div class="review-book">
          <img src="../images/b1.png" alt="" class="review-book__img">
          <div class="review-book__text">
            <a href="#" class="review-book__text-btn">Тыңдау</a>
          </div>
        </div>
        <div class="review-info">
          <div class="review-info__top">
            <span class="review-info__author">Кайрат Исмаилов</span>
            <span class="review-info__name">Happy lemon</span>
          </div>
          <div class="review-book__rating">
            <span class="review-book__rating-ico fa fa-star _active"></span>
            <span class="review-book__rating-ico fa fa-star _active"></span>
            <span class="review-book__rating-ico fa fa-star _active"></span>
            <span class="review-book__rating-ico fa fa-star _active"></span>
            <span class="review-book__rating-ico fa fa-star"></span>
          </div>
        </div>
      </div>
    </div>
    <p class="review-desc">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
  </div>
</aside>
