<section class="searchresult">
  <div class="searchresult-top">
    <ul class="tabs searchresult-top__tabs">
      <li class="tab-link current searchresult__tabs-item" data-tab="tab-1">Барлығы</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-2">Кітап</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-3">Аудиокітап</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-4">Музыка</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-5">Видео</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-6">Авторлар</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-7">Дикторлар</li>
      <li class="tab-link searchresult__tabs-item" data-tab="tab-8">Қолданушылар</li>
    </ul>
    <select name="" id="" class="searchresult-select">
      <option value="tab-1">Барлығы</option>
      <option value="tab-2">Кітап</option>
      <option value="tab-3">Аудиокітап</option>
      <option value="tab-4">Музыка</option>
      <option value="tab-5">Видео</option>
      <option value="tab-6">Авторлар</option>
      <option value="tab-7">Дикторлар</option>
      <option value="tab-8">Қолданушылар</option>
    </select>
  </div>
    <div id="tab-1" class="tab-content searchresul-content current">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Кітап
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Аудиокітап
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
            </div>
          </div>
        </div><!--book-->
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Музыка
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-music">
          <div class="searchresult-music__item">
            <div class="searchresult-music__img">
              <img src="images/search1.png" alt="" class="searchresult-music__img-item">
              <span class="searchresult-music__ico"></span>
            </div>
            <div class="searchresult-music__info">
              <div class="searchresult-book__info-top">
                <span class="searchresult-book__info-author">Kathian Brands</span>
                <span class="searchresult-book__info-name">Dutch</span>
              </div>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--music-->
          <div class="searchresult-music__item">
            <div class="searchresult-music__img">
              <img src="images/search1.png" alt="" class="searchresult-music__img-item">
              <span class="searchresult-music__ico"></span>
            </div>
            <div class="searchresult-music__info">
              <div class="searchresult-book__info-top">
                <span class="searchresult-book__info-author">Kathian Brands</span>
                <span class="searchresult-book__info-name">Dutch</span>
              </div>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--music-->
        </div>
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Видео
          <span class="searchresult-title__number">4</span>
        </span>
        <div class="searchresult-video">
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
        </div><!--video-item-->
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Авторлар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-author">
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-book searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-book searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
        </div><!--author-item-->
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Дикторлар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-author">
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-microphone searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-microphone searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
        </div><!--author-item-->
      </div><!--item-->
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Қолданушылар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-user">
          <img src="images/userfem.png" alt="" class="searchresult-user__img">
          <div class="searchresult-user__info">
            <span class="searchresult-user__info-name">Али Алиев</span>
            <div class="searchresult-user__action">
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-book"></span>
                <span class="searchresult-user__action-text">90 кітап</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-microphone"></span>
                <span class="searchresult-user__action-text">90 аудиокітап</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-music"></span>
                <span class="searchresult-user__action-text">90 музыка</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-youtube-play"></span>
                <span class="searchresult-user__action-text">90 видео</span>
              </div>
            </div>
          </div>
          <span class="searchresult-user__status">online</span>
        </div>
      </div>
    </div>
    <div id="tab-2" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Кітап
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
      </div><!--item-->
    </div>
    <div id="tab-3" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Аудиокітап
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
            </div>
          </div>
        </div><!--book-->
        <div class="searchresult-book">
          <img src="images/bookitem.png" alt="" class="searchresult-book__img">
          <div class="searchresult-book__info">
            <div class="searchresult-book__info-top">
              <span class="searchresult-book__info-author">Kathian Brands</span>
              <span class="searchresult-book__info-name">Dutch</span>
            </div>
            <div class="searchresult-book__action">
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
              <div class="searchresult-book__action-item">
                <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                <span class="searchresult-book__action-text">20</span>
              </div>
            </div>
          </div>
        </div><!--book-->
      </div><!--item-->
    </div>
    <div id="tab-4" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Музыка
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-music">
          <div class="searchresult-music__item">
            <div class="searchresult-music__img">
              <img src="images/search1.png" alt="" class="searchresult-music__img-item">
              <span class="searchresult-music__ico"></span>
            </div>
            <div class="searchresult-music__info">
              <div class="searchresult-book__info-top">
                <span class="searchresult-book__info-author">Kathian Brands</span>
                <span class="searchresult-book__info-name">Dutch</span>
              </div>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--music-->
          <div class="searchresult-music__item">
            <div class="searchresult-music__img">
              <img src="images/search1.png" alt="" class="searchresult-music__img-item">
              <span class="searchresult-music__ico"></span>
            </div>
            <div class="searchresult-music__info">
              <div class="searchresult-book__info-top">
                <span class="searchresult-book__info-author">Kathian Brands</span>
                <span class="searchresult-book__info-name">Dutch</span>
              </div>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--music-->
        </div>
      </div><!--item-->
    </div>
    <div id="tab-5" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Видео
          <span class="searchresult-title__number">4</span>
        </span>
        <div class="searchresult-video">
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
          <div class="searchresult-video__item">
            <div class="searchresult-video__img">
              <span class="searchresult-video__ico"></span>
            </div>
            <div class="searchresult-video__info">
              <span class="searchresult-video__info-name"></span>
              <span class="searchresult-video__info-name">Dutch</span>
              <div class="searchresult-book__action">
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-heart" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-plus-square" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
                <div class="searchresult-book__action-item">
                  <span class="searchresult-book__action-ico fa fa-commenting" aria-hidden="true"></span>
                  <span class="searchresult-book__action-text">20</span>
                </div>
              </div>
            </div>
          </div><!--video-->
        </div><!--video-item-->
      </div><!--item-->
    </div>
    <div id="tab-6" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Авторлар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-author">
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-book searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-book searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
        </div><!--author-item-->
      </div><!--item-->
    </div>
    <div id="tab-7" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Дикторлар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-author">
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-microphone searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
          <div class="searchresult-video__item">
            <img src="images/author.png" class="searchresult-autor__img">
            <div class="searchresult-author__info">
              <span class="searchresult-autor__name">Адам Адамбаев</span>
              <span class="searchresult-author__books"><span class="fa fa-microphone searchresult-author__books-ico"></span>90 кітап</span>
            </div>
          </div><!--author-->
        </div><!--author-item-->
      </div><!--item-->
    </div>
    <div id="tab-8" class="tab-content searchresul-content">
      <div class="searchresult-tem">
        <span class="searchresult-title">
          Қолданушылар
          <span class="searchresult-title__number">2</span>
        </span>
        <div class="searchresult-user">
          <img src="images/userfem.png" alt="" class="searchresult-user__img">
          <div class="searchresult-user__info">
            <span class="searchresult-user__info-name">Али Алиев</span>
            <div class="searchresult-user__action">
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-book"></span>
                <span class="searchresult-user__action-text">90 кітап</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-microphone"></span>
                <span class="searchresult-user__action-text">90 аудиокітап</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-music"></span>
                <span class="searchresult-user__action-text">90 музыка</span>
              </div>
              <div class="searchresult-user__action-item">
                <span class="searchresult-user__action-ico fa fa-youtube-play"></span>
                <span class="searchresult-user__action-text">90 видео</span>
              </div>
            </div>
          </div>
          <span class="searchresult-user__status">online</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="searchresult __no-result">
  <div class="no-result__block">
    <img src="images/glass.png" class="no-result__img" alt="">
    <span class="no-result__text">Ничего не найдено</span>
  </div>
</section>
