<section class="search">
  <a href="#" class="search-link fa fa-chevron-left"></a>
  <div class="search-container">
    <input type="text" class="search-input" placeholder="Kitap.kz - тен терең іздеу">
    <span class="search-ico">
      <span class="fa fa-search search-ico__img"></span>
    </span>
  </div>
</section>
