<form class="setting">
  <div class="setting-top">
    <div class="setting-photo">
      <div class="setting-photo__info">
        <span class="setting-photo__info-title">Сіздің суретіңіз</span>
        <span class="setting-photo__info-text">
          Размер фото<br>
          не должен быть<br>
          меньше 300 x 300 px
        </span>
      </div>
      <label for="settingPhotoImgInput" class="setting-photo__block">
        <img src="images/setting.png" alt="" class="setting-photo__img">
        <input type="file" name="avatar" id="settingPhotoImgInput" class="setting-photo__input">
        <span class="setting-photo__btn">
          <span class="fa fa-plus setting-photo__ico"></span>
        </span>
      </label>
    </div>
    <a href="#" class="setting-top__btn"><span class="fa fa-user setting-top__btn-ico"></span>Жеке ақпарат</a>
  </div>
  <div class="setting-container">
    <div class="setting-container__row">
      <div class="setting-col">
        <span class="setting-desc">Cіз туралы ақпарат:</span>
        <div class="setting-row _profile">
          <label for="username" class="setting-label">Аты:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="username" required placeholder="Атыңыз">
        </div>
        <div class="setting-row _profile">
          <label for="usersurname" class="setting-label">Фамилия:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="usersurname" required placeholder="Фамилияңыз">
        </div>
        <div class="setting-row _profile">
          <label for="userlastname" class="setting-label">Тегі:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="userlastname" required placeholder="Тегіңіз">
        </div>
        <div class="setting-row _profile">
          <label for="userbirthdate" class="setting-label">Туылған күні:<span class="required">*</span></label>
          <input type='text' class="setting-input" id="userbirthdate" required placeholder="KK/AA/ЖЖ">
        </div>
      </div>
      <div class="setting-col">
        <span class="setting-desc">Байланыс ақпараты</span>
        <div class="setting-row _profile">
          <label for="userschool" class="setting-label">Мемлекет:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="userschool" required placeholder="Мемлекет">
        </div>
        <div class="setting-row _profile">
          <label for="userscity" class="setting-label">Қала:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="userscity" required placeholder="Қала">
        </div>
        <div class="setting-row _profile">
          <label for="userstate" class="setting-label">Облыс:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="userstate" required placeholder="Облыс">
        </div>
        <div class="setting-row _profile">
          <label for="userdistrict" class="setting-label">Аудан/ауыл:<span class="required">*</span></label>
          <input type="text" class="setting-input" id="userdistrict" required placeholder="Аудан/ауыл">
        </div>
        <div class="setting-row _profile">
          <label for="userphone" class="setting-label">Байланыс телефоны:<span class="required">*</span></label>
          <input type="text" class="setting-input js-phone" id="userphone" required placeholder="+7 (___) ___-__-__">
        </div>
      </div>
    </div>
  </div>
  <div class="setting-container">
    <span class="setting-desc">Сіздің таңдауыңыз</span>
    <div class="setting-container__row">
      <div class="setting-col-3">
        <div class="setting-select">
          <select class="selectpicker setting-select-item" multiple title="Проза" data-width="100%">
            <option data-content="Роман <span class='fa fa-plus'></span>">Роман</option>
            <option data-content="Повесть <span class='fa fa-plus'></span>">Повесть</option>
            <option data-content="Әңгіме <span class='fa fa-plus'></span>">Әңгіме</option>
            <option data-content="Очерг <span class='fa fa-plus'></span>">Очерг</option>
          </select>
        </div>
      </div>
      <div class="setting-col-3">
        <div class="setting-select">
          <select class="selectpicker setting-select-item" multiple title="Поэзия" data-width="100%">
            <option data-content="Роман <span class='fa fa-plus'></span>">Роман</option>
            <option data-content="Повесть <span class='fa fa-plus'></span>">Повесть</option>
            <option data-content="Әңгіме <span class='fa fa-plus'></span>">Әңгіме</option>
            <option data-content="Очерг <span class='fa fa-plus'></span>">Очерг</option>
          </select>
        </div>
      </div>
      <div class="setting-col-3">
        <div class="setting-select">
          <select class="selectpicker setting-select-item" multiple title="Драма" data-width="100%">
            <option data-content="Роман <span class='fa fa-plus'></span>">Роман</option>
            <option data-content="Повесть <span class='fa fa-plus'></span>">Повесть</option>
            <option data-content="Әңгіме <span class='fa fa-plus'></span>">Әңгіме</option>
            <option data-content="Очерг <span class='fa fa-plus'></span>">Очерг</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="setting-container __last">
    <label for="userMessage" class="setting-desc">Сіздің таңдауыңыз</label>
    <textarea id="userMessage" name="name" class="setting-textarea"></textarea>
  </div>
  <div class="setting-row _btn">
    <button class="setting-btn">Сақтау</button>
  </div>
</form>
