<form class="setting">
  <div class="setting-top">
    <div class="setting-photo">
      <div class="setting-photo__info">
        <span class="setting-photo__info-title">Сіздің суретіңіз</span>
        <span class="setting-photo__info-text">
          Размер фото<br>
          не должен быть<br>
          меньше 300 x 300 px
        </span>
      </div>
      <label for="settingPhotoImgInput" class="setting-photo__block">
        <div class="setting-photo__img">
          <input type="file" name="pic[]" id="settingPhotoImgInput" name="imgInput" class="setting-photo__input" />
          <img id="settingPhotoImg" src="#" alt="" />
        </div>
          <span class="setting-photo__btn">
            <span class="fa fa-plus setting-photo__ico"></span>
          </span>
      </label>
       
    </div>
    <a href="settinginner.html" class="setting-top__btn"><span class="typcn typcn-cog-outline"></span>Настройки</a>
  </div>
  <span class="setting-desc">Логин және пароль:</span>
  <div class="setting-row _profile">
    <label for="login" class="setting-label">Логин: <span class="required">*</label>
    <input type="text" class="setting-input" id="login" required placeholder="anarahamza@gmail.com">
  </div>
  <div class="setting-row _profile">
    <label for="email" class="setting-label">Email: <span class="required">*</label>
    <input type="text" class="setting-input" id="email" required placeholder="anarahamza@gmail.com">
  </div>
  <div class="setting-row _profile">
    <label for="oldpass" class="setting-label">Қазыргі пароль: <span class="required">*</label>
    <input type="text" class="setting-input" id="oldpass" required>
  </div>
  <div class="setting-row _profile">
    <label for="newpass" class="setting-label">Жаңа пароль:<span class="required">*</label>
    <input type="text" class="setting-input" id="newpass" required>
  </div>
  <div class="setting-row _profile">
    <label for="repeatpass" class="setting-label">Жаңа парольді қайталау:<span class="required">*</label>
    <input type="text" class="setting-input" id="repeatpass" required>
  </div>
  <div class="setting-row _profile _btn">
    <button class="setting-btn">Сақтау</button>
  </div>
</form>
