<section class="speakerinner">
  <div class="speakerinner-top">
    <div class="speakerinner-img">
      <img src="images/speaker1.png" alt="" class="speakerinner-img__item">
    </div>
    <div class="speakerinner-info">
      <h1 class="speakerinner-info__title">
        Гүлшат Тәкежанова:
      </h1>
      <p>
        Біз Кеңес заманында өстік. Сондықтан да кітап оқығанды ұнатпаймын десем, өтірік болар. Кітап оқығанды қатты сүйемін. Бала күнімізде анамыз: «Көзіңнің майын тауысасың», – деп кітапты тартып алып жатса, көрпенің астына жарық жағып, тығылып оқитын едім. Себебі ол кезде бүгінгідей компьютер, теледидар  болған жоқ, киноға да сирек  барушы едік. Сондықтан бар ермегіміз кітап болды. Кітапханаға жаңадан кітап түссе,  бірінші болып оқып бітіруге асығатынбыз. М.Әуезов, Ғ.Мүсірепов, Ғ.Мұстафин, С.Мұқанов сынды көптеген ұлы жазушылардың туындыларын оқып өстім. Соның ішінде маған ерекше әсер еткен шығарма –Ғ.Мүсіреповтің «Ұлпан» романы болатын. Әйел, ана болғанда Ұлпанға ұқсағым келді. Ауылдың анасы болсам, ағайын арасын қосатын ана болсам деуші едім. Қандай да бір қиындықтар болса, шешімді кітаптан іздейтінмін. Ұлпанды пір тұттым. Сонымен қатар,   қайталап оқудан жалықпайтын кітаптарымның бірі – Әзілхан Нұршайықовтың «Махаббат қызық мол жылдар» шығармасы. Жастық шағымыздың куәсіндей болғаны үшін өте ыстық. Ал кітаптарды дыбыстау ісіне қатысқанда, мүлдем жаңа әсерге бөлендім. Әсіресе,  Жұбан Молдағалиевтің «Мен – қазақпын!» поэмасын оқығанда жүрегім тулап,  тілмен жіткізгісіз күйде болдым. Бұрын оқыған кітаптарыңды араға уақыт салып қайта оқығанда  тың дүниелерге кезігеді екенсің.
      </p>
    </div>
  </div>
  <div class="speakerinner-bottom">
    <h3 class="speakerinner-subtitle">
      <span class="speakerinner-title__ico fa fa-microphone"></span>Диктор оқыған кітаптар
    </h3>
    <div class="speakerinner-row">
      <div class="speakerinner-item">
        <div class="speakerinner-item__img" style="background-image:url('images/speaker3.png')"></div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item">
        <div class="speakerinner-item__img" style="background-image:url('images/speaker3.png')"></div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item">
        <div class="speakerinner-item__img" style="background-image:url('images/speaker3.png')"></div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item">
        <div class="speakerinner-item__img" style="background-image:url('images/speaker3.png')"></div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
    </div>
  </div>
</section>
