<section class="speaker">
  <h3 class="speaker-title">
    <span class="speaker-title__ico fa fa-volume-down"></span>Диктор бойынша таңдау
  </h3>
  <div class="speaker-block">
    <div class="speaker-slider">
      <div class="speaker-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="speaker-inner">
            <div class="speaker-top">
              <div class="speaker-user">
                <img src="../images/speaker.png" alt="" class="speaker-user__img">
                <div class="speaker-user__text">
                  <span class="speaker-user__text-name">Дима<br>Грего</span>
                </div>
              </div>
              <div class="speaker-action">
                <!-- <a href="" class="speaker-top__btn">
                  <span class="speaker-top__btn-text">Таңдау</span>
                  <span class="speaker-top__btn-ico">
                    <span class="speaker-top__ico-img fa fa-check"></span>
                  </span>
                </a> -->
                <a href="" class="speaker-top__btn __blue">
                  <span class="speaker-top__btn-text">Диктор туралы</span>
                  <span class="speaker-top__btn-ico">
                    <span class="speaker-top__ico-img fa fa-address-book-o"></span>
                  </span>
                </a>
              </div>
            </div>
            <div class="speaker-row">
              <div class="speaker-item">
                <div class="speaker-book">
                  <img src="../images/b1.png" alt="" class="speaker-book__img">
                  <div class="speaker-book__text">
                    <a href="#" class="speaker-book__text-btn">Тыңдау</a>
                  </div>
                </div>
                <div class="speaker-info">
                  <span class="speaker-info__author">Кайрат Исмаилов</span>
                  <span class="speaker-info__name">Кайрат Исмаилов</span>
                  <div class="speaker-info__rating">
                    <span class="speaker-ingo__rating-text">Қанша оқылды?</span>
                    <div class="speaker-rating">
                      <span class="speaker-rating__text">67%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="speaker-item">
                <div class="speaker-book">
                  <img src="../images/b2.png" alt="" class="speaker-book__img">
                  <div class="speaker-book__text">
                    <a href="#" class="speaker-book__text-btn">Тыңдау</a>
                  </div>
                </div>
                <div class="speaker-info">
                  <span class="speaker-info__author">Кайрат Исмаилов</span>
                  <span class="speaker-info__name">Кайрат Исмаилов</span>
                  <div class="speaker-info__rating">
                    <span class="speaker-ingo__rating-text">Қанша оқылды?</span>
                    <div class="speaker-rating _empty">
                      <span class="speaker-rating__text">0%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="speaker-inner">
            <div class="speaker-top">
              <div class="speaker-user">
                <img src="../images/speaker.png" alt="" class="speaker-user__img">
                <div class="speaker-user__text">
                  <span class="speaker-user__text-name">Дима<br>Грего</span>
                </div>
              </div>
              <div class="speaker-action">
                <!-- <a href="" class="speaker-top__btn">
                  <span class="speaker-top__btn-text">Таңдау</span>
                  <span class="speaker-top__btn-ico">
                    <span class="speaker-top__ico-img fa fa-check"></span>
                  </span>
                </a> -->
                <a href="" class="speaker-top__btn __blue">
                  <span class="speaker-top__btn-text">Диктор туралы</span>
                  <span class="speaker-top__btn-ico">
                    <span class="speaker-top__ico-img fa fa-address-book-o"></span>
                  </span>
                </a>
              </div>
            </div>
            <div class="speaker-row">
              <div class="speaker-item">
                <div class="speaker-book">
                  <img src="../images/b1.png" alt="" class="speaker-book__img">
                  <div class="speaker-book__text">
                    <a href="#" class="speaker-book__text-btn">Тыңдау</a>
                  </div>
                </div>
                <div class="speaker-info">
                  <span class="speaker-info__author">Кайрат Исмаилов</span>
                  <span class="speaker-info__name">Кайрат Исмаилов</span>
                  <div class="speaker-info__rating">
                    <span class="speaker-ingo__rating-text">Қанша оқылды?</span>
                    <div class="speaker-rating">
                      <span class="speaker-rating__text">67%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="speaker-item">
                <div class="speaker-book">
                  <img src="../images/b2.png" alt="" class="speaker-book__img">
                  <div class="speaker-book__text">
                    <a href="#" class="speaker-book__text-btn">Тыңдау</a>
                  </div>
                </div>
                <div class="speaker-info">
                  <span class="speaker-info__author">Кайрат Исмаилов</span>
                  <span class="speaker-info__name">Кайрат Исмаилов</span>
                  <div class="speaker-info__rating">
                    <span class="speaker-ingo__rating-text">Қанша оқылды?</span>
                    <div class="speaker-rating _empty">
                      <span class="speaker-rating__text">0%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
