<section class="special">
  <div class="container">
    <div class="special-row">
      <a href="#" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp1.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Жаңа гуманитарлық білім. Қазақ тіліндегі 100 жаңа оқулық</span>
          <span class="special-text">Ұлттық аударма бюросы – Елбасының тапсырмасымен қоғамдық және гуманитарлық ғылымдар бойынша «Жаңа гуманитарлық білім. Қазақ тіліндегі 100 жаңа оқулық» бағдарламасы аясында құрылған коммерциялық емес ұйым.</span>
        </div>
      </a>
      <a href="talents.html" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp2.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Құс қанаты</span>
          <span class="special-text">Жас прозашыларға қатысты жоба жасаймыз дегелі көп ойландық. Біздің бір ғана мақсатымыз бар – көркем шығарманы оқырманға жеткізу. Тек жеткізу емес, оқымасына амалын қалдырмау. Жас жазушылардың бәріне хабарласып, Алматыдағы шоғырымен кездесіп, ой бөлісіп те алдық.</span>
        </div>
      </a>
      <a href="specbook.html" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp3.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Құнды кітап</span>
          <span class="special-text">“Құнды кітап” – Қазақстанның ашық кітапханасы қолға алған кезекті ауқымды жоба. Мақсатымыз – тарихи көне кітаптарды түпнұсқадан оқуға жол ашу. Жоба аясында 60 мыңдық кітап қоры бар Республикалық кітап мұражайының мұраларын назарларыңызға ұсынамыз.</span>
        </div>
      </a>
      <a href="allfairytale.html" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp4.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Ертегі тыңдайық!</span>
          <span class="special-text">Ертегі – ұлттық тәрбиенің айнымас бөлшегі. Халықтың тілі мен дүниетанымы, даналығы мен тарихы жас ұрпақтың бойына ең алғаш ертегі арқылы даритыны белгілі. Ендеше, күн сайын ертегі айтып, баласының қиялына қанат бітіру – ата-ананың парызы болса керек.</span>
        </div>
      </a>
      <a href="specauthor.html" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp5.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Ұлылардың үні</span>
          <span class="special-text">Жиырмасыншы ғасырдың қойнауынан жеткен дауыстар… Бүтін бір халықтың арманы мен мұраты… Ұлттық болмыс пен парасат биігі… Қайсар рух пен қазақы таным… Жүрекпен тыңдап, көкейге түйер асыл сөз!</span>
        </div>
      </a>
      <a href="specpoets.html" class="special-item">
        <div class="special-item__inner">
          <div class="special-img" style="background-image:url('../images/sp6.png');">
            <div class="special-img__text">
              <span class="special-img__text-btn">Өту
              </span>
            </div>
          </div>
          <span class="special-title">Қазақтың ақындары</span>
          <span class="special-text">“Қазақтың ақындары” – Қазақстанның ашық кітапханасы қолға алған бұрын-соңды болмаған бірегей аудиожоба. Ұлт ақындары жүрегін жарып шыққан таңдаулы жырларын өздері оқып, қалың оқырманымен жаңаша сипатта қауышқалы отыр. Автордың тебіренісін тыңдап, қасиетті өлеңнің құдіретін сезінеріңіз хақ.</span>
        </div>
      </a>
    </div>
  </div>
</section>
