<section class="specbook">
  <div class="specbook-top">
    <div class="specbook-top__img">
      <img src="images/specbooklogo.png" alt="" class="specbook-top__img-logo">
    </div>
    <div class="specbook-top__text">
      <div class="specbook-social">
        <a href="#" class="specbook-ico"><span class="specbook-ico__img fa fa-vk"></span></a>
        <a href="#" class="specbook-ico"><span class="specbook-ico__img fa fa-facebook"></span></a>
        <a href="#" class="specbook-ico"><span class="specbook-ico__img fa fa-google-plus _small"></span></a>
        <a href="#" class="specbook-ico"><span class="specbook-ico__img fa fa-twitter"></span></a>
      </div>
      <p>
        “Құнды кітап” – Қазақстанның ашық кітапханасы қолға алған кезекті ауқымды жоба. Мақсатымыз – тарихи көне кітаптарды түпнұсқадан оқуға жол ашу. Жоба аясында 60 мыңдық кітап қоры бар Республикалық кітап мұражайының мұраларын назарларыңызға ұсынамыз. Сирек кездесетін кітаптар мен қолжазбаларды да жариялап, сол еңбектердің фотокөшірмесін емін-еркін оқуға мүмкіндік береміз.Жүз жыл, я одан да көп уақыт бұрын дәл осы кітапты қолымен ұстап, жастанып оқып, ертеңі туралы ойланған оқырман болғанын бір сәт көз алдыңызға елестетіңізші. Кеше мен бүгіннің түйіскен тұсы осы болар, сірә!
      </p>
      <p>
        Ғасырлық тарихы бар бұл кітаптардың қай-қайсысы да қазақ оқырманы үшін бағалы һәм маңызды. Өйткені, біз ұсынып отырған әр кітаптың халқымыздың тағдырына қатысы бар. Олар тарихтың куәсі, замананың құжаты. Өз кезеңінде ол кітап қандай мақсатпен, қандай көзқараспен жазылды, нені көздеді, нені дәлелдегісі келді, оны жиырма бірінші ғасырдың биігінен бірге саралап, бірге зерделеуге мүмкіндік туып отыр. Тарихымызды саралауға сіздің де қақыңыз бар. Бірақ, мұндай мүмкіндікті қалт жіберуге қақыңыз жоқ!
      </p>
    </div>
  </div>
  <div class="specbook-bottom">
    <div class="specbook-item">
      <div class="specbook-item-top">
        <div class="specbook-item-img">
          <div class="specbook-img__logo"></div>
        </div>
        <div class="specbook-item-info">
          <div class="specbook-item-info__top">
            <span class="specbook-item-info__author">Әлімхан Ермеков</span>
            <span class="specbook-item-info__name">
              Ұлы математика курсы
              "Қазақстан" баспасы, 1935
            </span>
          </div>
          <div class="specbook-options">
            <button class="specbook-options__btn">
              <span class="specbook-options__btn-text">
                Оқу
              </span>
              <span class="specbook-options__btn-ico">
                <span class="specbook-options-ico__img fa fa-plus"></span>
              </span>
            </button>
            <div class="specbook-options__info">
              <span class="specbook-options__info-text">Дереккөз:</span>
              <a href="#" class="specbook-options__info-link">link</a>
            </div>
          </div>
        </div>
      </div>
      <button class="specbook-options__btn __mobile">
        <span class="specbook-options__btn-text">
          Оқу
        </span>
        <span class="specbook-options__btn-ico">
          <span class="specbook-options-ico__img fa fa-plus"></span>
        </span>
      </button>
    </div>
    <!-- item 1 -->
    <div class="specbook-item">
      <div class="specbook-item-top">
        <div class="specbook-item-img">
          <div class="specbook-img__logo __sb2"></div>
        </div>
        <div class="specbook-item-info">
          <div class="specbook-item-info__top">
            <span class="specbook-item-info__name">
              Записки императорского русского географического общества. Том IV С.-Петербург, 1871
            </span>
          </div>
          <div class="specbook-options">
            <button class="specbook-options__btn">
              <span class="specbook-options__btn-text">
                Оқу
              </span>
              <span class="specbook-options__btn-ico">
                <span class="specbook-options-ico__img fa fa-plus"></span>
              </span>
            </button>
            <div class="specbook-options__info">
              <span class="specbook-options__info-text">Дереккөз:</span>
              <a href="#" class="specbook-options__info-link">link</a>
            </div>
          </div>
        </div>
      </div>
      <button class="specbook-options__btn __mobile">
        <span class="specbook-options__btn-text">
          Оқу
        </span>
        <span class="specbook-options__btn-ico">
          <span class="specbook-options-ico__img fa fa-plus"></span>
        </span>
      </button>
    </div>
    <!-- item 2 -->
    <div class="specbook-item">
      <div class="specbook-item-top">
        <div class="specbook-item-img">
          <div class="specbook-img__logo __sb3"></div>
        </div>
        <div class="specbook-item-info">
          <div class="specbook-item-info__top">
            <span class="specbook-item-info__name">
              Записки Семипалатинского отдела общества изучения Казахстана. Том 1
  Семипалатинск, 1929
            </span>
          </div>
          <div class="specbook-options">
            <button class="specbook-options__btn">
              <span class="specbook-options__btn-text">
                Оқу
              </span>
              <span class="specbook-options__btn-ico">
                <span class="specbook-options-ico__img fa fa-plus"></span>
              </span>
            </button>
            <div class="specbook-options__info">
              <span class="specbook-options__info-text">Дереккөз:</span>
              <a href="#" class="specbook-options__info-link">link</a>
            </div>
          </div>
        </div>
      </div>
      <button class="specbook-options__btn __mobile">
        <span class="specbook-options__btn-text">
          Оқу
        </span>
        <span class="specbook-options__btn-ico">
          <span class="specbook-options-ico__img fa fa-plus"></span>
        </span>
      </button>
    </div>
    <button type="button" name="button" class="specbook-more">Тағы да жүктеу <span class="fa fa-angle-double-down"></span></button>
  </div>
</section>
