<section class="specauthor">
  <div class="specauthor-container">
    <div class="specauthor-info">
      <p>Жиырмасыншы ғасырдың қойнауынан жеткен дауыстар… Бүтін бір халықтың арманы мен мұраты… Ұлттық болмыс пен парасат биігі… Қайсар рух пен қазақы таным… Жүрекпен тыңдап, көкейге түйер асыл сөз!</p>
      <p>Қазақстанның ашық кітапханасы халқымыздың біртуар тұлғаларының дауыстарын назарларыңызға ұсынады. Тарихыңызды танығыңыз келсе, “Ұлылардың үнін” тыңдаңыз. Бұл дауыстар сіз бен бізге жауапкершілік жүктері анық.</p>
    </div>
    <div class="specauthor-row">
      <a href="http://dev.kitap.kz/author/437" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa1.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>
        </div>
        <span class="specauthor-item__name">Мұстафа Шоқай</span>
      </a>
      <a href="http://dev.kitap.kz/author/308" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa2.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>
        </div>
        <span class="specauthor-item__name">Жұбан Молдағалиев</span>
      </a>
      <a href="http://dev.kitap.kz/author/358" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa3.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>          
        </div>
        <span class="specauthor-item__name">Төлеген Айбергенов</span>
      </a>
      <a href="http://dev.kitap.kz/author/287" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa4.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>          
        </div>
        <span class="specauthor-item__name">Сәбит Мұқанов</span>
      </a>
      <a href="http://dev.kitap.kz/author/271" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa5.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>      
        </div>
        <span class="specauthor-item__name">Бауыржан Момышұлы</span>
      </a>
      <a href="http://dev.kitap.kz/author/368" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa6.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>           
        </div>
        <span class="specauthor-item__name">Бердібек Соқпақбаев</span>
      </a>
      <a href="http://dev.kitap.kz/author/326" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa7.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>           
        </div>
        <span class="specauthor-item__name">Әбділда Тәжібаев</span>
      </a>
      <a href="http://dev.kitap.kz/author/348" class="specauthor-item">
        <div class="specauthor-img">
          <img src="images/sa8.jpg" alt="" class="specauthor-item__img">
          <div class="special-img__text">
            <span class="special-img__text-btn">Өту
            </span>
          </div>            
        </div>
        <span class="specauthor-item__name">Сафуан Шаймерденов</span>
      </a>
    </div>
  </div>
</section>
