<h3 class="statistics-title __mobile">
  <span class="fa fa-pie-chart statistics-title__ico"></span>Статистика
</h3>
<aside class="statistics">
  <h3 class="statistics-title">
    <span class="fa fa-pie-chart statistics-title__ico"></span>Статистика
  </h3>
  <div class="statistics-item">
    <img src="images/stat1.png" alt="" class="statistics-item__img">
    <div class="statistics-info">
      <span class="statistics-info__number">15 000</span>
      <span class="statistics-info__text">кітап оқылуда</span>
    </div>
  </div>
  <img src="images/line.png" alt="" class="statistics-line">
  <div class="statistics-item">
    <img src="images/stat2.png" alt="" class="statistics-item__img">
    <div class="statistics-info">
      <span class="statistics-info__number">400 000</span>
      <span class="statistics-info__text">онлайн</span>
    </div>
  </div>
  <img src="images/line.png" alt="" class="statistics-line">
  <div class="statistics-item">
    <img src="images/stat3.png" alt="" class="statistics-item__img">
    <div class="statistics-info">
      <span class="statistics-info__number">50 000</span>
      <span class="statistics-info__text">кітап жүктелді</span>
    </div>
  </div>
</aside>
