<section class="studies">
  <h3 class="studies-title">
    <span class="studies-title__ico fa fa-check"></span>Оқылымды кітаптар
  </h3>
  <div class="studies-row">
    <div class="studies-item __hover-item">
      <div class="studies-item__img __relative" style="background-image:url('images/s1.png')">
        <div class="hover-img__text">
          <a href="#" class="hover-img__text-btn">Өту
          </a>
        </div>  
      </div>
      <span class="studies-item__title">Биографияdfdfsfsdfsdfdsfsdfd</span>
      <span class="studies-item__text">Кайрат Исмаилов</span>
    </div>
    <div class="studies-item">
      <div class="studies-item__img" style="background-image:url('images/s1.png')"></div>
      <span class="studies-item__title">Биография</span>
      <span class="studies-item__text">Кайрат Исмаилов</span>
    </div>
    <div class="studies-item">
      <div class="studies-item__img" style="background-image:url('images/s3.png')"></div>
      <span class="studies-item__title">Биография</span>
      <span class="studies-item__text">Кайрат Исмаилов</span>
    </div>
    <div class="studies-item">
      <div class="studies-item__img" style="background-image:url('images/s4.png')"></div>
      <span class="studies-item__title">Биография</span>
      <span class="studies-item__text">Кайрат Исмаилов</span>
    </div>
  </div>
  <div class="studies-row __mobile js-studies-slider owl-carousel owl-theme">
    <div class="item">
      <a href="bookitem.html" class="studies-item">
        <div class="studies-item__img" style="background-image:url('images/s1.png')"></div>
        <span class="studies-item__title">Биографияdfdfsfsdfsdfdsfsdfd</span>
        <span class="studies-item__text">Кайрат Исмаилов</span>
      </a>
    </div>
    <div class="item">
      <a href="bookitem.html" class="studies-item">
        <div class="studies-item__img" style="background-image:url('images/s3.png')"></div>
        <span class="studies-item__title">Биографияdfdfsfsdfsdfdsfsdfd</span>
        <span class="studies-item__text">Кайрат Исмаилов</span>
      </a>
    </div>
    <div class="item">
      <a href="bookitem.html" class="studies-item">
        <div class="studies-item__img" style="background-image:url('images/s1.png')"></div>
        <span class="studies-item__title">Биографияdfdfsfsdfsdfdsfsdfd</span>
        <span class="studies-item__text">Кайрат Исмаилов</span>
      </a>
    </div>
    <div class="item">
      <a href="bookitem.html" class="studies-item">
        <div class="studies-item__img" style="background-image:url('images/s4.png')"></div>
        <span class="studies-item__title">Биографияdfdfsfsdfsdfdsfsdfd</span>
        <span class="studies-item__text">Кайрат Исмаилов</span>
      </a>
    </div>
  </div>
  <a class="studie-book">
    <span class="studie-book__desc">МҰХТАР МАҒАУИН. ӘБІШ ЕКЕУМІЗ<br>
    (Естелік жазбалар)</span>
  </a>
</section>
