<section class="talentsinner">
  <div class="talentsinner-info">
    <div class="talentsinner-info__img">
      <img src="images/t1.png" alt="" class="talentsinner-info__img-logo">
      <div class="talentsinner-actions">
        <span class="talentsinner-actions__item"> <span class="fa fa-eye"></span> 20</span>
        <span class="talentsinner-actions__item"><span class="fa fa-thumbs-o-up"></span> 20</span>
      </div>
    </div>
    <div class="talentsinner-info__text">
      <div class="talentsinner-info__top">
        <h1 class="talentsinner-info__title">Арман Әлменбет</h1>
        <div class="talentsinner-social">
          <a href="#" class="talentsinner-ico"><span class="talentsinner-ico__img fa fa-vk"></span></a>
          <a href="#" class="talentsinner-ico"><span class="talentsinner-ico__img fa fa-facebook"></span></a>
          <a href="#" class="talentsinner-ico"><span class="talentsinner-ico__img fa fa-google-plus _small"></span></a>
          <a href="#" class="talentsinner-ico"><span class="talentsinner-ico__img fa fa-twitter"></span></a>
        </div>
      </div>
      <h3 class="talentsinner-info__subtitle">Жазушы</h3>
      <div class="talentsinner-desc">
        <p class="talentsinner-desc__item">
          Арман Әлменбеттің әңгімелерін алғаш оқығанда бойыңызды әлдебір сәулелі сезімдер қытықтап өтеді. Кейін түсінесіз, бұл, «бұйырса, сөз бәйгесіне қапысыз тұлпар қосылды» деген қуаныш екен. Кейде біз жастар арасында кәсіби жазушылықты емес, жазушылыққа пародияны, талпынысты жиі көреміз.
        </p>
        <p class="talentsinner-desc__item">
          Арман Әлменбеттің әңгімелерін алғаш оқығанда бойыңызды әлдебір сәулелі сезімдер қытықтап өтеді. Кейін түсінесіз, бұл, «бұйырса, сөз бәйгесіне қапысыз тұлпар қосылды» деген қуаныш екен. Кейде біз жастар арасында кәсіби жазушылықты емес, жазушылыққа пародияны, талпынысты жиі көреміз.
        </p>
        <span class="talentsinner-desc__btn js-talentsinner-desc__btn">
          <span class="fa fa-angle-double-down"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="audio talents-audio">
    <div class="speakerinner-row __no-margin">
      <div class="speakerinner-item __hover-item">
        <div class="speakerinner-item__img __relative" style="background-image:url('images/ti1.png')">
          <div class="hover-img__text">
            <span class="hover-img__text-btn">Өту
            </span>
          </div>            
        </div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item __hover-item">
        <div class="speakerinner-item__img __relative" style="background-image:url('images/ti1.png')">
          <div class="hover-img__text">
            <span class="hover-img__text-btn">Өту
            </span>
          </div>            
        </div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item __hover-item">
        <div class="speakerinner-item__img __relative" style="background-image:url('images/ti2.png')">
          <div class="hover-img__text">
            <span class="hover-img__text-btn">Өту
            </span>
          </div>            
        </div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
      <div class="speakerinner-item __hover-item">
        <div class="speakerinner-item__img __relative" style="background-image:url('images/ti3.png')">
          <div class="hover-img__text">
            <span class="hover-img__text-btn">Өту
            </span>
          </div>            
        </div>
        <span class="speakerinner-item__title">Биография</span>
        <span class="speakerinner-item__text">Кайрат Исмаилов</span>
      </div>
    </div>       
    <div class="audio-albom">
      <div class="audio-albom__item">
        <img src="images/ti1.png" alt="" class="audio-albom__item-img">
        <div class="audio-albom-play player-block__albom" data-player-control="play-albom">
          <span class="audio-albom-play-btn">
            <span class="audio-albom-play__ico"></span>
          </span>
          <div class="play-pulse"></div>
        </div>
      </div>
      <div class="audio-albom__item">
        <img src="images/ti2.png" alt="" class="audio-albom__item-img">
        <div class="audio-albom-play" data-player-playlist="play-albom">
          <span class="audio-albom-play-btn">
            <span class="audio-albom-play__ico"></span>
          </span>
          <div class="play-pulse"></div>
        </div>
      </div>
      <div class="audio-albom__item">
        <img src="images/ti3.png" alt="" class="audio-albom__item-img">
        <div class="audio-albom-play" data-player-playlist="play-albom">
          <span class="audio-albom-play-btn">
            <span class="audio-albom-play__ico"></span>
          </span>
          <div class="play-pulse"></div>
        </div>
      </div>
    </div>
 
    <audio id="Player"></audio>
    <div class="Player audio-player" data-player-name="Test">
      <div class="player-block">
    		<div class="player-block__control-wrapper">
    			<div class="player__buttons-panel">
    				<div class="player-block__prev" data-player-control="prev"></div>
    				<div class="player-block__play" data-player-control="play"></div>
    				<div class="player-block__next" data-player-control="next"></div>
    			</div>
    		</div>
    		<div class="player-block__time-wrapper">
    			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
    	    <div class="player-block__tracker" data-player-scale="scale-time">
    	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
    	      <div class="time-scale__progress" data-player-scale="progress"></div>
    	    </div>
    			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
    		</div>
        <div class="player__volume-panel">
          <div class="player__volume" data-player-control="volume"></div>
          <div class="player__volume-scale-wrapper">
            <div class="player__volume-scale" data-player-scale="scale-volume">
              <div class="volume-scale__progress" data-player-scale="volume"></div>
            </div>
          </div>
        </div>
      </div>
    	<ul class="player-block__playlist" data-player-playlist="Test">
    		<li data-player-src="/music/up.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/master_of_the_wind.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/make_it_wit_chu.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/ooh_ahh.mp3">
    			<div class="player-block__playlist__text">
    				<span class="player-block__playlist__number">1.</span>
    				<span class="player-block__playlist__author">Б. Соқпақбаев</span>
    				<span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    		<li data-player-src="/music/sorry_seems_to_be_the_hardest_word.mp3">
    			<div class="player-block__playlist__text">
            <span class="player-block__playlist__number">1.</span>
            <span class="player-block__playlist__author">Б. Соқпақбаев</span>
            <span class="player-block__playlist__name">Менің атым қожа</span>
    			</div>
    			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
    		</li>
    	</ul>
    </div>
  </div>
  <div class="talents-audio __mobile">
    <div class="talents-audio-item">
      <img src="images/ti2.png" alt="" class="talents-audio-item__img">
      <audio id="Player"></audio>
      <div class="Player audio-player" data-player-name="Test">
        <div class="player-block">
      		<div class="player-block__control-wrapper">
      			<div class="player__buttons-panel">
      				<div class="player-block__prev" data-player-control="prev"></div>
      				<div class="player-block__play" data-player-control="play"></div>
      				<div class="player-block__next" data-player-control="next"></div>
      			</div>
      		</div>
      		<div class="player-block__time-wrapper">
      			<div class="player-block__time-current" data-player-scale="current-time">00:00</div>
      	    <div class="player-block__tracker" data-player-scale="scale-time">
      	      <div class="time-scale__buffered" data-player-scale="buffered"></div>
      	      <div class="time-scale__progress" data-player-scale="progress"></div>
      	    </div>
      			<div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
      		</div>
          <div class="player__volume-panel">
            <div class="player__volume" data-player-control="volume"></div>
            <div class="player__volume-scale-wrapper">
              <div class="player__volume-scale" data-player-scale="scale-volume">
                <div class="volume-scale__progress" data-player-scale="volume"></div>
              </div>
            </div>
          </div>
        </div>
      	<ul class="player-block__playlist" data-player-playlist="Test">
      		<li data-player-src="/music/up.mp3">
      			<div class="player-block__playlist__text">
              <span class="player-block__playlist__number">1.</span>
              <span class="player-block__playlist__author">Б. Соқпақбаев</span>
              <span class="player-block__playlist__name">Менің атым қожа</span>
      			</div>
      			<span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
      		</li>
      	</ul>
      </div>
    </div>
    <div class="talents-audio-item">
      <img src="images/ti1.png" alt="" class="talents-audio-item__img">
      <audio id="Player2"></audio>
      <div class="Player audio-player" data-player-name="Test2">
        <div class="player-block">
          <div class="player-block__control-wrapper">
            <div class="player__buttons-panel">
              <div class="player-block__prev" data-player-control="prev"></div>
              <div class="player-block__play" data-player-control="play"></div>
              <div class="player-block__next" data-player-control="next"></div>
            </div>
          </div>
          <div class="player-block__time-wrapper">
            <div class="player-block__time-current" data-player-scale="current-time">00:00</div>
            <div class="player-block__tracker" data-player-scale="scale-time">
              <div class="time-scale__buffered" data-player-scale="buffered"></div>
              <div class="time-scale__progress" data-player-scale="progress"></div>
            </div>
            <div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
          </div>
          <div class="player__volume-panel">
            <div class="player__volume" data-player-control="volume"></div>
            <div class="player__volume-scale-wrapper">
              <div class="player__volume-scale" data-player-scale="scale-volume">
                <div class="volume-scale__progress" data-player-scale="volume"></div>
              </div>
            </div>
          </div>
        </div>
        <ul class="player-block__playlist" data-player-playlist="Test">
          <li data-player-src="/music/up.mp3">
            <div class="player-block__playlist__text">
              <span class="player-block__playlist__number">1.</span>
              <span class="player-block__playlist__author">Б. Соқпақбаев</span>
              <span class="player-block__playlist__name">Менің атым қожа</span>
            </div>
            <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
          </li>
        </ul>
    </div>
  </div>
    <div class="talents-audio-item">
      <img src="images/ti3.png" alt="" class="talents-audio-item__img">
      <audio id="Player3"></audio>
      <div class="Player audio-player" data-player-name="Test3">
        <div class="player-block">
          <div class="player-block__control-wrapper">
            <div class="player__buttons-panel">
              <div class="player-block__prev" data-player-control="prev"></div>
              <div class="player-block__play" data-player-control="play"></div>
              <div class="player-block__next" data-player-control="next"></div>
            </div>
          </div>
          <div class="player-block__time-wrapper">
            <div class="player-block__time-current" data-player-scale="current-time">00:00</div>
            <div class="player-block__tracker" data-player-scale="scale-time">
              <div class="time-scale__buffered" data-player-scale="buffered"></div>
              <div class="time-scale__progress" data-player-scale="progress"></div>
            </div>
            <div class="player-block__time-duration" data-player-scale="duration-time">00:00</div>
          </div>
          <div class="player__volume-panel">
            <div class="player__volume" data-player-control="volume"></div>
            <div class="player__volume-scale-wrapper">
              <div class="player__volume-scale" data-player-scale="scale-volume">
                <div class="volume-scale__progress" data-player-scale="volume"></div>
              </div>
            </div>
          </div>
        </div>
        <ul class="player-block__playlist" data-player-playlist="Test">
          <li data-player-src="/music/up.mp3">
            <div class="player-block__playlist__text">
              <span class="player-block__playlist__number">1.</span>
              <span class="player-block__playlist__author">Б. Соқпақбаев</span>
              <span class="player-block__playlist__name">Менің атым қожа</span>
            </div>
            <span class="player-block__playlist__ico fa fa-play-circle" aria-hidden="true"></span>
          </li>
        </ul>
    </div>
  </div>
</section>
