<section class="ted">
  <div class="ted-container">
    <a href="#" class="ted-logo">
      <img src="images/ted.png" alt="" class="ted-logo__img">
    </a>
    <h3 class="ted-title">TED@NYC: TED’s talent search heads to Manhattan</h3>
    <div class="ted-video">
      <figure id="videoContainer" class="ted-video__inner">
        <video id="video" controls controlsList="nodownload" preload="metadata" poster="images/video3.png" class="ted-video__item">
           <source src="video/video.mp4" type="video/mp4">
           <source src="video/video.webm" type="video/webm">
           <source src="video/video.ogg" type="video/ogg">
        </video>
        <!--<ul id="video-controls" class="controls video-controls">-->
          <!--<li><button id="video-playpause" type="button" class="video-play"></button></li>-->
          <!--<li><button id="video-stop" type="button" class="video-stop"></button></li>-->
          <!--<li><span class="video-duration" id="video-duration">00:00</span></li>-->
          <!--<li class="progress">-->
            <!--<progress id="progress-video" value="0" min="0" class="progress-video">-->
              <!--<div id="progress-video-bar" class="progress-video-bar"></div>-->
            <!--</progress>-->
          <!--</li>-->
          <!--<li><span class="video-playtime" id="video-playtime">00:00</span></li>-->
          <!--<li><button id="video-mute" type="button" class="video-mute"></button></li>-->
          <!--<li><input id="video-volume" type="range" min="0" max="10" value="4" class="video-volume"></li>-->
          <!--<li><button id="fs" type="button" class="video-fs"></button></li>-->
        <!--</ul>-->
        <!--<div class="video-play-ico__block" id="video-play-ico">-->
          <!--<span class="video-play-ico">-->
            <!--<span class="fa fa-play"></span>-->
          <!--</span>-->
          <!--<div class="play-pulse"></div>-->
        <!--</div>-->
      </figure>
    </div>
    <div class="ted-controls">
      <div class="ted-controls__col">
        <!-- <button class="ted-btn">
          <span class="ted-btn-text">Өшіру</span>
          <span class="ted-btn-ico">
            <span class="ted-btn__ico-img fa fa-trash"></span>
          </span>
        </button> -->
        <button class="ted-btn">
          <span class="ted-btn-text">Қосу</span>
          <span class="ted-btn-ico">
            <span class="ted-btn__ico-img fa fa-star-half-o"></span>
          </span>
        </button>
        <div class="ted-social">
          <a href="#" class="ted-ico"><span class="ted-ico__img fa fa-vk"></span></a>
          <a href="#" class="ted-ico"><span class="ted-ico__img fa fa-facebook"></span></a>
          <a href="#" class="ted-ico"><span class="ted-ico__img fa fa-google-plus _small"></span></a>
          <a href="#" class="ted-ico"><span class="ted-ico__img fa fa-twitter"></span></a>
        </div>
      </div>
      <div class="ted-controls__col">
        <div class="ted-actions">
          <span class="ted-actions__item">
            <span class="fa fa-heart"></span>
            20
          </span>
          <span class="ted-actions__item">
            <span class="fa fa-plus-square"></span>
            20
          </span>
          <span class="ted-actions__item">
            <span class="fa fa-comment"></span>
            20
          </span>
        </div>
      </div>
    </div>
    <a href="#" class="ted-logo __mobile">
      <img src="images/ted.png" alt="" class="ted-logo__img">
    </a>
    <div class="ted-desc">
      <p class="ted-desc__item">Remember TED Talks by Joshua Prager, John McWhorter, Sleepy Man Banjo Boys and Hannah Brencher? All fantastic finds from previous talent searches. Now, we’re running a similar event once again. Known as TED@NYC, the evening event will be held on October 8. It’s a chance to find fresh voices to ring out on the TED main stage and be heard on ted.com.</p>

      <p class="ted-desc__item">28 speakers from all walks of life will share their risky, quirky, provocative and fascinating talks during 6 minutes on stage. Some of these talks will be posted on TED.com; other speakers will be invited to expand on their talks on TED’s main stage in Vancouver next spring.</p>

      <p class="ted-desc__item">Check out this dazzling lineup:</p>

      <p class="ted-desc__item">When Simon Doonan is not working as creative ambassador for Barney’s, he offers up pithy and whimsical thoughts on fashion and life.</p>

      <p class="ted-desc__item">CDZA is a New York City-based collective featuring more than 130 professional musicians, all recent graduates of the world’s most prestigious musical conservatories. Their YouTube videos are viral cultural commentaries, featuring hyper-medleys of hits, shot in exhaustive one-take executions. They have amassed over 20 million views and a subscriber base of over 200,000 fans in less than two years.</p>

      <p class="ted-desc__item">Formerly the New Jersey Attorney General, Anne Milgram is a senior fellow at NYU Law School’s Center for the Administration of Criminal Law. She wrote a powerful piece in The Atlantic last year calling for the use of smart statistics in the criminal justice system.</p>

      <p class="ted-desc__item">Drawing inspiration from Kanye West and Adele, singer-songwriter Elle Varner writes about girl power and fun in an eclectic mix of hip-hop and soul.</p>

      <p class="ted-desc__item">Shantell Martin‘s stream-of-consciousness sketches and light projection drawings transform her physical surroundings into a canvas onto which she projects her world.</p>

      <p class="ted-desc__item">A dancer and a soldier, Roman Baca expresses the experience of war through his choreography.</p>

      <p class="ted-desc__item">Seth Porges is a technology journalist, entrepreneur, gonzo historian, co-founder of Cloth, and most interestingly, a treasure-hunter.</p>

      <p class="ted-desc__item">Botanist Marielle Anzelone is an urban ecologist who explores the daily connection between people and nature. She directs NYC Wildflower Week and has written legislation to support native biodiversity in public landscapes.</p>

      <p class="ted-desc__item">Humorist Dawn J. Fraser tells hilarious stories of culture and identity.</p>
    </div>
    <span class="ted-desc__btn js-ted-desc">
      <span class="fa fa-angle-double-down ted-desc__btn-ico"></span>
    </span>
  </div>
</section>
