<section class="toauthor">
  <div class="container">
    <div class="toauthor-info">
      <div class="toauthor-text">
        <p>
          Интернетте қазақтілді мазмұнды арттыруға серпін берер, қазақ әдебиеті мен өнерін, мәдениеті мен ғылымын насихаттап, қалың қауымға қолжетімді ететін «Қазақстанның ашық кітапханасына» өз шығармаңызды орналастырғыңыз келсе, «Wikibilim» қоғамдық қорына хабарласыңыз. Шығарма авторлық құқықтары толық сақтала отырып, Creative Commons еркін лицензиялары негізінде жарияланады.
        </p>
      </div>
      <span class="toauthor-info__label">Авторлақ шарт</span>
      <a href="#" class="toauthor-btn">
        <span class="toauthor-btn__text">Жүктеу</span>
        <span class="toauthor-btn__ico">
          <span class="toauthor-btn__ico-img fa fa-arrow-down"></span>
        </span>
      </a>
    </div>
    </div>
  </div>
</section>
