<section class="traditional">
  <h3 class="traditional-title">
    <span class="traditional-title__ico fa fa-qrcode"></span>Дәстүрлі ән өнері
  </h3>
  <div class="traditional-container">
    <div class="traditional-row">
      <div class="traditional-item __hover-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <div class="__relative">
            <img src="images/a1.png" alt="" class="traditional-item__img">
            <div class="hover-img__text">
              <span class="hover-img__text-btn">Өту
              </span>
            </div> 
          </div>
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="traditional-book">
    <span class="traditional-book__text">Әнді сүйсең
   менше сүй...</span>
  </a>
  <h3 class="traditional-title">
    <span class="traditional-title__ico fa fa-asterisk"></span>Шаһнама
  </h3>
  <!-- row2 -->
  <div class="traditional-container">
    <div class="traditional-row">
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row2 -->
  <h3 class="traditional-title">
    <span class="traditional-title__ico fa fa-music"></span>Дәстүрлі күй өнері
  </h3>
  <!-- row3 -->
  <div class="traditional-container">
    <div class="traditional-row">
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
      <div class="traditional-item">
        <a href="audioinner.html" class="traditional-item__inner">
          <img src="images/a1.png" alt="" class="traditional-item__img">
          <span class="traditional-item__title">Ninety one</span>
          <span class="traditional-item__text">Қалайша</span>
        </a>
        <div class="traditional-item__rating">
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-heart"></span>
            <span class="traditional-rating__text">20</span>
          </div>
          <div class="traditional-rating__block">
            <span class="traditional-rating__ico fa fa-plus-square"></span>
            <span class="traditional-rating__text">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row3 -->
  <aside class="plate __mobile">
    <span class="plate-title">
      <span class="plate-title__ico fa fa-bullseye"></span>Сырлы пластина
    </span>
    <div class="plate-img"></div>
  </aside>
</section>
