<section class="translate">
  <div class="container">
    <h3 class="translate-title"><span class="ico icons-trnslate translate-title__ico"></span>Әмбебап сөздік</h3>
    <form action="" class="transtate-form">
      <div class="transtate-search">
        <input id="dictionry" type="text" class="transtate-search__input" placeholder="Сөзді енгізіңіз">
        <button type="submit" class="transtate-search__btn">
          <span class="transtate-search__btn-ico fa fa-search"></span>
        </button>
      </div>
      <p class="transtate-text">
        Қазақ тілінің әмбебап сөздігінде
        <span class="transtate-text-block">
          <span class="transtate-text__ico-left ico"></span>
          <span class="transtate-text__center">
            150 156
          </span>
          <span class="transtate-text__ico-right ico"></span>
        </span>
        лексикалық бірлік қамтылған
      </p>
    </form>
  </div>
</section>
