<div class="modal js-translatemodal">
  <div class="translatemodal js-translatemodal-inner">
    <div class="translatemodal-inner">
    <form action="" class="translatemodal-form">
      <h3 class="translatemodal-title">
        <span class="ico tanslatemodal-title__ico"></span>Қазақ тілінің әмбебап сөздігі
      </h3>
      <input type="text" class="translatemodal-input" placeholder="Сөзді енгізіңіз">
      <button type="submit" name="button" class="translatemodal-btn">Сөзді аудару</button>
    </form>
    <div class="translatemodal-info">
      <h4 class="translatemodal-subtitle">Жаңа</h4>
      <span class="translatemodal-section">I Сын есім</span>
      <div class="translatemodal-item">
        <span class="translatemodal-item__title">1. Өңі кетпеген, бұрын ұсталмаған.</span>
        <span class="translatemodal-item__text">Жанбосынның аяғындағы бұжыр табан қара бәтеңке 
бұрын қолыма түспей, ыза қылғаны үшін енді күн сайын ж а ң а с ы н киіп шығатын болам (Б.Соқпақбаев, Бастан кешкен). – Мыналарға ж а ң а шинель, жаңа етік, ер-тұрман бер, Жүнісов, – деп жарлық етті Мәмбет. (X.Есенжанов, Тар кезең). Ж а ң а н ы ң бәрі жаңа ма? Ескінің бәрі ескі ме? Жаңамыз жанға жаға ма, жол берсе тозған ескіге (М.Әлімбаев, Өшпес от). Тәлім қолына бірер ж а ң а кітап алса, алдымен соның жазушысымен танысады (Б.Майлин, Шығармалары).</span> 
        <span class="translatemodal-item__important">новый, не бывший в употреблении
          <span class="translatemodal-item__lang">русский</span>
        </span>
      </div>
      <div class="translatemodal-item">
        <span class="translatemodal-item__title">2. Жуықта, жуырда, жақында.</span>
        <span class="translatemodal-item__text">Көлдің күншығыс жақ жағасынан 
          үлкен қыстау сияқты, ж а ң а салынған қала көрінеді (С.Сейфуллин, Шығармалары). Райдың көбіне-көп Ақбаланың ж а ң а түскен келіншектей үлбіреп киінген сәнді түріне жыны келді (Ә.Нұрпейісов, Қан мен тер). Ж а ң а туған сәбиге ең жағымды тағам – ана сүті (Е.Оразақов, Дәрігер парызы). Сәуле үстіне барын киіпті. Ж а ң а түскендей малынып, аузын қиғаштай, еркін, ерке сөйлей келеді (Ғ.Мұстафин, Дауылдан кейін). Он </span> 
        <span class="translatemodal-item__important">новый, не бывший в употреблении
          <span class="translatemodal-item__lang">русский</span>
        </span>
      </div>
    </div>
  </div>
</div>
</div>