<section class="video">
  <div class="container">
    <h3 class="video-title">
      <div class="video-title__name">
        <span class="video-title__ico fa fa-film"></span>Қазақ киносы
      </div>
      <a href="videoinner.html" class="video-title__btn">
        Барлық видеолар
      </a>
    </h3>
    <div class="video-row">
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- videosection2 -->
<section class="video">
  <div class="container">
    <h3 class="video-title _ted">
      <div class="video-title__name">
        TED
      </div>
      <a href="#" class="video-title__btn">
        Барлық видеолар
      </a>
    </h3>
    <div class="video-row">
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- end videosection2 -->
<!-- videosection3 -->
<section class="video">
  <div class="container">
    <h3 class="video-title">
      <div class="video-title__name">
        <span class="video-title__ico fa fa-university"></span>Театр
      </div>
      <a href="#" class="video-title__btn">
        Барлық видеолар
      </a>
    </h3>
    <div class="video-row">
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
      <a href="ted.html" class="video-item">
        <div class="video-item__top" style="background-image: url(images/v1.png);">
          <div class="video-item__top-action"></div>
        </div>
        <span class="video-item__title">Келінка Сабина</span>
        <div class="video-item__rating">
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-heart"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-plus-square"></span>
            <span class="video-rating__text">20</span>
          </div>
          <div class="video-rating__block">
            <span class="video-rating__ico fa fa-comment"></span>
            <span class="video-rating__text">20</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<!-- end videosection3 -->
