<section class="videobanner">
  <div class="container videobanner-container">
    <div class="videobanner-info">
      <h3 class="videobanner-info__title">What is Lorem Ipsum?</h3>
      <p class="videobanner-info__text">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
  </div>
</section>
