<div class="why">
  <div class="why-inner">
    <section class="why-info" id="link-2">
      <h3 class="why-info-title">Зачем нужно пиво?</h3>
      <div class="why-info-block">
        <div class="why-info-desc">
          <span class="why-info-desc__title">Пиво нужно,<br>чтобы его пить.</span>
          <span class="why-info-desc__text">
            Именно поэтому оно так хорошо освежает и утоляет жажду.
Самый <span class="_strong">идеальнейший</span> объем одной порции пива - поллитра (спроси любого). Именно поэтому пиво НОЛЬ ПЯТЬ разливается в бутылки объемом поллитра.
          </span>
        </div>
      </div>
      <img src="../images/pinta.png" alt="" class="why-info-img wow bounceInRight">
    </section>
    <section class="why-bottle" id="link-3">
      <a href="#link-3" class="why-bottle-link">
        <span class="why-bottle-link__text">Кстати, знаешь как выглядят наши бутылки? Скроль ниже, чтобы увидеть их!</span>
        <span class="ico icons-arrow-down why-bottle-link__ico"></span>
      </a>
      <div class="why-bottle-info">
        <div class="why-bottle-info-bottle">
          <img src="../images/bottle.png" alt="" class="why-bottle-info__img wow pulse">
        </div>
        <div class="why-bottle-info__desc">
          <h3 class="why-bottle-info__desc-title">Вот так выглядят<br>
наши бутылки.</h3>
          <span class="why-bottle-info__desc-text">
            Благодаря соблюдению всех мыслимых и немыслимых стандартов в производстве, пиво НОЛЬ ПЯТЬ обладает… вкусом пива. Нет, серьезно - вкусом привычного, солодового, прохладного, душевного пива. Без примесей и посторонних запахов. Наша логика простая: зачем что-то добавлять, если пиво итак вкусное?
          </span>
        </div>
      </div>
    </section>
  </div>
</div>
