.special{
  margin-bottom: 1.8rem;
}

.special-row{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 580px) {
    margin: 0;
  }
  @include mq($until: tablet) {
    justify-content: center;
  }
}


.special-item{
  margin-bottom: 3rem;
  width: 33.3%;
  transition:width 0.2s ease;
  min-height: 33rem;
  padding:0 1.5rem;
  @include mq($until: desktop) {
    width: 50%;
  }
  @media (max-width: 770px) {
    width:60%;
  }
  @media (max-width: 660px) {
    width:70%;
  }
  @media (max-width: 580px) {
    width: 100%;
    padding: 0;
  }

  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
    min-height: auto;
    width: 100%;
  }
  &:hover{
    text-decoration: none;
    .special-item__inner{
      background:darken($b-gray-modal, 3)
    }
    .special-img__text {
      opacity:1;
    }
  }
}


.special-item__inner{
  height: 100%;
  border-radius: 5px;
  background: $b-gray-modal;
  display: flex;
  flex-direction: column;
}

.special-img{
  margin-bottom: 1.8rem;
  position:relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  &:before {
    content: '';
    display: table;
    margin-top: 255 / 344 * 100%;   //высота / ширина
  }
}

.special-img__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background: rgba(black, 0.37);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.special-img__text-btn {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white;
  &:hover{
    text-decoration: none;
  }
}

.special-img__item{
  width: 100%;
  height: 15.75rem;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 580px) {
  .special-img__item{
    height: auto;
  }
}

.special-title{
  margin-bottom:1rem;
  padding:0 1.8rem;
  font-size:1.5rem;
  line-height:1.2em;
  display: block;
  color:black;
  @include mq($until: mobile) {
    font-size:1.3rem;
  }
}

.special-text{
  padding:0 1.8rem 1.8rem;
  font-size:0.95rem;
  line-height:1.2em;
  display: block;
  color:black;
}
