.popular {
  margin-bottom: 3.7rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 1.8rem;
  }


  @include mq($until: tablet) {
    margin: 0 auto 1.8rem;
  }
  .container{
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      max-width: 100%;
    }

    @include mq($until: tablet) {
      max-width: 100%;
    }
  }
}

.popular-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: black;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 1.8rem;
    font-size: 1.2rem;
    max-width: 90%;
  }


  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    font-size: 1.2rem;
    max-width: 90%;
  }
}

.popular-title__ico {
  margin-right: 1.2rem;
  color: $b-green;
  font-size: 1.3rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 1rem;
  }


  @include mq($until: tablet) {
    margin-right: 1rem;
  }
}

.popular-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    display: none;
    .popular-item {
      width: 100%;
    }
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      display: block;
      margin:0;
    }


    @include mq($until: tablet) {
      display: block;
      margin:0;
    }
  }
}

.popular-item {
  margin-bottom: 1rem;
  padding: 0 1rem;
  width: 16.6%;
  text-align: center;
  cursor: pointer;
  transition:opacity 0.3s ease;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    width: 33.3%;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    padding: 0 1rem;
    width: 33.3%;
  }

  @include mq($until: mobile) {
    margin-bottom: 1rem;
    width: 100%;
    display: block;
    padding: 0;
  }
  &:hover{
    text-decoration: none;
  }
  a{
    text-decoration: none;
    display: block;
    &:hover{
      text-decoration: none;
    }
  }
  &:hover{
    opacity:0.7;
  }
}

.popular-item__img {
  margin:0 auto 1rem;
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 12.5rem;
  @include mq($until: tablet) {
    max-width: 100%;
    width: auto !important;
  }
  @include mq($until: mobile) {
    max-width: 100%;
    width: auto !important;
  }
}

.popular-item__title {
  margin-bottom: 0.4rem;
  display: block;
  font-size: 1rem;
  color:black;
  font-family: $ff-roboto-b;
}

.popular-item__text {
  display: block;
  font-size: 1rem;
  color:black;
}
