.infoSlider {
  position: relative;
  margin:0 auto 3.5rem;
  /*max-width: 1900px;*/
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
}

.infoSlider-mobile{
  display: none;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: block;
    margin-bottom: 2.5rem;
  }

  @include mq($until: tablet) {
    display: block;
    margin-bottom: 2.5rem;
  }
}

.infoSlider-bg {
  background: url("../images/1.jpg") no-repeat 0 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 34rem;
  max-height: 550px;
  display: flex;
  align-items: center;

  @include mq($until: desktop) {
    height: 28rem;
    max-height: 450px;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    height: 15rem;
  }

  @include mq($until: tablet) {
    height: 15rem;
  }

  @include mq($until: mobile) {
    height: 10rem;
  }
}

.infoSlider-desc {
  @extend .container;

  text-align: center;
  position: relative;
}

.infoSlider-desc__text {
  margin: 0  auto;
  max-width: 90%;
  font-size: 3.4rem;
  line-height: 4rem;
  color: white;
  text-transform: uppercase;

  @include mq($until: wide) {
    max-width: 70%;
    br{
      display: none;
    }
  }

  @include mq($until: desktop) {
    font-size: 2.5rem;
    line-height: 3rem;
    max-width: 60%;
  }

  @include mq($until: desktopAd) {
  }

  @include mq($until: mobileLandscape) {
    font-size: 1.6rem;
    line-height: 1.2em;
  }

  @include mq($until: tablet) {
    font-size: 1.6rem;
    line-height: 1.2em;
    max-width: 80%;
  }

  @include mq($until: mobile) {
    font-size: 1.6rem;
    line-height: 1.2em;
    max-width: 90%;
  }
}

.infoSlider-item a:hover  infoSlider-desc__text{
  text-decoration:none;
}

.infoSlider-desc__link {
  padding: 1.2rem 2.5rem;
  display:none;
  font-size: 1rem;
  color: white;
  background: $b-pink;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background: darken($b-pink, 3);
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 2.5rem;
    padding: 1rem 0;
    width: 100%;
  }


  @include mq($until: tablet) {
    margin-bottom: 2.5rem;
    padding: 1rem 0;
    width: 100%;
  }
}

.icons-arrow-left {
  width: 3rem;
  height: 3rem;
  background: url("../images/arrowleft.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.icons-arrow-right {
  width: 3rem;
  height: 3rem;
  background: url("../images/arrowright.png") no-repeat 0 0;
  background-size: 100% 100%;
}

.infoSlider-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;

  &.icons-arrow-left {
    left: 0;
  }

  &.icons-arrow-right {
    right: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover{
    opacity:0.7;
  }
}

.infoSlider-icons {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
  z-index: 1;
}

.bx-wrapper {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: 0;
}

.infoSlider-item{
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
