.offers {
  margin-bottom: 3rem;
}

.offers-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
}

.offers-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.offers-block {
  padding: 1.5rem 1.2rem 1.2rem;
  position: relative;
  background: $b-gray-modal;
  border-radius: 5px;
}

.offers-social {
  position: absolute;
  top: 0;
  right: 0.5rem;

  /*   @include mq($until: tablet, $and: "(orientation: landscape)") {
      margin-bottom: 1rem;
      position: relative;
      top:auto;
      right:auto;
      text-align: center;
    }
    @include mq($until: tablet) {
      margin-bottom: 1rem;
      position: relative;
      top:auto;
      right:auto;
      text-align: center;
    } */
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
  }
}

.offers-social{
  display: flex;

  @include mq($until: tablet) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    display: none;
    @include mq($until: tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include mq($until: mobile) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.offers-social__ico {
  margin-right: 0.6rem;
  background: #bdc3c7;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#bdc3c7,3);
  }
}

.offers-social-ico__img {
  color: $b-gray-modal;
  font-size: 1.3rem;

  &._small {
    font-size: 1.2rem;
  }
}


.icons-vkgray {
  @include icon("../images/vkgray.png", 2.1rem, 2.1rem);
}

.icons-fbgray {
  @include icon("../images/fbgray.png", 2.1rem, 2.1rem);
}

.icons-twgray {
  @include icon("../images/twgray.png", 2.1rem, 2.1rem);
}

.icons-gplusgray {
  @include icon("../images/gplusgray.png", 2.1rem, 2.1rem);
}

.offers-slider {}

.offers-carousel__controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  padding: 0;

  .owl-prev {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowleftcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .owl-next {
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowrightcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
}

.offers-item {
  padding-top: 1rem;
  position: relative;
}

.offers-item-top {
  margin-bottom: 1.8rem;
  padding: 0 3.6rem;
  display: flex;
  justify-content: flex-start;

  /*   @include mq($until: tablet, $and: "(orientation: landscape)") {
      padding: 0;
      flex-direction: column;
    }


    @include mq($until: tablet) {
      padding: 0;
      flex-direction: column;
    } */
  @include mq($until: tablet) {
    padding: 0 1.5rem;
  }
  @include mq($until: mobile) {
    padding: 0;
    flex-direction: column;
  }
}

.offers-book {
  margin-right: 1.8rem;
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
    width: 100%;
  }
  @include mq($until: mobile) {
    margin: 0 auto 1rem;
    width: 100%;
  }
}

.offers-book__img {
  margin-bottom: 1rem;
  display: block;
  width: 6.25rem !important;
  height: 9.3rem;
  max-width: none;
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
    width: auto!important;
    max-width: 100%;
  }
  @include mq($until: mobile) {
    margin: 0 auto 1rem;
    width: auto!important;
    max-width: 100%;
  }
}

.offers-book__rating {
  display: flex;
  justify-content: space-between;
  @include mq($until: tablet) {
    margin: 0 auto;
    width: 9.3rem;
  }
  @include mq($until: mobile) {
    margin: 0 auto;
    width: 9.3rem;
  }
}

.offers-book__rating-ico {
  font-size: 1rem;
  color: #cac8c8;
  cursor: pointer;

  &._active,
  &:hover {
    color: #fbc509;
  }
  @include mq($until: tablet) {
    font-size: 1.3rem;
  }
  @include mq($until: mobile) {
    font-size: 1.3rem;
  }
}

.offers-info__author {
  margin-bottom: 1rem;
  font-size: 1rem;
  display: none;
  text-decoration: underline;
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    text-align: center;
    @include mq($until: tablet) {
      display: block;
    }
  }
}

.offers-info__name {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  display: none;
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    text-align: center;
    @include mq($until: tablet) {
      display: block;
    }
  }
}

.offers-info {
  .offers-info__author, .offers-info__name {
    display: block;
    @include mq($until: tablet) {
      display: none;
    }
  }
}
.offers-info__desc {
  font-size: 0.87rem;
  line-height: 1.2em;
  @include mq($until: tablet) {
    padding-top: 2.7rem;
  }
  p{
    font-family: $ff-roboto !important;
    font-size: 0.87rem !important;
    line-height: 1.2em!important;
    span{
      font-family: $ff-roboto !important;
      font-size: 0.87rem !important;
      line-height: 1.2em!important;
    }
  }
}

.offers-item__options {
  display: flex;
  justify-content: flex-end;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.offers-options__btn {
  margin-right: 1.8rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-green;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-green, 3);

    .offers-options__btn-ico {
      background: darken($b-green-dark, 3);
    }
  }

  &.__blue {
    background: $b-blue;

    .offers-options__btn-text {
      padding: 1rem 1.8rem 1rem;
    }

    .offers-options__btn-ico {
      background: $b-blue-dark;
    }

    &:hover {
      background: darken($b-blue, 3);

      .offers-options__btn-ico {
        background: darken($b-blue-dark, 3);
      }
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include mq($until: mobile) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.offers-options__btn-text {
  padding: 1rem 1rem 1rem 1.8rem;
  color: white;
  font-size: 1rem;
  text-align: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }


  @include mq($until: tablet) {
    width: 100%;
  }
}

.offers-options__btn-ico {
  width: 3.125rem;
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.offers-options-ico__img {
  color: white;
  font-size: 1.2rem;
}

.offers-book__text{
  display: block;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  text-align: center;
}
