.ted-container{
  margin:0 auto 1.8rem;
  max-width: 45rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {}
  @include mq($until: tablet) {}
}

.ted-logo {
  display: inline-block;
  margin-bottom:1.8rem;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    margin-bottom:1.8rem;
    display: none;
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      display: block;
      text-align: center;
    }
    @include mq($until: tablet) {
      display: block;
      text-align: center;
    }
  }
}

.ted-title {
  margin-bottom: 1.8rem;
  font-size:1.5rem;
  line-height: 1.2em;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.3rem;
    text-align: center;
    font-size:1.1rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 1.3rem;
    text-align: center;
    font-size:1.1rem;
  }
}

.ted-video{
  margin-bottom: 2rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.2rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 1.2rem;
  }
}

.ted-actions{
  text-align: center;
}

.ted-actions__item{
  margin-right: 2rem;
  display: inline-block;
  color:#bdc3c7;
  font-size:1rem;
  .fa{
    color:#dde0e1;
  }
  &:last-of-type{
    margin-right: 0;
  }
}

.ted-desc{
  margin-bottom: 1.8rem;
  transition: max-height 1s ease;
  overflow: hidden;
  @include mq($until: tablet) {
    margin: 0 auto;
    max-width: 90%;
  }
}

.ted-desc__item{
  margin-bottom: 1rem;
  display: none;
  font-size:1rem;
  line-height: 1.15em;
}

.ted-desc__btn{
  margin: 0 auto 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background: $b-gray-modal;
  cursor: pointer;
  &:hover{
    background:darken($b-gray-modal, 3);
  }
}

.ted-desc__btn-ico{
  font-size:1.2rem;
  color:#bdc3c7;
}

.ted-btn {
  margin-right: 1.8rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-blue, 3);

    .speaker-top__btn-ico {
      background: darken($b-blue-dark, 3);
    }
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;

  }
  @include mq($until: mobile) {
      width: 100%;
  }
}

.ted-btn-text {
  padding: 1.2rem 1.2rem 1rem 1.4rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  @include mq($until: desktop) {
    padding: 1.2rem 0.8rem 1rem 0.8rem;
  }
  @include mq($until: desktopAd) {
    padding: 1.2rem 1.2rem 1rem 1.4rem;
  }
}

.ted-btn-ico {
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-blue-dark;
  border-radius: 0 5px 5px 0;
  color:white;
  font-size:1.2rem;
}

.ted-social {
  display: flex;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    align-items: center;
    justify-content: center;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }
  @include mq($until: mobile) {
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.ted-ico {
  margin-right: 1.1rem;
  background: #e1e6e7;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e1e6e7,3);
  }
}

.ted-ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.ted-controls{
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
    @include mq($until: tablet) {
      flex-direction: column;
      justify-content: center;
    }
}

.ted-controls__col{
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
}
