.talentsinner{
  margin:0 auto 5rem;
  max-width: 41rem;
}

.talentsinner-info{
  margin-bottom: 1.8rem;
  padding-bottom: 1.2rem;
  display: flex;
  border-bottom:1px solid #bdc3c7;
  @media (max-width: 680px) {
    margin:0 auto 1.2rem;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: mobile) {
    margin:0 auto 1.2rem;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.talentsinner-info__img{
  width: 25%;
  @media (max-width: 680px) {
    width: 100%;
    text-align: center;
  }
  @include mq($until: mobile) {
    width: 100%;
    text-align: center;
  }
}

.talentsinner-info__img-logo{
  margin-bottom: 1.2rem;
  max-width: 8rem;
  @media (max-width: 680px) {
    margin-bottom: 1.8rem;
  }
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
  }
}

.talentsinner-info__text{
  width: 75%;
  @media (max-width: 680px) {
    width: 90%;
  }
  @include mq($until: mobile) {
    width: 90%;
  }
}

.talentsinner-info__top{
  margin-bottom: 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media (max-width: 680px) {
    justify-content: center;
  }
  @include mq($until: mobile) {
    justify-content: center;
  }
}

.talentsinner-social{
  display: flex;
  @media (max-width: 680px) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
}

.talentsinner-ico {
  margin-right: 1.1rem;
  background: #e5e5e5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e5e5e5,3);
  }
}

.talentsinner-ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.talentsinner-info__title{
  font-size:1.1rem;
  font-family: $ff-roboto-b;
  @media (max-width: 680px) {
    text-align: center;
  }
  @include mq($until: mobile) {
    text-align: center;
  }
}

.talentsinner-info__subtitle{
  margin-bottom: 1.5rem;
  font-size:1rem;
  @media (max-width: 680px) {
    margin-bottom: 1.8rem;
    text-align: center;
  }
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
    text-align: center;
  }
}

.talentsinner-desc__item{
  margin-bottom: 1rem;
  font-size:1rem;
  line-height: 1.2em;
  display: none;
}

.talentsinner-desc__btn{
  margin:0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $b-gray-modal;
  border-radius: 50%;
  font-size:1.5rem;
  color:#bdc3c7;
  cursor: pointer;
}

.talentsinner-actions{
  text-align: center;
  @media (max-width: 680px) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
}

.talentsinner-actions__item{
  margin-right: 1rem;
  display: inline-block;
  color:#7f8c8d;
  font-size:0.9rem;
  .fa{
    margin-right: 0.3rem;
    color:#aeb9ba;
  }
}

.talents-audio{
  @media (max-width: 680px) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    display: none;
    @media (max-width: 680px) {
      display: block;
    }
    @include mq($until: mobile) {
      display: block;
    }
  }
}

.talents-audio-item__img{
  margin:0 auto 1.2rem;
  display: block;
  max-width: 7rem;
}

.talents-audio-item{
  &:after{
    content:'';
    margin:1.8rem auto 1.5rem;
    width: 90%;
    display: block;
    border-bottom:1px solid #bdc3c7;
  }
}
