.article-container {
  margin: 0 auto 2.5rem;
  max-width: 45rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
  @include mq($until: mobile) {
    max-width: 100%;
  }

  img.left {
    float: left;
    margin-right: 1rem;
    padding: 5px;
  }

  img.right {
    float: right;
    margin-left: 1rem;
    padding: 5px;
  }
  p, span, strong {
    font-family: $ff-roboto !important;
  }
}

.article-logo {
  display: inline-block;
  margin-bottom: 1.8rem;

  &:hover {
    text-decoration: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
}

.article-title {
  margin-bottom: 1.8rem;
  font-size: 1.5rem;
  @include mq($until: mobile) {
    margin-bottom: 1.2rem;
    text-align: center;
  }
}

.article-slider-top{
  margin-bottom: 1.2rem;
}

.article-slider {
  margin-bottom: 1rem;
  position: relative;
  .slick-center{
    .article-slider-nav__item{
      opacity: 0.6;
    }
  }

}

.article-slider-nav{
  @include mq($until: mobile) {
    display:none;
  }
}

.article-slider__item{
  text-align: center;
}

.article-slider__img{
  max-width: 100%;
  margin:0 auto;
}

.article-slider-nav__item{
  text-align: center;
  img{
    max-width: 90%;
  }
}

.article-slider-nav__item-img{
  max-width: 100%;
  margin:0 auto;
}

.article-slider-controls{
  .slick-arrow{
    width: 3rem;
    height: 3rem;
    transform: translate(0, -50%);
    &:before{
      display: none;
    }
    &:hover{
      opacity: 0.6;
    }
  }
  .slick-prev{
    top:50%;
    left:-5rem;
    background: url('../images/slideleft.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  .slick-next{
    top:50%;
    right:-5rem;
    background: url('../images/slideright.png') no-repeat 0 0;
    background-size: 100% 100%;
  }
  @include mq($until: tablet) {
    .slick-prev{
      left:-1rem;
    }
    .slick-next{
      right:-1rem;
    }
  }
  @include mq($until: mobile) {
    .slick-prev{
      left:0;
    }
    .slick-next{
      right:0;
    }
  }
}

.article-slider__info{
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;
  @include mq($until: mobile) {
    margin:0 auto;
    max-width: 90%;
  }
}

.article-slider-date{
  display: block;
  color:$b-olive;
  font-size:1rem;
  .fa{
    margin-right: 0.5rem;
  }
  @include mq($until: mobile) {
    margin-bottom:1rem;
  }
}

.article-slider-actions{
  margin-bottom: 1.1rem;
  display: block;
  color:$b-olive;
  font-size:1rem;
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
  }
}

.article-slider-actions__item{
  margin-right: 1rem;
  &:last-of-type{
    margin-right: 0;
  }
}

.article-slider-actions__link{
  color:$b-green;
  text-decoration: underline;
}


.article-slider-social{
  display: flex;
  @include mq($until: tablet) {
    align-items: center;
    justify-content: center;
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    margin:0 auto 1.8rem;
    width: 90%;
    display: none;
    @include mq($until: mobile) {
      display: flex;
    }
  }
}

.article-slider-social__ico{
  margin-right: 0.8rem;
  background: #e5e5e5;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e5e5e5,3);
  }
}

.article-slider-social__ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.article-desc {
  margin-bottom: 1.8rem;
  line-height: 1.5em;
  transition: max-height 1s ease;
  overflow: hidden;

  @include mq($until: mobile) {
    margin:0 auto 1rem;
    width: 90%;
  }
  p{
    text-align: left !important;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.2em;
    a{
      color:$b-blue;
    }
  }
}

.article-desc__item {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.2em;
}

.article-desc__btn {
  margin: 0 auto 2.7rem;
  padding: 0.8rem 1rem 0.6rem;
  display: block;
  max-width: 2.8rem;
  border-radius: 5px;
  background: $b-gray-modal;
  cursor: pointer;

  &:hover {
    background: darken($b-gray-modal, 3);
  }
}

.article-desc__btn-ico {
  font-size: 1.2rem;
  color: #bdc3c7;
}

.article-image{
  padding-bottom: 2.8rem;
  margin-bottom: 2.8rem;
  border-bottom:1px solid #bdc3c7;
  @include mq($until: mobile) {
    padding-bottom:0;
    margin-bottom: 2.5rem;
    border-bottom:0;
  }
}

.article-image__item{
  margin:0 auto 1.8rem;
  display: block;
  @include mq($until: mobile) {
    margin:0 auto 1.2rem;
  }
}

.article-image__desc{
  display: block;
  font-family: $ff-roboto-i;
  line-height: 1.2em;
  font-size: 1rem;
  @include mq($until: mobile) {
    margin:0 auto 1rem;
    width: 90%;
  }
}

.article-video{
  padding-bottom: 2.8rem;
  margin-bottom: 2.8rem;
  border-bottom:1px solid #bdc3c7;
  @include mq($until: mobile) {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom:0;
    &:after{
      content:'';
      margin: 2.5rem auto;
      height: 1px;
      width: 90%;
      display: block;
      background: #bdc3c7;
    }
  }
}

.article-video__title{
  margin-bottom: 1.8rem;
  font-size:1.1rem;
  @include mq($until: mobile) {
    margin:0 auto 1.8rem;
    width: 90%;
  }
}

.article-audio__title{
  margin-bottom: 1.8rem;
  font-size:1.1rem;
  @include mq($until: mobile) {
    margin:0 auto 1.8rem;
    width: 90%;
  }
}

.article-audio__title-number{
  color:$b-green;
}

.article-audio{
  padding-bottom: 2.8rem;
  margin-bottom: 2.8rem;
  border-bottom:1px solid #bdc3c7;
  @include mq($until: mobile) {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom:0;
    &:after{
      content:'';
      margin: 2.5rem auto;
      height: 1px;
      width: 90%;
      display: block;
      background: #bdc3c7;
    }
  }
}

.article-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-wrap: wrap;
  }


  @include mq($until: tablet) {
    flex-wrap: wrap;
  }
}

.article-gallery__item {
  margin-right: 1.5%;
  margin-bottom: 1rem;
  max-width: 15%;
  cursor: pointer;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 30%;
  }


  @include mq($until: tablet) {
    max-width: 30%;
  }
}
