.breadcrumbs{
  margin-bottom: 3rem;
  @include mq($until: tablet) {
    margin-bottom: 1.5rem; 
  }
}

.breadcrumbs-item{
  color:$b-green;
  font-size:0.9rem;
  &:after{
    content:'\F054 ';
    margin:0 0.4rem 0 0.6rem;
    font-family: 'FontAwesome';
    color:$b-green;
    font-size:0.9rem;
    vertical-align: middle;
  }
  &._active{
    color:$b-olive;
    &:after{
      display: none;
    }
    &:hover{
      text-decoration: none;
      color:darken($b-olive, 7);
    }
  }
  &:hover{
    text-decoration: none;
    color:darken($b-green, 7);
  }
}
