.translatemodal{
  padding: 2.5rem 0;
  max-width: 41rem;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  max-height: 90%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}
.translatemodal-inner{
  max-height: 500px;
  overflow: auto;
}

.translatemodal-form{
  padding: 0 2.5rem;
}

.tanslatemodal-title__ico {
  margin-right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(../images/translategreen.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.translatemodal-title{
  margin-bottom: 1.8rem;
  font-size:1.5rem;
  text-align: center;
}

.translatemodal-input{
  margin-bottom: 1.2rem;
  padding: 1rem 1.5rem;
  width: 100%;
  font-size:1rem;
  color:black;
  border:1px solid $b-blue;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(2, 195, 250, 0.38);
  &::placelder{
    color:$b-olive;
  }
}

.translatemodal-btn{
  margin-bottom: 1.8rem;
  padding: 1rem;
  color:white;
  font-size:1rem;
  background: $b-green;
  width: 100%;
  border:none;
  border-radius: 5px;
}

.translatemodal-subtitle{
  padding: 0 2.5rem;
  margin-bottom: 1.8rem;
  font-size:1.1rem;
  text-align: left;
}

.translatemodal-section{
  margin-bottom: 1rem;
  display: block;
  background: $b-gray-modal;
  font-size:0.9rem;
  padding: 1rem 2.5rem;
  text-align: left;
}

.translatemodal-item{
  padding: 0 2.5rem;
}

.translatemodal-item__title{
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: left;
  display: block;
}

.translatemodal-item__text{
  color:#7f8c8d;
  font-size:1rem;
  line-height: 1.2em;
  display: block;
  text-align: left;
}

.translatemodal-item__important{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $b-gray-modal;
  border-bottom: 1px solid $b-gray-modal;
  padding: 0.6rem 0;
  text-align: left;
  font-size:1rem;
}

.translatemodal-item__lang{
  font-size:0.8rem;
  color:$b-green;
}

/*************** SCROLLBAR DYNAMIC ***************/

.translatemodal-inner> .scroll-element,
.translatemodal-inner> .scroll-element div
{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.translatemodal-inner> .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.translatemodal-inner> .scroll-element.scroll-x {
    bottom: 2px;
    height: 7px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.translatemodal-inner> .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    border:1px solid $b-gray-modal;
    border-radius: 12px;
}
.translatemodal-inner> .scroll-element.scroll-y:hover .scroll-element_outer, .translatemodal-inner> .scroll-element.scroll-y.scroll-draggable .scroll-element_outer{
  width: 6px !important;
}

.translatemodal-inner> .scroll-element .scroll-element_outer {
    border-radius: 12px;
}
.translatemodal-inner> .scroll-element .scroll-element_size {
    background-color: white;
    opacity: 0;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.translatemodal-inner> .scroll-element .scroll-bar {
    background-color: $b-green;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* scrollbar height/width & offset from container borders */
.translatemodal-inner> .scroll-element.scroll-x{
      display: none;
}

.translatemodal-inner> .scroll-element.scroll-x .scroll-bar {
    bottom: 0;
    height: 7px;
    min-width: 24px;
    top: auto;
}
.translatemodal-inner> .scroll-element.scroll-y .scroll-bar {
    left: auto;
    min-height: 40px;
    right: 0;
    width: 6px;
}

.translatemodal-inner> .scroll-element.scroll-x .scroll-element_outer {
    bottom: 0;
    top: auto;
    left: 2px;

    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    -ms-transition: height 0.2s;
    transition: height 0.2s;
}

.translatemodal-inner> .scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;

    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -ms-transition: width 0.2s;
    transition: width 0.2s;
}

.translatemodal-inner> .scroll-element.scroll-x .scroll-element_size { left: -4px; }
.translatemodal-inner> .scroll-element.scroll-y .scroll-element_size { top: -4px; }


/* update scrollbar offset if both scrolls are visible */

.translatemodal-inner> .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
.translatemodal-inner> .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }


/* hover & drag */

.translatemodal-inner> .scroll-element:hover .scroll-element_outer,
.translatemodal-inner> .scroll-element.scroll-draggable .scroll-element_outer {
    overflow: hidden;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.translatemodal-inner> .scroll-element:hover .scroll-element_outer .scroll-element_size,
.translatemodal-inner> .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
    opacity: 1;
}
.translatemodal-inner> .scroll-element:hover .scroll-element_outer .scroll-bar,
.translatemodal-inner> .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    height: 100%;
    width: 100%;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.translatemodal-inner> .scroll-element.scroll-x:hover .scroll-element_outer,
.translatemodal-inner> .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
    height: 20px;
    min-height: 7px;
}
.translatemodal-inner> .scroll-element.scroll-y:hover .scroll-element_outer,
.translatemodal-inner> .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    min-width: 7px;
    width: 20px;
}
