.bookitem{
  margin:0 auto 5rem;
  max-width: 45rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: mobile) {
    margin-bottom: 2.5rem;
    flex-direction: column;
    align-items: center;
  }
}

.bookitem-top{
  margin:0 auto 3.75rem;
  display: flex;
  position: relative;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
}

.bookitem-boook{
  margin-right: 1.8rem;
  width: 30%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.bookitem-book__img{
  margin-bottom: 1.2rem;
  display: block;
  width: 13rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 1rem;
  }
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
  }
}

.bookitem-book__rating{
  display: flex;
  justify-content: center;
  direction: rtl;
  span:hover,
  span:hover ~ span,
  span:focus,
  span:focus ~ span {
   color:#fbc509; 
   cursor: pointer;
   animation: stretch-bounce .5s ease-in-out;
  }
}


.bookitem-book__rating-ico{
  margin-right: 0.7rem;
  font-size:1.3rem;
  color:#cac8c8;
  cursor: pointer;
  transition: color .4s;

  &:first-of-type{
    margin-right: 0;
  }
  &._active{
    color:#fbc509;
  }
}

.bookitem-info{
  max-width: 30rem;
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 90%
  }
  @include mq($until: tablet) {
    width: 90%
  }
}
.bookitem-title-mobile{
  display: none;
  @include mq($until: mobile) {
    display: block;
  }
  .bookitem-info__author{
    @include mq($until: mobile) {
      display: block;
      text-align: center;
    }
  }
  .bookitem-info__name{
    @include mq($until: mobile) {
      display: block;
      text-align: center;
    }
  }
  .bookitem-info-header{
    display: flex;
    @include mq($until: tablet) {
      justify-content: center;
    }
  }
}
.bookitem-info__author{
  display: block;
  font-size:1rem;
  text-decoration: underline;
  color:black;
  @include mq($until: mobile) {
    display: none;
  }
  a{
    color:black;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color:lighten(black, 7);
    }
  }
  &:hover{
    color:lighten(black, 7);
  }
}

.bookitem-info__name{
  margin-bottom: 1.6rem;
  font-size: 1.7rem;
  @include mq($until: mobile) {
    display: none;
  }
}

.bookitem-info__desc{
  margin-bottom: 2rem;
  font-size:0.9rem;
  line-height: 1.15em;
  span{
    font-size: 0.9rem !important;
    line-height: 1.15em !important;
    text-align: left !important;
    background-color: transparent !important;
    color: black !important;
    font-family: $ff-roboto;
  }
}

.bookitem-social{
  margin-bottom: 1rem;
  display: flex;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    position: relative;
    top:auto;
    left:auto;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    position: relative;
    top:auto;
    left:auto;
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    padding-bottom: 2.5rem;
    display: none;
    border-bottom:1px solid #bdc3c7;
    @include mq($until: mobile) {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.bookitem-social__ico{
  margin-right: 0.6rem;
  background: $b-gray-modal;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-gray-modal,3);
  }
}

.bookitem-ico__img {
  color: white;
  font-size: 1.2rem;

  &._small {
    font-size: 1.1rem;
  }
}

.bookitem-item__options{
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: flex-end;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.bookitem-options__btn{
  margin-right: 1.2rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: none;
    background: darken($b-green, 3);
    .bookitem-options__btn-ico{
      background: darken($b-green-dark, 3);
    }
  }

  &.__blue{
    margin-right: 1rem;
    background: $b-blue;
    .bookitem-options__btn-text{
        padding: 1rem 1.8rem 1rem;
    }
    .bookitem-options__btn-ico{
      background: $b-blue-dark;
    }
    &:hover{
      background: darken($b-blue, 3);
      .bookitem-options__btn-ico{
        background: darken($b-blue-dark, 3);
      }
    }
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      margin-right: 0;
    }
    @include mq($until: tablet) {
      margin-right: 0;
    }
  }

  &.__pink{
    margin-right: 0;
    background: $b-pink;
    .bookitem-options__btn-text{
        padding: 1rem 1.3rem 1rem;
    }
    .bookitem-options__btn-ico{
      background: #e74973;
    }
    &:hover{
      background: darken($b-pink, 3);
      .bookitem-options__btn-ico{
        background: darken(#e74973, 3);
      }
    }
  }
  &.__audio-small{
    background: $b-blue;
    width: 9.5rem;
    .bookitem-options__btn-text{
        padding: 1rem 1.8rem 1rem;
    }
    .bookitem-options__btn-ico{
      background: $b-blue-dark;
    }
    &:hover{
      background: darken($b-blue, 3);
      .bookitem-options__btn-ico{
        background: darken($b-blue-dark, 3);
      }
    }
  }
  &.__audio-big{
    margin-right: 0;
    width: 12.8rem;
  }
  &:last-of-type{
    margin-right: 0;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 90%;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 90%;
  }
  @include mq($until: mobile) {
    width: 90%;
      &.__audio-big{
        width: 90%;
      }
      &.__audio-small{
        width: 90%;
      }
  }
}

.booitem-book__rating-text{
  margin-bottom: 1.1rem;
  text-align: center;
  display: block;
  font-size:1rem;
}


.bookitem-options__btn-text{
  padding: 1rem 1.3rem 1rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.bookitem-options__btn-ico{
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.bookitem-options-ico__img{
  color: white;
  font-size: 1.2rem;
}

.socila-info{
  display: flex;
  justify-content: flex-end;

  &.__mobile{
    margin-bottom: 1.2rem;
    display: none;
    @include mq($until: mobile) {
      display: flex;
      justify-content: center;
    }
}
@include mq($until: tablet) {
  justify-content: center;
}
@include mq($until: mobile) {
  display: none;
}
}
.social-info__item{
  margin-right: 2.2rem;
  cursor: pointer;
  &:last-of-type{
    margin-right: 0;
  }
}

.social-info__item-ico{
  font-size:1rem;
  color:#dde0e1;
}

.social-info__item-text{
  color:#b1b1b1;
  font-size:1rem;
}


// audio

.audiobook-item{
  padding:0.5rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  &._active,
  &:hover{
    background: $b-gray-modal;
    font-family: $ff-roboto-m;

    .audiobook-item__ico{
      color:$b-green;
    }
  }
}

.audiobook-item__number{
  font-size:0.9rem;
}

.audiobook-item__author{
  font-size:0.9rem;
}

.audiobook-item__name{
  font-size:0.9rem;
  font-family: $ff-roboto-m;
}

.audiobook-item__ico{
  font-size:1.8rem;
  color:#c3c1c1;
}

.audioitem-top{
  margin:0 auto 1.8rem;
  display: flex;
  position: relative;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include mq($until: tablet) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.bookitem-tags-container{
  margin: 0 -0.6rem;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
  z-index: 1;
  @include mq($until: tablet) {
    justify-content: center;
  }
  @include mq($until: mobile) {
    justify-content: center;
  }
}

.bookitem-tags{
  margin-bottom: 2.25rem;
  padding-bottom: 2.25rem;
  border-bottom:1px solid #bdc3c7;
}

.bookitem-tags__item{
  margin: 0 0.6rem 0.6rem 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  background: $b-gray-modal;
  border-radius: 5px;
  color: black;
  &.__active,
  &:hover {
    background: $b-blue;
    color: white;
    text-decoration: none;
  }
}

.bookitem-info-header{
  margin-bottom: 1rem;
  position: relative;
  padding-left: 5.5rem;
  &:nth-of-type(2){
    margin-bottom: 2rem;
  }
  @include mq($until: tablet) {
    display: none;
  }
}

.bookitem-info-header__desc{
  top:0;
  left:0;
  position: absolute;
  width: 5rem;
  color:#bdc3c7;
  font-size:1rem;
  .fa{
    margin-right: 0.5rem;
  }
}

@keyframe stretch-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes stretch-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}