.comments{
  margin:0 auto 6rem;
  max-width: 45rem;
  padding:1.1rem 1.2rem;
}

.comment-title{
  margin-bottom: 1.8rem;
}

.comment-title__text{
  display: block;
  font-size:1.1rem;
}

.comment-title-count{
  margin-left: 0.5rem;
  color:$b-green;
}

.comment-add{
  padding-bottom: 1.8rem;
  margin-bottom: 1.8rem;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #bdc3c7;
  &.__inner{
    padding-bottom: 0;
    border:0;
    .comment-add__avatar-img{
      border:2px solid #02c3fa;
      box-shadow: 0px 0px 0px 2px #8ce5ff;
    }
    @include mq($until: tablet) {
    }
  }
  @include mq($until: tablet) {
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    flex-direction: column;
  }
}

.comment-add__avatar{
  margin-right: 1.8rem;
  width: 15%;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.comment-add__avatar-img{
  margin:0 auto 0.6rem;
  width: 3.5rem;
  height: 3.5rem;
  background: url('../images/comment1.png') no-repeat 0 0;
  background-size:100% 100%;
  border-radius: 50%;
  position: relative;

  @include mq($until: tablet) {
    margin:0 1rem 0 0;
  }
  &.__no-avatar{
    background: $b-gray-modal;
    border-radius: 50%;
    &:before{
      content:'\f2c0';
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-family: $font_awesome;
      color:#bdc3c7;
      font-size:1.2rem;
      position: absolute;
    }
  }
}

.comment-add__avatar-name{
  font-size:1rem;
  color:#7f8c8d;
  display:block;
  text-align: center;
}

.comment-add__field{
  max-width: 34rem;
  width: 85%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
    max-width: 100%;
  }
  @include mq($until: tablet) {
    width: 100%;
    max-width: 100%;
  }
}

.comment-add__field-textarea{
  margin-bottom: 1.2rem;
  padding:1rem 1.2rem;
  display: block;
  width: 100%;
  height: 3.6rem;
  color:black;
  font-size:1rem;
  border:1px solid #bdc3c7;
  border-radius: 5px;
  resize: none;
  &:hover,
  &:focus{
    outline:none;
  }
  &::placeholder{
    color:#bdc3c7;
    font-size:1rem;
  }
  @include mq($until: tablet) {
    width: 100%;
    padding:1rem 0.9rem;
    height: 3.1rem;
    font-size:0.9rem;
  }
}

.comment-add__btn{
  display: flex;
  justify-content: flex-end;
  @include mq($until: mobile) {
    flex-direction: column;
    .comment-btn__send {
      width: 100%;
      margin-bottom: 1.2rem;
      margin-left: 0 !important;
    }
  }
}

.comment-btn__send{
  padding:1rem 1.8rem;
  min-width: 10rem;
  background: $b-green;
  color:white;
  font-size:1rem;
  border:none;
  border-radius: 5px;
  cursor: pointer;
   &:hover{
     background: darken($b-green, 3);
   }
  &.__cancel{
    margin-left: 1.2rem;
    background: $b-gray-modal;
    color:#7f8c8d;
    &:hover{
      background: darken($b-gray-modal, 3);
    }
  }
  &.__single{
    @include mq($until: tablet) {
      width: 100%;
    }
  }
}

.comment-item{
  margin-bottom: 1.8rem;
/*  padding-bottom: 1.8rem;*/
  display: flex;
  align-items: flex-start;
  border-bottom:1px solid #bdc3c7;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column;
  }
  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.comment-field{
  max-width: 37rem;
  width: 86%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width:100%;
    max-width: 100%;
  }
  @include mq($until: tablet) {
    width:100%;
    max-width: 100%;
  }

}

.coment-avatar{
  margin-right: 1.2rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.1rem;
    margin-right:0;
    display: flex;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 1.1rem;
    margin-right:0;
    display: flex;
    align-items: center;
  }
}

.coment-avatar__img{
  width: 3.5rem;
  height: 3.5rem;
  background: url('../images/comment2.png') no-repeat 0 0;
  background-size:100% 100%;
  border-radius: 50%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    margin-right: 1.1rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    margin-right: 1.1rem;
  }
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.coment-name{
  margin-bottom: 1rem;
  display: block;
  font-size:1rem;
  color:$b-green;
}

.comment-text{
  margin-bottom: 1.2rem;
  font-size:1rem;
  font-family: $ff-roboto;
  color:black;
}

.comment-options{
  margin-bottom: 2.3rem;
  display: flex;
  justify-content: flex-end;
}

.comment-date{
  color:$b-olive;
  font-size:0.85rem;
}

.comment-options__actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment-actions__item{
  margin-right: 1.8rem;
  position: relative;
  cursor: pointer;
  &:after{
    content:' ';
    margin-left: 0.8rem;
    right: -1rem;
    top:50%;
    transform: translate(0,-50%);
    position: absolute;
    width: 1px;
    height: 1.2rem;
    background:#bdc3c7;
  }
  &:last-of-type{
    margin-right: 0;
    &:after{
      display: none;
    }
  }
  &:hover{
    .comment-actions__item-text{
      text-decoration: underline;
    }
  }
}

.comment-actions__item-ico{
  margin-right: 0.4rem;
  font-size:1rem;
  color:#bdc3c7;
}

.comment-actions__item-text{
  color:$b-green;
  font-size:0.85rem;
}

.comment-inner{
  margin-left:  -1.8rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-left:  0;
  }
  @include mq($until: tablet) {
    margin-left:  1.8rem;
  }
  @include mq($until: mobile) {
    margin-left:  0;
  }
  .comment-item{
    border:0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.comment-more{
  margin-bottom: 1rem;
  color:$b-green;
  text-align: center;
  display: block;
  text-decoration: underline;
  font-size:1rem;
  cursor: pointer;
}
