.personal{
	margin-bottom: 3rem;
}

.personal-row {
	margin-bottom: 1.5rem;
	&.__border{
		padding-bottom: 0.5rem;
		border-bottom:1px solid #bdc3c7;
	}
	&:last-of-type{
		margin-bottom: 1.5rem;
	}
}

.personal-label {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  display: block;
  color:black;
}

.personal-input {
  padding: 0.6rem 1.1rem;
  width: 100%;
  color: #a0b5c2;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #bdc3c7;

  &::placeholder {
    color: #7f8c8d;
    font-size: 1rem;
    font-family: $ff-roboto;
  }
}

.personal-select{
	.dropdown-toggle.bs-placeholder {
		color:#7f8c8d;
	}
  .btn-default{
    width: 100%;
    padding: 0.8rem 2.8rem 0.8rem 1.1rem;
    display: flex;
    background: #ecf0f1;
    border-radius: 5px;
    border:none;
    font-size:1rem;
    color:#7f8c8d;
    .bs-caret{
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translate(0,-50%);
    .fa{
      color:$b-olive;
      font-size:1.5rem;
    }
    }
    &:active{
      background: #ecf0f1;
      background-color: none;
      border-color: #d3d1ce;
      outline: none;
      color:#7f8c8d;
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
        color:#7f8c8d;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
        color:#7f8c8d;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        color:#7f8c8d;
      }
    }
    &.active{
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
        color:#7f8c8d;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
        color:#7f8c8d;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        color:#7f8c8d;
      }
    }
    &:hover{
      background: darken(#ecf0f1, 3);
      border-color: #d3d1ce;
      outline: none;
      color:#7f8c8d;
    }
    &:focus{
      outline: none !important;
      color:#7f8c8d;
    }
    &:before{
      bottom: -15px !important;
      right: 9px!important;
      left: auto !important;
      border-bottom-color: #d3d1ce!important;
    }
    &:after{
      bottom: -15px !important;
      right: 10px!important;
      left: auto !important;
    }
    .filter-option.pull-left{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
    }
    @include mq($until: mobile) {
      .filter-option.pull-left{
        justify-content: center;
        text-align: center;
      }
    }
  }
  &.open {
    &> .dropdown-toggle.btn-default{
      background: #ecf0f1;
      background-color: none;
      border-color: #d3d1ce;
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:active{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
  }
  .filter-option.pull-left{
    display: none;
  }
  .dropdown-menu{
    border:none;
    li{
      &>a{
        font-size:1rem;
        padding: 0.5rem 1.2rem;
      }
    }
  }
}

.personal-textarea {
  padding: 1.1rem;
  height: 6rem;
  width: 100%;
  background: white;
  font-size: 1rem;
  border-radius: 5px;
  color: black;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  resize: none;

  &:focus {
    outline: none;
  }
}

.personal-file {
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

.personal-file__load {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.personal-file__label {
	width: 12.5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 2.5rem;
  color: white;
  background-color: $b-green;
  border-radius:5px;
}


.inputfile:focus + label,
.inputfile.has-focus + label {
   outline: none;
}
.personal-file__label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}

.personal-file__load:focus + label,
.personal-file__load.has-focus + label,
.personal-file__load + label:hover {
    background-color: darken($b-green, 3);
}

.personal-file__col {
	padding-bottom: 0.6rem;
	&.__info{
		padding-bottom:0;
		display: flex;
		align-items: flex-end;
	}
}
.personal-file__img {
	width: 5.6rem;
	margin-right: 1.8rem;
}

.personal-file__info {
	padding-bottom: 0.6rem;
	display: flex;
	align-items: flex-end;
}

.persolal-file__label {
	margin-right: 1.8rem;
	padding: 0.5rem 1.3rem;
	display: inline-block;
	color:#7f8c8d;
	font-size:0.9rem;
	text-transform: uppercase;
	border-radius: 20px;
	background: $b-gray-modal;
}

.persolal-file__text {
	max-width: 12rem;
	display: inline-block;
	color:#7f8c8d;
	font-size:1rem;
	line-height: 1.2em;
}

.personal-file__info-format {
	display: flex;
	flex-direction: column;
	.persolal-file__label {
		margin-bottom: 0.5rem;
		&:last-of-type{
			margin-bottom:0;
		}
	}
}

.personat-control {
	display: flex;
	justify-content: flex-end;
}

.personat-control__btn {
	width: 12.5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 1rem 2.5rem;
  color: white;
  background-color: $b-blue;
  border:none;
  border-radius:5px;	
  &:focus,
  &:hover{
  	outline:none;
  	background-color: darken($b-blue, 3);
  }
}

