.container {
  margin: 0 auto;
  max-width: $max-width;
  position: relative;

  @include mq($until: wide) {
    max-width: $max-width-wide;
  }


  @include mq($until: desktop) {
    max-width: $max-width-desc;
  }


  @include mq($until: desktopAd) {
    max-width: $max-width-ad;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: $max-width-tablet;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}

.main-row {
  @extend .container;

  display: flex;
  justify-content: space-between;

  @include mq($until: desktopAd) {
    flex-direction: column;
  }
  &._traditional{
    @include mq($until: desktopAd) {
      width: auto;
      max-width: 100%;
      flex-direction: column-reverse;
    }
  }
  &._section{
    @include mq($until: desktopAd) {
      width: auto;
      max-width: 100%;
    }
  }
}

.main-col-left {
  margin-right: 2.5rem;
  width: 65%;
  max-width: 46rem;

  @include mq($until: desktopAd) {
    margin-right: 0;
    width: 100%;
    max-width: none;
  }
  &.__pagination{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main-col-right {
  width: 40%;
  max-width: 20rem;

  @include mq($until: desktopAd) {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: none;
  }
}

.top-link{
  right: 0.6rem;
  bottom:1.8rem;
  width: 4.3rem;
  height: 4.3rem;
  position: fixed;
  border-radius: 50%;
  background: $b-pink;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  &:after{
    content:'\f106';
    font-family: 'FontAwesome';
    font-size: 2.7rem;
    color: black;
    color:white;
  }
  &:hover{
    text-decoration: none;
    background:darken($b-pink,3);
  }
  @include mq($until: tablet) {
    display: none;
  }
}
