.audio{
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
}

.audio-player{
  &.__playing {
    .player-block__play {
      &:after {
        content: '\F04C';
        color:$b-pink;
      }
    }
    .__current{
      .player-block__playlist__ico{
        &:before{
          content: '\f28b'!important;
          color:$b-green;
        }
      }
    }
  }
}

.player-block {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.8rem;
  background-color: $b-gray-modal;
  border-radius: 5px;

  @include mq($until: tablet) {
    padding: 1rem 0 1rem 1.5rem;
    border-radius: 0;
    justify-content: space-between;
  }
  @include mq($until: mobile) {
    padding: 1rem 0 1rem 0.8rem;
    border-radius: 0;
    justify-content: space-between;
  }
}
.player-block__control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq($until: tablet) {
    margin-right: 0.8rem;
    justify-content: center;
  }
}
.player-block__play {
  margin-right: 1.1rem;
  cursor: pointer;
  &:after {
    content: '\F04B';
    font-family: $font_awesome;
    color: #bdc3c7;
    font-size:1rem;
  }
  @include mq($until: tablet) {
    margin-right: 0.8rem;
  }
  @include mq($until: mobile) {
    margin-right: 0.8rem;
  }
}

.player-block__prev {
  margin-right: 1.1rem;
  cursor: pointer;
  &:after {
    content: '\F048';
    font-family: $font_awesome;
    color: #bdc3c7;
    font-size:1rem;
  }
  @include mq($until: tablet) {
    margin-right: 0.8rem;
  }
  @include mq($until: mobile) {
    margin-right: 0.8rem;
  }
}

.player-block__next {
  cursor: pointer;
  &:after {
    content: '\F051';
    font-family: $font_awesome;
    color: #bdc3c7;
    font-size:1rem;
  }
  @include mq($until: mobile) {
  }
}

.player-block__volume-switch{
  margin-right: 0.8rem;
  cursor: pointer;

  &:after {
    content: '\F028';
    font-family: $font_awesome;
    color: #bdc3c7;
    font-size:1rem;
  }
  &.__unmute{
      &:after {
        content:'\f026';
      }
  }
}

.player-block__volume-progress{
  width: 3.5rem;
  height: 4px;
  cursor: pointer;
  background: $b-green;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb{
    height: 12px;
    width: 12px;
    border-radius:50%;
    background: $b-pink;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0;
  }
}

.player-block__time-current{
  margin-right: 1.8rem;
  font-size:1rem;
  color:$b-pink;
  display: inline-block;
  @include mq($until: mobileLandscape) {
    margin-right: 1.3rem;
    font-size:0.8rem;
  }
  @include mq($until: mobile) {
    margin-right: 1.3rem;
    font-size:0.8rem;
  }
}

.player-block__time-duration{
  font-size:1rem;
  color:$b-pink;
  display: inline-block;

  @include mq($until: mobileLandscape) {
    font-size:0.8rem;
  }

  @include mq($until: mobile) {
    font-size:0.8rem;
  }
}



.player-block__playlist {
  display: block;
  width: 100%;
  li {
    padding:0.5rem 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      background: $b-gray-modal;
      .player-block__playlist__ico{
        color:$b-green;
      }
    }

    &.__current {
      background: $b-gray-modal;
      font-family: $ff-roboto-m;
      .player-block__playlist__ico{
        color:$b-green;
      }
    }
  }
}

.player-block__playlist__ico{
  font-size:1.8rem;
  color:#c3c1c1;
}

.player-block__tracker{
  margin-right: 1.8rem;
	position:relative;
  height: 3px;
  background: #bdc3c7;
  width: 18.6rem;
  @include mq($until: tablet) {
    width: 14rem;
  }
  @include mq($until: mobileLandscape) {
    margin-right: 0.8rem;
    width: 12rem;
  }
  @include mq($until: mobile) {
    margin-right: 0.8rem;
    width: 5.5rem;
  }
}

.player-block__progress-bar{
  color: $b-green;
  font-size: 12px;
  width:100%;
  height: 3px;
  border: none;
  background: #bdc3c7;
}

.player-block__progress{
  background-color: $b-green;
  height: 3px;
	display:block;
  position: relative;
  &:after{
    content:'';
    height: 12px;
    width: 12px;
    border-radius:50%;
    background: $b-pink;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    right: 0;
    position: absolute;
  }
}

.player-block__time-wrapper{
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    margin-right: 0;
    justify-content: center;
  }
  @include mq($until: mobile) {
    margin-right: 0;
    justify-content: center;
  }
}

.player-block__volume-wrapper{
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    justify-content: center;
  }
  @include mq($until: mobile) {
    justify-content: center;
  }
}

.player__buttons-panel{
  margin-right: 1.8rem;
  display: flex;
  @include mq($until: tablet) {
    margin-right: 0;
  }
  @include mq($until: mobile) {
    margin-right: 0;
  }
}

.player__volume-panel {
  width: 5rem;
  position: relative;
  &:hover {
    .player__volume-scale-wrapper {
      display: block;
    }
  }
  @include mq($until: mobile) {
    width: 2rem;
  }
}
.player__volume {
  display: block;
  width: 5rem;
  cursor: pointer;
  font-size: 1rem;
  font-family:$font_awesome;
  color: #bdc3c7;
  text-align: center;
  &:hover {
    color: $b-pink;
  }
  &:after {
    content: '\F028';
  }
  @include mq($until: mobile) {
    width: 2rem;
  }
}
.player__volume-scale-wrapper {
  display: none;
  position: absolute;
  z-index: 4;
  bottom: 140%;
  right: 1.5rem;
  background-color: #bdc3c7;
  padding: 1rem 1rem;
  border-radius: 5px;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -.4rem;
    left: 50%;
    margin-left: -.4rem;
    width: .8rem;
    height: .8rem;
    display: block;
    transform: rotate(45deg);
    background-color: #bdc3c7;
  }
  @include mq($until: mobile) {
    right: 0;
  }
}
.player__volume-scale {
  display: block;
  width: 5px;
  height: 5rem;
  background-color: white;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    width: .3rem;
    height: .1rem;
    background-color: $b-pink;
  }
  &:before {
    left: -.6rem;
  }
  &:after {
    right: -.6rem;
  }
}
.volume-scale__progress {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: $b-green;
  border-radius: 0 0 5px 5px;
  &:after{
    content:'';
    height: 12px;
    width: 12px;
    border-radius:50%;
    background: $b-pink;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    right: -3px;
    position: absolute;
  }
}

.player__time-scale {
  height: 3px;
  margin-right: 1.8rem;
  position:relative;
  width: 18.6rem;
  background-color: #bdc3c7;
  z-index: 1;
  bottom: 100%;
  left: 0;
  cursor: pointer;
  user-select: none;
}
.time-scale__buffered {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: $b-pink;
}
.time-scale__progress {
  @extend .time-scale__buffered;
  z-index: 2;
  width: 0;
  background-color: $b-green;
  position: relative;
  &:after{
    content:'';
    height: 12px;
    width: 12px;
    border-radius:50%;
    background: $b-pink;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
    right: 0;
    position: absolute;
  }
}

.audio-player{
  &.__play{
    .player-block__play {
      &:after {
        content: '\F04C';
        color:$b-pink;
      }
    }
  }
  &.__volume-middle {
  .player__volume {
    &:after {
      content: '\F027';
    }
  }
}
&.__muted {
  .player__volume {
    &:after {
      content: '\F026';
    }
  }
}
}
.player-block__playlist__number {
  font-size: 0.9rem;
}

.player-block__playlist__author {
  font-size: 0.9rem;
}

.player-block__playlist__name {
  font-size: 0.9rem;
  font-family: $ff-roboto-m;
}

.audio-albom{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.audio-albom__item{
  max-width: 33.3%;
  position: relative;
}

.audio-albom__item-img{
  max-width: 100%;
}

.audio-albom-play{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 1rem;
  cursor: pointer;
  .play-pulse{
    animation: none;
  }
  &.__active{
    .audio-albom-play__ico{
        &:after{
          content:'\f04c';
        }
    }
    .play-pulse{
      animation-name: pulse;
      animation-duration: 3.2s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-play-state: running;
    }
  }
}
.audio-albom-play-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 50%;
  background: white;
}

.audio-albom-play__ico{
  font-size:1.8rem;
  color:$b-green;
  &:after{
    content:'\f04b';
    font-family: $font_awesome;
  }
}
