.talents{
  margin:0 auto;
  max-width: 41rem;
}

.talents-social {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    align-items: center;
    justify-content: center;
  }


  @include mq($until: tablet) {
    align-items: center;
    justify-content: center;
  }
  @include mq($until: mobile) {
    align-items: center;
    justify-content: center;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
    margin-bottom: 1.8rem;
  }
}

.talents-info{
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom:1px solid #bdc3c7;
}

.talents-social-ico {
  margin-right: 1.1rem;
  background: #e5e5e5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e5e5e5,3);
  }
}

.talents-social-ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.talents-desc{
  @include mq($until: tablet) {
    margin: 0 auto;
    max-width: 90%;
  }
}

.talents-desc__item{
  margin-bottom: 1rem;
  display: none;
  font-size:1rem;
  line-height: 1.2em;
}

.talents-desc__btn{
  margin:0 auto;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $b-gray-modal;
  border-radius: 50%;
  font-size:1.5rem;
  color:#bdc3c7;
  cursor: pointer;
}

.talents-row{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.talents-item{
  margin-bottom: 3rem;
  width: 25%;
  padding: 0 1.5rem;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 33.3%;
  }
  @include mq($until: tablet) {
    width: 33.3%;
  }
  @include mq($until: mobile) {
    width: 50%;
  }
  &:hover{
    .special-img__text {
      opacity:1;
    }
  }
}

.talents-img {
  position:relative;
}

.talents-item__img{
  margin:0 auto 1.2rem;
  display: block;
  height: 11rem;
}

.talents-item__name{
  display: block;
  text-align: center;
  line-height: 1.2em;
  font-size:1.1rem;
  color:black;
}
