.error{
  height: 100%;
  position:relative;
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.error-info__hidden{
  margin-bottom: 1rem;
  display: none;
  color:$b-pink;
  font-size:4rem;
  @include mq($until: mobile) {
    display: inline-block;
  }
}

.error-info{
  bottom:25%;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  text-align: center;
  z-index:1;
  @include mq($until: mobile) {
    margin:0 auto;
    max-width: 90%;
    bottom:auto;
    left:auto;
    position: relative;
    transform: none;
  }
}

.error-info__title{
  margin-bottom: 1.3rem;
  display: block;
  font-size:2.25rem;
  color:white;
  @include mq($until: mobile) {
    margin-bottom: 2rem;
    font-size:1.8rem;
    text-align: center;
  }
}

.error-info__link{
  padding:1rem 3.75rem;
  display: inline-block;
  color:white;
  font-size:1.1rem;
  border-radius: 5px;
  background: $b-pink;
  &:hover{
    text-decoration: none;
    background: darken($b-pink, 3);
  }

  @include mq($until: mobile) {
    padding:1rem 0;
    width: 100%;
  }
}

.error-bg { 
  height: 30%;
  min-height:200px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
  @media (max-width: 1600px){ 
    height: 15%;
  }
}

.error-bg__wave {
  background: url(../images/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  &:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  }
}

.error-person {
  position: absolute;
  top:15%;
  left:50%;
  transform:translate(-50%,0);
  max-width:30rem;
  @media (max-width: 1600px){ 
    top:10%;
    max-width:25rem;
  }
  @include mq($until: mobile) {
    margin: 2rem auto;
    left:auto;
    top:0;
    max-width:80%;
    transform: none;
    position:relative;
    display: block;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}