.poet{
  margin:0 auto 5rem;
  max-width: 41rem;
}

.poet-info{
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #bdc3c7;
  display: flex;
  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.poet-info__img{
  width: 25%;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 50%;
  }
}

.poet-info__img-item{
  margin:0 auto;
  display: block;
  width: 7.8rem;
}

.poet-info__text{
  width: 75%;
  font-size:1rem;
  font-family: $ff-roboto-i;
  @include mq($until: tablet) {
    width: 90%;
  }
}

.poet-info__text-name{
  margin-bottom: 1rem;
  display: block;
  font-family: $ff-roboto-b;
  font-size:1.1rem;
  @include mq($until: tablet) {
    text-align: center;
  }
}

.poet-info__text-author{
  margin-top: 1.5rem;
  display: block;
  text-align: right;
  font-size:1rem;
  font-family: $ff-roboto-i;
}
