/* Block: modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;

  &._active {
    display: block;
  }
}

.modal-inner {
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: auto;
  max-height: 90%;
  max-width: 29rem;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;

  &.__addquote-modal {
    max-width: 22.5rem;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}

.reg-inner {
  @extend .container;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 100%;
  }


  @include mq($until: tablet) {
    max-width: 100%;
  }
}

ul.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  list-style: none;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }


  @include mq($until: tablet) {
    white-space: nowrap;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}

.reg {
  padding-bottom: 3rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {}


  @include mq($until: tablet) {}
}

.reg-top {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.reg-top__tabs-item {
  padding: 1.4rem 0 1.2rem 0;
  width: 50%;
  background: $b-gray-modal;
  font-size: 1.1rem;
  color: $b-green;
  display: inline-block;
  cursor: pointer;
}

.reg-top__tabs-item.current {
  color: black;
  background: white;
}

.tab-content {
  display: none;
  padding: 0;
}

.tab-content.current {
  display: inherit;
}

.modal-form {
  margin: 0 auto;
  width: 90%;

  &.__hidden {
    display: none;
  }
}

.modal-title {
  margin-bottom: 1.8rem;
  color: #2c3f51;
  font-size: 1.2rem;
  text-align: center;
}

.modal-row {
  margin-bottom: 1.2rem;
  position: relative;
  &.__error{
    .modal-input {
      background: #f9e4e8;
      border-color: #fca9a9;
      color:#fca9a9;
        &::placeholder {
          color:#fca9a9;
        }
    }
    .modal-ico {
      color:#fca9a9;
    }
  }
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized  {
  .tooltipster-box{
    background: #f9e4e8;
    border-color:#fca9a9;
    border-radius: 5px;
  }
  .tooltipster-content {
  	color: black;
    font-size: 0.8rem;
    line-height: 1.2em;
  }
  .tooltipster-arrow{
    bottom:0;
    left: 1.8rem!important;
  }
  .tooltipster-arrow-border{
    border-top-color:#fca9a9;
    top:0;
  }
  .tooltipster-arrow-background{
    border-top-color: #f9e4e8;
  }
  .tooltipster-content{
    padding: 1rem;
  }
}

.modal-input {
  padding: 1rem 2rem 1rem 1.4rem;
  width: 100%;
  border-radius: 5px;
  font-family: $ff-roboto;
  font-size: 1rem;
  letter-spacing: 0.021em;
  background: $b-gray-modal;
  color: black;
  border: 1px solid transparent;

  &::placeholder {
    font-family: $ff-roboto;
    color: $b-olive;
    font-size: 1rem;
    letter-spacing: 0.021em;
  }
}

.modal-ico {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  font-size: 1.2rem;
  color: $b-olive;
}

.modal-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }


  @include mq($until: tablet) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.modal-info__text {
  font-size: 0.9rem;
  color: $b-olive;
  cursor: pointer;
  border-bottom: 1px dotted darken($b-olive, 1%);
  &:hover {
    text-decoration: none;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.modal-agree {
  margin-bottom: 1.8rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.modal-agree__label {
  font-size: 0.9rem;
  color: $b-olive;
  position: relative;
  padding-left: 1.8rem;
  display: block;
  text-align: left;
  cursor: pointer;

  &:before {
    content: '\F096';
    position: absolute;
    bottom: -3px;
    left: 0;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: $b-olive;
  }

  &:after {
    content: '\f00c';
    position: absolute;
    top: 0px;
    left: 1px;
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 14px;
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    color: $b-olive;
    transition: all 0.3s;
  }
}

.modal-agree__input {
  display: none;
}

.modal-agree__input:checked {
  & + .modal-agree__label {
    &:after {
      opacity: 1;
      max-width: 1.2rem;
    }
  }
}

.moda-btn {
  margin-bottom: 1.2rem;
  padding: 1rem 0;
  display: block;
  width: 100%;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &.__green {
    background: $b-green;
    &:hover{
      background: darken($b-green, 3);
    }
  }

  &.__blue {
    background: $b-blue;
    &:hover{
      background: darken($b-blue, 3);
    }
  }

  &.__single {
    margin-bottom: 4.4rem;
  }

  &.__pink {
    background: $b-pink;
    &:hover{
      background: darken($b-pink, 3);
    }
  }

  &:last-of-type {
    margin-bottom: 1.8rem;

    &.__single {
      margin-bottom: 4.4rem;
    }
  }
}

.modal-text {
  margin-bottom: 1.2rem;
  display: block;
  color: $b-olive;
  font-size: 0.8rem;
  text-align: center;

  &.__left-text {
    text-align: left;
    color: #2c3f51;
    line-height: 1.2em;
  }
}

.modal-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-social__item {
  margin-right: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.7rem 1.4rem;
  height: 3rem;
  width: 5rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.icons-modal-fb {
  background: #426cc5;
  font-size: 1.8rem;

  &:hover {
    text-decoration: none;
    background: darken(#426cc5, 5%);
  }
}

.icons-modal-gplus {
  background: #f8695c;

  &:hover {
    text-decoration: none;
    background: darken(#f8695c, 5%);
  }
}

.icons-modal-vk {
  background: #5181b8;

  &:hover {
    text-decoration: none;
    background: darken(#5181b8, 5%);
  }
}

.modal-img {
  padding: 2rem 1rem;
}

.imgmodal-close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: $b-green;
  cursor: pointer;

  &:hover {
    color: darken($b-green, 3);
  }
}
