.setting {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
}

.setting-top {
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include mq($until: desktopAd) {
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.setting-photo {
  display: flex;
  @include mq($until: desktopAd) {
    margin-bottom: 1rem;
  }
  @include mq($until: mobile) {
    margin-bottom: 1rem;
  }
}

.setting-photo__info-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: $ff-roboto-m;
  display: block;
}

.setting-photo__info-text {
  font-size: 0.8rem;
  color: #a7bac6;
}

.setting-photo__block {
  position: relative;
}

.setting-photo__img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  overflow: hidden;
  background: url("../images/setting.png") top center no-repeat;
  position: relative;
  img{
    width:100%;
    height:100%;
    border-radius:50%;
  }
}

.setting-photo__info {
  margin-right: 3.7em;
}

.setting-photo__input {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1px;
  opacity: 0;
  filter: alpha(opacity = 0);
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.setting-photo__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: $b-green;
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 1);
  transition:background 0.3s ease;
  &:hover{
    background:darken($b-green, 3);
  }
}

.setting-photo__ico {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.setting-top__btn {
  padding: 0.8rem 0;
  width: 16rem;
  text-align: center;
  background: $b-pink;
  color: white;
  font-size: 16px;
  border-radius: 5px;

  .typcn-cog-outline {
    margin-right: 0.7rem;
    font-size: 1.3rem;
  }

  &:hover {
    background: darken($b-pink, 2);
    text-decoration: none;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 10rem;
  }


  @include mq($until: tablet) {
    width: 10rem;
  }
}

.setting-top__btn-ico {
  margin-right: 0.7rem;
  font-size: 1.3rem;
}

.setting-row {
  margin-bottom: 0.8rem;

  &._btn {
    display: flex;
    justify-content: flex-end;
  }

  &._profile {
    max-width: 20rem;
    @include mq($until: wide) {
      width: 25rem;
    }
    @include mq($until: desktop) {
      margin:0 auto 0.8rem;
    }
    @include mq($until: tablet) {
      margin:0 auto 0.8rem;
      width: 100%;
    }
  }
}

.setting-desc {
  margin-bottom: 0.8rem;
  display: block;
  font-size: 1rem;
  font-family: $ff-roboto-m;
  @include mq($until: desktop) {
    text-align: center;
  }
  @include mq($until: tablet) {
    text-align: center;
  }
}

.setting-label {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  display: block;
}

.required {
  font-size: 1.1rem;
  color: #ff6969;
  vertical-align: sub;
}

.setting-input {
  padding: 0.6rem 1.1rem;
  width: 100%;
  color: #a0b5c2;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #d9dedf;

  &::placeholder {
    color: #a0b5c2;
    font-size: 1rem;
    font-family: $ff-roboto;
  }
}

.setting-btn {
  padding: 1rem 3rem;
  color: white;
  font-size: 1rem;
  background: $b-blue;
  border-radius: 5px;
  border: none;
  transition:background 0.3s ease;
  &:hover{
    background:darken($b-blue, 3);
  }
}

.setting-container {
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid $b-gray-modal;

  &.__select {
    padding-bottom: 14rem;
  }

  &.__last {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.setting-container__row {
  display: flex;
  justify-content: space-between;
  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.setting-col {
  width: 48%;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.setting-col-3 {
  width: 30%;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    width: 100%;
  }
}

.setting-select {
  .bootstrap-select.btn-group .dropdown-menu {
    padding: 0;
    background: #ecf0f1;
    border: none;
    border-radius: 5px;
    box-shadow: none;

    li {
      a {
        padding: 0.6rem 1.7rem;
        border-bottom: 1px solid #d6d8d9;
        color: #919191;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: white;
          background: $b-green;
        }
      }

      &:last-of-type {
        a {
          border-bottom: 0;
        }
      }

      &.selected {
        .fa-plus {
          display: none;
        }
      }
    }
  }

  .btn-default {
    padding: 0;
    background: #ecf0f1;
    border: none;
    color: #919191;
    font-size: 1rem;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;

    .filter-option {
      width: 100%;
      text-align: center !important;
      padding: 1rem 0 1rem 1rem;
    }

    .bs-caret {
      padding: 1rem 0.8rem;
      background: #e4e6e7;
      border-radius: 0 5px 5px 0;
    }

    .fa-angle-down {
      color: #bbbbbb;
      font-size: 1.2rem;
    }
  }

  .btn-group.open .dropdown-toggle {
    box-shadow: none;
  }

  .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #919191;
    background: #ecf0f1;
  }

  .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #919191;
    background: #ecf0f1;
  }

  .filter-option {
    .fa-plus {
      display: none;
    }
  }

  .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 0;
    right: 1.5rem;
  }
  .bootstrap-select .dropdown-toggle:hover {
    background:darken(#ecf0f1, 3) ;
  }
  .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
  }
}

.setting-textarea {
  padding: 1rem;
  height: 7rem;
  width: 100%;
  color: #a0b5c2;
  font-size: 1rem;
  border-radius: 5px;
  background: $b-gray-modal;
  border: 0;
  resize: none;

  &:focus {
    outline: none;
  }
}
