header {
  position: relative;
  z-index: 10;
}

.header-top {
  @extend .container;

  padding: 1.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq($until: desktop) {
    max-width: 90%;
  }

  @include mq($until: desktop) {
    display: none;
  }
}

.header-logo {

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }

}

.header-logo__img {
  transition:opacity 0.3s ease;
  &:hover{
    opacity:0.7;
  }
}

.header-search {
  margin-right: 2.8rem;
  position: relative;

  @include mq($until: desktop) {
    margin-right: 0;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
  &.__desktop{
    @include mq($until: desktop) {
      display: none;
    }
  }
}

.header-search__input {
  padding: 1rem 3.7rem 1rem 1.8rem;
  width: 22.5rem;
  max-width: 360px;
  font-size: 1rem;
  color: black;
  border: 1px solid $b-gray-light;
  border-radius: 5px;
  box-sizing: border-box;

  &::placeholder {
    color: $b-gray-light;
    font-size: 0.9rem;
    font-family: $ff-roboto;
  }

  @include mq($until: desktop) {
    max-width: 100%;
    width: 100%;
    padding: 1rem 3rem 1rem 1.5rem;
    font-size: 0.85rem;

    &::placeholder {
      font-size: 0.85rem;
    }
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 300px;
    padding: 1rem 3rem 1rem 1.5rem;
    font-size: 0.85rem;

    &::placeholder {
      font-size: 0.85rem;
    }
  }


  @include mq($until: tablet) {
    max-width: 100%;
    width: 100%;
  }
}

.header-search__ico {
  position: absolute;
  top: 50%;
  right: 1.2rem;
  transform: translate(0, -50%);
  font-size: 1.3rem;
  color: $b-gray-light;
  background: none;
  border:none;
  cursor: pointer;
}

.header-top__col {
  display: flex;
  align-items: center;

  @include mq($until: desktop) {
    display: none;
  }
}

.header-help {
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: darken($b-blue, 3);
    text-decoration: none;
    .header-help__ico {
      background: darken($b-blue-dark, 3);
    }
  }
}

.header-help__text {
  padding: 1.2rem 1.2rem 1.05rem 2rem;
  color: white;
  font-size: 1rem;
  text-align: center;

  @include mq($until: desktop) {
    margin-right: 1rem;
    padding: 1rem 0 1rem 2rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 1rem;
    padding: 1rem 0 1rem 2rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet) {}
}

.header-help__ico {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: $b-blue-dark;
  border-radius: 0 5px 5px 0;

  @include mq($until: desktop) {
    padding: 1rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 1rem;
    font-size: 0.85rem;
  }
}

.header-help__ico-img {
  color: white;
  font-size: 1.2rem;
}

.header-bottom {
  background: $b-green;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    position: relative;
  }


  @include mq($until: tablet) {
    position: relative;
  }


  .container {
    @include mq($until: tablet, $and: "(orientation: landscape)") {
    }


    @include mq($until: tablet) {
    }
  }
}

.header-bottom__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  @include mq($until:desktop) {
    max-width: 100%;
    justify-content: flex-end;
  }
  @include mq($until: mobile) {
    max-width: 100%;
    justify-content: flex-end;
  }
}

.header-nav {
  display: flex;
  position: relative;
  @include mq($until: desktop) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    top: 100%;
    left: 0;
    background: $b-navy;
    width: 100%;
    flex-direction: column;

    &.__active {
      display: flex;
    }
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }


  @include mq($until: tablet) {
    width: 100%;
  }
}

.header-burger {
  padding: 1.4rem 0;
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  width: 3.7rem;
  text-align: center;
  @include mq($until: desktop) {
    display: block;
  }
  &.is-active{
    background: $b-navy;
    color:$b-green;
  }
}

.header-nav__item {
  //margin-right: 1.4rem;
  padding: .9rem 1.3rem 1.1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  &:hover,
  &.__active {
    background: $b-green-dark;
    text-decoration: none;
  }

  @include mq($until: wide) {
    margin-right:0;
    font-size: 0.9rem;
  }

  @include mq($until: desktop) {
    padding: 0;
    border-bottom: 1px solid $b-night;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    //color:$b-purple;
    color:#fff;
    &:hover,
    &.__active {
      background: $b-navy-dark;
      color:$b-green;
      .header-nav__item-text{
        color:$b-green;
      }
    }
  }

  @include mq($until: tablet) {
    align-items: stretch;
  }
  &.__hidden{
    display: none;
    padding: 0;
    @include mq($until: desktop) {
      display: block;
    }
    .header-search{
      margin-bottom: 0;
      .header-search__input{
        border:none;
        border-radius: 0;
        background: $b-navy;
        //color:$b-purple;
        color:#fff;
        font-size:1rem;
        &::placeholder{
          color:#fff;
        }
      }
      .header-search__ico{
        padding:0 1.5rem;
        height: 100%;
        width: 3.7rem;
        top:0;
        right:0;
        transform:none;
        background: $b-navy-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa{
          font-size:0.85rem;
          //color:$b-purple;
          color:#fff;
        }
      }
    }
  }
  &.__dropdown{
    position: relative;
    &:hover{
      .header-nav__dropdown{
        display: block;
      }
    }
    @include mq($until: desktop) {
      flex-direction: column;
    }
  }
  .header-nav__item-ico{
    display: none;
      @include mq($until: desktop) {
        display: flex;
        padding: 0 1.5rem;
        width: 3.7rem;
        align-items: center;
        justify-content: center;
        background: $b-navy-dark;
      }
  }
  &.__donate{
    display: none;
      @include mq($until: desktop) {
        display: flex;
      }
  }
}

.header-nav__dropdown{
  top:100%;
  left:0;
  display: none;
  position: absolute;
  width: auto;
  min-width: 100%;
  @include mq($until: desktop) {
    position: relative;
    top:auto;
    left:auto;
    width: 100%;
    background: $b-navy;
  }
}

.header-nav__item-link{
  color:white;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: desktop) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.9rem;
    //color:$b-purple;
    color:#fff;
  }
}

.header-nav__item-text{
  color:white;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  @include mq($until: desktop) {
    padding: 1rem 0 1rem 1.2rem;
    //color:$b-purple;
    color:#fff;
  }
  &:hover{
    text-decoration: none;
  }
}

.header-nav__dropdown-item{
  padding: 1.3rem 1.6rem;
  color: white;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
  background: #1e8b94;
  &:hover,
  &.__active {
    background: $b-green-dark;
    text-decoration: none;
  }
  &:last-of-type{
    border-radius: 0 0 5px 5px;
  }
  @include mq($until: desktop) {
    border-bottom: 1px solid #344a60;
    font-size:0.9rem;
    background: #415e7a;
    padding:1.1rem 3.7rem;
    color:#78a1c6;
    &:hover,
    &.__active {
      color:white;
      background: #567695;
    }
    &:last-of-type{
      border-bottom:0;
    }
  }
}

.header-enter {
  padding-top: 0.9rem;
  margin:0;
  padding-bottom: 0.9rem;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  &:hover {
    background: $b-green-dark;
  }

  @include mq($until: desktop) {
    margin-right: 1rem;
    font-size: 0.9rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0;
  }


  @include mq($until: tablet) {
    margin-right: 0;
  }
}

.header-enter__ico {
  margin-right: 0.6rem;
  font-size: 1.3rem;
}

.header-loggedin-mobile{
  display: none;
    @include mq($until: desktop) {
      display: flex;
    }
  }


.header-loggedin-mobile__dropdown{
    top:100%;
    left:0;
    display: none;
    position: absolute;
    width: auto;
    min-width: 100%;
    background: $b-navy;
    border-radius: 0 0 5px 5px;
    @include mq($until: desktop) {}
}

.header-loggedin-mobile__item{
  //color: $b-purple;
  color: #fff;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
  border-bottom:1px solid $b-night;
  justify-content: space-between;
  &:hover,
  &.__active {
    background: $b-navy-dark;
    color:$b-green;
    text-decoration: none;
    .header-loggedin-mobile__item-ico{
      .fa{
        color:$b-green;
      }
    }
  }
  &:last-of-type{
    border-radius: 0 0 5px 5px;
  }
  &.__header-loggedin-mobile-info{
    padding: 1.8rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid #253645;
  }
}
.header-loggedin-mobile__item-text{
  padding: 1.2rem 0 1.2rem 3rem;
  color:white;
}

.header-loggedin-mobile__item-ico{
  width: 3.7rem;
  background: $b-navy-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  .fa{
    color:#fff;
    font-size:1rem;
  }
}

.header-loggedin-mobile-top{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    width: 3.7rem;
    text-align: center;
    justify-content: center;
    &.is-active{
      background: $b-navy-dark;
      text-decoration: none;
      .header-loggedin-mobile-top__ico{
        color:$b-green;
      }
    }
}

.header-loggedin-mobile-top__ico{
  font-size:1.5rem;
  color:white;
}

.header-loggedin-mobile-info__name{
  margin-bottom: 0.5rem;
  display: block;
  font-size:1.1rem;
}

.header-loggedin-mobile-info__link{
  font-size:1rem;
  color:#fff;
  &:hover{
    text-decoration: none;
  }
}

.header-loggedin-mobile-info__ico{
  margin-right: 0.9rem;
  background: $b-purple;
  border-radius: 50%;
  width: 3.1rem;
  height: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  .fa-user-o{
    color:white;
    font-size:1rem;
  }
}

.header-loggedin{
  position: relative;
  max-width: 225px;
  width: 100%;
  &:hover{
    .header-loggedin__dropdown{
      display: block;
    }
    .header-loggedin-top{
      background: $b-green-dark;
      text-decoration: none;
    }
  }
  @include mq($until: desktop) {
    display:none;
  }
}

.header-loggedin__dropdown{
  top:100%;
  left:0;
  display: none;
  position: absolute;
  width: auto;
  min-width: 100%;
  background: #1e8b94;
  border-radius: 0 0 5px 5px;
}

.header-loggedin__item{
  padding: 1.3rem 1.2rem;
  color: white;
  font-size: 1rem;
  display: block;
  white-space: nowrap;
  &:hover,
  &.__active {
    background: $b-green-dark;
    text-decoration: none;
  }
  &:last-of-type{
    border-radius: 0 0 5px 5px;
  }
}

.header-loggedin__item-ico{
  margin-right: 1.1rem;
  width: 1.1rem;
}

.header-loggedin-top{
  padding: 1.2rem 1rem 1rem 4.6rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1rem;
  cursor: pointer;

  &:hover,
  &.__active {
    background: $b-green-dark;
    text-decoration: none;
  }
}

.header-loggedin-top__ico{
  position: absolute;
  top:50%;
  left:1rem;
  transform: translate(0,-50%);
  background: white;
  border-radius: 50%;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  .fa-user{
    color:$b-green;
    font-size:1.2rem;
  }
}

.header-loggedin-top__name{
  margin-right: 1rem;
  font-size:0.9rem;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-logo-mobile{
  top:50%;
  left:1.5rem;
  transform: translate(0,-50%);
  position: absolute;
  display: none;
  @include mq($until: desktop) {
    display: block;
  }
}
