.review {
  margin-bottom: 2.5rem;
  padding: 1.2rem;
  background: $b-gray-modal;
  border-radius: 5px;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    border-radius: 0;
  }

  @include mq($until: tablet) {
    border-radius: 0;
  }
}

.review-row {
  @include mq($until: desktopAd) {
    display: flex;
  }

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.review-title {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    display: none;
    width: 100%;
    max-width: 90%;
    margin: 0 auto 1.4rem;
    @include mq($until: tablet) {
      display: block;
    }
    @include mq($until: mobile) {
      display: block;
    }
  }
}

.review-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.review-user {
  margin-bottom: 1.8rem;
  display: flex;
  align-items: center;
}

.review-user__img {
  margin-right: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.review-user__text-name {
  margin-bottom: 0.3rem;
  display: block;
  font-family: $ff-roboto-m;
  font-size: 1rem;
  color: $b-black-text;
}

.review-user__text-email {
  display: block;
  font-size: 0.9rem;
  color: #919191;
  text-decoration: underline;
}

.review-item {
  margin-bottom: 1.3rem;
  display: flex;
}

.review-book {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;

  &:hover {
    .review-book__text {
      opacity: 1;
    }
  }
}

.review-book__img {
  width: 6.25rem !important;
  height: 9.3rem;
  max-width: none;
}

.review-book__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.37);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.review-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-info__author {
  margin-bottom: 1.1rem;
  display: block;
  font-size: 0.8rem;
  text-decoration: underline;
  cursor:pointer;
  &:hover{
    opacity:0.7;
  }
}

.review-info__name {
  display: block;
  font-size: 1.1rem;
  font-family: $ff-roboto-m;
}

.review-book__text-btn {
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white;

  &:hover {
    text-decoration: none;
  }
}

.review-book__rating {
  display: flex;
  justify-content: space-between;
}

.review-book__rating-ico {
  font-size: 1.1rem;
  color: #cac8c8;
  cursor: pointer;

  &._active,
  &:hover {
    color: #fbc509;
  }
}

.review-top {
  @include mq($until: desktopAd) {
    width: 45%;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }

  @include mq($until: tablet) {
    width: 100%;
  }
}

.review-desc {
  font-size: 0.9rem;
  text-indent: 2.8rem;
  line-height: 1.15em;

  @include mq($until: desktopAd) {
    width: 55%;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }


  @include mq($until: tablet) {
    width: 100%;
  }
}
