.contacts{
  margin-bottom: 5rem;
}

.contacts-container{
  max-width: 40.6rem;
}

.contacts-row{
  margin: 0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet) {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin:0;
  }
}

.contacts-col{
  width: 50%;
  padding:0 1.5rem;
  @include mq($until: tablet) {
    width: 90%;
    padding:0;
    &:last-of-type{
      margin-bottom: 2.5rem;
    }
  }
}

.contacts-list__item{
  margin-bottom: 1.2rem;
  padding-left: 2rem;
  display: flex;
  font-size:1rem;
  line-height: 1.2em;
  position: relative;
}

.contacts-list__item-ico{
  position: absolute;
  top:0;
  left: 0;
  color:$b-green;
  font-size:1rem;
}

.contacts-list__item-link{
  color:black;
  text-decoration: none;
}

.contacts-input{
  margin-bottom: 1rem;
  width: 100%;
  padding:1.1rem;
  border-radius: 5px;
  color:black;
  background: $b-gray-modal;
  border:none;
  font-size:1rem;
  &::placeholder{
    color:$b-olive;
  }
}

.contacts-textarea{
  margin-bottom: 1rem;
  width: 100%;
  padding:1.1rem;
  font-size:1rem;
  border-radius: 5px;
  color:black;
  background: $b-gray-modal;
  border:none;
  resize: none;
  &:focus{
    outline: none;
  }
  &::placeholder{
    color:$b-olive;
  }
}

.contacts-btn{
  padding:1.1rem;
  width: 100%;
  font-size:1.2rem;
  border-radius: 5px;
  background: $b-green;
  border:none;
  color:white;
  &:focus{
    outline: none;
  }
  &:hover{
    background: darken($b-green, 3);
  }
}

.contacts-img{
  margin: 1.5rem auto 0;
  display: block;
  max-width: 100%;
}
