.traditional {
  margin-bottom: 3rem;
}

.traditional-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: desktopAd) {
    max-width: 90%;
    margin:0 auto 1.8rem;
  }
}

.traditional-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.traditional-item__text {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 0.8rem;
  color: #686868;
}

.traditional-container{
  margin:0 auto;
  @include mq($until: desktopAd) {
    max-width: 90%;
  }
}

.traditional-row {
  margin-bottom: 3.4rem;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  display: flex;
  flex-wrap: wrap;

  @include mq($until: desktopAd) {
    margin-bottom: 1.8rem;
    max-width: auto;
    flex-wrap: wrap;
    &:not(:first-of-type){
      padding-bottom: 1.8rem;
      border-bottom:1px solid #bdc3c7;
    }
  }
  @include mq($until: desktop) {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
  @include mq($until: tablet) {
    flex-wrap: wrap;
  }
}

.traditional-item {
  padding: 0 1.5rem;
  margin-bottom: 1.2rem;
  max-width: 25%;
  // flex: 0 0 25%;
  text-align: center;
  transition:opacity 0.3s ease;

  &:hover {
    text-decoration: none;
    opacity:0.7;  
  }
  @include mq($until: desktop) {
    margin-bottom: 1rem;
    padding: 0 1.2rem;
    width: 33.3%;
    max-width: 33.3%;
  }

  @include mq($until: tablet) {
    margin-bottom: 1rem;
    padding: 0 1.2rem;
    width: 33.3%;
    max-width:33.3%;
  }

  @include mq($until: mobile) {
    margin-bottom: 1rem;
    padding: 0 1.2rem;
    max-width: 50%;
    width:50%;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.traditional-item__img {
  margin:0 auto 1rem;
  min-height: 8.9rem;
  display: block;
  border-radius: 5px;
}

.traditional-item__title {
  margin-bottom: 0.4rem;
  display: block;
  font-size: 1rem;
  font-family: $ff-roboto-m;
  color: black;
}

.traditional-item__rating {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  @include mq($until: desktopAd) {
    justify-content: center;
  }
  @include mq($until: mobile) {
    justify-content: space-between;
  }
}

.traditional-rating__block {
  cursor: pointer;
  @include mq($until: desktopAd) {
    &:first-of-type{
      margin-right: 1rem;
    }
  }
}

.traditional-rating__ico {
  margin-right: 0.2rem;
  color: #bdc3c7;
  font-size: 1rem;
}

.traditional-rating__text {
  color: #bdc3c7;
  font-size: 0.8rem;
}

.traditional-book {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 18.7rem;
  background: url("../images/a2.png") 0 0 no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }


  @include mq($until: tablet) {
      background-position: center;
  }

  @include mq($until: desktopAd) {
    align-items: flex-start;
    background: url("../images/audiobanner.png") 0 0 no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0;
  }
}

.traditional-book__text {
  padding-left: 2.5rem;
  max-width: 50%;
  font-size: 3.3rem;
  font-family: $ff-roboto-i;

  @include mq($until: tablet) {
    padding-left: 2rem;
    font-size: 2.5rem;
  }

  @include mq($until: desktopAd) {
    padding: 2.5rem 0 0 1.1rem;
    font-size: 2rem;
    max-width: 80%;
  }

  @include mq($until: mobile) {
    padding: 2.5rem 0 0 1.1rem;
    max-width: 80%;
    font-size: 1.8rem;
    font-family: $ff-roboto-t;
  }
}

.traditional-item__inner{
  &:hover{
    text-decoration: none;
  }
  .__relative{
    border-radius: 5px;
    .hover-img__text{
      border-radius: 5px;
    }  
  }
}
