.choice {
  margin-bottom: 2.5rem;
  padding: 1.2rem;
  background: $b-gray-modal;
  border-radius: 5px;

  @include mq($until: desktopAd) {
    //width: 60%;
    width: 90%;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 90%;
  }


  @include mq($until: tablet) {
    width: 90%;
  }


  @include mq($until: mobile) {
    width: 100%;
  }
}

.choice-title {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  color: black;
}

.choice-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.choice-img {
  margin: 0 -1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15.6rem;
  background: url("../images/choice.png") no-repeat 0 0;
  background-size: cover;
}

.choice-img__title {
  display: flex;
  align-items: center;
}

.choice-img__title-ico {
  margin-right: 1rem;
  font-size: 3rem;
  color: white;
}

.choice-img__title-text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.2em;

  ._bold {
    display: block;
    font-family: $ff-roboto-b;
    font-size: 1.9rem;
  }
}

.choice-book {
  margin: 0 auto 1.2rem auto;
  width: 8.75rem;
  font-size: 1.4rem;
}

.choice-book__img {
  margin: -50% auto 1.2rem auto;
  display: block;
  width: 6.8rem;
}

.choice-desc {
  margin-bottom: 1.8rem;
  P{
    text-align: center !important;
    text-indent:0 !important;
    span{
      font-size: 0.9rem !important;
      line-height: 1.1em !important;
      font-family: $ff-roboto !important;
    }
  }
}

.choice-desc__title {
  margin-bottom: 1.1rem;
  font-family: $ff-roboto-m;
  font-size: 1.1rem;
  text-align: center;
}

.choice-desc__text {
  display: block;
  font-size: 0.9rem;
  line-height: 1.1em;
  text-align: center;
  @include mq($until: tablet) {
    text-align: justify;
  }

  @include mq($until: mobile) {
    text-align: justify;
  }
}

.choice-book__rating {
  display: flex;
  justify-content: space-between;
}

.choice-book__rating-ico {
  font-size: 1.4rem;
  color: #cac8c8;

  &._active{
    color: #fbc509;
  }
}

.choice-options__btn {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  padding: 0;
  align-items: stretch;
  justify-content: space-between;
  background: $b-green;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-green, 3);

    .choice-options__btn-ico {
      background: darken($b-green-dark, 3);
    }
  }

  &.__blue {
    margin-bottom: 0;
    background: $b-blue;

    .choice-options__btn-text {
      padding: 1rem 1.8rem 1rem;
    }

    .choice-options__btn-ico {
      background: $b-blue-dark;
    }

    &:hover {
      background: darken($b-blue, 3);

      .choice-options__btn-ico {
        background: darken($b-blue-dark, 3);
      }
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.choice-options__btn-text {
  padding: 1rem 1rem 1rem 1.8rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.choice-options__btn-ico {
  width: 3.5rem;
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.choice-options-ico__img {
  color: white;
  font-size: 1.2rem;
}
