.specpoets{
  margin:0 auto;
  max-width: 41rem;
}

.specpoets-info{
  padding-bottom: 2.25rem;
  margin-bottom: 2.5rem;
  border-bottom:1px solid #bdc3c7;
  p{
    margin-bottom: 1.2rem;
    font-size:1rem;
    line-height: 1.2em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 2rem;
    max-width: 90%;
  }
  @include mq($until: tablet) {
    margin:0 auto 2rem;
    max-width: 90%;
  }
}

.specpoets-container{
  width: 100%;
  padding-right:1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.specpoets-row{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.specpoets-item{
  margin-bottom: 3rem;
  width: 25%;
  padding: 0 1.5rem;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 33.3%;
  }
  @include mq($until: tablet) {
    width: 33.3%;
  }
  @include mq($until: mobile) {
    width: 50%;
  }
  &:hover{
    .special-img__text {
      opacity:1;
    }
  }
}

.specpoets-img {
  position:relative;
}

.specpoets-item__img{
  margin:0 auto 1.2rem;
  display: block;
  height: 11rem;
}

.specpoets-item__name{
  display: block;
  text-align: center;
  font-size:1.1rem;
  line-height: 1.2em;
  color:black;
}
