.allbooks{
  margin-bottom: 3rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 2rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 2rem;
  }
}

.allbooks-top{
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }
  .allbooks-select {
    padding-bottom: 0;
  }
}

.allbooks-title{
  font-size:1.4rem;
  color:black;
  @include mq($until: tablet) {
    margin-bottom: 1.5rem;
  }
}

.allbooks-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.allbooks-row{
  margin:0 -1.5rem 3.4rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
}

.allbooks-item{
  margin-bottom: 3rem;
  width: 25%;
  padding:0 1.5rem;
  text-align: center;
  cursor: pointer;
  transition:opacity 0.3s ease;

  &:hover{
    text-decoration: none;
    opacity:0.7;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktop) {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktopAd) {
    margin:0 auto 1.8rem;
    width: 33.3%;
  }
  @include mq($until: mobile) {
    margin:0 auto 1.8rem;
    width: 100%;
  }
}

.allbooks-item__img{
  margin:0 auto 1rem;
  display: block;
  width: 7.8rem;
  max-width: 100%;
  height: 11.3rem;
  background: #d3d1ce;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.5rem;
  @include mq($until: desktop) {
    height: 10rem;
  }
}

.allbooks-item__title{
  margin-bottom: 0.4rem;
  display: block;
  font-size:1rem;
  font-family: $ff-roboto-b;
  color:black;
}
.allbooks-item__text{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
  color:black;
}

.allbooks-select{
  padding-bottom: 11px;
  .btn-default{
    padding: 0.8rem 2.8rem 0.8rem 1.8rem;
    display: flex;
    background: none;
    border-radius: 5px;
    border:1px solid #d3d1ce;
    font-size:1rem;
    .bs-caret{
      position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translate(0,-50%);
    .fa{
      color:#bdc3c7;
      font-size:0.9rem;
    }
    }
    &:active{
      background: none;
      background-color: none;
      border-color: #d3d1ce;
      outline: none;
      &:hover{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &:focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &.focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
    &.active{
      &:hover{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &:focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &.focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
    &:hover{
      background: none;
      background-color: none;
      border-color:darken(#d3d1ce, 7);
      outline: none;
    }
    &:focus{
      outline: none !important;
    }
    &:before{
      bottom: -15px !important;
      right: 9px!important;
      left: auto !important;
      border-bottom-color: #d3d1ce!important;
    }
    &:after{
      bottom: -15px !important;
      right: 10px!important;
      left: auto !important;
    }
  }
  &.open {
    &> .dropdown-toggle.btn-default{
      background: none;
      background-color: none;
      border-color: #d3d1ce;
      &:hover{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:active{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
      &.focus{
        background: none;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
  }
  .filter-option.pull-left{
    display: none;
  }
  .dropdown-menu{
    margin-top: .85rem;
    border:1px solid #d3d1ce;
    li{
      &>a{
        font-size:1rem;
        padding: 0.5rem 1.2rem;
      }
    }
  }
}
