.catalog{
  margin-bottom: 3rem;
  &>.catalog-item{
    &:first-of-type{
      border-radius: 10px 10px  0 0;
    }
    &:last-of-type{
      border-radius:  0 0 10px 10px;
    }
  }

  @include mq($until: tablet) {
    display: none;
  }
  @include mq($until: desktopAd) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
}

.catalog-title{
  margin-bottom: 1.8rem;
  font-size:1.4rem;
  color:black;
  @include mq($until: tablet) {
    display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
}

.catalog-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.catalog-top{
  position: relative;
  display: flex;
}
.catalog-item{
  border-top:1px solid white;
  background: $b-blue;
  position: relative;
  // &.__open{
  //   &>.catalog-item__child{
  //       &>.catalog-item{
  //         display: block;
  //       }
  //     }
  // }
  // .catalog-item__child{
  //   &>.catalog-item{
  //     display: none;
  //   }
  // }
  &.__level1{
    .catalog-item__child{
      .catalog-item{
        border-color:#e1e3e4;
        background: $b-gray-modal;
        .catalog-item__link{
          color:black;
        }
        .catalog-item__icon{
          &:after{
            content:'\F105';
            font-family: 'FontAwesome';
            font-size: 1rem;
            color: black;
          }
        }
      }
    }
    &.open{
      &>.catalog-item__link{
      }
      &>.catalog-item__icon{
        &:after{
          content:'\F00D'!important;
        }
      }
    }
  }
  &.__level2{
    .catalog-item__child{
      .catalog-item{
        background: white;
        .catalog-item__link{
          color:$b-blue;
          font-family: $ff-roboto-m;
          padding-left: 3rem;
        }
        .catalog-item__icon{
          top:1rem;
          left:1.2rem;
          right: auto;
          &:after{
            content:'\F0DA';
            font-family: 'FontAwesome';
            font-size: 1rem;
            color: $b-blue;
          }
        }
      }
    }
    &.open{
      &>.catalog-item__link{
        color:black;
      }
      &>.catalog-item__icon{
        &:after{
          content:'\F107'!important;
        }
      }
    }
  }
  &.__level3{
    .catalog-item__child{
      .catalog-item{
        background: white;
        .catalog-item__link{
          padding-left: 3.2rem;
          color:black;
          font-family: $ff-roboto;
        }
        .catalog-item__icon{
          &:after{
            display: none;
          }
        }
      }
    }
  }
  // &.__first{
  //   border-radius: 10px 10px  0 0;
  // }
  // &.__last{
  //   border-radius:  0 0 10px 10px;
  // }
}

.catalog-item__link{
  font-size:1rem;
  color:white;
  display: block;
  text-decoration: none;
  padding: 1.1rem 2.2rem;
  &:hover{
    text-decoration: none;
  }

}
.catalog-item__icon{
  position: absolute;
  top:1rem;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  z-index: 10;
  cursor: pointer;
  &:after{
    content:'\f067';
    font-family: 'FontAwesome';
    font-size: 1rem;
    color: white;
  }
}




// Catalog menu wrapper
.catalog-menu-wrapper {
  margin-bottom: 2.5rem;
  border-radius: 5px;
  background-color: #02c3fa;
  @include mq($until: desktopAd) {
   display: none;
  }
  @include mq($until: mobile) {
    display: none;
  }
  li {
    border-bottom: 1px solid #fff;
    &:last-child {
      border-bottom: 0;
    }
    a {
      font-size: 1rem;
      color: white;
      display: block;
      text-decoration: none;
      padding: 1.1rem 2.2rem;
      &.is-active {
        color: darken(#02c3fa, 5%) !important;
      }
      &:hover{
        color:darken(white, 3)
      }
    }
  }
  >li{
    >a{
      &.is-active{
      background: darken(#02c3fa,5) !important;
      color:white !important;
    }
   }
   &:first-of-type{
    >a{
      border-radius: 5px 5px 0 0;
    }
   }
   &:last-of-type{
    >a{
      border-radius: 0 0 5px 5px ;
    }
   }   
  }
}
.catalog-menu__dropmenu {
  &.is-active {
    >a {
      >span {
        &:before {
          transform: rotate(45deg);
          transition: transform .2s ease-in;
        }
      }
    }
  }

  a {
    position: relative;

    span {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 2.2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: block;
        content: '\f067';
        font-family: 'FontAwesome';
        font-size: 1rem;
        color: white;
        transform: rotate(0);
        transition: transform .2s ease-in;
      }
    }
  }
}
.catalog-menu__submenu {
  display: none;
  background-color: #ecf0f1;
  li {
    border-color: #e1e3e4;
    >a{
      &.is-active{
        background: darken(#ecf0f1,3);
      }
    }
    &.is-active {
      >a {
        >span {
          &:before {
            transform: rotate(90deg);
          }
        }
      }
    }
    a {
      color: lighten(#333, 10%);
      span {
        &:before {
          content: '\F105';
          color: lighten(#333, 10%);
        }
      }
      &:hover{
        color:darken(#4d4d4d, 3);
      }
    }
    //level 3
    .catalog-menu__submenu {
      background-color: darken(#fff, 1%);
      li {
        a {
          color: lighten(#333, 10%);
          span {
            &:before {
              content: '\F0DA';
              color: lighten(#333, 10%);
            }
          }
         &:hover{
            color:darken(#4d4d4d, 3);
          }
        }
        //level 4
        .catalog-menu__submenu {
          li {
            border-top: 1px solid #e1e3e4;
            border-bottom: 0;
            a {
              color: lighten(#333, 10%);
              padding-left: 3rem;
              &:hover{
                color:darken(#4d4d4d, 3);
              }
            }
          }
        }
      }
    }
  }
}
