.video {
  &:last-of-type{
    margin-bottom: 3rem;
  }
}

.video-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &._ted {
    color: #d83c40;
  }
  @include mq($until: mobile) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.video-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.video-container {
  padding: 0 1.5rem;
}

.video-row {
  //margin: 0 -1.5rem 0.6rem;
  margin-bottom: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  //@include mq($until: tablet, $and: "(orientation: landscape)") {
  //  margin: 0 -1.2rem 0.6rem;
  //}

  //@include mq($until: tablet) {
  //  margin: 0 -1.2rem 0.6rem;
  //}

  @media screen and (max-width: 640px) {
    justify-content: center;
  }

  //@include mq($until: mobile) {
  //  margin: 0 -1.2rem 0.6rem;
  //}
  &:last-of-type{
    margin-bottom: 0;
  }
}

//.video-item {
//  margin-bottom: 1.2rem;
//  width: 25%;
//  padding: 0 1.5rem;
//  text-align: center;
//  cursor: pointer;
//
//  @include mq($until: tablet, $and: "(orientation: landscape)") {
//    width: 50%;
//    padding: 0 1.2rem;
//  }
//
//  @include mq($until: tablet) {
//    width: 50%;
//    padding: 0 1.2rem;
//  }
//
//  @include mq($until: mobile) {
//    width: 50%;
//    padding: 0 1.2rem;
//  }
//
//
//  &:hover {
//    text-decoration: none;
//  }
//}
.video-item {
  width: 256 / 1104 * 100%;
  text-align: center;
  margin-right: 26 / 1104 * 100%;
  margin-bottom: 1.63rem;
  &:nth-child(4n+4) {
    margin-right: 0;
  }
  &:hover, &._active {
    text-decoration: none;
    .video-item__top {
      &:after {
        opacity: 1;
        transition: opacity .2s ease-in;
      }
    }
    .video-item__top-action {
      display: flex;
    }
  }

  @include mq($until: desktop) {
    width: 250 / 800 * 100%;
    margin-right: 25 / 800 * 100%;
    &:nth-child(4n+4) {
      margin-right: 25 / 800 * 100%;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 640px) {
    width: 256 / 600 * 100%;
    margin-right: 44 / 600 * 100%;
    &:nth-child(3n+3) {
      margin-right: 44 / 600 * 100%;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
  @include mq($until: mobile) {
    width: 100%;
    max-width: 256px;
    margin-right: 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

//.video-item__top {
//  border-radius: 5px;
//  position: relative;
//
//  &:hover,
//  &._active {
//    .video-item__top-action {
//      background: rgba(0, 0, 0, 0.65);
//
//    .video-item-action__btn{
//        display: flex;
//      }
//    }
//  }
//}
.video-item__top {
  width: 100%;
  height:10rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 1rem;
  &:before {
    content: '';
    display: table;
    margin-top: 156 / 258 * 100%;   // Процентное соотношение сторон у блока под картинку в background-image: высота / ширину
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity .2s ease-in;
  }
}

.video-item__top-action {
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  background: $b-green;
  position: absolute;
  z-index: 3;
  &:after {
    content: '\f04b';
    font-size:1.5rem;
    font-family: 'FontAwesome';
    color: #fff;
  }
}

.video-item-action__btn{
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $b-green;
  position: relative;
  display: none;
  .fa-play{
    color:white;
    font-size:1.5rem;
    @include mq($until: tablet) {
      font-size:1.2rem;
    }

    @include mq($until: mobile) {
      font-size:1.2rem;
    }
  }
  @include mq($until: tablet) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @include mq($until: mobile) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.video-item__img {
  margin-right: auto;
  margin-bottom: 0.7rem;
  height: 12rem;
  margin-left: auto;
  display: block;
  border-radius: 5px;
}

.video-item-action__ico {
  @include icon("../images/play.png", 3.9rem, 3.9rem);

  display: none;
}

.video-item__title {
  margin-bottom: 0.7rem;
  display: block;
  font-size: 1rem;
  font-family: $ff-roboto-m;
  color: black;
}

.video-item__rating {
  margin: 0 auto;
  //max-width: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //@include mq($until: tablet) {
  //  justify-content: space-between;
  //}

  //@include mq($until: mobile) {
  //  justify-content: space-between;
  //}
}

.video-rating__block {
  margin-right: .85rem;
  margin-left: .85rem;
  cursor: pointer;

  //&:last-of-type {
  //  margin-right: 0;
  //}
  //@include mq($until: tablet) {
  //  margin-right:0.5rem;
  //}
  //
  //@include mq($until: mobile) {
  //  margin-right:0.5rem;
  //}
}

.video-rating__ico {
  margin-right: 0.2rem;
  color: #bdc3c7;
  font-size: 1rem;
}

.video-rating__text {
  color: #bdc3c7;
  font-size: 0.8rem;
}

.video-book {
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 18.7rem;
  background: url("../images/a2.png") 0 0 no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.video-book__text {
  padding-left: 2.5rem;
  max-width: 50%;
  font-size: 3.3rem;
  font-family: $ff-roboto-i;
}

.play-pulse{
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0);
    animation-name: pulse;
    animation-duration: 3.2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.play-pulse {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


@keyframes pulse{
  0%{
    transform:scale(1);
    transform-origin: 50% 50%;
    border-color:rgba(255,255,255,.55);
  }
  100%{
    transform:scale(1.3);
    transform-origin: 50% 50%;
    border-color:rgba(255,255,255,0);
  }
}

.video-item__top-action__block{
  display: inline-block!important;
  position: relative;
  padding: 1rem;
}

.video-title__btn{
  padding: 0.6rem 1.2rem;
  color:$b-green;
  font-size:0.8rem;
  border:1px solid $b-green;
  border-radius: 20px;
  cursor: pointer;
  transition:all 0.3s ease;
  &:hover{
    text-decoration: none;
    background:$b-green;
    color:white;
  }

  @include mq($until: tablet) {
    padding: 0.6rem;
  }

  @include mq($until: mobile) {
    padding: 0.6rem;
    margin-top: 1.2rem;
  }
}
