.toauthor-info{
  margin: 0 auto 5rem;
  max-width: 45rem;

}

.toauthor-text{
  p{
    margin-bottom: 1.8rem;
    font-size:1rem;
    line-height: 1.2em;
  }
}

.toauthor-info__label{
  margin-bottom: 1.2rem;
  display: block;
  font-size:1rem;
  text-align: center;
}

.toauthor-btn {
  margin:0 auto;
  display: flex;
  padding: 0;
  max-width: 16.25rem;
  align-items: stretch;
  background: $b-green;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: darken($b-green, 3);
    text-decoration: none;
    .toauthor-btn__ico {
      background: darken($b-green-dark, 3);
    }
  }
  @include mq($until: mobile) {
    max-width: 100%;
  }
}

.toauthor-btn__text {
  padding: 1rem 1.2rem 1rem 3rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;

  @include mq($until: desktopAd) {
    margin-right: 1rem;
    padding: 1rem 0 1rem 2rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 1rem;
    padding: 1rem 0 1rem 2rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet) {}
}

.toauthor-btn__ico {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;

  @include mq($until: desktopAd) {
    padding: 1rem;
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 1rem;
    font-size: 0.85rem;
  }
}

.toauthor-btn__ico-img {
  color: white;
  font-size: 1.2rem;
}
