.translate{
  //margin-bottom: 7rem;
  padding: 3rem 0 3.8rem;
  background: url('../images/translatebg.jpg') no-repeat 0 0;
  background-size: cover;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.8rem;
    padding: 1.8rem 0;
  }
  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
    padding: 1.8rem 0;
  }
}

.icons-trnslate{
  @include icon('../images/translate.png', 1.4rem, 1.25rem);
}

.translate-title{
  margin-bottom: 2.5rem;
  color:white;
  font-size:1.4rem;
}

.translate-title__ico{
  margin-right: 0.8rem;
}
.transtate-search{
  margin:0 auto 2.5rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  width: 60%;
  max-width: 31rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }
  @include mq($until: tablet) {
    width: 100%;
  }
}
.transtate-search__input{
  padding: 1.2rem  3.75rem 1.2rem  1.3rem;
  margin:0;
  width: 100%;
  color: $b-gray-light;
  font-size: 1rem;
  border:none;
  border-radius: 5px;
  &::placeholder{
    color: $b-gray-light;
    font-size: 1rem;
    font-family: $ff-roboto;
  }
}

.transtate-search__btn{
  padding: 1rem 1.3rem;
  margin:0;
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  max-width: 3.75rem;
  background: $b-pink;
  border-radius: 0 5px 5px 0;
  border:none;
  cursor: pointer;
  &:hover{
    background: darken($b-pink, 3);
  }
}


.transtate-search__btn-ico{
  color:white;
  font-size: 1.3rem;
}

.transtate-text{
  text-align: center;
  color:white;
  font-size:1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq($until: desktopAd) {
    font-size:1rem;
  }
  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.transtate-text__center{
  font-size:1.4rem;
  background: url('../images/wave.png') no-repeat 0 100%;
  padding-bottom: 9px;
}

.transtate-text__ico-left{
  margin:0 0.6rem;
  @include icon('../images/bracketleft.png',1.1rem, 3.18rem);
}

.transtate-text__ico-right{
  margin:0 0.6rem;
  @include icon('../images/bracketright.png',1.1rem, 3.18rem);
}

.transtate-text-block{
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    margin:0.6rem 0;
  }
}
