.push{
  position: fixed;
  bottom: 2%;
  right:2%;
}

.push-item{
  margin-bottom: 1rem;
  padding: 1rem 1.8rem 1rem 5rem;
  position: relative;
  background: #eafefc;
  border:1px solid #66d3ca;
  border-radius: 5px;
  box-shadow: 0px 6px 5.74px 1.26px rgba(0, 1, 1, 0.08);
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: none;
  &:last-of-type{
    margin-bottom:0;
  }
  &._active{
    display: block;
  }
  &._error{
    background: #f3c9d4;
    border: 1px solid #f87eab;
    .push-text{
      color: #f74a78;
    }
    .push-img{

    }
  }
}

.push-ico {
  top:1rem;
  left:1.8rem;
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  font-size:2rem !important;
  color: #f74a78;
}

.push-text{
  color:#4acabf;
  font-size:0.8rem;
  line-height: 1.2em;
}

.push-img{
  top:1rem;
  left:1.8rem;
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  background: url('../images/push.png') no-repeat 0 0;
  background-size: 100%;
}
