.donateerror-inner{
  margin-bottom: 5rem;
  text-align: center;
}

.donateerror-title{
  margin-bottom: 1.2rem;
  font-size:1.1rem;
}

.donateerror-img{
  margin-bottom: 2rem;
}

.donateerror-img__item{
  display: inline-block;
}

.donateerror-link{
  display: inline-block;
  background: $b-green;
  border-radius: 5px;
  padding: 1rem 4rem;
  color:white;
  font-size:1rem;
  @include mq($until: tablet) {
    width: 100%;
  }
}
