.pagination{
  margin:0 auto 2.5rem;
  //max-width: 18rem;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   &.__section{
    @include mq($until: tablet) {
      display:none;
    }
   }
}

.pagination-item{
  margin-top: .5rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
  color:$b-olive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:1.1rem;
  width: 2.8rem;
  height: 2.8rem;
  background: $b-gray-modal;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:last-of-type{
    margin-right: 0;
  }
  &:hover,
  &.__active{
    text-decoration: none;
    background: $b-green;
    color:white;
  }
}
