.search {
  margin-bottom: 0.8rem;
  padding: 3.7rem 0 3.7rem 0;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url('../images/mainbg.png') no-repeat center;
  background-size: cover;
  @include mq($until: mobile) {
    background: $b-gray-modal;
    padding: 1rem 3rem;
  }
}

.search-container {
  max-width: 27rem;
  width: 50%;
  position: relative;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 90%;
  }

  @include mq($until: tablet) {
    width: 90%;
  }
}

.search-input {
  width: 100%;
  font-size: 2.25rem;
  color: black;
  border: none;
  border-bottom:1px solid black;
  background: transparent;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: black;
    font-family: $ff-roboto;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 1.5rem;
  }


  @include mq($until: tablet) {
    font-size: 1.4rem;
  }


  @include mq($until: mobile) {
    font-size: 1.3em;
  }
}

.search-ico {
  bottom:-0.5rem;
  right: -4.6rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.1rem;
  height: 3.1rem;
  background: $b-green;
  border-radius: 50%;
  cursor: pointer;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 2.5rem;
    height: 2.5rem;
  }


  @include mq($until: tablet) {
    width: 2.5rem;
    height: 2.5rem;
  }
  @include mq($until: mobile) {
    top:50%;
    right: -3rem;
    bottom:auto;
    transform: translate(0,-50%);
  }
}

.search-ico__img {
  font-size: 1.5rem;
  color: white;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 1.2rem;
  }


  @include mq($until: tablet) {
    font-size: 1.2rem;
  }
}

.search-link{
  top:0;
  left:0;
  height: 100%;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  color:#bdc3c7;
  font-size:1.1rem;
  display: none;
  @include mq($until: mobile) {
    display: flex;
    &:before{
      display:none;
    }
  }
  &:hover{
    text-decoration: none;
  }
}
