.faq{
  margin:0 auto 5rem;
  max-width: 45rem;
}

.faq-title{
  padding:0.6rem 1.8rem 1rem;
  background: $b-gray-modal;
}

.faq-item{
  border-bottom: 1px solid white;
  transition: all 0.5s ease;
  &.__active{
    .faq-item__title{
      background: $b-green;
      color:white;
    }
    .faq-item__title-ico{
      color:white;
      &:after{
        content:'\F107';
      }
    }
  }
}

.faq-item__title{
  padding:1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $b-gray-modal;
  color:black;
  font-size:1rem;
  cursor: pointer;
}

.faq-item__text{
  padding:1.8rem;
  color:black;
  font-size:0.9rem;
  line-height: 1.2em;
}

.faq-item__title-ico{
  font-size:1.5rem;
  color:$b-olive;
  &:after{
    content:'\F105';
    font-family: $font_awesome;
  }
}

.faq-item__text{
  transition: max-height 0.5s;
  // overflow: hidden;
  // max-height: 0;
  // padding: 0;
  display: none;
}

.faq-title__ico{
  color:$b-pink;
  font-size:3rem;
}
