.plate{
  background: url('../images/a3.png') no-repeat  0 0;
  height: 16.8rem;
  max-width: 19.8rem;
  &.__mobile{
    display: none;
    margin: auto;
    margin-bottom: 2rem;
  }
  @include mq($until: desktopAd) {
      display: none;
      margin: auto;
      margin-bottom: 2rem;
    &.__mobile{
      background: block;
      max-width: 100%;
      display: block;
    }
  }
}

.plate-title{
  padding:1.8rem 1.2rem 0;
  display: block;
  font-size:1.4rem;
  color:black;
    @include mq($until: desktopAd) {
      margin:0 auto 1.8rem;
      max-width:90%;
      padding:0;
    }
}

.plate-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.plate-img{
   height: 13.75rem;
   background: url('../images/a3.png') no-repeat  center;
   background-size: cover;
}
