.audioinner {
  margin: 0 auto 5rem;
  max-width: 45rem;
  @include mq($until: tablet) {
    margin: 0 auto 2.5rem;
  }
}

.audioinner-top {
  margin: 0 auto 2.75rem;
  display: flex;
  position: relative;

  @include mq($until: tablet, $and: "(orientation: landscape)") {}


  @include mq($until: tablet) {
    margin: 0 auto 1.8rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.audioinner-boook {
  margin-right: 1.8rem;
  width: 30%;

  @include mq($until: tablet, $and: "(orientation: landscape)") {}


  @include mq($until: tablet) {
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.audioinner-book__img {
  display: block;
  width: 13rem;
  @include mq($until: tablet) {
    display: none;
  }
}

.audioinner-book__text{
  margin-bottom: 1rem;
  display: block;
  width: 13rem;
  font-size:1rem;
  text-align: center;
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
  }
}

.audioinner-book__rating {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: center;
  width: 13rem;

  @include mq($until: tablet) {
    margin: 0 auto 1.5rem;
  }
}

.audioinner-book__rating-ico {
  margin-right: 0.7rem;
  font-size: 1.3rem;
  color: #cac8c8;
  cursor: pointer;

  &._active,
  &:hover {
    color: #fbc509;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.audioinner-info {
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 67%;

  @include mq($until: tablet) {
    width: 90%;
    text-align: center;
  }
}

.audioinner-info__author {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  text-decoration: underline;
}

.audioinner-info__name {
  font-size: 1.8rem;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.audioinner-social {
  position: absolute;
  top: 0;
  right: 0;
}

.audioinner-social__ico {
  margin-right: 0.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.audioinner-item__options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    display: none;
    .socila-info{
      display: flex;
      margin-bottom: 1.8rem;
    }
    @include mq($until: tablet) {
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.audioinner-options__btn {
  margin-right: 1.2rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: none;
    background: darken($b-blue, 3);
    .audioinner-options__btn-ico{
      background: darken($b-blue-dark, 3);
    }
  }
    .audioinner-options__btn-text{
        padding: 1rem 1.8rem 1rem;
    }
    .audioinner-options__btn-ico{
      background: $b-blue-dark;
    }
    @include mq($until: tablet) {
      margin: 0 auto 1.2rem;
      width: 90%;
    }
  }
  .audioinner-options__btn-text{
    padding: 1rem 1.3rem 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .audioinner-options__btn-ico{
    padding: 1rem 1rem 0.8rem 1rem;
    display: flex;
    align-items: center;
    background: $b-green-dark;
    border-radius: 0 5px 5px 0;
  }

  .audioinner-options-ico__img{
    color: white;
    font-size: 1.2rem;
  }

.social-info__item {
  margin-right: 2.2rem;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}

.social-info__item-ico {
  font-size: 1rem;
  color: #dde0e1;
}

.social-info__item-text {
  color: #b1b1b1;
  font-size: 1rem;
}

// audio
.audiobook {
  &._inner {
    margin-bottom: 1.8rem;
  }
}

.audiobook-item {
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size:1rem;
    border-radius: 5px;

  &._active,
  &:hover {
    background: $b-gray-modal;
    font-family: $ff-roboto-m;

    .audiobook-item__ico {
      color: $b-green;
    }
  }
}

.audiobook-item__ico {
  font-size: 1.8rem;
  color: #c3c1c1;
}

.audioinner-text {
  padding: 3.5rem 2.8rem 5.6rem;
  background: $b-gray-modal;
  border-radius: 5px;
  @include mq($until: tablet) {
    padding: 1.8rem 1rem;
    border-radius: 0;
  }
  p{
    margin:0 0 1rem !important;
    font-size: 0.9rem!important;
    line-height: 1.2em!important;
    letter-spacing: 0.04em;
    font-family: $ff-roboto !important;
    color:black !important;
    background: none !important;
    white-space: normal;
    text-align:left !important;
    word-wrap: break-word;
    &:last-of-type {
      margin-bottom: 0;
    }
    span{
      font-size: 0.9rem!important;
      line-height: 1.2em!important;
      letter-spacing: 0.04em;
      font-family: $ff-roboto !important;
      color:black !important;
      background: none !important;
    }
  }
  span{
    font-size: 0.9rem!important;
    line-height: 1.2em!important;
    letter-spacing: 0.04em;
    font-family: $ff-roboto !important;
    color:black !important;
    background: none !important;
  }
}

.audioinner-text__item {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.2em;
  letter-spacing: 0.04em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.audio-albom__item{
  &.__audio-mobile{
    display: none;
    max-width: 100%;
    @include mq($until: tablet) {
      display: block;
    }
    .audioinner-book__img{
      display: block;
    }
  }
}

.audioinner-social-mobile{
  display: none;
    @include mq($until: tablet) {
      display: flex;
    }
}
.audioinner-ico {
  margin-right: 1.1rem;
  background: #e5e5e5;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e5e5e5,3);
  }
}

.audioinner-ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}
