.partners-row{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partners-item{
  margin-bottom: 3rem;
  width: 33.3%;
  padding:0 1.5rem;
  @include mq($until:tablet) {
    width: 50%;
  }
  @include mq($until:mobile) {
    width: 90%;
  }
}

.partners-item__top{
  margin-bottom: 1.2rem;
  height: 7rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.partners-item__img{
  max-width: 60%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.partners-info__title{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
  text-align: center;
}

.partners-info__link{
  display: block;
  font-size:1rem;
  text-align: center;
  color:$b-pink;
  text-decoration: underline;
}
