.profilenav {
  margin-bottom: 1.8rem;
  @include mq($until: desktop) {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
}

.profile-container{
  @include mq($until: tablet) {
    max-width: 100%;
  }
}

.profilenav-link {
  padding: 1.2rem 1rem 1.2rem 3rem;
  display: block;
  position: relative;
  font-size: 1rem;
  color: black;

  &._active {
    color: $b-pink;

    .profilenav-link__ico {
      color: $b-pink;
    }

    &:hover {
      .profilenav-link__ico {
        color: $b-pink;
      }
    }
  }

  &:hover {
    background: #ecf0f1;
    text-decoration: none;

    .profilenav-link__ico {
      color: $b-green;
    }
  }

  &._green {
    color: $b-green;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: inline-block;
  }


  @include mq($until: tablet) {
    display: inline-block;
  }
  // &:after{
  //   content:'';
  //   position:absolute;
  //   top:0;
  //   right:0;
  //   width:1px;
  //   height: 100%;
  //   background: #bdc3c7;
  // }
  &:first-of-type{
     &:after{
      top:auto;
      bottom:0;
      height:65%;
     } 
  }
  &:last-of-type{
     &:after{
      height:80%;
     } 
  }
}

.profilenav-link__ico {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  color: #d5d9da;
  font-size: 1rem;
}

.profilenav-link__message {
  color: $b-green;
}
