.actual {
  padding-top: 4.5rem;
}
.actual-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: black;
}

.actual-title__ico {
  margin-right: 1.2rem;
  color: $b-green;
  font-size: 1.3rem;
}

.actual-row {
  margin-bottom: 2.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.actual-item {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 21.8rem;
  //width: 30%;
  width: 350 / 1100 * 100%;
  margin-right: 25 / 1100 * 100%;
  height: 13.5rem;
  background: url("../images/bookimg.jpg") 0 0 no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 6px 5px 1px rgba(0, 1, 1, 0.08);
  &:nth-child(3n+3) {
    margin-right: 0;
  }

  &:hover {
    .actual-item__info {
      opacity: 1;
    }
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    //width: 45%;
    width: 350 / 728 * 100%;
    margin-right: 28 / 728 * 100%;
    height: 13rem;
    &:nth-child(3n+3) {
      margin-right: 28 / 728 * 100%;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }


  @include mq($until: tablet) {
    //width: 45%;
    width: 350 / 728 * 100%;
    margin-right: 28 / 728 * 100%;
    height: 13rem;
    &:nth-child(3n+3) {
      margin-right: 28 / 728 * 100%;
    }
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }


  @include mq($until: mobile) {
    width: 100%;
    margin-right: 0;
    height: 13rem;
    &:nth-child(3n+3) {
      margin-right: 0;
    }    
    &:nth-child(2n+2) {
      margin-right: 0;
    }    
  }
}

.actual-item__info {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: $b-green;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.actual-item__desc {
  padding: 0 1.8rem 1.5rem;
  width: 100%;
  font-family: $ff-roboto-m;
  color: white;
  font-size: 1.1rem;
  line-height: 1.2em;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);

  @include mq($until: desktopAd) {
    font-size: 1rem;
    padding: 0 1.5rem 1.2rem;
  }
  @include mq($until: tablet) {
    font-size: 1rem;
    padding: 1rem 1.2rem 1.5rem 1.2rem;
    text-align: center;
  }
}

.actual-info__btn {
  margin-bottom: 1.8rem;
  //width: 60%;
  padding: 1.3rem 3.8rem;
  background: $b-pink;
  color: white;
  font-size: 1rem;
  text-align: center;

  &:hover {
    text-decoration: none;
    background: darken($b-pink, 5%);
  }

  @include mq($until: desktopAd) {
    padding: 1.3rem 2rem;
  }
}

.actual-info__text {
  max-width: 90%;
  display: block;
  text-align: center;
  font-family: $ff-roboto-m;
  color: white;
  font-size: 1.1rem;
  line-height: 1.2em;

  @include mq($until: desktopAd) {
    font-size: 0.8rem;
  }
}
