.speakerinner{
  margin:0 auto 9.25rem;
  max-width: 43.25rem;
}

.speakerinner-top{
  padding-bottom: 3rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #bdc3c7;
  display: flex;
  @include mq($until: tablet) {
    margin:0 auto 1.5rem;
    width: 90%;
    padding-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
  }
}

.speakerinner-bottom{
  @include mq($until: tablet) {
    margin:0 auto;
    width: 90%;
  }
}

.speakerinner-img{
  padding-right: 1.8rem;
  width: 40%;
  flex: 1 0 auto;
  @include mq($until: tablet) {
    padding-right: 0;
    margin: 0 auto 1rem;
    width: 100%;
  }
}

.speakerinner-img__item{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

.speakerinner-info__title{
  margin-bottom: 1.2rem;
  font-size:1.5rem;
  @include mq($until: tablet) {
    text-align: center;
  }
}

.speakerinner-info{
  width: 60%;
  p{
    margin-bottom: 1.2rem;
    font-size:0.9rem;
    line-height: 1.2em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  @include mq($until: tablet) {
    margin:0 auto 1rem;
    width: 100%;
  }
}


.speakerinner-subtitle{
  margin-bottom: 2.5rem;
  font-size:1.4rem;
  color:black;
  @include mq($until: tablet) {
    margin-bottom: 1.5rem;
  }
}

.speakerinner-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.speakerinner-row{
  margin:0 -1.5rem 3.4rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  &.__no-margin{
    margin-bottom: 0;
  }
}

.speakerinner-item{
  margin-bottom: 3rem;
  width: 25%;
  padding:0 1.5rem;
  text-align: center;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktop) {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktopAd) {
    margin:0 auto 1.8rem;
    width: 33.3%;
  }
  @include mq($until: mobile) {
    margin:0 auto 1.8rem;
    width: 100%;
  }
}

.speakerinner-item__img{
  margin:0 auto 1rem;
  display: block;
  width: 7.8rem;
  max-width: 100%;
  height: 11.3rem;
  background: #d3d1ce;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.5rem;
  @include mq($until: desktop) {
    height: 10rem;
  }
}

.speakerinner-item__title{
  margin-bottom: 0.4rem;
  display: block;
  font-size:1rem;
  font-family: $ff-roboto-b;
  color:black;
}
.speakerinner-item__text{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
  color:black;
}
