.quote{
  padding:3.75rem;
  background: url('../images/quote.jpg') no-repeat 0 0;
  background-size: cover;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    //margin-bottom: 7rem;
    padding:1rem;
  }
  @include mq($until: tablet) {
    //margin-bottom: 7rem;
    padding: 2.5rem 1rem;
    background-position: center;
  }
}

.quote-container{
  position: relative;
}

.quote-title{
  margin-bottom: 2.8rem;
  font-size:1.4rem;
  color:black;
}

.quote-title__ico{
  margin-right: 1.2rem;
  color: $b-green;
  font-size: 1.3rem;
}

.quote-slider{
  position: relative;
}
.quote-avatar__ico{
  left: 0;
  top: -0.1rem;
  position: absolute;
  font-size:3rem;
  color:$b-green;
  @include mq($until: tablet) {
    display: none;
  }
}

.quote-avatar__img{
  margin:0 auto 0.5rem;
  display: block;
  max-width: 100%;
}

.quote-avatar{
  margin-right: 2rem;
  position: relative;
  max-width: 8.6rem;
  @include mq($until: tablet) {
    margin-bottom: 2rem;
    margin-right: 0;
  }
}

.quote-item-inner{
  margin: 0 auto;
  display: flex;
  max-width: 80%;
  @include mq($until: tablet) {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.quote-item__name{
  margin-bottom: 0.7rem;
  font-size:1rem;
  font-family: $ff-roboto-m;
  letter-spacing: 0.021em;
  @include mq($until: mobile) {
    margin:0 auto 0.7rem;
    width: 100%;
    max-width: 90%;
    text-align: left;
  }
}

.quote-item__author{
  margin-bottom: 1.2rem;
  font-size:1rem;
  letter-spacing: 0.021em;
  display: block;
  @include mq($until: mobile) {
    margin:0 auto 1.2rem;
    width: 100%;
    max-width: 90%;
    text-align: left;
  }
}

.quote-item__text{
  max-width: 38rem;
  font-size:0.95rem;
  line-height: 1.2rem;
  font-family: $ff-roboto-i;
  letter-spacing: 0.021em;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
    max-width: 25rem;
    text-align: left;
  }
  @include mq($until: tablet) {
    width: 100%;
    max-width: 25rem;
    text-align: left;
  }
  @include mq($until: mobile) {
    margin:0 auto;
    width: 100%;
    max-width: 90%;
    text-align: left;
  }
}

.icons-quote__left{
  position: absolute;
  top:50%;
  left:0;
  transform: translate(0, -50%);
  @include icon('../images/quoteleft.png', 3rem, 3rem);
  cursor: pointer;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
  &:hover{
    opacity:0.7;
  }
}

.icons-quote__right{
  position: absolute;
  top:50%;
  right:0;
  transform: translate(0, -50%);
  @include icon('../images/quoteright.png', 3rem, 3rem);
  cursor: pointer;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
  &:hover{
    opacity:0.7;
  }
}

.quote-avatar__link{
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: none;
    background: darken($b-blue, 3);
    .quote-avatar__btn-ico{
      background: darken($b-blue-dark, 3);
    }
  }
  .quote-avatar__btn-ico{
    background: $b-blue-dark;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0;
    width: 90%;
  }
  @include mq($until: tablet) {
    margin-right: 0;
    width: 90%;
  }
}

.quote-avatar__btn-text{
  padding: 1rem 1.8rem 1rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.quote-avatar__btn-ico{
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.quote-avatar__btn-ico__img{
  color: white;
  font-size: 1.2rem;
}

.quote-item-info{
  padding-left: 4.3rem;
  position: relative;
  @include mq($until: tablet) {
    padding-left: 0;
  }
}
