.author{
  margin:0 auto 9.25rem;
  max-width: 43.25rem;
}

.author-top{
  margin-bottom: 4.3rem;
  display: flex;
  @include mq($until: mobile) {
    margin-bottom: 0;
    flex-direction: column;
  }
}

.author-img{
  padding-right: 1.8rem;
  width: 40%;
  flex: 1 0 auto;
  @include mq($until: mobile) {
    margin: 0 auto 1rem;
    padding-right:0;
  }
}

.author-img__item{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

.autor-info__title{
  margin-bottom: 1.2rem;
  font-size:1.5rem;
  @include mq($until: mobile) {
    text-align:center;
  }
}

.author-info__subtitle{
  margin-bottom: 1.2rem;
  display: block;
  font-size:0.9rem;
  line-height: 1.2em;
  text-transform: uppercase;
}

.autor-info{
  width: 60%;
  p{
    margin-bottom: 1.2rem;
    font-size:0.9rem;
    line-height: 1.2em;
    display: none;
    &:last-of-type{
      margin-bottom: 0;
    }
  }

  @include mq($until: mobile) {
    margin:0 auto 1rem;
    width: 90%;
  }
}

.author-top__list {
  display: flex;
  @include mq($until: mobile) {
    flex-direction: row;
    align-items: stretch;
    justify-content:flex-start;
  }
}

.author-top__item {
  padding:1rem 1.5rem;
  width: 25%;
  position: relative;
  border-radius: 5px 5px 0 0;
  font-size: 1rem;
  color:$b-olive;
  text-align: center;
  cursor: pointer;

  &.current {
    background: $b-gray-modal;
    color:black;
    .author-top__item-ico{
      color:$b-green;
    }
    .author-top__item-count{
      color:$b-pink;
    }
  }
  @include mq($until: mobile) {
    padding:1rem 0;
    width: 33.3%;
    font-size: 0.8rem;
  }
}

.author-top__item-ico{
  margin-right: 0.5rem;
}

.author-content{
  padding:4rem 1.2rem 3rem;
  background: $b-gray-modal;
  border-radius: 0 0 5px 5px;
  @include mq($until: mobile) {
    padding:3rem 0;
  }
}

.author-row{
  max-width: 90%;
  margin:0 auto;
  padding: 0 1.5rem;
  @include mq($until: mobile) {
    padding: 0;
  }
}

.author-book{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.author-book__item{
  margin-bottom: 1rem;
  width: 33.3%;
  padding:0 1.5rem;
  display: block;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: mobile) {
    width: 50%;
  }
}

.author-book__item-img{
  margin:0 auto 1rem;
  display: block;
}

.author-book__name{
  display: block;
  font-size:1rem;
  font-family:$ff-roboto-b;
  text-align: center;
  color:black;
}

.author-music{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.author-music__item{
  margin-bottom: 1rem;
  width: 25%;
  padding:0 1.5rem;
  display: block;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    .author-music__img-ico{
      display: block;
    }
  }
  @include mq($until: mobile) {
    width: 50%;
  }
}

.author-music__name{
  display: block;
  font-size:1rem;
  font-family:$ff-roboto-b;
  text-align: center;
  color:black;
}

.author-music__img{
  margin-bottom: 1rem;
  position: relative;
}

.author-music__img-item{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

.author-music__img-ico{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.3rem;
  height: 2.3rem;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  display: none;
}
