.categories {
  margin-bottom: 3rem;
  padding: 3rem 0 2.5rem;
  background: url("../images/categories.jpg") no-repeat 0 0;
  background-size: cover;
  @include mq($until: desktop) {
    background-position: center;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.8rem;
    padding: 1.8rem 0;
    background: #ece9ed;
  }

  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
    padding: 1.8rem 0;
    background: #ece9ed;
  }
}

.categories-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.8rem;
  }

  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
  }
}

.categories-title__ico {
  margin-right: 1.2rem;
  color: $b-green;
  font-size: 1.3rem;
}

.categories-row {
  display: flex;
  justify-content: space-between;

  @include mq($until: desktop) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
}

.categories-item {
  max-width: 10.5rem;
  display: block;

  @include mq($until: desktop) {
    margin-bottom: 1rem;
    max-width: 33%;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto;
    max-width: 55%;
  }


  @include mq($until: tablet) {
    margin:0 auto;
    max-width: 55%;
  }


  &:hover {
    text-decoration: none;
    .categories-item__img {
      background: darken(white, 3);
    }
  }
}

.categories-item__img {
  margin-bottom: 1rem;
  background: white;
  border-radius: 5px;
  width: 10.5rem;
  height: 10.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq($until: desktop) {
    margin: 0 auto 1rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 100%;
  }


  @include mq($until: tablet) {
    max-width: 100%;
  }
}

.categories-item__title {
  margin-bottom: 0.8rem;
  display: block;
  font-size: 1rem;
  font-family: $ff-roboto-m;
  text-align: center;
  color: black;
}

.categories-item__text {
  display: block;
  font-size: 0.8rem;
  line-height: 1.1em;
  color: darken($b-gray-text, 5);
  text-align: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 1rem;
  }


  @include mq($until: tablet) {
    font-size: 1rem;
  }
}

.categories-slider{
  display: none;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: block;
  }


  @include mq($until: tablet) {
    display: block;
  }
}
.categories-nav {
 .owl-prev {
   top: 50%;
   left: 0;
   transform: translate(0, -50%);
   position: absolute;
   cursor: pointer;

   &:after {
     content: '\F104';
     color: $b-green;
     font-size: 2.6rem;
     font-family: $font_awesome;
   }
 }

 .owl-next {
   top: 50%;
   right: 0;
   transform: translate(0, -50%);
   position: absolute;
   cursor: pointer;

   &:after {
     content: '\F105';
     color: $b-green;
     font-size: 2.6rem;
     font-family: $font_awesome;
   }
 }
}

.categories-dot {
 margin-top: 1.5rem;
 display: flex;
 justify-content: center;

 .owl-dot {
   margin-right: 1rem;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: white;

   &:last-of-type {
     margin-right: 0;
   }

   &.active {
     background: $b-green;
   }
 }
}

.icons-video {
  @include icon("../images/video.png", 6rem, 6rem);
}

.icons-music {
  @include icon("../images/music.png", 6rem, 6rem);
}

.icons-kitap {
  @include icon("../images/kitap.png", 6rem, 6rem);
}

.icons-audiobook {
  @include icon("../images/audiobook.png", 6rem, 6rem);
}

.icons-community {
  @include icon("../images/community.png", 6rem, 6rem);
}
