.fairytale{
  padding-bottom: 32rem;
  background: url('../images/kidbg.png') no-repeat center bottom;
  background-size: 100%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding-bottom: 10rem;
  }
  @include mq($until: tablet) {
    padding-bottom: 10rem;
  }
}

.fairytale-inner{
  margin:0 auto;
  max-width: 45rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
}

.fairytale-top{
  margin:0 auto 3rem;
  display: flex;
  position: relative;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
}

.fairytale-boook{
  margin-right: 1.8rem;
  width: 30%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.fairytale-book__img{
  margin-bottom: 1.2rem;
  display: block;
  width: 13rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 1rem;
  }
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
  }
}

.fairytale-info{
  max-width: 30rem;
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 90%
  }
  @include mq($until: tablet) {
    width: 90%
  }
}

.fairytale-info__name{
  margin-bottom: 1.6rem;
  font-size: 1.7rem;
  @include mq($until: tablet) {
    text-align: center;
    font-size: 1.5rem;
  }
  @include mq($until: mobile) {
    text-align: center;
    font-size: 1.2rem;
  }
}

.fairytale-social{
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.fairytale-social{
  display: flex;
}

.fairytale-ico {
  margin-right: 0.5rem;
  background: #e1e6e7;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: darken(#e1e6e7,3);
  }
}

.fairytale-ico__img {
  color: white;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.fairytale-item__options{
  margin-bottom: 1.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.fairytale-options__btn{
  margin-bottom: 1.2rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    background: darken($b-blue, 3);
    .fairytale-options__btn-ico{
      background: darken($b-blue-dark, 3);
    }
  }
  .fairytale-options__btn-ico{
    background: $b-blue-dark;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 90%;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 90%;
  }
}

.fairytale-options__btn-text{
  padding: 1rem 1.3rem 1rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.fairytale-options__btn-ico{
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.fairytale-options-ico__img{
  color: white;
  font-size: 1.2rem;
}


// audio
// .audio{
//   &.__fairytale{
//     margin-bottom: 1.2rem;
//     padding:1rem 1.8rem;
//     border-radius: 5px;
//   }
// }
//
// .fairytale-audio__list-item{
//   padding:0.6rem 1.2rem;
//   font-size:1rem;
//   border-radius: 5px;
//   cursor:pointer;
//
//   &.__active{
//     background: $b-gray-modal;
//     font-family: $ff-roboto-m;
//   }
// }
