.speaker {
  margin-bottom: 3rem;
}

.speaker-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
}

.speaker-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.speaker-top__btn {
  margin-right: 1.8rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-green;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-green, 3);

    .speaker-top__btn-ico {
      background: darken($b-green-dark, 3);
    }
  }
  &.__blue{
    margin-right: 0;
    background: $b-blue;
    .speaker-top__btn-ico {
      background: $b-blue-dark;
    }
    &:hover {
      text-decoration: none;
      background: darken($b-blue, 3);

      .speaker-top__btn-ico {
        background: darken($b-blue-dark, 3);
      }
    }
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.speaker-top__btn-text {
  padding: 1.2rem 1.2rem 1rem 1.4rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  @include mq($until: desktop) {
    padding: 1.2rem 0.8rem 1rem 0.8rem;
  }
  @include mq($until: desktopAd) {
    padding: 1.2rem 1.2rem 1rem 1.4rem;
  }
}

.speaker-top__btn-ico {
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.speaker-info__rating{
  display: none;
}

.speaker-top__ico-img {
  color: white;
  font-size: 1.2rem;
}

.speaker-block {
  padding: 1.8rem 1.2rem 3rem;
  background: $b-gray-modal;
  border-radius: 5px;
  @include mq($until: tablet) {
    border-radius: 0;
  }
}

.speaker-top {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq($until: tablet) {
    flex-direction: column;
  }
}

.speaker-user {
  display: flex;
  align-items: center;
  max-width: 45%;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

.speaker-user__img {
  margin-right: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.speaker-user__text {
  @include mq($until: tablet) {
    display: block;
    text-align: center;
  }
}

.speaker-user__text-name {
  margin-bottom: 0.3rem;
  display: block;
  font-family: $ff-roboto-m;
  font-size: 1.1rem;
  line-height: 1.2em;
  color: $b-black-text;
}

.speaker-slider {
  padding: 0 3.5rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 0 1rem;
  }


  @include mq($until: tablet) {
    padding: 0 1rem;
  }
}

.speaker-action{
  display: flex;
  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: center;
  }
}

.speaker-row{
  margin: 0 -1.2rem;
  display: flex;
  justify-content: center;
  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.speaker-item {
  display: flex;
  padding: 0 1.2rem;
  width: 50%;
  justify-content: space-between;
    @include mq($until: tablet) {
      margin-bottom: 1rem;
      flex-direction: row;
      justify-content: center;
      width: 90%;
    }

  @include mq($until: mobile) {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  &:hover {
    .speaker-book__text {
      opacity: 1;
    }
  }
}

.speaker-book {
  position: relative;
  cursor: pointer;
  max-width: 45%;

  @include mq($until: mobile) {
    max-width: 50%;
    margin: 0 0 1rem;
  }

  &:hover {
    .speaker-book__text {
      opacity: 1;
    }
  }
}

.speaker-info{
  width: 50%;
}

.speaker-book__img {
  margin:0 auto;
  width: 6.25rem !important;
  height: 9.3rem;
  max-width: none;
  @include mq($until: tablet) {
    margin: 0 1rem 0 0;
  }
}

.speaker-book__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.37);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.speaker-info__author {
  margin-bottom: 1rem;
  display: block;
  font-size: 0.8rem;
  line-height: 1.2em;
  text-decoration: underline;
}

.speaker-info__name {
  margin-bottom: 1.8rem;
  color:black;
  display: block;
  font-size: 1.1rem;
  line-height: 1.2em;
  font-family: $ff-roboto-m;
}

.speaker-ingo__rating-text {
  margin-bottom: 0.7rem;
  display: block;
  font-family: $ff-roboto-i;
  font-size: 0.7rem;
  color: #929292;
}

.speaker-rating {
  border-radius: 20px;
  background: linear-gradient(to right, #67c7ad 0%, #67c7ad 67%, #d4dddf 68%, #d4dddf 100%);

  &._empty {
    background: #f6c1d6;
  }
}

.speaker-rating__text {
  padding: 0.56rem 1rem;
  display: block;
  font-size: 0.7rem;
  color: white;
  font-family: $ff-roboto-i;
}
.speaker-carousel{
  position: relative;
}
.speaker-carousel__controls {
  display: flex;
  justify-content: space-between;
  padding: 0;

  .owl-prev {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: -3.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowleftcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .owl-next {
    position: absolute;
    top: 50%;
    right: -3.5rem;
    transform: translate(0, -50%);
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowrightcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
}

.speaker-book__text-btn {
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white;
  &:hover{
    text-decoration: none;
  }
}

.speaker-book__text-link {
    position:absolute;
    width:100%;
    height:100%;
}
