.searchresult {
  margin: 0 auto 2rem;
  max-width: 45rem;
  &.__no-result{
    display: none;
    padding:5rem 0 15rem;
    &.__active{
      display: block;
    }
  }
}

.no-result__block{
  margin:0 auto;
  width: 50%;
  text-align: center;
  @include mq($until: mobile) {
    width: 90%;
  }
}

.no-result__img{
  margin-bottom: 2.25rem;
  display: inline-block;
}

.no-result__text{
  display: block;
  font-size:2.25rem;
  color:$b-olive;
  @include mq($until: mobile) {
    font-size:1.8rem;
  }
}

.searchresult-top {
  margin-bottom: 1.8rem;
  border-bottom: 3px solid #ecf0f1;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 1.8rem;
    max-width: 90%;
  }


  @include mq($until: tablet) {
    margin: 0 auto 1.8rem;
    max-width: 90%;
  }
}

.searchresult-top__tabs {
  display: flex;
  justify-content: space-between;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none !important;
  }


  @include mq($until: tablet) {
    display: none !important;
  }
}

.searchresult-select {
  margin-bottom: 1rem;
  display: none;
  vertical-align: middle;
  width: 60%;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid $b-gray;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: block;
  }


  @include mq($until: tablet) {
    display: block;
  }


  @include mq($until: mobile) {
    width: 100%;
  }
}

.searchresult__tabs-item {
  padding: 0.5rem;
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.searchresult__tabs-item.current {
  color: $b-green;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background: $b-green;
  }
}

.searchresult-title {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.1rem;
}

.searchresult-tem {
  margin-bottom: 2.8rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 2rem;
    max-width: 90%;
  }


  @include mq($until: tablet) {
    margin: 0 auto 2rem;
    max-width: 90%;
  }
}

.searchresult-title__number {
  font-size: 1.1rem;
  color: $b-pink;
}

.searchresult-book {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  background: $b-gray-modal;
  border-radius: 5px;
}

.searchresult-book__img {
  margin-right: 0.7rem;
  width: auto;
  max-height: 5.6rem;
}

.searchresult-book__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchresult-book__info-author {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 1rem;
  text-decoration: underline;
}

.searchresult-book__info-name {
  margin-bottom: 0.6rem;
  display: block;
  font-family: $ff-roboto-m;
  font-size: 1.1rem;
  line-height:1.2em;
  @include mq($until: mobile) {
    font-size: 1rem;
  }
}

.searchresult-book__action {
  display: flex;
}

.searchresult-book__action-item {
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.searchresult-book__action-text {
  font-size: 0.8rem;
  color: #bdc3c7;
}

.searchresult-book__action-ico {
  font-size: 0.8rem;
  color: #bdc3c7;
}

// music

.searchresult-music {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchresult-music__item {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  width: 49%;
  background: $b-gray-modal;
  border-radius: 5px;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.searchresult-music__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.searchresult-music__img {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;
  text-align:center;
  &:hover {
    .searchresult-music__ico {
      display: block;
    }
  }


  @include mq($until: mobile) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.searchresult-book__info-top {
  @include mq($until: mobile) {
    margin-bottom: 1rem;
  }
  a{
    color:black;
    &:hover{
      text-decoration: none;
    }
  }
}

.searchresult-music__img-item {
  max-height: 5rem;
  min-height: 5rem;
  max-width: 70px;
  min-width: 70px;
}

.searchresult-music__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.3rem;
  height: 2.3rem;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  transform: translate(-50%, -50%);
  display: none;
}

// video

.searchresult-video {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchresult-video__item {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  width: 49%;
  background: $b-gray-modal;
  border-radius: 5px;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.searchresult-video__img {
  margin-right: 1.2rem;
  background: #c9c5c6;
  height: 5rem;
  min-width: 6.6rem;
  max-width: 6.6rem;
  min-height: 5rem;
  max-height: 5rem;
  width: 6.6rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  @include mq($until: mobile) {
    margin: 0 auto 1rem auto;
  }
}

.searchresult-video__info-name {
  margin-bottom:0.6rem;
  font-size: 1rem;
  color: black;
  font-family: $ff-roboto-m;
  @include mq($until: mobile) {
    margin-bottom: 1rem;
  }
}

.searchresult-video__ico {
  width: 2.3rem;
  height: 2.3rem;
  display: block;
  background-image: url(../images/play.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.searchresult-video__info {
  width:70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  a{
    &:hover{
      text-decoration:none;
    }
  }
}

// author

.searchresult-author {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchresult-autor__img {
  margin-right: 1rem;
  max-width: 6rem;
  @include mq($until: mobile) {
    margin: 0 auto 1rem;
  }
}

.searchresult-autor__name {
  margin-bottom: 0.7rem;
  display: block;
  font-size: 1rem;
  color: black;
}

.searchresult-author__books {
  color: $b-olive;
  font-size: 0.8rem;
}

.searchresult-author__books-ico {
  margin-right: 0.7rem;
  color: $b-green;
  font-size: 0.8rem;
}

// user

.searchresult-user {
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  background: $b-gray-modal;
  border-radius: 5px;
}

.searchresult-user__status {
  font-size: 0.7rem;
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  color: $b-green;
}

.searchresult-user__img {
  margin-right: 1.7rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.searchresult-user__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchresult-user__action {
  display: flex;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-wrap: wrap;
  }


  @include mq($until: tablet) {
    flex-wrap: wrap;
  }
}

.searchresult-user__info-name {
  font-size: 1rem;
  display: block;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.searchresult-user__action-item {
  margin-right: 2.5rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.searchresult-user__action-ico {
  color: $b-green;
  font-size: 0.8rem;
}

.searchresult-user__action-text {
  color: $b-olive;
  font-size: 0.8rem;
}
