.studies{
  margin-bottom: 3rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 2rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 2rem;
  }
}

.studies-title{
  margin-bottom: 1.8rem;
  font-size:1.4rem;
  color:black;
  @include mq($until: tablet) {
    margin: 0 auto 1.8rem;
    max-width: 90%;
  }
}

.studies-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.studies-row{
  margin:0 -1.5rem 2.4rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    display: none;
    @include mq($until: tablet) {
      margin:0 0 1.8rem;
      display: block;
    }
  }
}

.studies-item{
  margin-bottom: 1rem;
  width: 25%;
  padding: 0 1.5rem;
  text-align: center;
  cursor: pointer;
  transition:opacity 0.3s ease;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
  }
  @include mq($until: tablet) {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
  }
  @include mq($until: mobile) {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
  }
}

.studies-item__img{
  margin:0 auto 1rem;
  display: block;
  width: auto !important;
  max-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.5rem;
  @include mq($until: desktop) {
    height: 10rem;
  }
}

.studies-item__title{
  margin-bottom: 0.4rem;
  display: block;
  font-size:1rem;
  font-family: $ff-roboto-b;
  color:black;
  overflow: hidden;
  text-overflow: ellipsis;
}
.studies-item__text{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
  color:black;
}

.studie-book{
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 18.7rem;
  background: url('../images/studies.png') 0 0 no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    .studie-book__desc{
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    }
  }
  &._liter{
    background: url('../images/book2.png') 0 0 no-repeat;
    background-size: cover;
  }
  @include mq($until: tablet) {
    border-radius: 0;
    background-position: center;
  }
  @include mq($until: mobile) {
    border-radius: 0;
    background-position: center;
  }
}

.studie-book__desc{
  padding:1.2rem 3rem 1.8rem;
  width: 100%;
  font-family: $ff-roboto-m;
  color:white;
  font-size:1.1rem;
  line-height: 1.2em;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
  transition:all 1s ease;
  @include mq($until: desktopAd) {
    font-size:1rem;
    padding:1.2rem 1.5rem;
  }
  @include mq($until: tablet) {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
    border-radius: 0;
    background-position: left;
  }
  @include mq($until: mobile) {
    border-radius: 0;
    background-position: left;
  }
}
