.authorspeech{
  margin:0 auto 5rem;
  max-width: 41rem;
}

.authorspeech-top{
  display: flex;
  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.authorspeech-image{
  margin-right: 1.8rem;
  width: 20%;
  min-width: 7.8rem;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 50%;
  }
}

.authorspeech-image__item{
  margin:0 auto;
  display: block;
  width: 7.8rem;
}


.authorspeech-info{
  width: 80%;
  @include mq($until: mobile) {
    width: 90%;
  }
}

.authorspeech-info__title{
  margin-bottom: 1.2rem;
  font-size:1.1rem;
  font-family: $ff-roboto-b;
  display: block;
  @include mq($until: tablet) {
    text-align: center;
  }
}

.authorspeech-info__text{
  font-size:1rem;
  font-family: $ff-roboto-i;
  letter-spacing: 0.01em;
}

.authorspeech-top{
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom:1px solid #bdc3c7;
}

.audio{
  &.__authorspeech{
    margin-bottom: 1.2rem;
    padding: 0 1rem;
    border-radius: 5px;
  }
}

.authorspeech-audio__list-item{
  padding:0.6rem 1.2rem;
  font-size:1rem;
  border-radius: 5px;
  cursor:pointer;

  &.__active{
    background: $b-gray-modal;
    font-family: $ff-roboto-m;
  }
}
