.statistics {
  margin-bottom: 2.5rem;
  padding: 1.2rem 1.2rem 1.6rem;
  width: 100%;
  background: $b-gray-modal;
  border-radius: 5px;

  @include mq($until: tablet) {
    border-radius: 0;
  }

  @include mq($until: mobile) {
    border-radius: 0;
  }
}

.statistics-title {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet) {
    display: none;
  }

  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    margin:0 auto 1.4rem;
    display: none;
    max-width: 90%;
    width: 100%;
    @include mq($until: tablet) {
      display: block;
    }

    @include mq($until: mobile) {
      display: block;
    }
  }
}

.statistics-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.statistics-item {
  margin: 0 auto 1.2rem;
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    justify-content: center;
  }

  @include mq($until: mobile) {
    justify-content: center;
  }
}

.statistics-info {
  @include mq($until: mobile) {
    width: 60%;
  }
}

.statistics-item__img {
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
}

.statistics-info__number {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 2.2rem;
  color: $b-green;
  font-family: $ff-roboto-m;
}

.statistics-info__text {
  font-size: 1rem;
}

.statistics-line {
  margin: 0 auto 1.6rem auto;
  display: block;
}
