.videobanner {
  margin-bottom: 3.5rem;
  padding-top: 4rem;
  height: 30rem;
  background: url("../images/videobanner.png") no-repeat 0 0;
  background-size: cover;

  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
    background-position: center;
    height: 18.5rem;
  }
}

.videobanner-container {
  display: flex;
  justify-content: flex-end;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    justify-content: center;
  }


  @include mq($until: tablet) {
    justify-content: center;
  }
}

.videobanner-info {
  max-width: 50%;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
    width: 100%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
    width: 100%;
  }
}

.videobanner-info__title {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  @include mq($until: tablet) {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

.videobanner-info__text {
  font-size: 1.1rem;
  line-height: 1.2em;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }

  @include mq($until: tablet) {
    display: none;
  }
}
