.profile-row {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

  @include mq($until: desktop) {
    margin:0 auto;
    flex-direction: column;
    max-width: 90%;
  }
  @include mq($until: desktopAd) {
    margin:0 auto;
    flex-direction: column;
    max-width: 100%;
  }
}

.profile-col {
  &._left {
    margin-right: 1.4rem;
    width: 25%;
    max-width: 22rem;

    @include mq($until: desktop) {
      width: 100%;
      margin-right: 0;
      max-width: none;
    }
    &.__border{
      margin-right: 2.2rem;
      border-right:1px solid #bdc3c7;
    }
  }

  &._right {
    padding-top: 1.2rem;
    width: 75%;
    max-width: 46.5rem;


    @include mq($until: desktop) {
      padding-top: 0;
      width: 100%;
      margin-right: 0;
      max-width: none;
    }
  }
}
