.specbook{
  margin: 0 auto 5rem;
  max-width: 45rem;
}

.specbook-top{
  margin-bottom: 1.8rem;
  display: flex;
  border-bottom:1px solid #bdc3c7;
  @include mq($until: tablet) {
    border-bottom: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.specbook-top__img{
  width: 25%;
  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
    width: 100%;
    text-align: center;
  }
}

.specbook-top__img-logo{
  max-width: 8rem;
}

.specbook-top__text{
    width: 75%;
  p{
    margin:0 0 1.8rem;
    font-size:1rem;
    line-height: 1.2em;
    text-align: justify;
    &:last-of-type{
      margin-bottom: 3rem;
    }
  }
  @include mq($until: tablet) {
    width: 90%;
    p{
      margin:0 0 1rem;
    }
  }
}

.specbook-item{
  margin-bottom: 1.8rem;
  padding-bottom: 1.8rem;
  border-bottom:1px solid #bdc3c7;
}

.specbook-item-top{
  display: flex;
  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
  }
}

.specbook-item-img{
  width: 25%;
  @include mq($until: tablet) {
    width: 40%;
  }
}

.specbook-img__logo{
  width: 8rem;
  height: 12rem;
  background: url('../images/sb1.jpg') no-repeat  0 0;
  background-size: 8rem 12rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  &.__sb2{
    background: url('../images/sb2.jpg') no-repeat  0 0;
    background-size: 8rem 12rem;
  }
  &.__sb3{
    background: url('../images/sb3.jpg') no-repeat  0 0;
    background-size: 8rem 12rem;
  }
  @include mq($until: mobile) {
    max-width: 100%;
    background-size: contain;
  }
}

.specbook-item-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  @include mq($until: mobile) {
    padding-left: 1.2rem;
    width: 60%;
  }
}

.specbook-item-info__author{
  margin-bottom: 1.5rem;
  display: block;
  font-size:1rem;
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    font-size:0.9rem;
  }
}

.specbook-item-info__name{
  display: block;
  font-size:1.3rem;
  line-height: 1.2em;
  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
  @include mq($until: mobile) {
    font-size:1rem;
  }
}

.specbook-options__btn {
  margin-right: 1.2rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: none;
    background: darken($b-blue, 3);
    .specbook-options__btn-ico{
      background: darken($b-blue-dark, 3);
    }
  }
    .specbook-options__btn-text{
        padding: 1rem 1.8rem 1rem;
    }
    .specbook-options__btn-ico{
      background: $b-blue-dark;
    }
    @include mq($until: mobile) {
      display: none;
    }
    &.__mobile{
      display: none;
      @include mq($until: mobile) {
        display: flex;
        width: 100%;
      }
    }
  }
  .specbook-options__btn-text{
    padding: 1rem 1.3rem 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
  }

  .specbook-options__btn-ico{
    padding: 1rem 1rem 0.8rem 1rem;
    display: flex;
    align-items: center;
    background: $b-green-dark;
    border-radius: 0 5px 5px 0;
  }

  .specbook-options-ico__img{
    color: white;
    font-size: 1.2rem;
  }
  .specbook-social {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

    @include mq($until: tablet) {
      align-items: center;
      justify-content: center;
    }
    @include mq($until: mobile) {
      display: none;
    }
  }

  .specbook-ico {
    margin-right: 1.1rem;
    background: #e5e5e5;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      text-decoration: none;
      background: darken(#e5e5e5,3);
    }
  }

  .specbook-ico__img {
    color: white;
    font-size: 1.4rem;

    &._small {
      font-size: 1.2rem;
    }
  }

  .specbook-more{
    margin:0 auto;
    padding:1rem 2rem;
    display: flex;
    align-items: center;
    color:black;
    font-size:1rem;
    background: $b-gray-modal;
    border:none;
    border-radius: 5px;
    .fa{
      margin-left: 1.2rem;
      font-size:1.5rem;
      color:#bdc3c7;
    }
  }

  .specbook-bottom{
    @include mq($until: tablet) {
      margin:0 auto;
      width: 90%;
    }
  }

  .specbook-options{
    width: 100%;
    display: flex;
    @include mq($until: desktop) {
      flex-direction: column-reverse;
    }
  }

  .specbook-options__info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .specbook-options__info-text{
    display: block;
    font-size:1rem;
    color:black;
    @include mq($until: desktop) {
      margin-bottom: 1rem;
    }
  }

  .specbook-options__info-link{
    color:$b-blue;
    font-size:1rem;
    @include mq($until: desktop) {
      margin-bottom: 1rem;
    }
  }
