.partnersinner{
  margin-bottom: 3rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 2rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 2rem;
  }
}

.partnersinner-row{
  margin:0 -1.5rem 3.4rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
}

.partnersinner-item{
  margin-bottom: 3rem;
  width: 25%;
  padding:0 1.5rem;
  text-align: center;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktop) {
    margin-bottom: 1rem;
    width: 50%;
  }
  @include mq($until: desktopAd) {
    margin:0 auto 1.8rem;
    width: 33.3%;
  }
  @include mq($until: mobile) {
    margin:0 auto 1.8rem;
    width: 100%;
  }
}

.partnersinner-item__img{
  margin:0 auto 1rem;
  display: block;
  width: 7.8rem;
  max-width: 100%;
  height: 11.3rem;
  background: #d3d1ce;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.5rem;
  @include mq($until: desktop) {
    height: 10rem;
  }
}

.partnersinner-item__title{
  margin-bottom: 0.4rem;
  display: block;
  font-size:1rem;
  font-family: $ff-roboto-b;
  color:black;
}
.partnersinner-item__text{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
  color:black;
}


// sidebar

.partner-sidebar{
  @include mq($until: desktopAd) {
    margin-bottom: 1.5rem;
  }
}

.partner-sidebar__logo{
  margin-bottom: 1.2rem;
}

.partner-sidebar__logo-img{
  margin:0 auto;
  display: block;
  max-width: 15rem;
}

.partner-sidebar__text{
  display: block;
  font-size:1rem;
  text-align: center;
}
