.allfairytales{
  padding-bottom: 32rem;
  background: url('../images/kidbg.png') no-repeat center bottom;
  background-size: 100%;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding-bottom: 10rem;
  }
  @include mq($until: tablet) {
    padding-bottom: 10rem;
  }
}

.allfairytales-inner{
  margin:0 auto;
  max-width: 45rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
}

.allfairytales-info{
  margin-bottom: 2.8rem;
  p{
    margin-bottom: 1.2rem;
    font-size:1rem;
    line-height: 1.2em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 2rem;
    max-width: 90%;
  }
  @include mq($until: tablet) {
    margin:0 auto 2rem;
    max-width: 90%;
  }
}

.allfairytales-item{
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #bdc3c7;
  margin:0 auto 1.8rem;
  display: flex;
  position: relative;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    flex-direction: column;
    align-items: center;
  }
  &:last-of-type{
    padding-bottom: 0;
    border-bottom:0;
  }
}

.allfairytale-boook{
  margin-right: 1.8rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    margin-right:0;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

.allfairytale-book__img{
  margin: 0 auto;
  display: block;
  width: 7.6rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 1rem;
  }
  @include mq($until: tablet) {
    margin: 0 auto 1rem;
  }
}

.allfairytale-info{
  max-width: 30rem;
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 90%
  }
  @include mq($until: tablet) {
    width: 90%
  }
}

.allfairytale-info__name{
  margin-bottom: 1.6rem;
  font-size: 1.7rem;
  color:black;
  &:hover{
    text-decoration: underline;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    text-align: center;
  }
  @include mq($until: tablet) {
    text-align: center;
  }
}

.allfairytale-social{
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.allfairytale-item__options{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  a {
    text-decoration: none;
  }
}

.allfairytale-options__btn{
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:active,
  &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: none;
    background: darken($b-blue, 3);
    .allfairytale-options__btn-ico{
      background: darken($b-blue-dark, 3);
    }
  }
  .allfairytale-options__btn-ico{
    background: $b-blue-dark;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0;
    width: 90%;
  }
  @include mq($until: tablet) {
    margin-right: 0;
    width: 90%;
  }
}

.allfairytale-options__btn-text{
  padding: 1rem 1.8rem 1rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.allfairytale-options__btn-ico{
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.allfairytale-options-ico__img{
  color: white;
  font-size: 1.2rem;
}
