.about-container{
  max-width: 40.6rem;
  @include mq($until: wide) {
    max-width: 40.6rem;
  }


  @include mq($until: desktop) {
    max-width: 40.6rem;
  }


  @include mq($until: desktopAd) {
    max-width: $max-width-ad;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: $max-width-tablet;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}

.about-item{
  margin-bottom: 2.6rem;
  &:last-of-type{
    margin-bottom: 5rem;
  }
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
  }
}

.about-item__top{
  margin-bottom: 1.8rem;
  text-align: center;
}

.about-item__img{
  display: inline-block;
  vertical-align: middle;
  &:before{
    content:'\f111';
    margin-right: 2.8rem;
    height: 0.5rem;
    width: 11.5rem;
    font-family: 'FontAwesome';
    font-size: 0.5rem;
    color:#bdc3c7;
    background: url('../images/aline.png') no-repeat 0 center;
    display: inline-block;
    text-align: right;
  }
  &:after{
    content:'\f111';
    margin-left: 2.8rem;
    height: 0.5rem;
    width: 11.5rem;
    font-family: 'FontAwesome';
    font-size: 0.5rem;
    color:#bdc3c7;
    background: url('../images/aline.png') no-repeat 0 center;
    display: inline-block;
    text-align: left;
  }
  @include mq($until: tablet) {
    &:before{
      margin-right: 2rem;
    }
    &:after{
      margin-left: 2rem;
    }
    &:before,
    &:after{
      width: 5rem;
    }
  }
}

.about-item__text{
  font-size:1rem;
  line-height: 1.2em;
  text-align: justify;
  @include mq($until: mobile) {
    text-align: left;
  }
}

.about-title{
  margin-bottom: 1rem;
  text-align: center;
  font-size:1.5rem;
}
