.mylibrary-title {
  margin-bottom: 1.8rem;
  padding-top: 1.2rem;
  font-size: 1.1rem;
  @include mq($until: tablet) {
    display: none;
  }
}

.mylibrary-top {
  margin-bottom: 1.8rem;
  border-bottom: 4px solid $b-gray-modal;
}

.mylibrary-top__list {
  display: flex;
  justify-content: space-between;
}

.mylibrary-top__item {
  padding-bottom: 1.1rem;
  width: 25%;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $b-green;
    display: none;
  }

  &.current {
    .mylibrary-top__item-info {
      color: $b-pink;
    }

    &:after {
      display: block;
    }
  }
}

.mylibrary-top__item-info {
  margin-bottom: 0.7rem;
  display: block;
  font-size: 1.8rem;
  color: $b-green;
  text-align: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 1.2rem;
  }

  @include mq($until: tablet) {
    font-size: 1.2rem;
  }
}

.mylibrary-top__info-ico {
  margin-right: 0.8rem;
  @include mq($until: tablet) {
    margin-right: 0.3rem;
  }
}

.mylibrary-top__item-desc {
  display: block;
  font-size: 0.8rem;
  color: #8c8c8c;
  text-align: center;
}

.mylibrary-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &.__audiobook {
    margin-bottom: 2.5rem;
    justify-content: flex-start;
    flex-direction: column;
    @include mq($until: tablet) {
      &:after{
        content:'';
        margin:2.5rem auto 0;
        display: block;
        height: 1px;
        width: 90%;
        background: #bdc3c7;
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
    }

  }

  &.__book {
    padding-bottom: 1.2rem;
    margin-bottom: 2.5rem;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: 0;
    }
    @include mq($until: tablet) {
      padding-bottom: 0;
      border-bottom: 0;
      &:after{
        content:'';
        margin:0 auto;
        display: block;
        height: 1px;
        width: 90%;
        background: #bdc3c7;
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
    }
  }

  &.__margin {
    margin: 0 -1rem;
  }
  &.__no-item{
    padding: 2.5rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    &.__active{
      display: flex;
    }
  }
}

.mylibrary-col {
  width: 50%;
  padding: 0 1rem;
  @include mq($until: mobile) {
    width: 100%;
  }
}

.mylibrary-item {
  margin-bottom: 1.2rem;
  position: relative;
  cursor: pointer;

  &:hover {
    .mylibrary-item__action {
      opacity: 1;
    }
  }
  @include mq($until: tablet) {
    margin-bottom: 1.8rem;
  }
}

.mylibrary-item__img {
  margin-bottom: 1.2rem;
  display: block;
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 5px;
  position: relative;
  @include mq($until: tablet) {
    height: 11.5rem;
  }
}

.mylibrary-item__action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.46);
  opacity: 0;
  transition: opacity 0.5s ease;
  @include mq($until: tablet) {
    opacity: 1;
  }
}

.mylibrary-item__action-ico {
  width: 4.2rem;
  height: 4.2rem;
  background:$b-green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:after{
    content:'\f04b';
    color:white;
    font-size:1.6rem;
    font-family: $font_awesome;
  }
  @include mq($until: tablet) {
    background: white;
    &:after{
      color:$b-green;
    }
  }
}

.mylibrary-item__options {
  margin: 0 auto;
  position: absolute;
  bottom: 1.2rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    text-align: center;
  }


  @include mq($until: tablet) {
    text-align: center;
  }
}

.mylibrary__options-item {
  margin-right: 1.7rem;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}

.mylibrary__options-item__ico {
  margin-right: 0.2rem;
  color: white;
  font-size: 1rem;
}

.mylibrary__options-item__text {
  color: white;
  font-size: 0.8rem;
}

.mylibrary-item-info{
  font-size: 1rem;
  line-height: 1.2em;
  display: block;
  @include mq($until: tablet) {
    text-align: center;
  }
}

/* audiobook */

.mybook {
  margin-bottom: 1.2rem;
  display: flex;

  &.__music {
    margin-bottom: 1.8rem;
    display: flex;
    flex-direction: column;
  }

  @include mq($until: tablet) {
    margin:0 auto 1.2rem;
    width: 90%;
    flex-direction: column;
  }
}

.mybook-col {
  margin-bottom: 1.2rem;
  display: flex;

  &:last-of-type {
    margin-bottom: 0;
  }
  @include mq($until: tablet) {
    justify-content: center;
  }
}

.mybook-col__left {
  width: 40%;
  margin-right: 3rem;
  display: flex;
  flex: 0 0 40%;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
  }


  @include mq($until: tablet) {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.mybook-col__right {
  width: 60%;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }


  @include mq($until: tablet) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }


  &.__tags {
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      align-items: flex-start;
      flex-direction: column;
    }


    @include mq($until: tablet) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

.mybook-item {
  margin-right: 1.1rem;
}

.mybook-item__img {
  width: auto;
  height: 100%;
  max-width: 100%;

  &.__music {
    max-width: 5.6rem;
    height: auto;
  }
}

.mybook-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mybook-info__author {
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
  text-decoration: underline;
  color:black;
  cursor:pointer;
  &:hover{
    color:lighten(black, 7);
  }
}

.mybook-info__name {
  display: block;
  font-size: 1.1rem;
  font-family: $ff-roboto-m;
  color: black;
}
.mybook-info__name a{
  color: black;
}

.mybook-info__rating {
  &.__book {
    margin-bottom: 0.6rem;
  }
}

.mybook-info__rating-text {
  margin-bottom: 0.7rem;
  display: block;
  font-family: $ff-roboto-i;
  font-size: 0.7rem;
  color: #929292;
}

.mybook-rating {
  width: 7.8rem;
  border-radius: 20px;
  background: linear-gradient(to right, #67c7ad 0%, #67c7ad 67%, #d4dddf 68%, #d4dddf 100%);

  &._empty {
    background: #f6c1d6;
  }
}

.mybook-rating__text {
  padding: 0.56rem 1rem;
  display: block;
  font-size: 0.7rem;
  color: white;
  font-family: $ff-roboto-i;
}

.mybook-warning {
  font-size: 0.7rem;
  color: #a7a7a7;
}

.mybook-warning__date {
  margin-left: 1.1rem;
  display: inline-block;
  font-size: 0.7rem;
  color: $b-pink;
}

.mybook-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: none;

  &.__book {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }
}

.mybook-actions__item {
  margin-right: 1.1rem;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}

.mybook-actions__item-ico {
  font-size: 0.8rem;
  color: #bdc3c7;
}

.mybook-actions__item-text {
  font-size: 0.8rem;
  color: #bdc3c7;
}

.mybook-records__item {
  padding: 0.5rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $b-gray-modal;
  cursor: pointer;

  &:first-of-type {
    border-radius: 5px 5px  0 0;
  }

  &:last-of-type {
    border-radius: 0 0 5px 5px;
  }

  &.__active,
  &:hover {
    background: #e9ebeb;

    .mybook-records__ico {
      color: $b-green;
    }
  }
}

.mybook-records__number {
  font-size: 0.9rem;
}

.mybook-records__author {
  font-size: 0.9rem;
}

.mybook-records__name {
  font-size: 0.9rem;
  font-family: $ff-roboto-m;
}

.mybook-records__ico {
  font-size: 1.8rem;
  color: #c3c1c1;
}

.mybook-tags {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    justify-content: flex-start;
    position: relative;
    top: auto;
    left: auto;
  }

  @include mq($until: tablet) {
    justify-content: flex-start;
    position: relative;
    top: auto;
    left: auto;
  }
}

.mybook-tags__item {
  margin: 0 0.7rem 0.7rem 0;
  padding: 0.5rem 1.8rem;
  font-size: 0.9rem;
  background: $b-gray-modal;
  border-radius: 5px;
}

.mylibrary-video{
  @include mq($until: tablet) {
    margin:0 auto;
    border-bottom: 1px solid #d1d1d1;
    width: 90%;
  }
}

.mylibrary-item__close{
  top:0;
  right:0;
  position: absolute;
  font-size:1.5rem;
  color:$b-green;
  cursor: pointer;
  z-index: 5;
  &.__video{
    top:0.5rem;
    left: 0.5rem;
    right: auto;
  }
  &:hover{
    color:darken($b-green, 3);
  }
}


.mylibrary-alert{
  display: none;
  padding: 1.2rem 1.8rem;
  bottom: 97%;
  right:2.5rem;
  position: absolute;
  background: white;
  border-radius: 5px;
  border:1px solid $b-green;
  max-width: 16.8rem;
  @include mq($until: mobile) {
    right:0;
    bottom: 98%;
  }
}

.mylibrary-alert-text{
  margin-bottom: 1.2rem;
  display: block;
  text-align: center;
  font-size:1rem;
  line-height: 1.2em;
  font-family: $ff-roboto;
}

.mylibrary-alert-options{
  display: flex;
  justify-content: space-between;
}

.mylibrary-alert-options__btn{
  padding:0.5rem 0;
  width: 6.25rem;
  background: $b-gray-modal;
  color:black;
  font-size:0.9rem;
  border-radius: 5px;
  border:none;
  &:hover,
  &.__active{
    background: $b-green;
    color:white;
  }
  &.__active{
    margin-right: 1.2rem;
  }
}

.mylibrary-no-item__img{
  margin-bottom: 1rem;
}

.mylibrary-no-item__text {
  margin-bottom: 1.8rem;
  color:$b-olive;
  font-size:2.25rem;
}

.mylibraty-no-tem__link{
  padding: 1rem 1.8rem;
  font-size:1rem;
  color:white;
  background: $b-blue;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover{
    text-decoration:none;
    background: darken($b-blue,3);
  }
}
