footer {
  background: $b-green;
}

.footer-container {
  max-width: 65.7rem;

  @include mq($until: wide) {
    max-width: $max-width-wide;
  }


  @include mq($until: desktop) {
    max-width: $max-width-desc;
  }


  @include mq($until: desktopAd) {
    max-width: $max-width-ad;
  }


  @include mq(tablet, desktopAd) {
    max-width: $max-width-tablet;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: $max-width-tablet;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }


  @include mq($until: mobile) {
    max-width: 90%;
  }
}

.footer-top {
  margin-bottom: 1rem;
  padding: 2rem 0;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  @include mq($until:desktopAd) {
    flex-direction: column;
    align-items: center;
  }
  @include mq($until: mobile) {
    margin-bottom: 0;
    border-bottom: 0;
    flex-direction: column;
    background: none;
  }
}

.footer-links {
  width: 70%;
  display: flex;

  @include mq($until:desktopAd) {
    margin-bottom: 1rem;
    width: 80%;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
  }


  @include mq($until: tablet) {
    margin-bottom: 2rem;
    width: 100%;
    justify-content: space-between;
  }
}

.footer-subscribe {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include mq($until:desktopAd) {
    width: 30%;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: 100%;
  }

  @include mq($until: tablet) {
    width: 100%;
  }
  @include mq($until: mobile) {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer-links__col {
  margin-right: 3rem;

  @include mq($until: tablet) {
  }
  @include mq($until: mobile) {
    display: none;
  }
  &.__mobile{
    display: none;
    @include mq($until: mobile) {
      margin-right: 0;
      display: block;
      width: 100%;
    }
  }
}

.footer-app{
  margin-top: 2.1rem;
  @include mq($until: mobile) {
    display: none;
  }
}

.footer-app-item__link{
  margin-right: 1.2rem;
  display: inline-block;
  &:last-of-type{
    margin-right: 0;
  }
  &:hover{
    opacity:0.7;
  }
}

.footer-app-item__text{
  padding-right: 1.2rem;
  width: 60%;
  font-size:0.8rem;
  color:white;
  text-align: right;
  @include mq($until: mobile) {
    padding-right: 0;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
    width: 100%;
  }
}

.footer-app-item{
  margin-bottom: 1.2rem;
  display: flex;
  align-items: flex-start;
  &:last-of-type{
    margin-bottom: 0;
  }
}

.footer-app-apple{
  @include icon(('../images/apple.png'),34px,34px)
}

.footer-app-google{
  @include icon(('../images/google.png'),34px,34px)
}

.footer-links-title {
  margin-bottom: 1.2rem;
  display: block;
  font-family: $ff-roboto-b;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.footer-links-item {
  margin-bottom: 1.2rem;
  display: block;
  &:last-of-type {
    margin-bottom: 0;
  }
  @include mq($until: mobile) {
    margin-bottom: 1.1rem;
    text-align: center;
  }
}

.footer-links-item__inner{
  color: white;
  font-size: 0.8rem;
  &:hover {
    text-decoration: underline;
  }
}

.footer-email {
  margin-bottom: 1rem;
  position: relative;
  max-width: 18.7rem;
  @include mq($until: mobile) {
    margin-bottom: 0;
  }
}

.footer-email__input {
  padding: 1rem 7rem 1rem 0.6rem;
  margin:0;
  width: 100%;
  color: black;
  font-size: 1rem;
  letter-spacing: 0.021em;
  border: none;
  border-radius: 5px;

  &::placeholder {
    color: rgba($b-gray-text, 0.6);
    font-size: 1rem;
    font-family: $ff-roboto;
  }
}

.footer-email__btn {
  padding: 1rem 1.8rem;
  margin:0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 7rem;
  font-size: 16px;
  letter-spacing: 0.021em;
  color: white;
  text-transform: uppercase;
  background: $b-pink;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;

  &:hover {
    background: darken($b-pink, 3);
  }
}

.footer-subscribe-text {
  display: block;
  font-size: 0.7rem;
  line-height: 1.3em;
  letter-spacing: 0.021em;
  color: rgba(white, 0.6);
  text-align: right;
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.footer-copy {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.87rem;
  color: white;
  letter-spacing: 0.021em;
  line-height:1.2em;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    text-align: center;
  }

  @include mq($until: mobile) {
    margin-bottom: 0;
  }
}

.footer-bottom {
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: flex-end;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: column;
    justify-content: flex-start;
  }


  @include mq($until: tablet) {
    flex-direction: column;
    justify-content: flex-start;
  }

  @include mq($until: mobile) {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.footer-social {
  display: flex;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    align-items: center;
    justify-content: center;
  }


  @include mq($until: tablet) {
    align-items: center;
    justify-content: center;
  }
  @include mq($until: mobile) {
    align-items: center;
    justify-content: center;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.52);
    margin-bottom: 1.8rem;
  }
}

.footer-ico {
  margin-right: 1.1rem;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
  }
}

.footer-ico__img {
  color: $b-green;
  font-size: 1.4rem;

  &._small {
    font-size: 1.2rem;
  }
}

.icons-vk {
  @include icon("../images/vk.png", 2.5rem, 2.5rem);
}

.icons-fb {
  @include icon("../images/fb.png", 2.5rem, 2.5rem);
}

.icons-tw {
  @include icon("../images/tw.png", 2.5rem, 2.5rem);
}

.icons-gplus {
  @include icon("../images/gplus.png", 2.5rem, 2.5rem);
}
