// header
.dheader{
  margin-bottom: 3rem;
  padding: 6rem 0 12rem;
  background: url('../images/dheader.jpg') no-repeat 0 0;
  background-size: cover;
  @include mq($until: mobile) {
    padding: 2.5rem 0 4rem;
    background-position:center;
  }
}

.dheader-container{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  @include mq($until: mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dheader-logo{
  top:1.2rem;
  left:0;
  position: absolute;
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    top:auto;
    left:auto;
    position: relative;
  }
}

.dheader-title{
  margin-left: 6rem;
  font-size:3rem;
  line-height: 1.2em;
  color:white;
  font-family: $ff-roboto-b;
  @include mq($until: mobile) {
    margin-left: 0;
    font-size:1.8rem;
    text-align: left;
    br{
      display: none;
    }
  }
  }
// info
.dinfo-title{
  margin-bottom: 1.8rem;
  text-align: center;
  font-size:1.5rem;
}

.dinfo-row{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  @include mq($until: desktopAd) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include mq($until: mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dinfo-col{
  width: 25%;
  @include mq($until: desktopAd) {
    margin-bottom: 1.2rem;
    width: 45%;
  }
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1.2rem;
    width: 45%;
  }
  @include mq($until: mobile) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom:1px solid #bdc3c7;
    width: 90%;
    &:last-of-type{
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.dinfo-img{
  margin:0 auto 1.2rem;
  display: block;
}

.dinfo-text{
  margin:0 auto;
  max-width: 90%;
  display: block;
  text-align: center;
  font-size:1rem;
  line-height: 1.2em;
}

.dinfo-text__link{
  color:$b-green;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

// about

.dabout{
  margin-bottom: 3rem;
  padding: 8rem 0;
  background: url('../images/donatebook.jpg') no-repeat 0 0;
  background-size: cover;
  @include mq($until: mobile) {
    padding: 2.5rem 0;
  }
}

.dabout-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  @include mq($until: mobile) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.dabout-text{
  display: block;
  max-width: 28rem;
  font-size:1.8rem;
  color:white;
  line-height: 1.2em;
  @include mq($until: mobile) {
    text-align: center;
    font-size:1.2rem;
  }
}

.dabout-link{
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    display: block;
    width: 11rem;
  }
}

// donate

.donate-form{
  margin:0 auto 3rem;
  max-width: 42rem;
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
  }
}

.donate-form__title{
  margin-bottom: 3rem;
  font-size:1.5rem;
  text-align: center;
  line-height: 1.2em;
  @include mq($until: mobile) {
    margin:0 auto 2rem;
    font-size:1.1rem;
    max-width: 90%;
  }
}
.donate-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.donate-select{
  .btn-default{
    width: 14rem;
    padding: 0.8rem 2.8rem 0.8rem 1.8rem;
    display: flex;
    background: #ecf0f1;
    border-radius: 5px;
    border:none;
    font-size:1rem;
    .bs-caret{
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translate(0,-50%);
    .fa{
      color:$b-olive;
      font-size:1.5rem;
    }
    }
    &:active{
      background: #ecf0f1;
      background-color: none;
      border-color: #d3d1ce;
      outline: none;
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
    &.active{
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
        outline: none;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
    &:hover{
      background: darken(#ecf0f1, 3);
      border-color: #d3d1ce;
      outline: none;
    }
    &:focus{
      outline: none !important;
    }
    &:before{
      bottom: -15px !important;
      right: 9px!important;
      left: auto !important;
      border-bottom-color: #d3d1ce!important;
    }
    &:after{
      bottom: -15px !important;
      right: 10px!important;
      left: auto !important;
    }
    .filter-option.pull-left{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
    }
    @include mq($until: mobile) {
      .filter-option.pull-left{
        justify-content: center;
        text-align: center;
      }
    }
  }
  &.open {
    &> .dropdown-toggle.btn-default{
      background: #ecf0f1;
      background-color: none;
      border-color: #d3d1ce;
      &:hover{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &:active{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
      &.focus{
        background: #ecf0f1;
        background-color: none;
        border-color: #d3d1ce;
      }
    }
  }
  .filter-option.pull-left{
    display: none;
  }
  .dropdown-menu{
    border:none;
    li{
      &>a{
        font-size:1rem;
        padding: 0.5rem 1.2rem;
      }
    }
  }
}

.donate-help {
  margin-top: 1.2rem;
  width: 14rem;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-blue;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: darken($b-blue, 3);
    text-decoration: none;
    .donate-help__ico {
      background: darken($b-blue-dark, 3);
    }
  }
}

.donate-help__text {
  padding: 0.8rem 0;
  width: 100%;
  color: white;
  font-size: 1rem;
  text-align: center;

  @include mq($until: desktopAd) {
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 0.85rem;
  }


  @include mq($until: tablet) {}
}

.donate-help__ico {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background: $b-blue-dark;
  border-radius: 0 5px 5px 0;

  @include mq($until: desktopAd) {
    font-size: 0.85rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    font-size: 0.85rem;
  }
}

.donate-help__ico-img {
  color: white;
  font-size: 1.2rem;
}

// free
.dfree{
  padding:5rem 0;
  background: $b-gray-modal;
  @include mq($until: mobile) {
    padding:1.8rem 0 2.5rem;
  }
}

.dfree-container{
  display: flex;
  @include mq($until: mobile) {
    flex-direction: column;
    justify-content: center;
  }
}

.dfree-col{
  width: 50%;
  @include mq($until: mobile) {
    width: 100%;
  }
}

.dfree-img{
  max-width: 100%;
  @include mq($until: mobile) {
    margin-bottom: 1.2rem;
  }
}

.dfree-text{
  margin:0 auto;
  max-width: 29rem;
  font-size:1.8rem;
  line-height: 1.2em;
  @include mq($until: desktopAd) {
    max-width: 20rem;
    font-size:1.5rem;
  }
  @include mq($until: mobile) {
    text-align: left;
    font-size:1.1rem;
  }
}

.ico-tenge{
  margin-left: 0.2rem;
  display: inline-block;
  width: 9px;
  height: 11px;
  background: url(../images/tenge.png) no-repeat 0 0;
  background-size: 100%;
}

.donate-other-input{
    width: 14rem;
    margin-top: -2.1rem;
    display:none;
}
