.new{
  margin-bottom: 3rem;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 2rem;
  }
  @include mq($until: tablet) {
    margin-bottom: 2rem;
  }
}

.new-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
}

.new-title__ico{
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.new-row{
  margin: 0 -1.5rem 2.4rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    display: none;
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      margin:0;
      display: block;
    }
    @include mq($until: tablet) {
      margin:0;
      display: block;
    }
  }
  a{
    color:black;
    &:hover{
      text-decoration: none;
    }
  }
}

.new-item{
  margin-bottom: 1rem;
  padding:0 1.5rem;
  width: 25%;
  text-align: center;
  cursor: pointer;
  transition:opacity 0.3s ease;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
  }
  @include mq($until: tablet) {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
  }
  @include mq($until: mobile) {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
  }
  &:hover{
    text-decoration: none;
  }
}

.new-item__img{
  margin:0 auto 1rem;
  display: block;
  width: auto !important;
  max-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.5rem;
  @include mq($until: desktop) {
    height: 10rem;
  }
}

.new-item__title{
  margin-bottom: 0.4rem;
  display: block;
  font-size:1rem;
  font-family: $ff-roboto-b;
}
.new-item__text{
  display: block;
  font-size:1rem;
  line-height: 1.2em;
}
