.allarticles{
  margin-bottom: 1.8rem;
}

.allarticles-row{
  margin:0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  @include mq($until: mobile) {
    align-items: center;
    justify-content: center;
  }
}


.allarticles-item{
  margin-bottom: 3rem;
  width: 33.3%;
  min-height: 26rem;
  padding:0 1rem;
  @include mq($until: desktop) {
    min-height: auto;
  }
  @include mq($until: desktopAd) {
    width: 50%;
    min-height: auto;
  }
  @include mq($until: mobile) {
    margin-bottom: 1.8rem;
    width: 100%;
    min-height: auto;
  }
  &:hover{
    text-decoration: none;
    .allarticles-img__text {
      opacity: 1;
    }
  }
}
@media (max-width: 580px) {
  .allarticles-item{
    width: 100%;
  }
}

.allarticles-item__inner{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  background: $b-gray-modal;
}

.allarticles-img{
  margin-bottom: 1.5rem;
  //height: 16.25rem;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position:relative;
  cursor:pointer;

  &:before {
    content: '';
    display: table;
    margin-top: 255 / 344 * 100%;   //высота / ширина
  }
}

.allarticles-img__text{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
  background: rgba(black, 0.37);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.allarticles-img__text-btn {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white;
  &:hover{
    text-decoration: none;
  }
}

.allarticles-img__item{
  width: 100%;
  height: 15.75rem;
  border-radius: 5px 5px 0 0;
}

@media (max-width: 580px) {
  .allarticles-img__item{
    height: auto;
  }
}

.allarticles-title{
  margin-bottom:1.5rem;
  padding:0 1.5rem;
  font-size:1.1rem;
  font-family: $ff-roboto-m;
  line-height:1.2em;
  text-transform: uppercase;
  display: block;
  color:black;
}

.allarticles-text{
  margin-bottom:1rem;
  padding:0 1.5rem;
  font-size:1rem;
  line-height:1.2em;
  display: block;
  color:black;
}

.allarticles-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.allarticles-info__bottom{
  padding:0 1.5rem;
}

.allarticles-info__date{
  margin-bottom: 1.1rem;
  display: block;
  color:#7f8c8d;
  font-size:0.9rem;
  .fa{
    margin-right: 0.5rem;
  }
}

.allarticles-info__action-item{
  margin-right: 1.2rem;
  padding-bottom: 1.8rem;
  display: inline-block;
  color:#7f8c8d;
  font-size:0.9rem;
  &:last-of-type{
    margin-right:0;
  }
}
