.catalogmobile{
  display: none;
  position: relative;
  @include mq($until: tablet) {
    display: block;
  }
  @include mq($until: desktopAd) {
    margin:0 auto;
    max-width: 80%;
  }
  @include mq($until: mobile) {
    margin:0 auto;
    max-width: 100%;
  }
}

.catalogmobile-top{
  margin-bottom: 1.5rem;
  display: flex;
  border-top:2px solid $b-blue;
  position: relative;
  z-index: 3;
  background: white;
  justify-content:center;
}

.catalogmobile-top__btn{
  padding: 0.8rem 0;
  width: 50%;
  text-align: center;
  background: $b-gray-modal;
  border-right:1px solid white;
  font-size:1rem;
  &.is-active{
    background: white;
  }
  &:last-of-type{
    border-right:0;
    border-left:1px solid white;
  }
  &.__single{
    width:100%;
    border-right:0;
    border-left:0;
  }
}

.catalogmobile-genres{
  padding: 1rem 1.2rem 1rem 2.4rem;
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  display: none;
  box-shadow: 0px 4px 8.7px 1.3px rgba(4, 0, 1, 0.21);
  background: white;
  z-index: 2;
}

.catalogmobile-genres__inner{
  margin: 0 -1.2rem;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
  z-index: 1;
}

.catalogmobile-genres-item{
  margin: 0 0.6rem 0.6rem 0.6rem;
  padding: 0.6rem 1.3rem;
  font-size: 0.9rem;
  background: $b-gray-modal;
  border-radius: 5px;
  color: black;
  &.__active,
  &:hover {
    background: $b-blue;
    color: white;
    text-decoration: none;
  }
}

.catalogmobile-categories{
  padding: 0;
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  display: none;
  box-shadow: 0px 4px 8.7px 1.3px rgba(4, 0, 1, 0.21);
  background: white;
  z-index: 2;
}

.catalogmobile-wrapper {
  background-color: white;
  li {
    border-bottom: 1px solid #fff;
    &:last-child {
      border-bottom: 0;
    }
    a {
      font-size: 0.9rem;
      color: black;
      display: block;
      text-decoration: none;
      padding: 1.1rem 3rem 1.1rem 2.5rem;
      &.is-active {
        color: darken(#02c3fa, 5%) !important;
      }
    }
  }
}
.catalogmobile__dropmenu {
  &.is-active {
    >a {
      background: $b-blue;
      color:white;
      >span {
        &:before {
          color:white;
          transform: rotate(45deg);
          transition: transform .2s ease-in;
        }
      }
    }
  }
  a {
    position: relative;
    span {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 1rem;
      width: 2.2rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: block;
        content: '\f067';
        font-family: 'FontAwesome';
        font-size: 1rem;
        color: $b-blue;
        transform: rotate(0);
        transition: transform .2s ease-in;
      }
    }
  }
}
.catalogmobile__submenu {
  display: none;
  background-color: #ecf0f1;
  li {
    border-color: #e1e3e4;
    &.is-active {
      >a {
        color: lighten(#333, 10%);
        background-color: #ecf0f1;
        >span {
          &:before {
            color: lighten(#333, 10%);
            transform: rotate(90deg);
          }
        }
      }
    }
    a {
      color: lighten(#333, 10%);
      span {
        &:before {
          content: '\F105';
          color: lighten(#333, 10%);
        }
      }
    }
    //level 3
    .catalogmobile__submenu {
      background-color: darken(#fff, 1%);
      li {
        a {
          color: lighten(#333, 10%);
          span {
            &:before {
              content: '\F0DA';
              color: lighten(#333, 10%);
            }
          }
        }
        //level 4
        .catalogmobile__submenu {
          li {
            border-top: 1px solid #e1e3e4;
            border-bottom: 0;
            a {
              color: lighten(#333, 10%);
              padding-left: 3rem;
            }
          }
        }
      }
    }
  }
}
