.filter {
  margin-bottom: 1rem;
  position: relative;
  z-index: 5;
  &.__not-active{
    z-index: 0;
  }
}

.filter-bg {
  position: relative;
  background: url("../images/mainbg.png") no-repeat 0 0;
  background-size: cover;

  &._liter {
    background: url("../images/section.png") no-repeat 0 0;
    background-size: cover;
  }

  &._about {
    background: url("../images/about.jpg") no-repeat 0 0;
    background-size: cover;
  }

  &.__fairytale {
    background: url("../images/kidtop.png") no-repeat 0 0;
    background-size: cover;
  }

  &._contacts {
    background: url("../images/contacts.jpg") no-repeat 0 0;
    background-size: cover;
  }

  &._audiolib {
    background: url("../images/audiolib.png") no-repeat 0 0;
    background-size: cover;
  }

  &._video {
    background: url("../images/videotop.png") no-repeat 0 0;
    background-size: cover;
  }
  &._special {
    background: url("../images/spec.jpg") no-repeat 0 0;
    background-size: cover;
  }

  &._specauthor {
    background: url("../images/specauthorbg.jpg") no-repeat 0 0;
    background-size: cover;
  }

  &._partners {
    background: url("../images/partners.jpg") no-repeat 0 0;
    background-size: cover;
  }
  &._sb {
    background: url("../images/specbook.jpg") no-repeat center;
    background-size: cover;
  }
  &._poet {
    background: url("../images/poets.jpg") no-repeat center;
    background-size: cover;
  }
  &._talents {
    background: url("../images/talants.jpg") no-repeat center;
    background-size: cover;
  }
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      background: $b-gray-modal!important;
    }
    @include mq($until: tablet) {
      background: $b-gray-modal!important;
    }
}

.filter-container {
  max-width: 100%;
  padding: 4.2rem 0;
  position: relative;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 1rem 0;
  }
  @include mq($until: tablet) {
    padding: 1rem 0;
  }
}

.filter-title {
  font-size: 2.25rem;
  color: black;
  text-align: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 0;
    font-size: 1.1rem;

  }

  @include mq($until: tablet) {
    margin-bottom: 0;
    font-size: 1.1rem;

  }
}

.filter-btn {
  position: absolute;
  bottom: 1.2rem;
  right: 0;
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
    background: darken($b-pink, 3);

    .filter-btn__ico {
      background: darken(#e74973, 3);
    }
  }

  &:hover {
    background: darken($b-pink, 3);

    .filter-btn__ico {
      background: darken(#e74973, 3);
    }
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto;
    bottom: auto;
    right: auto;
    position: relative;
    transform: none;
  }


  @include mq($until: tablet) {
    bottom: auto;
    right: auto;
    position: relative;
    transform: none;
    margin: 0 auto;
  }
}

.filter-btn__text {
  padding: 1rem 1.2rem 1rem 3rem;
  color: white;
  font-size: 1rem;
  text-align: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 1rem 1.1rem 1rem 2rem;
  }


  @include mq($until: tablet) {
    padding: 1rem 1.1rem 1rem 2rem;
  }
}

.filter-btn__ico {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: #e74973;
  border-radius: 0 5px 5px 0;
}

.filter-btn__ico-img {
  color: white;
  font-size: 1.2rem;
}

.filter-block {
  padding: 0.6rem 0 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  opacity: 1;
  box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.13);
  .filter-block__container {
      transition: max-height 1s ease;
      max-height: 2.5rem;
      overflow: hidden;
  }
  &._active {
    top: 100%;
    opacity: 1;
    .filter-block__container {
        max-height: 20rem;
    }
  }
  @include mq($until: tablet) {
    display: none;
  }
}

.filter-block__container {
  margin: 0 -0.75rem;
  display: flex;
  flex-wrap: wrap;
  background: white;
  position: relative;
  z-index: 1;
}

.filter-item {
  margin: 0 0.6rem 0.6rem 0.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  background: $b-gray-modal;
  border-radius: 5px;
  color: black;
  &.__active,
  &:hover {
    background: $b-blue;
    color: white;
    text-decoration: none;
  }
}

.filter-control{
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  bottom:-1.2rem;
  left:50%;
  transform: translate(-50%,0);
  box-shadow: 0px 1px 9.9px 0.1px rgba(0, 0, 0, 0.13);
  background: white;
  border-radius: 50% 50%;
}

.filter-control__ico{
  left:50%;
  bottom:0;
  transform: translate(-50%,0);
  position: absolute;
  cursor: pointer;
  &:after{
    content:'\F103';
    font-size:1.2rem;
    color:$b-blue;
    font-family: 'FontAwesome';
  }
  &.__active{
      &:after{
        content:'\F102';
      }
    }
}

.filter-link{
  top:0;
  left:0;
  height: 100%;
  width: 50px;
  justify-content: center;
  align-items: center;
  //transform: translate(0,-50%);
  position: absolute;
  color:#bdc3c7;
  font-size:1.1rem;
  display: none;
  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: flex;
  }


  @include mq($until: tablet) {
    display: flex;
  }
  &:hover{
    text-decoration: none;
  }
}
