.popaudio {
  margin-bottom: 3.7rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin: 0 auto 2.5rem;
  }


  @include mq($until: tablet) {
    margin: 0 auto 2.5rem;
  }
  .container{
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      max-width: 100%;
    }

    @include mq($until: tablet) {
      max-width: 100%;
    }
  }
}

.popaudio-title {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  color: black;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin:0 auto 1.8rem;
    font-size: 1.2rem;
    max-width: 90%;
  }


  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    font-size: 1.2rem;
    max-width: 90%;
  }
}

.popaudio-title__ico {
  margin-right: 1.2rem;
  color: $b-green;
  font-size: 1.3rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 1rem;
  }


  @include mq($until: tablet) {
    margin-right: 1rem;
  }
}

.popaudio-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
  &.__mobile{
    display: none;
    @include mq($until: tablet, $and: "(orientation: landscape)") {
      display: block;
      margin:0;
    }


    @include mq($until: tablet) {
      display: block;
      margin:0;
    }
  }
}

.popaudio-item {
  margin-bottom: 1rem;
  padding: 0 1.5rem;
  width: 16.6%;
  text-align: center;
  cursor: pointer;
  transition:opacity 0.3s ease;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    display: block;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    display: block;
  }

  @include mq($until: mobile) {
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    display: block;
  }
  &:hover{
    text-decoration: none;
    opacity:0.7;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}

.popaudio-item__img {
  margin:0 auto 1rem;
  display: block;
  max-width: 100%;
  width: auto;

  @include mq($until: tablet) {
    max-width: 100%;
    width: auto !important;
  }
  @include mq($until: mobile) {
    width: auto !important;
  }
}

.popaudio-item__title {
  margin-bottom: 0.4rem;
  display: block;
  font-size: 1rem;
  font-family: $ff-roboto-b;
  color:black;
}

.popaudio-item__text {
  display: block;
  font-size: 1rem;
  color:black;
}
