.myquote-title {
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
}

.myquote-add {
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {}


  @include mq($until: tablet) {}
}

.myquote-add__text {
  margin-right: 1rem;
  font-size: 1rem;
}

.myquote-add__btn {
  padding: 1.1rem 2.5rem;
  font-size: 1rem;
  color: white;
  background: $b-pink;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    background: darken($b-pink, 3);
  }
}

.myquote-row {}

.myquote-item {
  margin-bottom: 2.75rem;
  padding: 2.75rem;
  background: $b-gray-modal;
  border-radius: 5px;
  position: relative;

  @include mq($until: desktopAd) {
    width: auto;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    width: auto;
  }


  @include mq($until: tablet) {
    width: auto;
  }
  @include mq($until: mobile) {
    padding: 2rem 1.5rem;;
  }
}

.myquote-share {
  display: flex;
}

.myquote-share {
  .social-likes_single-w {
    margin-right: 0.8rem;
  }

  .social-likes__widget_single {
    padding: 0;
    background: none;
    border: 1px solid $b-green;
    border-radius: 5px;
  }

  .social-likes__button {
    padding: .04rem .7rem .18rem 1.65rem;
  }

  .social-likes__button, .social-likes__counter {
    color: $b-green;
    font-size: 0.7rem;
    font-family: $ff-roboto;
  }

  .social-likes__icon_single {
    top: -0.15rem;
    left: .5rem;

    &:before {
      content: '\f1e0';
      font-family: 'FontAwesome';
      color: $b-green;
      font-size: 0.7rem;
    }
  }
  @include mq($until: tablet) {
    align-items: center;
  }
}

.myquote-item__top {
  margin-bottom: 1.2rem;
  display: flex;

  @include mq($until: desktopAd) {
    flex-direction: row;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    flex-direction: row;
  }


  @include mq($until: tablet) {
    flex-direction: row;
  }


  @include mq($until: mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.myquote-item__img {
  margin-right: 1.8rem;
  height: 10rem;
  @include mq($until: desktopAd) {
    margin-right: 0.8rem;
  }


  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-right: 0.8rem;
  }


  @include mq($until: tablet) {
    margin-right: 0.8rem;
  }


  @include mq($until: mobile) {
    margin-right: 0;
    margin-bottom: 0.8rem;
  }
}

.myquote-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myquote-info__author{
  margin-bottom: 1.2rem;
  display: block;
  font-size:0.9rem;
  text-decoration: underline;
}

.myquote-info__name{
  display: block;
  font-size:1.1rem;
  line-height: 1.2em;
  @include mq($until: mobile) {
  margin-bottom: 1rem;
  }
}

.myquote-info-top{
  //padding-left: 0.75rem;
  @include mq($until: mobile) {
    padding-left:0;
  }
}


.myquote-item__text {
  padding:1rem 0 0 3rem;
  font-size: 0.95rem;
  line-height: 1.2em;
  position: relative;
  @include mq($until: mobile) {
    padding:0;
  }
}

.myquote-item__img-ico {
  top:0.5rem;
  left:0;
  position: absolute;
  font-size: 2rem;
  color: $b-green;
  @include mq($until: mobile) {
    display: none !important;
  }
}

.myquote-share__item {
  margin-right: 1.8rem;
  font-size: 0.75rem;
  color: $b-green;
  cursor: pointer;
  position: relative;
  &:after{
    content:' ';
    position: absolute;
    right: -1rem;
    top:50%;
    transform: translate(0,-50%);
    height: 1.2rem;
    width: 1px;
    background: #bdc3c7;
  }
  &:last-of-type{
    &:after{
      display: none;
    }
  }
}

.myquote-share__item-ico {
  margin-right: 0.4rem;
  color:#bdc3c7;
  font-size:1rem;
}

.myquote-item__close{
  top:1.1rem;
  right:1rem;
  position: absolute;
  font-size:1.5rem;
  color:$b-green;
  cursor: pointer;
  &:hover{
    color:darken($b-green, 3);
  }
}


.myquote-alert{
  display: none;
  padding: 1.2rem 1.8rem;
  bottom: 97%;
  right:2.5rem;
  position: absolute;
  background: white;
  border-radius: 5px;
  border:1px solid $b-green;
  max-width: 16.8rem;
  @include mq($until: mobile) {
    right:0;
    bottom: 98%;
  }
}

.myquote-alert-text{
  margin-bottom: 1.2rem;
  display: block;
  text-align: center;
  font-size:1rem;
  line-height: 1.2em;
  font-family: $ff-roboto;
}

.myquote-alert-options{
  display: flex;
  justify-content: space-between;
}

.myquote-alert-options__btn{
  padding:0.5rem 0;
  width: 6.25rem;
  background: $b-gray-modal;
  color:black;
  font-size:0.9rem;
  border-radius: 5px;
  border:none;
  &:hover,
  &.__active{
    background: $b-green;
    color:white;
  }
  &.__active{
    margin-right: 1.2rem;
  }
}
