.library {
  margin-bottom: 3rem;
}

.library-title {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  color: black;
  @include mq($until: tablet) {
    margin:0 auto 1.8rem;
    max-width: 90%;
  }
}

.library-title__ico {
  margin-right: 1rem;
  color: $b-green;
  font-size: 1.3rem;
}

.library-top__btn {
  display: flex;
  padding: 0;
  align-items: stretch;
  background: $b-green;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background: darken($b-green, 3);

    .library-top__btn-ico {
      background: darken($b-green-dark, 3);
    }
  }
}

.library-top__btn-text {
  padding: 1.2rem 1.2rem 1rem 1.4rem;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.library-top__btn-ico {
  padding: 1rem 1rem 0.8rem 1rem;
  display: flex;
  align-items: center;
  background: $b-green-dark;
  border-radius: 0 5px 5px 0;
}

.library-info__rating{
  display: none;
}

.library-top__ico-img {
  color: white;
  font-size: 1.2rem;
}

.library-block {
  padding: 1.8rem 1.2rem 3rem;
  background: $b-gray-modal;
  border-radius: 5px;
  @include mq($until: tablet) {
    border-radius: 0;
  }
}

.library-top {
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

.library-user {
  display: flex;
  align-items: center;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    margin-bottom: 1rem;
  }


  @include mq($until: tablet) {
    margin-bottom: 1rem;
  }
}

.library-user__img {
  margin-right: 1.2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
}

.library-user__text-name {
  margin-bottom: 0.3rem;
  display: block;
  font-family: $ff-roboto-m;
  font-size: 1rem;
  color: $b-black-text;
}

.library-user__text-email {
  display: block;
  font-size: 0.9rem;
  color: #919191;
  text-decoration: underline;
}

.library-slider {
  padding: 0 4.5rem;

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    padding: 0 1rem;
  }


  @include mq($until: tablet) {
    padding: 0 1rem;
  }
}

.library-item {
  display: flex;

    @include mq($until: tablet) {
    flex-direction: row;
    }

  @include mq($until: mobile) {
    flex-direction: row;
  }
  &:hover {
    .library-book__text {
      opacity: 1;
    }
  }
}

.library-book {
  margin-right: 1rem;
  position: relative;
  cursor: pointer;


  @include mq($until: mobile) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.library-book__img {
  width: 6.25rem !important;
  height: 9.3rem;
  max-width: none;
  @include mq($until: tablet) {
    margin-right: 1rem;
  }
}

.library-book__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.37);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.library-info__author {
  margin-bottom: 1rem;
  display: block;
  font-size: 0.8rem;
  text-decoration: underline;
}

.library-info__name {
  margin-bottom: 1.8rem;
  display: block;
  font-size: 1.1rem;
  font-family: $ff-roboto-m;
}

.library-ingo__rating-text {
  margin-bottom: 0.7rem;
  display: block;
  font-family: $ff-roboto-i;
  font-size: 0.7rem;
  color: #929292;
}

.library-rating {
  border-radius: 20px;
  background: linear-gradient(to right, #67c7ad 0%, #67c7ad 67%, #d4dddf 68%, #d4dddf 100%);

  &._empty {
    background: #f6c1d6;
  }
}

.library-rating__text {
  padding: 0.56rem 1rem;
  display: block;
  font-size: 0.7rem;
  color: white;
  font-family: $ff-roboto-i;
}
.library-carousel{
  position: relative;
}
.library-carousel__controls {
  // position: absolute;
  // top: 50%;
  // left: -4.5rem;
  // right: -4.5rem;
  // transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  padding: 0;

  .owl-prev {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: -4.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowleftcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .owl-next {
    position: absolute;
    top: 50%;
    right: -4.5rem;
    transform: translate(0, -50%);
    width: 2.5rem;
    height: 2.5rem;
    background: url("../images/arrowrightcolor.png") no-repeat 0 0;
    background-size: 100% 100%;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    display: none;
  }


  @include mq($until: tablet) {
    display: none;
  }
}

.library-book__text-btn {
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white;
  &:hover{
    text-decoration: none;
  }
}

.library-book__text-link {
    position: absolute;
    width: 100%;
    height: 100%;
}
