* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing:grayscale;
}

body {
  font-family: $ff-roboto;
  background: white;
  font-size:1rem;
  line-height: 1.1em;
  &._active {
    height: 100%;
    overflow: hidden;
  }
  &.__error{
    height: 100%;
    main{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.hidden {
  display: none !important;
}

.ico {
  display: inline-block;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

button{
  &:focus{
    outline:none !important;
  }
}

.bx-wrapper{
  background: none !important;
}

.__hover-item{
  &:hover{
   .hover-img__text {
      opacity:1;
  } 
  }
}

.__relative{
  position: relative;
}

.hover-img__text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(black, 0.25);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hover-img__text-btn {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  background: $b-green;
  border-radius: 5px;
  color: white !important;
  &:hover{
    text-decoration: none;
  }
}
