$max-width: 69rem;
$max-width-wide: 62rem;
$max-width-desc: 50rem;
$max-width-ad: 44rem;
$max-width-tablet: 44rem;
$ff-roboto-b: "Roboto-Bold", Arial, Helvetica, sans-serif;
$ff-roboto: "Roboto-Regular", Arial, Helvetica, sans-serif;
$ff-roboto-m: "Roboto-Medium", Arial, Helvetica, sans-serif;
$ff-roboto-i: "Roboto-Italic", Arial, Helvetica, sans-serif;
$ff-roboto-t: "Roboto-Thin", Arial, Helvetica, sans-serif;
$font_awesome:'FontAwesome';
$b-blue: #02c3fa;
$b-blue-dark: #0bb0df;
$b-green: #17b2bf;
$b-green-dark: #0e9eaa;
$b-pink: #f85983;
$b-gray: #898989;
$b-gray-text: #7c7c7c;
$b-brown: #41352d;
$b-gray-light: #adadad;
$b-gray-modal: #ecf0f1;
$b-olive: #95a5a6;
$b-black-text: #2c2c2c;
$b-navy:#2c3f51;
$b-navy-dark:#233443;
$b-night:#1e2c3a;
$b-purple:#5f7f9d;
