.ted-video__inner{
	max-width:1024px;
	max-width:64rem;
	position: relative;
	width:100%;
	height:auto;
	margin:20px 0 0;
	margin:1.25rem 0 0;
  background: $b-gray-modal;
}
figcaption {
	display:block;
	font-size:16px;
	font-size:1rem;
}
.ted-video__item{
	width:100%;
	height:auto;
  object-fit: cover;
}

/* controls */
.video-controls li {
  display: flex;
  flex-direction: column;
  align-items: center;
	@include mq($until: mobile) {
		margin-bottom: 0;
	}
}
.video-controls {
	padding: 1rem 1.8rem;
	display:none;
	list-style-type:none;
	overflow:hidden;
	background:$b-gray-modal;
  	align-items: center;
  	justify-content: space-between;
  	display:none;
  	
	@include mq($until: tablet) {
		padding: 1rem 0.5rem;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	@include mq($until: mobile) {
		padding: 1rem 0.5rem;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.video-controls .progress {
  margin-right: 1.8rem;
	cursor:pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
	@include mq($until: mobile) {
		margin-right: 0;
		width: 5.2rem;
	}
}
.video-controls button {
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  text-overflow:ellipsis;
  border: none;
  border-radius: 0;
	padding: 0;
}

.video-play{
	margin-right: 1rem;
  width: 15px;
  height: 15px;
  background: url('../images/playsmall.png') no-repeat 0 0;
  &._active{
    background: url('../images/pauseaudio.png') no-repeat 0 0;
  }
	@include mq($until: tablet) {
		margin-right: 0;
	}
	@include mq($until: mobile) {
		margin-right: 0;
	}
}
.video-play-ico{
	width: 3.9rem;
  height: 3.9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $b-green;
  position: relative;
  .fa-play{
    color:white;
    font-size:1.5rem;
  }
}

.video-play-ico__block{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
  	padding: 1rem;
	cursor: pointer;
	display:none;
	&.active{
		display: none;
	}
}
.video-stop{
  margin-right: 1.8rem;
  width: 15px;
  height: 15px;
  background: #bdc3c7;
	@include mq($until: tablet) {
		display: none;
	}
}

.video-duration{
  margin-right: 1rem;
  font-size:1rem;
  color:$b-pink;
	@include mq($until: mobile) {
	 	margin-right: 0;
	}
}

.video-playtime{
  margin-right: 1.8rem;
  font-size:1rem;
  color:$b-pink;
	@include mq($until: mobile) {
	 	margin-right: 0;
	}
}

.video-mute {
	margin-right: 0.8rem;
  width: 16px;
  height: 14px;
  background: url('../images/mute.png') no-repeat 0 0;
	&.active{
		  background: url('../images/unmute.png') no-repeat 0 0;
	}
	@include mq($until: tablet) {
		margin-right: 0;
	}
	@include mq($until: mobile) {
		margin-right: 0;
	}
}

.video-fs{
	width: 15px;
	height: 15px;
	background: url('../images/fs.png') no-repeat 0 0;
}

.progress-video{
  color: $b-green;
  font-size: 12px;
  width: 15.6rem;
  height: 3px;
  border: none;
  background: #bdc3c7;
	@include mq($until: tablet) {
		width: 5.2rem;
	}
	@include mq($until: mobile) {
		width: 5.2rem;
	}
}
.progress-video::-moz-progress-bar {
  color: $b-green;
  background:#bdc3c7;
}
.progress-video[value]::-webkit-progress-bar {
  color: $b-green;
  background: #bdc3c7;
}

.progress-video[value]::-webkit-progress-value {
  background-color: $b-green;
}
.progress-video-bar {
  width: 0%;
  background-color: $b-pink;
  height: 3px;
	display:block;
	position: relative;
}

.video-volume{
	margin-right: 1.8rem;
  width: 3.5rem;
  height: 4px;
  cursor: pointer;
  background: $b-green;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
	@include mq($until: tablet) {
		margin-right: 0.5rem;
		width: 2.5rem;
	}
	@include mq($until: mobile) {
		margin-right: 0.5rem;
		width: 2.5rem;
	}
}
.video-volume::-webkit-slider-thumb{
  height: 12px;
  width: 12px;
  border-radius:50%;
  background: $b-pink;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.video-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  background: $b-green;
  border-radius: 1px;
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	width:100%;
	z-index:2147483647;
	bottom: 0;
	left: 0;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}