@import "settings.vars";
@import "generic.reset";
@import "settings.fonts";
@import "tools.helpers";
@import "objects.global";
@import "../fonts/font-awesome-4.7.0/scss/font-awesome.scss";
$mq-breakpoints: (mobile: 480px, tablet: 770px, desktop: 980px, wide: 1380px, desktopAd: 810px, mobileLandscape: 599px);

@import "../bower/sass-mq/mq";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;

  &._active {
    display: block;
  }
}

.modal-inner {
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: auto;
  max-height: 90%;
  max-width: 29rem;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;

  &.__addquote-modal {
    max-width: 22.5rem;
  }

  @include mq($until: tablet, $and: "(orientation: landscape)") {
    max-width: 90%;
  }


  @include mq($until: tablet) {
    max-width: 90%;
  }
}

.addquote{
  padding:2.5rem;
}

.addquote-textarea{
  margin-bottom: 1.3rem;
  padding:1rem 1.3rem;
  width: 100%;
  height: 12.5rem;
  background: $b-gray-modal;
  color:black;
  font-size:0.8rem;
  border-radius: 5px;
  border:none;
  resize: none;
  overflow: auto;
  &:focus{
    outline:none;
  }
}

.addquote-social{
  display: flex;
  justify-content: center;
}


.addquote-social__item{
  margin-right: 1.8rem;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  background: #426cc5;
  max-width: 4.8rem;
  .fa{
    color:white;
    font-size: 1.8rem;
    &._small{
      font-size: 1.5rem;
    }
  }
  &:last-of-type{
    margin-right: 0;
  }
  &.__gp{
    background: #f8695c;
  }
  &.__vk{
    background: #5181b8;
  }
}

.addquote-close{
  top:1rem;
  right: 1rem;
  position: absolute;
  color:#bdc3c7;
  font-size:1.1rem;
  cursor: pointer;
  &:hover{
    color:darken(#bdc3c7, 3);
  }
}

.addquote-btn{
  margin-bottom: 1.2rem;
  padding: 1rem 0;
  background: $b-green;
  color:white;
  border-radius: 5px;
  width: 100%;
  border: none;
  font-size: 1rem;
}

.addquote-desc{
  margin-bottom: 1.5rem;
  display: block;
  font-size:0.8rem;
  color:#7f8c8d;
  text-align: center;
}
